openapi: 3.2.0
info:
  title: Coveo Authorization Server Saml Identity Providers API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Saml Identity Providers
paths:
  /rest/organizations/{organizationId}/saml/identityprovider:
    get:
      tags:
      - Saml Identity Providers
      summary: Show Identity Provider
      description: 'Shows the SAML identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:** SAML identity provider - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id) for which to show the identity provider.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: getIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_get
    put:
      tags:
      - Saml Identity Providers
      summary: Update Identity Provider
      description: 'Updates a SAML identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:** SAML identity provider - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration to update the target SAML identity provider to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdentityProviderModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: updateIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_put
    post:
      tags:
      - Saml Identity Providers
      summary: Create Identity Provider
      description: 'Creates an identity provider for an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:** SAML identity provider - Create<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: The SAML identity provider to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdentityProviderModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: createIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_post
    delete:
      tags:
      - Saml Identity Providers
      summary: Delete Identity Provider
      description: 'Deletes the identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:** SAML identity provider - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id) for which to delete the SAML identity provider.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_delete
  /rest/organizations/{organizationId}/saml/identityprovider/realms:
    get:
      tags:
      - Saml Identity Providers
      summary: List Identity Provider Realms
      description: 'Lists the realms of a SAML identity provider.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getRealmsForSamlIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id) for which to list realms.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getRealmsForSamlIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider/realms_get
  /rest/organizations/{organizationId}/saml/enabled:
    get:
      tags:
      - Saml Identity Providers
      summary: Check If Any Identity Provider Exists
      description: 'Checks if any SAML identity provider exists in an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:** Organization - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: isSamlIdentityProviderEnabled
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderEnabledModel'
      x-pretty-name: isSamlIdentityProviderEnabled
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/enabled_get
  /rest/organizations/{organizationId}/saml/availables:
    get:
      tags:
      - Saml Identity Providers
      summary: List Manageable Identity Providers
      description: 'List SAML identity providers that the current user can manage.</br>**Required privilege:** SAML identity provider - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAvailableSamlIdentityProviders
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: getAvailableSamlIdentityProviders
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/availables_get
components:
  schemas:
    RealmModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `example-domain.com`
        provider:
          type: string
          description: The provider of the realm.
          enum:
          - SALESFORCE
          - SALESFORCE_SANDBOX
          - GOOGLE
          - OFFICE365
          - SAML
          - EMAIL
        displayName:
          type: string
          description: The display name of the realm.</br>**Example:** `example.com`
        samlIdentityProviderId:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `myprovider`
      description: The realm to add.
    IdAndDisplayNameModel:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
      description: The unique identifiers of the organizations by which the SAML identity provider is used.
    SamlIdentityProviderEnabledModel:
      type: object
      properties:
        samlEnabled:
          type: boolean
          description: Whether the SAML identity provider is enabled.
        organizationId:
          type: string
          description: The unique identifier from which the SAML identity provider originates.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
      description: The status of a SAML identity provider.
    SamlIdentityProviderModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the SAML identity provider.</br>**Example:** `3ghj20zal9vg20ud65dgrfkczi`
        displayName:
          type: string
          description: The display name of the SAML identity provider.</br>**Example:** `Okta`
        entityId:
          type: string
          description: The identity provider issuer URL.</br>See [Configuring a Custom SAML Identity Provider](https://docs.coveo.com/en/2706/).</br>**Example:** `http://www.okta.com/7ujf6iuybnhvvb56`
        x509Certificate:
          type: string
          description: The X.509 public certificate used to validate the assertion signature.
        postBindingEndpoint:
          type: string
          description: The POST binding endpoint.</br>See [Endpoints](https://docs.coveo.com/en/2706/#endpoints).</br>**Example:** `https://dev-319980.oktapreview.com/app/exampledev319980_qa_1/7ujf6iuybnhvvb56/sso/saml`
        organizationIds:
          uniqueItems: true
          type: array
          description: The unique identifiers of the organizations by which the SAML identity provider is used.
          items:
            $ref: '#/components/schemas/IdAndDisplayNameModel'
      description: The status of a SAML identity provider.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
