openapi: 3.2.0
info:
  title: Search Interface Service IPX loader API
  version: 1.0.0
  description: Documentation for Search Interface Service
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: support@coveo.com
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: IPX loader
paths:
  /rest/organizations/{organizationId}/ipxinterface/v1/interfaces/{interfaceId}/loader:
    get:
      operationId: get-ipx-interface-loader
      summary: Show an IPX Interface Loader
      description: Shows an IPX interface loader in a [Coveo organization](https://docs.coveo.com/en/185/).
      tags:
      - IPX loader
      parameters:
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/interface-id'
      responses:
        '200':
          description: Ok
        '404':
          description: Not Found
components:
  parameters:
    interface-id:
      name: interfaceId
      description: The unique identifier of the target search interface.
      example: 123e4567-e89b-12d3-a456-426614174000
      in: path
      required: true
      schema:
        type: string
    organization-id:
      name: organizationId
      description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
      example: mycoveocloudv2organizationg8tp8wu3
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow
      flows:
        implicit:
          authorizationUrl: /oauth/authorize
          scopes:
            full: full
