openapi: 3.0.1
info:
  title: Coveo Source API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Sources
  description: Operations specific to source schedules
- name: Sources
  description: Operations specific to fields in sources
paths:
  /rest/organizations/{organizationId}/sources/{sourceId}:
    get:
      tags:
      - Sources
      summary: Get a Single Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: getSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_get
    put:
      tags:
      - Sources
      summary: Update a Source from Simple Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SourceModel'
              - $ref: '#/components/schemas/AmazonS3SourceModel'
              - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
              - $ref: '#/components/schemas/CatalogSourceModel'
              - $ref: '#/components/schemas/Confluence2HostedSourceModel'
              - $ref: '#/components/schemas/Confluence2SourceModel'
              - $ref: '#/components/schemas/CustomSourceModel'
              - $ref: '#/components/schemas/DatabaseSourceModel'
              - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
              - $ref: '#/components/schemas/FileSourceModel'
              - $ref: '#/components/schemas/GenericRestSourceModel'
              - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
              - $ref: '#/components/schemas/GraphQlSourceModel'
              - $ref: '#/components/schemas/Jira2HostedSourceModel'
              - $ref: '#/components/schemas/Jira2SourceModel'
              - $ref: '#/components/schemas/JiveHostedSourceModel'
              - $ref: '#/components/schemas/JiveSourceModel'
              - $ref: '#/components/schemas/KhorosSourceModel'
              - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
              - $ref: '#/components/schemas/PushSourceModel'
              - $ref: '#/components/schemas/RSSSourceModel'
              - $ref: '#/components/schemas/SAPSourceModel'
              - $ref: '#/components/schemas/SalesforceSitesSourceModel'
              - $ref: '#/components/schemas/SalesforceSourceModel'
              - $ref: '#/components/schemas/ServiceNowSourceModel'
              - $ref: '#/components/schemas/SharePointOnline2SourceModel'
              - $ref: '#/components/schemas/SharePointSourceModel'
              - $ref: '#/components/schemas/ShopifySourceModel'
              - $ref: '#/components/schemas/SitecoreSourceModel'
              - $ref: '#/components/schemas/SitemapSourceModel'
              - $ref: '#/components/schemas/SlackSourceModel'
              - $ref: '#/components/schemas/Web2SourceModel'
              - $ref: '#/components/schemas/YouTubeSourceModel'
              - $ref: '#/components/schemas/ZendeskSourceModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_put
    delete:
      tags:
      - Sources
      summary: Delete a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: deleteSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_delete
  /rest/organizations/{organizationId}/sources/{sourceId}/schedules/{scheduleId}:
    get:
      tags:
      - Sources
      summary: Get a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: getSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_get
    put:
      tags:
      - Sources
      summary: Update a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: updateSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_put
    delete:
      tags:
      - Sources
      summary: Delete a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_delete
  /rest/organizations/{organizationId}/sources/{sourceId}/raw:
    get:
      tags:
      - Sources
      summary: Get the Raw Configuration of a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getRawSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: includeMappings
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RawSourceConfig'
      x-pretty-name: getRawSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/raw_get
    put:
      tags:
      - Sources
      summary: Update a Source from Raw Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateRawSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawSourceConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateRawSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/raw_put
  /rest/organizations/{organizationId}/sources/{sourceId}/permissions/update:
    put:
      tags:
      - Sources
      summary: Update Source Permissions
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSourcePermissions
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePermissionsUpdateModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateSourcePermissions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/permissions/update_put
  /rest/organizations/{organizationId}/sources/{sourceId}/mappings:
    get:
      tags:
      - Mappings
      summary: Show Mapping Configuration
      description: 'Shows the [mapping](https://docs.coveo.com/en/217/) configuration of a [source](https://docs.coveo.com/en/246/).<br
        /> See [Managing the Mapping Configuration of a Source](https://docs.coveo.com/en/29/).</br>**Required privilege:**
        Sources - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getMappingsConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MappingsConfigurationModel'
      x-pretty-name: getMappingsConfiguration
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings_get
    put:
      tags:
      - Mappings
      summary: Update Mapping Configuration
      description: 'Updates the [mapping](https://docs.coveo.com/en/217/) configuration of a [source](https://docs.coveo.com/en/246/).<br
        /> See [Managing the Mapping Configuration of a  Source](https://docs.coveo.com/en/29/).</br>**Required privilege:**
        Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateMappingsConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingsConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MappingsConfigurationModel'
      x-pretty-name: updateMappingsConfiguration
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings_put
  /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types/{typeId}:
    get:
      tags:
      - Mappings
      summary: List Specific Mappings of Given Type
      description: 'Lists the [mappings](https://docs.coveo.com/en/217/) of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getMappingTypeSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The specific [mapping](https://docs.coveo.com/en/217/) type to show.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TypedMappingSettingsModel'
      x-pretty-name: getMappingTypeSettings
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId_get
    put:
      tags:
      - Mappings
      summary: Update Specific Mappings of Given Type
      description: 'Updates the [mappings](https://docs.coveo.com/en/217/) of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateMappingTypeSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The specific [mapping](https://docs.coveo.com/en/217/) type to update.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseTypedMappingSettingsModelBaseRuleModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TypedMappingSettingsModel'
      x-pretty-name: updateMappingTypeSettings
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId_put
    delete:
      tags:
      - Mappings
      summary: Delete Specific Mappings of Given Type
      description: 'Deletes the [mappings](https://docs.coveo.com/en/217/) of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteMappingType
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The specific [mapping](https://docs.coveo.com/en/217/) item type to delete.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteMappingType
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId_delete
  /rest/organizations/{organizationId}/sources/{sourceId}/mappings/types/{typeId}/rules/{ruleId}:
    get:
      tags:
      - Mappings
      summary: Show Specific Mapping Rule
      description: 'Shows the [mapping](https://docs.coveo.com/en/217/) rules of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getMappingTypeSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The target specific [mapping](https://docs.coveo.com/en/217/) type.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the specific [mapping](https://docs.coveo.com/en/217/) rule to show.<br />**Example:**
          `wb74lavk6rmbjol3wqhamdspbi`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RuleModel'
      x-pretty-name: getMappingTypeSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_get
    put:
      tags:
      - Mappings
      summary: Update Specific Mapping Rule
      description: 'Updates a [mapping](https://docs.coveo.com/en/217/) rule of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateMappingTypeSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The target specific [mapping](https://docs.coveo.com/en/217/) type.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the specific [mapping](https://docs.coveo.com/en/217/) rule to update.<br />**Example:**
          `wb74lavk6rmbjol3wqhamdspbi`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseRuleModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RuleModel'
      x-pretty-name: updateMappingTypeSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_put
    delete:
      tags:
      - Mappings
      summary: Delete Specific Mapping Rule
      description: 'Deletes a [mapping](https://docs.coveo.com/en/217/) rule of a specific [item](https://docs.coveo.com/en/210/)
        type.</br>**Required privilege:** Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteMappingTypeSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: typeId
        in: path
        description: The target specific [mapping](https://docs.coveo.com/en/217/) type.<br />**Example:** `Video`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the specific [mapping](https://docs.coveo.com/en/217/) rule to delete.<br />**Example:**
          `wb74lavk6rmbjol3wqhamdspbi`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteMappingTypeSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/types/paramId/rules/paramId_delete
  /rest/organizations/{organizationId}/sources/{sourceId}/mappings/common:
    get:
      tags:
      - Mappings
      summary: List Common Mappings
      description: 'Lists the common [mappings](https://docs.coveo.com/en/217/) of a [source](https://docs.coveo.com/en/246/)
        (i.e., the mappings that apply to all [item](https://docs.coveo.com/en/210/) types).</br>**Required privilege:** Sources
        - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getCommonMappingSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommonMappingSettingsModel'
      x-pretty-name: getCommonMappingSettings
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/common_get
    put:
      tags:
      - Mappings
      summary: Update Common Mappings
      description: 'Updates the common [mappings](https://docs.coveo.com/en/217/) of a [source](https://docs.coveo.com/en/246/),
        (i.e., the mappings that apply to all [item](https://docs.coveo.com/en/210/) types).</br>**Required privilege:** Sources
        - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateCommonMappingSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonMappingSettingsModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommonMappingSettingsModel'
      x-pretty-name: updateCommonMappingSettings
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/common_put
  /rest/organizations/{organizationId}/sources/{sourceId}/mappings/common/rules/{ruleId}:
    get:
      tags:
      - Mappings
      summary: Show Common Mapping Rule
      description: 'Shows a common [mapping](https://docs.coveo.com/en/217/) rule (i.e., a mapping rule that applies to all
        [item](https://docs.coveo.com/en/210/) types).</br>**Required privilege:** Sources - View<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getCommonMappingSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the mapping rule to show.<br />**Example:** `teghteb76mvjttvufmxecasmzy`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RuleModel'
      x-pretty-name: getCommonMappingSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_get
    put:
      tags:
      - Mappings
      summary: Update Common Mapping Rule
      description: 'Updates a common [mapping](https://docs.coveo.com/en/217/) rule (i.e., a mapping rule that applies to
        all [item](https://docs.coveo.com/en/210/) types).</br>**Required privilege:** Sources - Edit<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateCommonMappingSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the mapping rule to update.<br />**Example:** `teghteb76mvjttvufmxecasmzy`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseRuleModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RuleModel'
      x-pretty-name: updateCommonMappingSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_put
    delete:
      tags:
      - Mappings
      summary: Delete Common Mapping Rule
      description: 'Deletes a common [mapping](https://docs.coveo.com/en/217/) rule in a [source](https://docs.coveo.com/en/246/),
        (i.e., a mapping rule that applies to all [item](https://docs.coveo.com/en/210/) types.)</br>**Required privilege:**
        Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteCommonMappingSettingsRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The unique identifier of the mapping rule to delete.<br />**Example:** `teghteb76mvjttvufmxecasmzy`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteCommonMappingSettingsRule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/mappings/common/rules/paramId_delete
  /rest/organizations/{organizationId}/sources/{sourceId}/extensions:
    get:
      tags:
      - Source Extension Configurations
      summary: List Extension Configurations
      description: 'Lists the [extension](https://docs.coveo.com/en/206/) configurations of a [source](https://docs.coveo.com/en/246/).</br>**Required
        privilege:** Sources - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSourceExtensions
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceExtensionsMap'
      x-pretty-name: getSourceExtensions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/extensions_get
    put:
      tags:
      - Source Extension Configurations
      summary: Update Extension Configurations
      description: 'Updates the [extension](https://docs.coveo.com/en/206/) configurations of a [source](https://docs.coveo.com/en/246/).</br>**Required
        privilege:** Sources - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: setSourceExtensions
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        description: The unique identifier of the target [source](https://docs.coveo.com/en/246/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3-gravodalyysjsu34camnvxm2d2y`
        required: true
        schema:
          type: string
      - name: rebuild
        in: query
        description: Whether to rebuild the [source](https://docs.coveo.com/en/246/) after the operation.<br />**Default:**
          `false`
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceExtensionsMap'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: setSourceExtensions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/extensions_put
  /rest/organizations/{organizationId}/sources/fields/{fieldId}:
    get:
      tags:
      - Sources
      summary: Get a Single Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      - name: includeMappings
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceFieldModel'
      x-pretty-name: getField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_get
    put:
      tags:
      - Sources
      summary: Update a Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceFieldModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_put
    delete:
      tags:
      - Sources
      summary: Removes a Specific Field from an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: removeField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: removeField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_delete
  /rest/organizations/{organizationId}/sources/fields/batch/update:
    put:
      tags:
      - Sources
      summary: Update a Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateFields
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SourceFieldModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateFields
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/batch/update_put
  /rest/sourceconfiguration/salesforce/schema:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Complete Schema (objects and Fields)
      operationId: getSchema
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: getSchema
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/schema_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Complete Schema (objects and Fields)
      operationId: refreshSchema
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: refreshSchema
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/schema_post
  /rest/sourceconfiguration/salesforce/parseOTG:
    post:
      tags:
      - Salesforce Source Configuration
      summary: Parse an ObjectsToGet to a Schema
      operationId: parseOTG
      parameters:
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: parseOTG
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/parseOTG_post
  /rest/sourceconfiguration/salesforce/objects:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Objects
      operationId: getDefaultObjects
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: getDefaultObjects
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Objects
      operationId: refreshObjects
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: refreshObjects
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects_post
  /rest/sourceconfiguration/salesforce/objects/{objectName}/fields:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Fields for a Given Object
      operationId: getFields
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceField'
      deprecated: true
      x-pretty-name: getFields
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId/fields_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Fields for a Given Object
      operationId: refreshFields
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceField'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceField'
      x-pretty-name: refreshFields
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId/fields_post
  /rest/sourceconfiguration/salesforce/generateOTG:
    post:
      tags:
      - Salesforce Source Configuration
      summary: Generate an ObjectsToGet Given a Schema
      operationId: generateOTG
      parameters:
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      x-pretty-name: generateOTG
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/generateOTG_post
  /rest/organizations/{organizationId}/sources:
    get:
      tags:
      - Sources
      summary: Get a Subset of Sources for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSources
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: filter
        in: query
        description: Optional filter string. Must be at least 2 characters long to be applied.
        required: false
        schema:
          type: string
      - name: sortingType
        in: query
        required: false
        schema:
          type: string
          default: NAME
          enum:
          - TYPE
          - NAME
          - STATUS
          - CONTENT
          - LAST_MODIFIED_DATE
          - LAST_OPERATION
          - CONTENT_TOTAL_DOCUMENT_SIZE
          - STATUS_PRIORITY
      - name: sortingOrder
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: writeAccessOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: filterStatusType
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATING
          - REFRESHING
          - PAUSED
          - PAUSED_ON_ERROR
          - IDLE
          - ERROR
      - name: filterLastOperationType
        in: query
        required: false
        schema:
          type: string
          enum:
          - INCREMENTAL_REFRESH
          - FULL_REFRESH
          - REBUILD
      - name: filterLastOperationResultType
        in: query
        required: false
        schema:
          type: string
          enum:
          - SUCCESS
          - ERROR
          - ABORT
      - name: filterHostType
        in: query
        required: false
        schema:
          type: string
          enum:
          - CLOUD
          - CRAWLING_MODULE
          - PUSH
      - name: stringFilterType
        in: query
        required: false
        schema:
          type: string
          enum:
          - WILDCARD
          - EXACTMATCH
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/SourceModel'
                  - $ref: '#/components/schemas/AmazonS3SourceModel'
                  - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                  - $ref: '#/components/schemas/CatalogSourceModel'
                  - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                  - $ref: '#/components/schemas/Confluence2SourceModel'
                  - $ref: '#/components/schemas/CustomSourceModel'
                  - $ref: '#/components/schemas/DatabaseSourceModel'
                  - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                  - $ref: '#/components/schemas/FileSourceModel'
                  - $ref: '#/components/schemas/GenericRestSourceModel'
                  - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                  - $ref: '#/components/schemas/GraphQlSourceModel'
                  - $ref: '#/components/schemas/Jira2HostedSourceModel'
                  - $ref: '#/components/schemas/Jira2SourceModel'
                  - $ref: '#/components/schemas/JiveHostedSourceModel'
                  - $ref: '#/components/schemas/JiveSourceModel'
                  - $ref: '#/components/schemas/KhorosSourceModel'
                  - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                  - $ref: '#/components/schemas/PushSourceModel'
                  - $ref: '#/components/schemas/RSSSourceModel'
                  - $ref: '#/components/schemas/SAPSourceModel'
                  - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                  - $ref: '#/components/schemas/SalesforceSourceModel'
                  - $ref: '#/components/schemas/ServiceNowSourceModel'
                  - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                  - $ref: '#/components/schemas/SharePointSourceModel'
                  - $ref: '#/components/schemas/ShopifySourceModel'
                  - $ref: '#/components/schemas/SitecoreSourceModel'
                  - $ref: '#/components/schemas/SitemapSourceModel'
                  - $ref: '#/components/schemas/SlackSourceModel'
                  - $ref: '#/components/schemas/Web2SourceModel'
                  - $ref: '#/components/schemas/YouTubeSourceModel'
                  - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: getSources
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources_get
    post:
      tags:
      - Sources
      summary: Create a Source from Simple Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SourceModel'
              - $ref: '#/components/schemas/AmazonS3SourceModel'
              - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
              - $ref: '#/components/schemas/CatalogSourceModel'
              - $ref: '#/components/schemas/Confluence2HostedSourceModel'
              - $ref: '#/components/schemas/Confluence2SourceModel'
              - $ref: '#/components/schemas/CustomSourceModel'
              - $ref: '#/components/schemas/DatabaseSourceModel'
              - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
              - $ref: '#/components/schemas/FileSourceModel'
              - $ref: '#/components/schemas/GenericRestSourceModel'
              - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
              - $ref: '#/components/schemas/GraphQlSourceModel'
              - $ref: '#/components/schemas/Jira2HostedSourceModel'
              - $ref: '#/components/schemas/Jira2SourceModel'
              - $ref: '#/components/schemas/JiveHostedSourceModel'
              - $ref: '#/components/schemas/JiveSourceModel'
              - $ref: '#/components/schemas/KhorosSourceModel'
              - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
              - $ref: '#/components/schemas/PushSourceModel'
              - $ref: '#/components/schemas/RSSSourceModel'
              - $ref: '#/components/schemas/SAPSourceModel'
              - $ref: '#/components/schemas/SalesforceSitesSourceModel'
              - $ref: '#/components/schemas/SalesforceSourceModel'
              - $ref: '#/components/schemas/ServiceNowSourceModel'
              - $ref: '#/components/schemas/SharePointOnline2SourceModel'
              - $ref: '#/components/schemas/SharePointSourceModel'
              - $ref: '#/components/schemas/ShopifySourceModel'
              - $ref: '#/components/schemas/SitecoreSourceModel'
              - $ref: '#/components/schemas/SitemapSourceModel'
              - $ref: '#/components/schemas/SlackSourceModel'
              - $ref: '#/components/schemas/Web2SourceModel'
              - $ref: '#/components/schemas/YouTubeSourceModel'
              - $ref: '#/components/schemas/ZendeskSourceModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: createSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources_post
  /rest/organizations/{organizationId}/sources/{sourceId}/tasks/abort:
    post:
      tags:
      - Sources
      summary: Abort a Source Task Related to a Given Activity.
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: abortTaskForActivity
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: activityId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      x-pretty-name: abortTaskForActivity
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/tasks/abort_post
  /rest/organizations/{organizationId}/sources/{sourceId}/stopRefresh:
    post:
      tags:
      - Sources
      summary: Stop the Current Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: stopRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: stopRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/stopRefresh_post
  /rest/organizations/{organizationId}/sources/{sourceId}/startRefresh:
    post:
      tags:
      - Sources
      summary: Start a Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: startRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: startRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/startRefresh_post
  /rest/organizations/{organizationId}/sources/{sourceId}/schedules:
    get:
      tags:
      - Sources
      summary: Get All Source Schedules
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSourceSchedules
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: getSourceSchedules
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules_get
    post:
      tags:
      - Sources
      summary: Create a New Schedule for the Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: createSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: createSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules_post
  /rest/organizations/{organizationId}/sources/{sourceId}/resumeRefresh:
    post:
      tags:
      - Sources
      summary: Resume the Current Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: resumeRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
[...]
