openapi: 3.2.0
info:
  title: Coveo Authorization Server Token Certificates API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Token Certificates
paths:
  /rest/tokens/certificates:
    get:
      tags:
      - Token Certificates
      operationId: getPublicCertificates
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicSigningKeysModel'
      x-pretty-name: getPublicCertificates
      x-ui-operation-id: /rest/tokens/certificates_get
components:
  schemas:
    PublicSigningKeysModel:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/PublicSigningKeyModel'
    PublicSigningKeyModel:
      type: object
      properties:
        kty:
          type: string
        alg:
          type: string
        use:
          type: string
        x:
          type: string
        crv:
          type: string
        kid:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
