openapi: 3.0.1
info:
  title: Coveo Activity Activities Streaming Model Response API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Streaming Model Response
paths:
  /rest/organizations/{organizationId}/machinelearning/streaming/{streamId}:
    get:
      tags:
      - Streaming Model Response
      summary: Get Model Response Events for a Query Stream
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: getQueryStreamEvents
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target Coveo Cloud organization
        required: true
        schema:
          oneOf:
          - type: string
      - name: streamId
        in: path
        description: Unique Identifier for the response stream. For details on how to obtain the streamId for this response, refer to [Streaming model responses](https://docs.coveo.com/en/pc8b3515/)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerSentEventQueryStreamMessage'
      x-pretty-name: getQueryStreamEvents
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/streaming/paramId_get
components:
  schemas:
    ServerSentEventQueryStreamMessage:
      type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
