openapi: 3.0.1
info:
  title: Coveo Activity Activities Link API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Link
paths:
  /rest/organizations/{organizationId}/links/{linkId}:
    get:
      tags:
      - Link
      summary: Show Link
      description: 'Shows a link in an organization.</br>**Required privilege:**` Link - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getLink
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: linkId
        in: path
        description: The unique identifier of the target link.<br/>**Example:** `ufacpg3aoi63vxoy6qoyhocfuy`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkModel'
      x-pretty-name: getLink
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/paramId_get
    put:
      tags:
      - Link
      summary: Edit Link
      description: 'Edits a link in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateLink
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: linkId
        in: path
        description: The unique identifier of the target link.<br/>**Example:** `ufacpg3aoi63vxoy6qoyhocfuy`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkModel'
      x-pretty-name: updateLink
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/paramId_put
    delete:
      tags:
      - Link
      summary: Delete Link
      description: 'Deletes a link in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteLink
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: linkId
        in: path
        description: The unique identifier of the target link.<br/>**Example:** `ufacpg3aoi63vxoy6qoyhocfuy`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteLink
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/paramId_delete
  /rest/organizations/{organizationId}/links/batch:
    put:
      tags:
      - Link
      summary: Edit Links
      description: 'Edits a batch of links in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateLinkBatch
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: The link definitions.
              items:
                $ref: '#/components/schemas/LinkModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkModel'
      x-pretty-name: updateLinkBatch
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/batch_put
    post:
      tags:
      - Link
      summary: Create Links
      description: 'Creates a batch of links in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createLinkBatch
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: The link definitions.
              items:
                $ref: '#/components/schemas/LinkModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkModel'
      x-pretty-name: createLinkBatch
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/batch_post
    delete:
      tags:
      - Link
      summary: Delete Links
      description: 'Deletes a batch of links in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteLinkBatch
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: linkIds
        in: query
        description: The unique identifier of the target links.<br/>To send multiple ids, either concatenate with `,` or send multiple query parameters.For example, appending `?ids=link1,link2` is equivalent to appending `?ids=link1&ids=link2`.
        required: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteLinkBatch
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links/batch_delete
  /rest/organizations/{organizationId}/links:
    get:
      tags:
      - Link
      summary: List Links
      description: 'Lists the [links](https://docs.coveo.com/en/3355) in an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:**` Link - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAllLinks
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: ResourceType
        in: query
        description: The resource type with which to filter results. In other words, when this parameter is specified, the service only returns links containing the target resource type.<br/>By default, the service returns all links.
        required: false
        schema:
          type: string
          enum:
          - CATALOG_CONFIG
          - CATALOG
          - EXTENSION
          - FIELD
          - FILTER
          - INSIGHT_PANEL_INTERFACE
          - INSIGHT_PANEL_CONFIGURATION
          - MAPPING
          - ML_MODEL
          - ML_MODEL_ASSOCIATION
          - QUERY_PARAMETER
          - QUERY_PIPELINE
          - QUERY_PIPELINE_CONDITION
          - RANKING_EXPRESSION
          - RANKING_WEIGHT
          - RESULT_RANKING
          - FEATURED_RESULT
          - SEARCH_PAGE
          - SECURITY_PROVIDER
          - SOURCE
          - STATEMENT_GROUP
          - SETTING
          - STOP_WORD
          - STOREFRONT_ASSOCIATION
          - SUBSCRIPTION
          - THESAURUS
          - TRACKING_ID
          - TRIGGER
          - UNKNOWN
      - name: page
        in: query
        description: The 0-based number of the page of results to fetch.<br/>**Default:** `0`
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The number of results to fetch per page.<br/>**Default:** `1000`
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelLinkModel'
      x-pretty-name: getAllLinks
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links_get
    post:
      tags:
      - Link
      summary: Create Link
      description: 'Creates a link in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createLink
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LinkModel'
      x-pretty-name: createLink
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links_post
    delete:
      tags:
      - Link
      summary: Delete Links
      description: 'Deletes a link in an organization.</br>**Required privilege:**` Link - Edit`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"LINK","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteAllLinks
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteAllLinks
      x-required-privilege:
        owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: LINK
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/links_delete
components:
  schemas:
    LinkModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the link, if it already exists.
          example: tngt45tayqj6op3zt22rf22ek
        organizationId:
          type: string
          description: The unique identifier of the destination organization.
          example: '`destinationorganizationg7dg3gd`'
        resourceName:
          type: string
          description: The unique identifier of the resource in the snapshot that allows tracking across organizations.
          example: myextension_aAePCD
        resourceType:
          type: string
          description: The type of the resource.
          enum:
          - CATALOG_CONFIG
          - CATALOG
          - EXTENSION
          - FIELD
          - FILTER
          - INSIGHT_PANEL_INTERFACE
          - INSIGHT_PANEL_CONFIGURATION
          - MAPPING
          - ML_MODEL
          - ML_MODEL_ASSOCIATION
          - QUERY_PARAMETER
          - QUERY_PIPELINE
          - QUERY_PIPELINE_CONDITION
          - RANKING_EXPRESSION
          - RANKING_WEIGHT
          - RESULT_RANKING
          - FEATURED_RESULT
          - SEARCH_PAGE
          - SECURITY_PROVIDER
          - SOURCE
          - STATEMENT_GROUP
          - SETTING
          - STOP_WORD
          - STOREFRONT_ASSOCIATION
          - SUBSCRIPTION
          - THESAURUS
          - TRACKING_ID
          - TRIGGER
          - UNKNOWN
        resourceId:
          type: string
          description: The unique identifier of the resource in the destination organization.
          example: destinationorganizationg7dg3gd-qvml6dkyvouchhehsjhxxbkgqq
      description: The link definition.
    PageModelLinkModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LinkModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
