openapi: 3.2.0
info:
  title: Usage Analytics Read Groups API - Version 15 API
  version: '1.0'
servers:
- url: https://analytics.cloud.coveo.com/rest/ua
  description: Coveo public API endpoint
security:
- v8:
  - full
tags:
- name: Groups API - Version 15
paths:
  /v15/groups:
    get:
      tags:
      - Groups API - Version 15
      summary: Gets All Groups for Account.
      operationId: get__v15_groups
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupsResponseV15'
  /v15/groups/{groupId}/filters:
    get:
      tags:
      - Groups API - Version 15
      summary: Gets the Data Level Filters That Apply to the Specified Group.
      operationId: get__v15_groups_{groupId}_filters
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of a group.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
    put:
      tags:
      - Groups API - Version 15
      summary: Set the Filters That Will Be Applied to the Specified Group's Query
      operationId: put__v15_groups_{groupId}_filters
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of a group.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filters that will be applied to the user. Must be a persisted filter ID
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                $ref: '#/components/schemas/FilterValueModelV15'
        required: true
      responses:
        '204':
          description: No content
  /v15/groups/{groupId}:
    get:
      tags:
      - Groups API - Version 15
      summary: Get a Group.
      operationId: get__v15_groups_{groupId}
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of a group.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponseV15'
  /v15/groups/{groupId}/reports:
    get:
      tags:
      - Groups API - Version 15
      summary: Gets the Reports That the Specified Group Can Access.
      operationId: get__v15_groups_{groupId}_reports
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of a group.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The unique identifier of a user.
        schema:
          type: string
      - name: includeConfig
        in: query
        description: Whether to include the detailed configuration of the report in the response.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponseV14'
    put:
      tags:
      - Groups API - Version 15
      summary: Set Which Reports the Specified Group Can Access.
      operationId: put__v15_groups_{groupId}_reports
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of a group.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The IDs of the reports the user can access
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
  /v15/groups/monitoring/health:
    get:
      tags:
      - Groups API - Version 15
      summary: Health Check for the Groups Service
      operationId: get__v15_groups_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/groups/status:
    get:
      tags:
      - Groups API - Version 15
      summary: Get the Groups Service Status
      operationId: get__v15_groups_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
components:
  schemas:
    GroupsResponseV15:
      type: object
      properties:
        groups:
          uniqueItems: true
          type: array
          description: A collection of groups
          items:
            $ref: '#/components/schemas/GroupResponseV15'
      description: A collection of groups
    FilterResponseV14:
      type: object
      properties:
        id:
          type: string
          description: The filter id.
        displayName:
          type: string
          description: The filter display name.
        account:
          type: string
          description: The filter account.
        type:
          type: string
          description: The filter type. Can be 'permissions' or 'reporting'.
        value:
          type: string
          description: The actual filter.
      description: A filter.
    FiltersResponseV14:
      type: object
      properties:
        filters:
          type: array
          description: The filters that are applied to the user
          items:
            $ref: '#/components/schemas/FilterResponseV14'
      description: The filters that are applied to the user
    FilterValueModelV15:
      required:
      - id
      - value
      type: object
      properties:
        value:
          type: string
          description: The actual value of the filter.
        id:
          type: boolean
          description: Whether the value is a persisted filter ID or a filter value
      description: A filter value.
    ReportsResponseV14:
      type: object
      properties:
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            $ref: '#/components/schemas/ReportResponseV14'
      description: The reports the user can view.
    GroupResponseV15:
      type: object
      properties:
        groupId:
          type: string
          description: The group id.
        account:
          type: string
          description: The group account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the users of the group.
          items:
            type: string
            description: The filters that are applied to the users of the group.
        reports:
          uniqueItems: true
          type: array
          description: The reports the users of the group can view.
          items:
            type: string
            description: The reports the users of the group can view.
      description: A group of users.
    ReportResponseV14:
      type: object
      properties:
        id:
          type: string
          description: The report id.
        account:
          type: string
          description: The report account.
        displayName:
          type: string
          description: The report display name.
        type:
          type: string
          description: The report type.
        configuration:
          type: object
          additionalProperties:
            type: object
            description: The report configuration.
          description: The report configuration.
        allAnalyticsViewer:
          type: boolean
          description: Whether the report is available to all analytics viewer.
        filters:
          uniqueItems: true
          type: array
          description: List of associated filters.
          items:
            type: string
            description: List of associated filters.
      description: A report configuration.
    StatusResponse:
      type: object
      description: Service's status information
  securitySchemes:
    v8:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          scopes:
            full: ''
