openapi: 3.2.0
info:
  title: Coveo Authorization Server Users API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Users
paths:
  /rest/users/{username}:
    get:
      tags:
      - Users
      summary: Show User
      description: Shows a user.</br>**Required privilege:** Users - View
      operationId: getUser
      parameters:
      - name: username
        in: path
        description: The username of the user to show.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserModel'
      x-pretty-name: getUser
      x-ui-operation-id: /rest/users/paramId_get
    put:
      tags:
      - Users
      summary: Update User Additional Information
      operationId: updateUserAdditionalInformation
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateUserAdditionalInformation
      x-ui-operation-id: /rest/users/paramId_put
  /rest/users/{username}/realms:
    get:
      tags:
      - Users
      summary: List User Realms
      description: Lists the realms of a user.</br>**Required privilege:** Users - View
      operationId: getAllExistingRealmsForUser
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list realms.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getAllExistingRealmsForUser
      x-ui-operation-id: /rest/users/paramId/realms_get
components:
  schemas:
    RealmModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `example-domain.com`
        provider:
          type: string
          description: The provider of the realm.
          enum:
          - SALESFORCE
          - SALESFORCE_SANDBOX
          - GOOGLE
          - OFFICE365
          - SAML
          - EMAIL
        displayName:
          type: string
          description: The display name of the realm.</br>**Example:** `example.com`
        samlIdentityProviderId:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `myprovider`
      description: The realm to add.
    UserRealmModel:
      type: object
      properties:
        member:
          type: boolean
        realm:
          $ref: '#/components/schemas/RealmModel'
        realmModel:
          $ref: '#/components/schemas/RealmModel'
      description: The realms the user is a part of.
    UserModel:
      type: object
      properties:
        username:
          type: string
          description: The username of the user.</br>**Example:** `jsmith@email.com-google`
        name:
          type:
          - string
          - 'null'
          description: The full name of the user.</br>**Example:** `John Smith`
        firstName:
          type:
          - string
          - 'null'
          description: The first name of the user.</br>**Example:** `John`
        lastName:
          type:
          - string
          - 'null'
          description: The last name of the user.</br>**Example:** `Smith`
        email:
          type: string
          description: The email address of the user.</br>**Example:**`jsmith@email.com`
        emailConfirmed:
          type: boolean
          description: Whether the user has confirmed their email.
        displayName:
          type: string
          description: The display name of the user.</br>**Example:** `John Smith`
        country:
          type: string
          enum:
          - UNDEFINED
          - AC
          - AD
          - AE
          - AF
          - AG
          - AI
          - AL
          - AM
          - AN
          - AO
          - AQ
          - AR
          - AS
          - AT
          - AU
          - AW
          - AX
          - AZ
          - BA
          - BB
          - BD
          - BE
          - BF
          - BG
          - BH
          - BI
          - BJ
          - BL
          - BM
          - BN
          - BO
          - BQ
          - BR
          - BS
          - BT
          - BU
          - BV
          - BW
          - BY
          - BZ
          - CA
          - CC
          - CD
          - CF
          - CG
          - CH
          - CI
          - CK
          - CL
          - CM
          - CN
          - CO
          - CP
          - CR
          - CS
          - CU
          - CV
          - CW
          - CX
          - CY
          - CZ
          - DE
          - DG
          - DJ
          - DK
          - DM
          - DO
          - DZ
          - EA
          - EC
          - EE
          - EG
          - EH
          - ER
          - ES
          - ET
          - EU
          - EZ
          - FI
          - FJ
          - FK
          - FM
          - FO
          - FR
          - FX
          - GA
          - GB
          - GD
          - GE
          - GF
          - GG
          - GH
          - GI
          - GL
          - GM
          - GN
          - GP
          - GQ
          - GR
          - GS
          - GT
          - GU
          - GW
          - GY
          - HK
          - HM
          - HN
          - HR
          - HT
          - HU
          - IC
          - ID
          - IE
          - IL
          - IM
          - IN
          - IO
          - IQ
          - IR
          - IS
          - IT
          - JE
          - JM
          - JO
          - JP
          - KE
          - KG
          - KH
          - KI
          - KM
          - KN
          - KP
          - KR
          - KW
          - KY
          - KZ
          - LA
          - LB
          - LC
          - LI
          - LK
          - LR
          - LS
          - LT
          - LU
          - LV
          - LY
          - MA
          - MC
          - MD
          - ME
          - MF
          - MG
          - MH
          - MK
          - ML
          - MM
          - MN
          - MO
          - MP
          - MQ
          - MR
          - MS
          - MT
          - MU
          - MV
          - MW
          - MX
          - MY
          - MZ
          - NA
          - NC
          - NE
          - NF
          - NG
          - NI
          - NL
          - 'NO'
          - NP
          - NR
          - NT
          - NU
          - NZ
          - OM
          - PA
          - PE
          - PF
          - PG
          - PH
          - PK
          - PL
          - PM
          - PN
          - PR
          - PS
          - PT
          - PW
          - PY
          - QA
          - RE
          - RO
          - RS
          - RU
          - RW
          - SA
          - SB
          - SC
          - SD
          - SE
          - SF
          - SG
          - SH
          - SI
          - SJ
          - SK
          - SL
          - SM
          - SN
          - SO
          - SR
          - SS
          - ST
          - SU
          - SV
          - SX
          - SY
          - SZ
          - TA
          - TC
          - TD
          - TF
          - TG
          - TH
          - TJ
          - TK
          - TL
          - TM
          - TN
          - TO
          - TP
          - TR
          - TT
          - TV
          - TW
          - TZ
          - UA
          - UG
          - UK
          - UM
          - US
          - UY
          - UZ
          - VA
          - VC
          - VE
          - VG
          - VI
          - VN
          - VU
          - WF
          - WS
          - XI
          - XU
          - XK
          - YE
          - YT
          - YU
          - ZA
          - ZM
          - ZR
          - ZW
        providerUsername:
          type:
          - string
          - 'null'
          description: The username of the user for the corresponding provider.</br>**Example:** `jsmith@email.com`
        providerUserId:
          type: string
          description: The unique identifier of the user for the provider.</br>**Example:** `office365`
        provider:
          type:
          - string
          - 'null'
          description: The provider of the user.
          enum:
          - SALESFORCE
          - SALESFORCE_SANDBOX
          - GOOGLE
          - OFFICE365
          - SAML
          - EMAIL
        samlIdentityProviderId:
          type:
          - string
          - 'null'
          description: The unique identifier of the SAML identity provider the user is a part of.</br>**Example:** `myprovider`
        realms:
          type: array
          description: The realms the user is a part of.
          items:
            $ref: '#/components/schemas/UserRealmModel'
        socialUser:
          type: boolean
        expired:
          type: boolean
          description: Whether the user is expired.
        locked:
          type: boolean
          description: Whether the user is locked.
        credentialsExpired:
          type: boolean
          description: Whether the user's credentials have expired.
        enabled:
          type: boolean
          description: Whether the user is enabled.
        emailAliases:
          uniqueItems: true
          type: array
          description: The email aliases of the user.
          items:
            type: string
            description: The email aliases of the user.
        additionalInformation:
          type: object
          additionalProperties:
            type: string
            description: 'A collection of key-value pairs that can be used for custom features.</br><b>Example:</b> `{"lastWhatsNewSeen": "v2.5652.11"}`</br>*Default:* `{}`'
          description: 'A collection of key-value pairs that can be used for custom features.</br><b>Example:</b> `{"lastWhatsNewSeen": "v2.5652.11"}`</br>*Default:* `{}`'
        lastUsedDate:
          type:
          - string
          - 'null'
          description: The last day the user has logged in into the platform
          format: date-time
      description: A user.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
