openapi: 3.0.1
info:
  title: Coveo Activity Activities Source Status API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- description: Update the status of a Push source
  name: Source Status
paths:
  /organizations/{organizationId}/sources/{sourceId}/status:
    post:
      description: "Modifies the current status of a Push source.  \nThis operation allows you to update the activity logs of a Push source (and consequently the activity indicators in the Coveo Cloud V2 administration console).  \nPushing an *active* source status (i.e., `REBUILD`, `REFRESH`, or `INCREMENTAL`) creates an activity. Pushing the `IDLE` status terminates the ongoing activity and marks it as completed."
      externalDocs:
        description: Update the status of a Push source
        url: https://docs.coveo.com/en/35/index-content/manage-the-push-source#update-the-status-of-a-push-source
      parameters:
      - description: "The status to set the Push source to.  \nThe possible values are: `INCREMENTAL`, `REFRESH`, `REBUILD`, and `IDLE`.  \n**Example:** `REBUILD`"
        enum:
        - INCREMENTAL
        - REFRESH
        - REBUILD
        - IDLE
        in: query
        name: statusType
        required: true
        type: string
      - description: "The unique identifier of the target Push source (see [Creating a Push Source](https://developers.coveo.com/x/34s9Ag)).  \n**Example:** `rp5rxzbdz753uhndklv2ztkfgy-mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: sourceId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Set the Status of a Push Source
      tags:
      - Source Status
      x-pretty-name: setSourceStatus
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
definitions:
  Error:
    properties:
      errorCode:
        type: string
      message:
        type: string
    type: object
