openapi: 3.0.1
info:
  title: Usage Analytics Read API
  version: '1.0'
servers:
- url: https://analytics.cloud.coveo.com/rest/ua
  description: Coveo public API endpoint
security:
- v8:
  - full
tags:
- name: Dimensions API - Version 14
- name: Exports API - Version 14
- name: Filters API - Version 14
- name: Metrics API - Version 14
- name: Reports API - Version 14
- name: Statistics API - Version 14
- name: Users API - Version 14
- name: Administration API - Version 15
- name: Data Health API - Version 15
- name: Dimensions API - Version 15
- name: Exports API - Version 15
- name: Filters API - Version 15
- name: Groups API - Version 15
- name: Metrics API - Version 15
- name: Reader Account API - Version 15
- name: Reports API - Version 15
- name: Secure Data Sharing API - Version 15
- name: Statistics API - Version 15
- name: Users API - Version 15
- name: User Statistics API - Version 15
paths:
  /v14/dimensions/custom:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get All the Custom Dimensions
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom
      parameters:
      - name: includeOnlyParents
        in: query
        description: This will filter out dimensions which are covered by others. Only parent/master dimensions will be output
        schema:
          type: boolean
          default: false
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
    post:
      tags:
      - Dimensions API - Version 14
      summary: Create a Custom Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_dimensions_custom
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: name
        in: query
        description: The name of the custom dimension. It should start with the 'c_' prefix. If not present, the prefix will
          be added automatically.
        schema:
          type: string
      - name: event
        in: query
        description: The types of event where this dimension will be added.
        required: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - searches
            - clicks
            - custom_events
      - name: updatePastEvents
        in: query
        description: Whether to update the custom dimension in past events.
        deprecated: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: The custom dimension information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDimensionModelV15'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
  /v14/dimensions/custom/{apiName}:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get a Custom Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
    put:
      tags:
      - Dimensions API - Version 14
      summary: Create or Edit a Custom Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      - name: updatePastEvents
        in: query
        description: Whether to update the custom dimension in past events.
        deprecated: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: The custom dimension information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDimensionModelV14'
        required: true
      responses:
        '200':
          description: The custom dimension has been edited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV14'
        '201':
          description: The custom dimension has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
    delete:
      tags:
      - Dimensions API - Version 14
      summary: Get a Custom Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/dimensions/custom/{event}/suggestions:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get a List of Dimensions That Have Data but Are Not Created Yet
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom_{event}_suggestions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        schema:
          type: string
      - name: event
        in: path
        description: The type of event for which to look for suggestions.
        required: true
        schema:
          type: string
          enum:
          - searches
          - clicks
          - custom_events
      - name: includeValueSamples
        in: query
        description: Whether value samples should be included in the response.
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: The number of events to look at when getting suggestions. A larger depth means more suggestions but also
          slower performance.
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDimensionSuggestionsResponseV14'
      deprecated: true
  /v14/dimensions/custom/monitoring/health:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Health Check for the Custom Dimensions Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/dimensions/custom/status:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get the Custom Dimensions Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/dimensions/custom/{dimension}/values:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get the Values for a Custom Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_custom_{dimension}_values
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: dimension
        in: path
        description: The dimensions to fetch.
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of result to include in a page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionValuesResponseV14'
      deprecated: true
  /v14/dimensions/{apiName}:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get a Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_{apiName}
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
  /v14/dimensions:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get All the Dimensions
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeOnlyParents
        in: query
        description: This will filter out dimensions which are covered by others. Only parent/master dimensions will be output
        schema:
          type: boolean
          default: false
      - name: includeCustom
        in: query
        description: Whether to include custom dimensions within the results.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DimensionResponseV14'
      deprecated: true
  /v14/dimensions/monitoring/health:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Health Check for the Dimensions Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/dimensions/status:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get the Dimensions Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/dimensions/{dimension}/values:
    get:
      tags:
      - Dimensions API - Version 14
      summary: Get the Values for a Dimension
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_dimensions_{dimension}_values
      parameters:
      - name: from
        in: query
        description: from
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: dimension
        in: path
        description: The dimensions to fetch.
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of result to include in a page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionValuesResponseV14'
      deprecated: true
  /v14/exports/{exportId}:
    get:
      tags:
      - Exports API - Version 14
      summary: Get Information on an Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports_{exportId}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: exportId
        in: path
        description: The export's unique identifier.
        required: true
        schema:
          type: string
      - name: redirect
        in: query
        description: "Whether to return a HTTP redirect to the actual file.\n\n Note: for technical reasons, setting this\
          \ parameter to true will yield an error when calling the endpoint through Swagger user interface."
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponseV14'
      deprecated: true
    delete:
      tags:
      - Exports API - Version 14
      summary: Delete an Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_exports_{exportId}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: exportId
        in: path
        description: The export's unique identifier.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/exports/estimate:
    get:
      tags:
      - Exports API - Version 14
      summary: Estimate the Number of Rows in an Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports_estimate
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events common dimensions (shared by all types of events). Multiple
          filter parameters are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fs
        in: query
        description: The filter that will be applied to the click and search events dimensions. Multiple filter parameters
          are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fc
        in: query
        description: The filter that will be applied to the custom events dimensions. Multiple filter parameters are joined
          with the AND operator.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportEstimateResponseV14'
      deprecated: true
  /v14/exports/visits/estimate:
    get:
      tags:
      - Exports API - Version 14
      summary: Estimate the Number of Rows in a Visit Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports_visits_estimate
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fn
        in: query
        description: The filter that will be applied to dimensions to exclude events from the results. Multiple filter parameters
          are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportEstimateResponseV14'
      deprecated: true
  /v14/exports:
    get:
      tags:
      - Exports API - Version 14
      summary: Lists All Exports
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExportResponseV14'
      deprecated: true
    post:
      tags:
      - Exports API - Version 14
      summary: Generate an Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_exports
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events common dimensions (shared by all types of events). Multiple
          filter parameters are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fs
        in: query
        description: The filter that will be applied to the click and search events dimensions. Multiple filter parameters
          are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fc
        in: query
        description: The filter that will be applied to the custom events dimensions. Multiple filter parameters are joined
          with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: filename
        in: query
        description: Can only contain US-ASCII characters. If none is supplied it will be set to the export's id.
        schema:
          type: string
      - name: format
        in: query
        description: The format of the generated CSV files.
        schema:
          type: string
          enum:
          - EXCEL
          - NO_NEWLINE
          - EXCEL,NO_NEWLINE
          default: EXCEL
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponseV14'
      deprecated: true
  /v14/exports/visits:
    post:
      tags:
      - Exports API - Version 14
      summary: Generate a Visit Export
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_exports_visits
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fn
        in: query
        description: The filter that will be applied to dimensions to exclude events from the results. Multiple filter parameters
          are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: filename
        in: query
        description: Can only contain US-ASCII characters. If none is supplied it will be set to the export's id.
        schema:
          type: string
      - name: d
        in: query
        description: Export's description.
        schema:
          type: string
      - name: format
        in: query
        description: The format of the generated CSV files.
        schema:
          type: string
          enum:
          - EXCEL
          - NO_NEWLINE
          - EXCEL,NO_NEWLINE
          default: EXCEL
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResponseV14'
      deprecated: true
  /v14/exports/monitoring/health:
    get:
      tags:
      - Exports API - Version 14
      summary: Health Check for the Exports Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/exports/status:
    get:
      tags:
      - Exports API - Version 14
      summary: Get the Exports Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_exports_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/filters/permissions:
    get:
      tags:
      - Filters API - Version 14
      summary: Get All the Permission Filters
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
      deprecated: true
    post:
      tags:
      - Filters API - Version 14
      summary: Create a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
  /v14/filters/reporting:
    get:
      tags:
      - Filters API - Version 14
      summary: Get All the Reporting Filters
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
      deprecated: true
    post:
      tags:
      - Filters API - Version 14
      summary: Create a Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
  /v14/filters/permissions/{filterId}:
    get:
      tags:
      - Filters API - Version 14
      summary: Get a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Update a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Filters API - Version 14
      summary: Deletes the Specified Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/filters/reporting/{filterId}:
    get:
      tags:
      - Filters API - Version 14
      summary: Gets the Specified Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Update a Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Filters API - Version 14
      summary: Deletes the Specified Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/filters/monitoring/health:
    get:
      tags:
      - Filters API - Version 14
      summary: Health Check for the Filter Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/filters/status:
    get:
      tags:
      - Filters API - Version 14
      summary: Gets the Status of the Filter Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/filters/permissions/{filterId}/users:
    get:
      tags:
      - Filters API - Version 14
      summary: Get the Users of a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Set the Users of a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The users to set the permission on.
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/metrics/{metricName}:
    get:
      tags:
      - Metrics API - Version 14
      summary: Get a Metric
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_metrics_{metricName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: metricName
        in: path
        description: metricName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponseV14'
      deprecated: true
  /v14/metrics:
    get:
      tags:
      - Metrics API - Version 14
      summary: Get All the Metrics
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_metrics
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponseV14'
      deprecated: true
  /v14/metrics/monitoring/health:
    get:
      tags:
      - Metrics API - Version 14
      summary: Health Check for the Metrics Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_metrics_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/metrics/status:
    get:
      tags:
      - Metrics API - Version 14
      summary: Get the Metrics Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_metrics_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/reports:
    get:
      tags:
      - Reports API - Version 14
      summary: Get the Persisted Reports of One or All Types
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports
      parameters:
      - name: type
        in: query
        description: The type of the report. Must be either 'explorer' or 'dashboard'.
        schema:
          type: string
          enum:
          - DASHBOARD
          - EXPLORER
          - EXPLORER,DASHBOARD
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeConfig
        in: query
        description: Whether to include the detailed configuration of the report in the response.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponseV14'
      deprecated: true
    post:
      tags:
      - Reports API - Version 14
      summary: Create a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_reports
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The report configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIdResponseV14'
      deprecated: true
  /v14/reports/{reportId}:
    get:
      tags:
      - Reports API - Version 14
      summary: Get a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponseV14'
      deprecated: true
    put:
      tags:
      - Reports API - Version 14
      summary: Update a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The report configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Reports API - Version 14
      summary: Delete a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/reports/monitoring/health:
    get:
      tags:
      - Reports API - Version 14
      summary: Health Check for the Reports Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/reports/status:
    get:
      tags:
      - Reports API - Version 14
      summary: Get the Reports Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/reports/{reportId}/users:
    get:
      tags:
      - Reports API - Version 14
      summary: Gets the Users That Can View the Specified Report.
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_{reportId}_users
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportUsersResponseV14'
      deprecated: true
    put:
      tags:
      - Reports API - Version 14
      summary: Set the Users Who Are Allowed to View a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_reports_{reportId}_users
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The IDs of the allowed users.
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/stats/combinedData:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get Metrics Combined with Dimensions for a Date Range
      description: 'This endpoint is deprecated and will be removed on October 1st, 2024.

        There is one value of each metric for every possible dimension combination.'
      operationId: get__v14_stats_combinedData
      parameters:
      - name: m
        in: query
        description: The metrics to fetch.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: d
        in: query
        description: Timezone used for calculations.
        schema:
          type: array
          items:
            type: string
            default: Z
          default: Z
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fm
        in: query
        description: The filter that will be applied to the metrics. Multiple filter parameters are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: s
        in: query
        description: The field to order the results by. It must be a dimension, metric or custom dimension that was specified
          in the 'm' or the 'd' parameter.
        schema:
          type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of result to include in a page.
        schema:
          type: integer
          format: int32
      - name: asc
        in: query
        description: Whether to sort by ascending order.
        schema:
          type: boolean
          default: true
      - name: includeMetadata
        in: query
        description: Whether to include metadata regarding the results (total count and unique counts, if applicable).
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: The format of the response. Default is JSON.
        schema:
          type: string
          enum:
          - JSON
          - CSV
          - JSON,CSV
          default: JSON
      - name: bindOnLastSearch
        in: query
        description: bindOnLastSearch
        schema:
          type: boolean
          default: true
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinedDataResponseV14'
            text/csv:
              schema:
                $ref: '#/components/schemas/CombinedDataResponseV14'
      deprecated: true
  /v14/stats/trends:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get Trends of a Metric Combined with Dimensions for a Date Range
      description: 'This endpoint is deprecated and will be removed on October 1st, 2024.

        There is one value of each metric for every possible dimension combination.'
      operationId: get__v14_stats_trends
      parameters:
      - name: m
        in: query
        description: The metrics to fetch.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: previousFrom
        in: query
        description: The beginning date of the previous date range, when reporting trends. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'.
          If not specified, it will be the 'from' date minus the duration of the 'from'-'to' date range.
        schema:
          type: string
      - name: previousTo
        in: query
        description: The end date of the previous date range, when reporting trends. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'.
          If not specified, it will be the 'to' date minus the duration of the 'from'-'to' date range.
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: d
        in: query
        description: Timezone used for calculations.
        schema:
          type: array
          items:
            type: string
            default: Z
          default: Z
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fm
        in: query
        description: The filter that will be applied to the metrics. Multiple filter parameters are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: s
        in: query
        description: The field to order the results by. It must be a dimension, metric or custom dimension that was specified
          in the 'm' or the 'd' parameter.
        schema:
          type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of result to include in a page.
        schema:
          type: integer
          format: int32
      - name: asc
        in: query
        description: Whether to sort by ascending order.
        schema:
          type: boolean
          default: true
      - name: includeMetadata
        in: query
        description: Whether to include metadata regarding the results (total count and unique counts, if applicable).
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: The format of the response. Default is JSON.
        schema:
          type: string
          enum:
          - JSON
          - CSV
          default: JSON
      - name: bindOnLastSearch
        in: query
        description: bindOnLastSearch
        schema:
          type: boolean
          default: true
      - name: t
        in: query
        description: The trends to caculate.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombinedDataResponseV14'
            text/csv:
              schema:
                $ref: '#/components/schemas/CombinedDataResponseV14'
      deprecated: true
  /v14/stats/globalData:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get Global Data for Each Metric for a Date Range
      description: 'This endpoint is deprecated and will be removed on October 1st, 2024.

        Global data contain the total, the daily peak and the daily average.'
      operationId: get__v14_stats_globalData
      parameters:
      - name: m
        in: query
        description: The metrics to fetch.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: d
        in: query
        description: The dimensions to fetch. Required when the Activity metric is requested as it has to be based on a dimension.
        schema:
          type: array
          items:
            type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: i
        in: query
        description: The interval on which data will be grouped. Default value is DAY.
        schema:
          type: string
          enum:
          - MINUTE
          - HOUR
          - DAY
          - WEEK
          - MONTH
          - MINUTE,HOUR,DAY,WEEK,MONTH
          default: DAY
      - name: bindOnLastSearch
        in: query
        description: bindOnLastSearch
        schema:
          type: boolean
          default: true
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalAggregatedDataResponseV14'
      deprecated: true
  /v14/stats/graphDataPoints:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get Graph Data Points for the Metrics for a Date Range
      description: 'This endpoint is deprecated and will be removed on October 1st, 2024.

        There is one data point per interval per metric. The interval can be specified with the ''i'' query parameter.'
      operationId: get__v14_stats_graphDataPoints
      parameters:
      - name: m
        in: query
        description: The metrics to fetch.
        required: true
        schema:
          type: array
          items:
            type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: i
        in: query
        description: The interval on which data will be grouped. Default value is DAY.
        schema:
          type: string
          enum:
          - MINUTE
          - HOUR
          - DAY
          - WEEK
          - MONTH
          - MINUTE,HOUR,DAY,WEEK,MONTH
          default: DAY
      - name: bindOnLastSearch
        in: query
        description: bindOnLastSearch
        schema:
          type: boolean
          default: true
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphAggregatedDataResponseV14'
      deprecated: true
  /v14/stats/monitoring/health:
    get:
      tags:
      - Statistics API - Version 14
      summary: Health Check for the Statistics Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_stats_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/stats/status:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get the Statistics Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_stats_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/stats/visits:
    get:
      tags:
      - Statistics API - Version 14
      summary: Get the Details of the Visits Matching the Specified Criteria
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_stats_visits
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: d
        in: query
        description: The dimensions to fetch.
        schema:
          type: array
          items:
            type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: fn
        in: query
        description: The filter that will be applied to dimensions to exclude events from the results. Multiple filter parameters
          are joined with the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: s
        in: query
        description: The field to order the results by. It must be a dimension, metric or custom dimension that was specified
          in the 'm' or the 'd' parameter.
        schema:
          type: string
          default: eventDatetime
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of result to include in a page.
        schema:
          type: integer
          format: int32
      - name: asc
        in: query
        description: Whether to sort by ascending order.
        schema:
          type: boolean
          default: false
      - name: includeMetadata
        in: query
        description: Whether to include metadata regarding the results (total count and unique counts, if applicable).
        schema:
          type: boolean
          default: true
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitsStatisticsResponseV14'
      deprecated: true
    post:
      tags:
      - Statistics API - Version 14
      summary: Force a Visit View Update
      description: 'This endpoint is deprecated and will be removed on October 1st, 2024.

        Global data contain the total, the daily peak and the daily average.'
      operationId: post__v14_stats_visits
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/users/{userId}/filters:
    get:
      tags:
      - Users API - Version 14
      summary: Get the Data Level Filters That Apply to a User
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_users_{userId}_filters
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
      deprecated: true
    put:
      tags:
      - Users API - Version 14
      summary: Set the Filters That Will Be Applied to a User Query
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_users_{userId}_filters
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filters that will be applied to the user. Must be a persisted filter ID
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                $ref: '#/components/schemas/FilterValueModelV14'
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/users/{userId}/reports:
    get:
      tags:
      - Users API - Version 14
      summary: Get the Reports That a User Can Access
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_users_{userId}_reports
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeConfig
        in: query
        description: Whether to include the detailed configuration of the report in the response.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponseV14'
      deprecated: true
    put:
      tags:
      - Users API - Version 14
      summary: Set Which Reports a User Can Access
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_users_{userId}_reports
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The unique identifier of a user.
        schema:
          type: string
      requestBody:
        description: The IDs of the reports the user can access
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/users/monitoring/health:
    get:
      tags:
      - Users API - Version 14
      summary: Health Check for the Users Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_users_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/users/status:
    get:
      tags:
      - Users API - Version 14
      summary: Get the Users Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_users_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/users/{userId}:
    get:
      tags:
      - Users API - Version 14
      summary: Get a User
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_users_{userId}
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseV14'
      deprecated: true
  /v15/admin/account:
    get:
      tags:
      - Administration API - Version 15
      summary: Get an Account
      operationId: get__v15_admin_account
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseV15'
    put:
      tags:
      - Administration API - Version 15
      summary: Edit an Account
      operationId: put__v15_admin_account
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The account information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoModelV15'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseV15'
  /v15/admin/account/strictValidationTest:
    get:
      tags:
      - Administration API - Version 15
      summary: Get Example Values That Would Be Rejected by Strict Validation for the Specified Dimension
      description: This endpoint is deprecated and will be removed in April 2025.
      operationId: get__v15_admin_account_strictValidationTest
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: d
        in: query
        description: The dimension to fetch.
        required: true
        schema:
          type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrictValidationTestResponseV15'
      deprecated: true
  /v15/datahealth/events/payload:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get the Payload of an Event.
      operationId: get__v15_datahealth_events_payload
      parameters:
      - name: timestamp
        in: query
        description: The timestamp of the event. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: eventId
        in: query
        description: The id of the event for which to return information.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventPayloadResponseV15'
  /v15/datahealth/events/problems:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get Problems About Events
      operationId: get__v15_datahealth_events_problems
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: eventType
        in: query
        description: A set of event types for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: searchHub
        in: query
        description: A set of search hubs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: The response's page to access, starting at 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventProblemsResponseV15'
        '404':
          description: PAGE_NOT_FOUND
  /v15/datahealth/criteria/failedInstances:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get Failed Instances for a Data Health Criterion
      operationId: get__v15_datahealth_criteria_failedInstances
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: criterionId
        in: query
        description: The data health criterion for which the failed instances should be returned.
        required: true
        schema:
          type: string
      - name: group
        in: query
        description: The group for which data health information should be returned.
        required: true
        schema:
          type: string
      - name: scopeValue
        in: query
        description: The value of the criterion scope for which failed instances should be returned. For example, if the scope
          of a rule is 'EVENT', the scope value could be 'Click', 'Search', etc. The failed instances would contain sample
          events of the specified type.
        schema:
          type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: The response's page to access, starting at 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FailedInstancesResponseV15'
  /v15/datahealth/groups/detail:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get Detailed Information About a Data Health Group
      operationId: get__v15_datahealth_groups_detail
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: group
        in: query
        description: The group for which data health information should be returned.
        required: true
        schema:
          type: string
      - name: category
        in: query
        description: The categories of rules for which data health should be displayed.
        schema:
          type: array
          items:
            type: string
      - name: feature
        in: query
        description: The feature for which data health should be computed.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDetailResponseV15'
  /v15/datahealth/groups:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get a Listing of Data Health Groups
      operationId: get__v15_datahealth_groups
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: category
        in: query
        description: The categories of rules for which data health should be displayed.
        schema:
          type: array
          items:
            type: string
      - name: feature
        in: query
        description: The feature for which data health should be computed.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: The response's page to access, starting at 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
          default: 10
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: showEmptyGroups
        in: query
        description: Whether or not groups with zero event validated should be shown
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupListingResponseV15'
  /v15/datahealth/overview:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get the Data Health Overview
      operationId: get__v15_datahealth_overview
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: category
        in: query
        description: The categories of rules for which data health should be displayed.
        schema:
          type: array
          items:
            type: string
      - name: feature
        in: query
        description: The feature for which data health should be computed.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewResponseV15'
  /v15/datahealth/status:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get the Data Health Service Status
      operationId: get__v15_datahealth_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/datahealth/events:
    get:
      tags:
      - Data Health API - Version 15
      summary: Get Health Information About Events
      operationId: get__v15_datahealth_events
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        description: A set of client IDs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: visitId
        in: query
        description: A set of visit IDs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: eventSource
        in: query
        description: A set of event sources for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: eventType
        in: query
        description: A set of event types for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: searchHub
        in: query
        description: A set of search hubs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: healthStatus
        in: query
        description: A health status for which the events will be returned.
        schema:
          type: string
          enum:
          - VALID
          - INVALID
      - name: page
        in: query
        description: The response's page to access, starting at 0.
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventsResponseV15'
        '404':
          description: PAGE_NOT_FOUND
  /v15/datahealth/facets:
    get:
      tags:
      - Data Health API - Version 15
      summary: List Facet Values for Event Browser
      operationId: get__v15_datahealth_facets
      parameters:
      - name: facet
        in: query
        description: The facet for which the values should be listed
        required: true
        schema:
          type: string
          enum:
          - EVENT_SOURCE
          - EVENT_TYPE
          - HEALTH_STATUS
          - SEARCH_HUB
          - TRACKING_ID
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: clientId
        in: query
        description: A set of client IDs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: visitId
        in: query
        description: A set of visit IDs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: eventSource
        in: query
        description: A set of event sources for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: eventType
        in: query
        description: A set of event types for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: searchHub
        in: query
        description: A set of search hubs for which the events will be returned.
        schema:
          type: array
          items:
            type: string
      - name: trackingId
        in: query
        description: The tracking IDs for which the results should be returned.
        schema:
          type: array
          items:
            type: string
      - name: healthStatus
        in: query
        description: A health status for which the events will be returned.
        schema:
          type: string
          enum:
          - VALID
          - INVALID
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFacetValuesResponseV15'
  /v15/dimensions/custom:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get All the Custom Dimensions
      operationId: get__v15_dimensions_custom
      parameters:
      - name: includeOnlyParents
        in: query
        description: This will filter out dimensions which are covered by others. Only parent/master dimensions will be output
        schema:
          type: boolean
          default: false
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DimensionResponseV15'
    post:
      tags:
      - Dimensions API - Version 15
      summary: Create a Custom Dimension
      operationId: post__v15_dimensions_custom
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: name
        in: query
        description: The name of the custom dimension. It should start with the 'c_' prefix. If not present, the prefix will
          be added automatically.
        schema:
          type: string
      - name: event
        in: query
        description: The types of event where this dimension will be added.
        required: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - searches
            - clicks
            - custom_events
      - name: updatePastEvents
        in: query
        description: Whether to update the custom dimension in past events.
        deprecated: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: The custom dimension information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDimensionModelV15'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV15'
  /v15/dimensions/custom/{apiName}:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get a Custom Dimension
      operationId: get__v15_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV15'
    put:
      tags:
      - Dimensions API - Version 15
      summary: Create or Edit a Custom Dimension
      operationId: put__v15_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      - name: updatePastEvents
        in: query
        description: Whether to update the custom dimension in past events.
        deprecated: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: The custom dimension information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDimensionModelV15'
        required: true
      responses:
        '200':
          description: The custom dimension has been edited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV15'
        '201':
          description: The custom dimension has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionResponseV15'
    delete:
      tags:
      - Dimensions API - Version 15
      summary: Delete a Custom Dimension
      operationId: delete__v15_dimensions_custom_{apiName}
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: apiName
        in: path
        description: Format must be `EVENT.DIMENSION` where EVENT is the event type and DIMENSION is the name of the dimension.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
  /v15/dimensions/custom/{event}/suggestions:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get a List of Dimensions That Have Data but Are Not Created Yet
      operationId: get__v15_dimensions_custom_{event}_suggestions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        schema:
          type: string
      - name: event
        in: path
        description: The type of event for which to look for suggestions.
        required: true
        schema:
          type: string
          enum:
          - searches
          - clicks
          - custom_events
      - name: includeValueSamples
        in: query
        description: Whether value samples should be included in the response.
        schema:
          type: boolean
          default: true
      - name: depth
        in: query
        description: The number of events to look at when getting suggestions. A larger depth means more suggestions but also
          slower performance.
        schema:
          type: integer
          format: int32
          default: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDimensionSuggestionsResponseV15'
  /v15/dimensions/custom/monitoring/health:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Health Check for the Custom Dimensions Service
      operationId: get__v15_dimensions_custom_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/dimensions/custom/status:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get the Custom Dimensions Service Status
      operationId: get__v15_dimensions_custom_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/dimensions/custom/{dimension}/values:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get the Values for a Custom Dimension
      operationId: get__v15_dimensions_custom_{dimension}_values
      parameters:
      - name: from
        in: query
        description: The beginning date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: The end date of the date range. ISO8601 format 'YYYY-MM-DDThh:mm:ss.sssZ'
        required: true
        schema:
          type: string
      - name: tz
        in: query
        description: Timezone used for calculations.
        schema:
          type: string
          default: Z
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: dimension
        in: path
        description: The dimensions to fetch.
        required: true
        schema:
          type: string
      - name: f
        in: query
        description: The filter that will be applied to the events dimensions. Multiple filter parameters are joined with
          the AND operator.
        schema:
          type: array
          items:
            type: string
      - name: p
        in: query
        description: The response's page to access, starting at 1.
        schema:
          type: integer
          format: int32
      - name: n
        in: query
        description: The number of results to include in a page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionValuesResponseV15'
  /v15/dimensions/{apiName}:
    get:
      tags:
      - Dimensions API - Version 15
      summary: Get a Dimension
      operationId: get__v15_dimensions_{apiName}
      parameters:
      - name: org
[...]
