openapi: 3.2.0
info:
  description: Service in charge of CRUD operations for Coveo Cloud hosted search pages
  title: Coveo Search Pages Zendesk API
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo Community
    url: https://answers.coveo.com/
  version: '1.0'
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Zendesk
paths:
  /pages/{organizationID}/zendesk/unlink:
    delete:
      security:
      - OAuth2:
        - full
      description: 'Remove the link between the Zendesk Installation and the Coveo Organization.  <br/><br/>**Required privilege:** Search Pages - Edit<br/><details><summary>Privilege required</summary>```{ "owner": "SEARCH_API", "targetDomain": "SEARCH_PAGES", "type": "EDIT", "targetId": "*" }```</details>'
      tags:
      - Zendesk
      summary: Unlink the Zendesk Installation
      parameters:
      - description: The unique identifier of the target Coveo Cloud [organization](https://docs.coveo.com/en/185) (e.g., 'mycoveocloudv2organizationg8tp8wu3').
        name: organizationID
        in: path
        required: true
        schema:
          type: string
      - description: The Zendesk Installation Id.
        name: installationId
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The organization was successfully unlinked
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/swaggermodels.ResponseApplicationErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/swaggermodels.ResponseApplicationErrorUnauthorized'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/swaggermodels.ResponseApplicationErrorInternalServerError'
components:
  schemas:
    swaggermodels.ResponseApplicationErrorUnauthorized:
      type: object
      properties:
        errorCode:
          type: integer
          example: 401
        message:
          type: string
    swaggermodels.ResponseApplicationErrorBadRequest:
      type: object
      properties:
        errorCode:
          type: integer
          example: 400
        message:
          type: string
    swaggermodels.ResponseApplicationErrorInternalServerError:
      type: object
      properties:
        errorCode:
          type: integer
          example: 500
        message:
          type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: full
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
