openapi: 3.2.0
info:
  title: Coveo Source Salesforce Source Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Salesforce Source Configuration
paths:
  /rest/sourceconfiguration/salesforce/schema:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Complete Schema (objects and Fields)
      operationId: getSchema
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: getSchema
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/schema_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Complete Schema (objects and Fields)
      operationId: refreshSchema
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: refreshSchema
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/schema_post
  /rest/sourceconfiguration/salesforce/parseOTG:
    post:
      tags:
      - Salesforce Source Configuration
      summary: Parse an ObjectsToGet to a Schema
      operationId: parseOTG
      parameters:
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: parseOTG
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/parseOTG_post
  /rest/sourceconfiguration/salesforce/objects:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Objects
      operationId: getDefaultObjects
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: serviceCloudIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: knowledgeIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: contentIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: chatterIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeProductsIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: cloudCrazeOrdersIndexed
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: getDefaultObjects
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Objects
      operationId: refreshObjects
      parameters:
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: refreshObjects
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects_post
  /rest/sourceconfiguration/salesforce/objects/{objectName}/fields:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get Fields for a Given Object
      operationId: getFields
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceField'
      deprecated: true
      x-pretty-name: getFields
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId/fields_get
    post:
      tags:
      - Salesforce Source Configuration
      summary: Refresh Fields for a Given Object
      operationId: refreshFields
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceField'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesforceField'
      x-pretty-name: refreshFields
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId/fields_post
  /rest/sourceconfiguration/salesforce/generateOTG:
    post:
      tags:
      - Salesforce Source Configuration
      summary: Generate an ObjectsToGet Given a Schema
      operationId: generateOTG
      parameters:
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SalesforceObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      x-pretty-name: generateOTG
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/generateOTG_post
  /rest/sourceconfiguration/salesforce/objects/{objectName}:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get the Information for a Given Object
      operationId: getObject
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalesforceObject'
      x-pretty-name: getObject
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId_get
  /rest/sourceconfiguration/salesforce/objects/{objectName}/{relationshipName}:
    get:
      tags:
      - Salesforce Source Configuration
      summary: Get the Information for a Given Object Relationship
      operationId: getRelationship
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: relationshipName
        in: path
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: idUrl
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshToken
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: refreshTokenGuid
        in: query
        required: false
        schema:
          type: string
          default: ''
      - name: schemaVersion
        in: query
        required: false
        schema:
          type: string
          default: EXPRESS
          enum:
          - CLOUDV1
          - LEGACY
          - EXPRESS
      - name: sandbox
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalesforceRelationship'
      x-pretty-name: getRelationship
      x-ui-operation-id: /rest/sourceconfiguration/salesforce/objects/paramId/paramId_get
components:
  schemas:
    SalesforceObject:
      type: object
      properties:
        type:
          type: string
          enum:
          - SERVICE_CLOUD
          - CHATTER
          - CONTENT
          - KNOWLEDGEBASE
          - CUSTOM
        name:
          type: string
        label:
          type: string
        indexed:
          type: boolean
        filesIndexed:
          type: boolean
        canHaveFiles:
          type: boolean
        custom:
          type: boolean
        hasCustomFiletype:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceField'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceRelationship'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceCondition'
        searchable:
          type: boolean
        categories:
          type: array
          items:
            type: string
            enum:
            - SERVICE_CLOUD
            - EXPERIENCE_CLOUD
            - KNOWLEDGE
            - CUSTOM_OBJECT
            - STANDARD
            - CHATTER
    MappingModel:
      type: object
      properties:
        id:
          type: string
        kind:
          type: string
          deprecated: true
          enum:
          - COMMON
          - MAPPING
        type:
          type: string
        fieldName:
          type: string
        extractionMethod:
          type: string
        content:
          type: string
          deprecated: true
        rules:
          type: array
          items:
            type: string
        fieldTypeHint:
          type: string
          enum:
          - LONG
          - LONG_64
          - DOUBLE
          - DATE
          - STRING
          - VECTOR
    SalesforceField:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        nestedLabel:
          type: string
        type:
          type: string
        indexed:
          type: boolean
        mandatory:
          type: boolean
        custom:
          type: boolean
        mappings:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/MappingModel'
        values:
          type: array
          items:
            type: string
        referenceTypes:
          type: array
          items:
            type: string
        relationshipName:
          type: string
        relationshipNameField:
          type: string
        relationshipParent:
          type: boolean
        relationshipPolymorphic:
          type: boolean
    SalesforceCondition:
      type: object
      properties:
        fieldName:
          type: string
        operator:
          type: string
          enum:
          - EQUALS
          - NOT_EQUALS
          - LESS_THAN
          - LESS_OR_EQUAL_THAN
          - GREATER_THAN
          - GREATER_OR_EQUAL_THAN
          - LIKE
          - NOT_LIKE
          - INCLUDES
          - EXCLUDES
          - IN
          - NOT_IN
        value:
          type: string
        inConditionValues:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceInConditionValue'
    SalesforceInConditionValue:
      type: object
      properties:
        type:
          type: string
          enum:
          - SOQL_STRING
          - SOQL_ID
          - SOQL_DATETIME
          - SOQL_BOOLEAN
          - SOQL_OTHER
        value:
          type: string
    SalesforceRelationship:
      type: object
      properties:
        relationshipName:
          type: string
        relationshipType:
          type: string
          enum:
          - NON_POLYMORPHIC_PARENT
          - POLYMORPHIC_PARENT
          - CHILD
        referenceField:
          type: string
        referencesTo:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceField'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/SalesforceCondition'
        createRecord:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
