openapi: 3.2.0
info:
  title: Coveo Authorization Server Group Realms API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Group Realms
paths:
  /rest/organizations/{organizationId}/groups/{groupId}/realms:
    get:
      tags:
      - Group Realms
      summary: List Realms
      description: 'Lists the realms of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupRealms
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getGroupRealms
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms_get
    post:
      tags:
      - Group Realms
      summary: Add Realm
      description: 'Adds a realm to a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: addGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealmModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RealmModel'
      x-pretty-name: addGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms_post
  /rest/organizations/{organizationId}/groups/{groupId}/realms/{realmId}:
    get:
      tags:
      - Group Realms
      summary: Show Realm
      description: 'Shows a realm of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: realmId
        in: path
        description: The unique identifier of the realm to show.</br>**Example:** `website-domain-coveo.com`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms/paramId_get
    delete:
      tags:
      - Group Realms
      summary: Destroy Realm
      description: 'Destroys a realm of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: deleteGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: realmId
        in: path
        description: The unique identifier of  the realm to delete.</br>**Example:** `website-domain-coveo.com`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms/paramId_delete
components:
  schemas:
    RealmModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `example-domain.com`
        provider:
          type: string
          description: The provider of the realm.
          enum:
          - SALESFORCE
          - SALESFORCE_SANDBOX
          - GOOGLE
          - OFFICE365
          - SAML
          - EMAIL
        displayName:
          type: string
          description: The display name of the realm.</br>**Example:** `example.com`
        samlIdentityProviderId:
          type: string
          description: The unique identifier of the realm.</br>**Example:** `myprovider`
      description: The realm to add.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
