openapi: 3.0.1
info:
  title: Coveo Workspace API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
paths:
  /rest/organizations/{organizationId}/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Get Project
      description: 'Gets a project for a given organization.</br>**Required privilege:**` Projects - View`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectModel'
      x-pretty-name: getProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId_get
    put:
      tags:
      - Projects
      summary: Update Project
      description: 'Updates a project for a given organization.</br>**Required privilege:**` Projects - Edit`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectModel'
      x-pretty-name: updateProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId_put
    delete:
      tags:
      - Projects
      summary: Delete Project
      description: 'Deletes a project for a given organization.</br>**Required privilege:**` Projects - Edit`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId_delete
  /rest/organizations/{organizationId}/projects/{projectId}/resources/{resourceType}/{resourceId}:
    put:
      tags:
      - Projects
      summary: Add a Single Resource to a Project.
      description: 'Add a single resource to a project.</br>**Required privileges:**` Projects - Edit` and `Resource types
        - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: addResourceToProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of a [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectModel'
      x-pretty-name: addResourceToProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId/resources/paramId/paramId_put
    delete:
      tags:
      - Projects
      summary: Remove a Specific Resource from a Project.
      description: 'Remove a specific resource from a project.</br>**Required privileges:**` Projects - Edit` and `Resource
        types - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: removeResourceFromProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of a [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: removeResourceFromProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId/resources/paramId/paramId_delete
  /rest/organizations/{organizationId}/projects:
    get:
      tags:
      - Projects
      summary: Get Projects
      description: 'Gets projects for a given organization.</br>**Required privilege:**` Projects - View`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getProjects
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The text to filter projects by (applied to the project id, name, and pointsOfContact properties).<br/>**Example:**
          `Project123`
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: The property to sort the results by.<br/>**Example:** `NAME`
        required: false
        schema:
          type: string
          enum:
          - NAME
          - CREATED_BY
          - UPDATED_BY
          - CREATED_DATE
          - UPDATED_DATE
          - POINT_OF_CONTACT
          default: CREATED_DATE
      - name: order
        in: query
        description: The sorting order of the results.<br/>**Default:** `DESC`
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
          default: DESC
      - name: page
        in: query
        description: The 0-based number of the results page to fetch.<br/>**Default:** `0`
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to fetch per page.<br/>**Default:** `50`
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelProjectModel'
      x-pretty-name: getProjects
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects_get
    post:
      tags:
      - Projects
      summary: Create Project
      description: 'Creates a project for a given organization.</br>**Required privilege:**` Projects - Create`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectModel'
      x-pretty-name: createProject
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects_post
  /rest/organizations/{organizationId}/projects/resources/{resourceId}/projectids:
    post:
      tags:
      - Projects
      summary: Set the Project Ids Associated with Provided Resource of Type.
      description: 'Set the project ids associated with provided resource of type. Body must be an array, use an empty array
        to clear projectIds.</br>**Required privileges:**` Projects - Edit` and `Resource types - View`<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: setResourceProjectIds
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: resourceType
        in: query
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      - name: resourceId
        in: path
        description: The unique identifier of a [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: setResourceProjectIds
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/resources/paramId/projectids_post
  /rest/organizations/{organizationId}/projects/resources/ids:
    get:
      tags:
      - Projects
      summary: Get Resources of Specified Type Within a Project.
      description: 'Get resources of specified type within a project.</br>**Required privileges:**` Projects - View` and `Resource
        types - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getResourcesByProjectId
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: resourceType
        in: query
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceWithProjectIds'
      x-pretty-name: getResourcesByProjectId
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/resources/ids_get
    post:
      tags:
      - Projects
      summary: Get Project Ids Associated with Provided Resource Ids and Type.
      description: 'Get project ids associated with provided resource ids and type.</br>**Required privileges:**` Projects
        - View` and `Resource types - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getResourcesByResourceIds
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: resourceType
        in: query
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceWithProjectIds'
      x-pretty-name: getResourcesByResourceIds
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/resources/ids_post
  /rest/organizations/{organizationId}/resources/{resourceType}:
    get:
      tags:
      - Resources
      summary: Get Resources
      description: 'Gets resources by resource type for a given organization.</br>**Required privilege:**` {resourceType}
        - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAllResourcesDetailsByResourceType
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: The type of the [resource](https://docs.coveo.com/2820).<br/>**Example:** `SOURCE`
        required: true
        schema:
          type: string
          enum:
          - SOURCE
          - CRAWLING_MODULE
          - SECURITY_PROVIDER
          - EXTENSION
          - SEARCH_PAGE
          - QUERY_PIPELINE
          - UA_REPORT
          - ML_MODEL
          - CATALOG
          - CASE_ASSIST
          - IN_PRODUCT_EXPERIENCE
          - INSIGHT_PANEL
          - SEARCH_HUB
          - STOREFRONT_ASSOCIATION
          - TRACKING_ID
          - FIELD
          - DATA_COLLECTION
      - name: filter
        in: query
        description: The text to filter resources by (applied to the resource id and name properties).<br/>**Example:** `My
          Web source`
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the results page to fetch.<br/>**Default:** `0`
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to fetch per page.<br/>**Default:** `50`
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelProjectResourceModel'
      x-pretty-name: getAllResourcesDetailsByResourceType
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/resources/paramId_get
  /rest/organizations/{organizationId}/projects/{projectId}/resources:
    get:
      tags:
      - Projects
      summary: Get Resource Ids Grouped by Resource Status.
      description: 'Gets resource ids grouped by resource status for a given project.</br>**Required privileges:**` Projects
        - View` and `Resource types - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getProjectResourcesByStatus
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectResourceStatusModel'
      x-pretty-name: getProjectResourcesByStatus
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId/resources_get
  /rest/organizations/{organizationId}/projects/{projectId}/resources/{resourceType}:
    get:
      tags:
      - Projects
      summary: Get Resource Details by Type.
      description: 'Gets resource details by resource type for a given project.</br>**Required privileges:**` Projects - View`
        and `{resourceType} - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getProjectResourcesDetailsByResourceType
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: The type of the [resource](https://docs.coveo.com/2820).<br/>**Example:** `SOURCE`
        required: true
        schema:
          type: string
          enum:
          - SOURCE
          - CRAWLING_MODULE
          - SECURITY_PROVIDER
          - EXTENSION
          - SEARCH_PAGE
          - QUERY_PIPELINE
          - UA_REPORT
          - ML_MODEL
          - CATALOG
          - CASE_ASSIST
          - IN_PRODUCT_EXPERIENCE
          - INSIGHT_PANEL
          - SEARCH_HUB
          - STOREFRONT_ASSOCIATION
          - TRACKING_ID
          - FIELD
          - DATA_COLLECTION
      - name: filter
        in: query
        description: The text to filter resources by (applied to the resource id and name properties).<br/>**Example:** `My
          Web source`
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the results page to fetch.<br/>**Default:** `0`
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to fetch per page.<br/>**Default:** `50`
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelProjectResourceModel'
      x-pretty-name: getProjectResourcesDetailsByResourceType
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId/resources/paramId_get
  /rest/organizations/{organizationId}/projects/{projectId}/resources/{resourceType}/ids:
    get:
      tags:
      - Projects
      summary: Get All Resource Ids of Specified Type Within a Project.
      description: 'Get all resource ids of specified type within a project.</br>**Required privileges:**` Projects - View`
        and `{resourceType} - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAllProjectResourceIdsOfType
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).<br/>**Example:** `uwthtvihpqjbzktjdfexk3covi`
        required: true
        schema:
          type: string
      - name: resourceType
        in: path
        description: The type of the [resource](https://docs.coveo.com/2820).<br/>**Example:** `SOURCE`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      x-pretty-name: getAllProjectResourceIdsOfType
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/paramId/resources/paramId/ids_get
  /rest/organizations/{organizationId}/projects/resources/ids/page:
    get:
      tags:
      - Projects
      summary: Get Paginated Resources of Specified Type Within a Project.
      description: 'Get paginated resources of specified type within a project.</br>**Required privileges:**` Projects - View`
        and `Resource types - View`<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"PROJECTS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getResourcesByProjectIdByPage
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the [Coveo organization](https://docs.coveo.com/en/185/).<br/>**Example:** `startingorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: resourceType
        in: query
        description: The type of the [resource](https://docs.coveo.com/2820).
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the results page to fetch.<br/>**Default:** `0`
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of results to fetch per page.<br/>**Default:** `50`
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelResourceWithProjectIds'
      x-pretty-name: getResourcesByProjectIdByPage
      x-required-privilege:
        owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: PROJECTS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/projects/resources/ids/page_get
components:
  schemas:
    ProjectModel:
      required:
      - description
      - name
      - type
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the [project](https://docs.coveo.com/n7ed6189/).
          readOnly: true
          example: uwthtvihpqjbzktjdfexk3covi
        name:
          maxLength: 255
          minLength: 3
          type: string
          description: The name of the project.
          example: Project maple
        description:
          maxLength: 510
          minLength: 3
          type: string
          description: The description of the project.
          example: Project maple contains the maple related resources.
        type:
          type: string
          description: The project type.
          example: COMMERCE
          enum:
          - CASE_DEFLECTION
          - COMMERCE
          - COMMUNITY_PORTAL
          - CORPORATE_WEBSITE
          - HR_EMPLOYEE_PORTAL
          - INTRANET
          - IN_PRODUCT_SEARCH
          - IT_EMPLOYEE_PORTAL
          - OTHER
          - SUPPORT_EXPERIENCE
          - SUPPORT_PORTAL
        createdBy:
          type: string
          description: The username of the project creator.
          readOnly: true
          example: jdoe@example.com
        updatedBy:
          type: string
          description: The username of the user that last updated the project.
          readOnly: true
          example: jdoe@example.com
        pointsOfContact:
          type: array
          description: The list of emails that will be points of contact for the project.
          example:
          - johndoe@example.com
          - janedoe@example.com
          items:
            type: string
            description: The list of emails that will be points of contact for the project.
            example: '["johndoe@example.com","janedoe@example.com"]'
        resources:
          type: object
          additionalProperties:
            type: array
            description: The resource ids grouped by resource types.
            example:
              SOURCE:
              - source-123
              CRAWLING_MODULE:
              - crawling-module-123
              SECURITY_PROVIDER:
              - security-provider-123
              EXTENSION:
              - extension-123
              SEARCH_PAGE:
              - search-page-123
              QUERY_PIPELINE:
              - query-pipeline-123
              UA_REPORT:
              - ua-report-123
              ML_MODEL:
              - ml-model-123
              CATALOG:
              - catalog-123
              CASE_ASSIST:
              - case-assist-123
              IN_PRODUCT_EXPERIENCE:
              - in-product-experience-123
              INSIGHT_PANEL:
              - insight-panel-123
              SEARCH_HUB:
              - search-hub-123
            items:
              type: string
              description: The resource ids grouped by resource types.
              example: '{"SOURCE":["source-123"],"CRAWLING_MODULE":["crawling-module-123"],"SECURITY_PROVIDER":["security-provider-123"],"EXTENSION":["extension-123"],"SEARCH_PAGE":["search-page-123"],"QUERY_PIPELINE":["query-pipeline-123"],"UA_REPORT":["ua-report-123"],"ML_MODEL":["ml-model-123"],"CATALOG":["catalog-123"],"CASE_ASSIST":["case-assist-123"],"IN_PRODUCT_EXPERIENCE":["in-product-experience-123"],"INSIGHT_PANEL":["insight-panel-123"],"SEARCH_HUB":["search-hub-123"]}'
          description: The resource ids grouped by resource types.
          example:
            SOURCE:
            - source-123
            CRAWLING_MODULE:
            - crawling-module-123
            SECURITY_PROVIDER:
            - security-provider-123
            EXTENSION:
            - extension-123
            SEARCH_PAGE:
            - search-page-123
            QUERY_PIPELINE:
            - query-pipeline-123
            UA_REPORT:
            - ua-report-123
            ML_MODEL:
            - ml-model-123
            CATALOG:
            - catalog-123
            CASE_ASSIST:
            - case-assist-123
            IN_PRODUCT_EXPERIENCE:
            - in-product-experience-123
            INSIGHT_PANEL:
            - insight-panel-123
            SEARCH_HUB:
            - search-hub-123
        createdDate:
          type: string
          description: The date of creation of the project in number of milliseconds since UNIX epoch.
          format: date-time
          readOnly: true
        updatedDate:
          type: string
          description: The date at which the report was created in number of milliseconds since UNIX epoch.
          format: date-time
          readOnly: true
        editNotificationsEnabled:
          type: boolean
          description: Controls whether project-specific edit confirmation prompts are shown for associated resources.
          example: true
        createdFrom:
          type: string
          description: The source or origin where the project was created from.
          example: SHOPIFY
      description: A project.
    ResourceWithProjectIds:
      type: object
      properties:
        id:
          type: string
        projectIds:
          type: array
          items:
            type: string
    PageModelProjectResourceModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectResourceModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    ProjectResourceModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of a [resource](https://docs.coveo.com/2820).
          readOnly: true
          example: 3987990e-0f0d-440f-bcf6-22279078a20f
        name:
          type: string
          description: The name of the [resource](https://docs.coveo.com/2820).
          readOnly: true
          example: My Web source
        type:
          type: string
          description: The resource type subset that the resource belongs to (often reflected in the related Coveo Administration
            Console resource list page).
          readOnly: true
          example: WEB2
        version:
          type: string
          description: The resource version.
          readOnly: true
          example: 1.2.3
        additionalInfo:
          type: object
          additionalProperties:
            type: object
            description: Additional information about the resource.
            readOnly: true
            example:
              CatalogName: Test Catalog
          description: Additional information about the resource.
          readOnly: true
          example:
            CatalogName: Test Catalog
      description: A resource.
    PageModelProjectModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    ProjectResourceStatusModel:
      type: object
      properties:
        existingResources:
          type: object
          additionalProperties:
            type: array
            description: The resource ids of a project that exist grouped by resource types.
            example:
              SOURCE:
              - source-123
              CRAWLING_MODULE:
              - crawling-module-123
              SECURITY_PROVIDER:
              - security-provider-123
              EXTENSION:
              - extension-123
              SEARCH_PAGE:
              - search-page-123
              QUERY_PIPELINE:
              - query-pipeline-123
              UA_REPORT:
              - ua-report-123
              ML_MODEL:
              - ml-model-123
              CATALOG:
              - catalog-123
              CASE_ASSIST:
              - case-assist-123
              IN_PRODUCT_EXPERIENCE:
              - in-product-experience-123
              INSIGHT_PANEL:
              - insight-panel-123
              SEARCH_HUB:
              - search-hub-123
            items:
              type: string
              description: The resource ids of a project that exist grouped by resource types.
              example: '{"SOURCE":["source-123"],"CRAWLING_MODULE":["crawling-module-123"],"SECURITY_PROVIDER":["security-provider-123"],"EXTENSION":["extension-123"],"SEARCH_PAGE":["search-page-123"],"QUERY_PIPELINE":["query-pipeline-123"],"UA_REPORT":["ua-report-123"],"ML_MODEL":["ml-model-123"],"CATALOG":["catalog-123"],"CASE_ASSIST":["case-assist-123"],"IN_PRODUCT_EXPERIENCE":["in-product-experience-123"],"INSIGHT_PANEL":["insight-panel-123"],"SEARCH_HUB":["search-hub-123"]}'
          description: The resource ids of a project that exist grouped by resource types.
          example:
            SOURCE:
            - source-123
            CRAWLING_MODULE:
            - crawling-module-123
            SECURITY_PROVIDER:
            - security-provider-123
            EXTENSION:
            - extension-123
            SEARCH_PAGE:
            - search-page-123
            QUERY_PIPELINE:
            - query-pipeline-123
            UA_REPORT:
            - ua-report-123
            ML_MODEL:
            - ml-model-123
            CATALOG:
            - catalog-123
            CASE_ASSIST:
            - case-assist-123
            IN_PRODUCT_EXPERIENCE:
            - in-product-experience-123
            INSIGHT_PANEL:
            - insight-panel-123
            SEARCH_HUB:
            - search-hub-123
        noAccessResources:
          type: object
          additionalProperties:
            type: array
            description: The resource ids of a project that current user cannot access grouped by resource types.
            example:
              SOURCE:
              - source-123
              CRAWLING_MODULE:
              - crawling-module-123
              SECURITY_PROVIDER:
              - security-provider-123
              EXTENSION:
              - extension-123
              SEARCH_PAGE:
              - search-page-123
              QUERY_PIPELINE:
              - query-pipeline-123
              UA_REPORT:
              - ua-report-123
              ML_MODEL:
              - ml-model-123
              CATALOG:
              - catalog-123
              CASE_ASSIST:
              - case-assist-123
              IN_PRODUCT_EXPERIENCE:
              - in-product-experience-123
              INSIGHT_PANEL:
              - insight-panel-123
              SEARCH_HUB:
              - search-hub-123
            items:
              type: string
              description: The resource ids of a project that current user cannot access grouped by resource types.
              example: '{"SOURCE":["source-123"],"CRAWLING_MODULE":["crawling-module-123"],"SECURITY_PROVIDER":["security-provider-123"],"EXTENSION":["extension-123"],"SEARCH_PAGE":["search-page-123"],"QUERY_PIPELINE":["query-pipeline-123"],"UA_REPORT":["ua-report-123"],"ML_MODEL":["ml-model-123"],"CATALOG":["catalog-123"],"CASE_ASSIST":["case-assist-123"],"IN_PRODUCT_EXPERIENCE":["in-product-experience-123"],"INSIGHT_PANEL":["insight-panel-123"],"SEARCH_HUB":["search-hub-123"]}'
          description: The resource ids of a project that current user cannot access grouped by resource types.
          example:
            SOURCE:
            - source-123
            CRAWLING_MODULE:
            - crawling-module-123
            SECURITY_PROVIDER:
            - security-provider-123
            EXTENSION:
            - extension-123
            SEARCH_PAGE:
            - search-page-123
            QUERY_PIPELINE:
            - query-pipeline-123
            UA_REPORT:
            - ua-report-123
            ML_MODEL:
            - ml-model-123
            CATALOG:
            - catalog-123
            CASE_ASSIST:
            - case-assist-123
            IN_PRODUCT_EXPERIENCE:
            - in-product-experience-123
            INSIGHT_PANEL:
            - insight-panel-123
            SEARCH_HUB:
            - search-hub-123
        deletedResources:
          type: object
          additionalProperties:
            type: array
            description: The resource ids of a project that no longer exist grouped by resource types.
            example:
              SOURCE:
              - source-123
              CRAWLING_MODULE:
              - crawling-module-123
              SECURITY_PROVIDER:
              - security-provider-123
              EXTENSION:
              - extension-123
              SEARCH_PAGE:
              - search-page-123
              QUERY_PIPELINE:
              - query-pipeline-123
              UA_REPORT:
              - ua-report-123
              ML_MODEL:
              - ml-model-123
              CATALOG:
              - catalog-123
              CASE_ASSIST:
              - case-assist-123
              IN_PRODUCT_EXPERIENCE:
              - in-product-experience-123
              INSIGHT_PANEL:
              - insight-panel-123
              SEARCH_HUB:
              - search-hub-123
            items:
              type: string
              description: The resource ids of a project that no longer exist grouped by resource types.
              example: '{"SOURCE":["source-123"],"CRAWLING_MODULE":["crawling-module-123"],"SECURITY_PROVIDER":["security-provider-123"],"EXTENSION":["extension-123"],"SEARCH_PAGE":["search-page-123"],"QUERY_PIPELINE":["query-pipeline-123"],"UA_REPORT":["ua-report-123"],"ML_MODEL":["ml-model-123"],"CATALOG":["catalog-123"],"CASE_ASSIST":["case-assist-123"],"IN_PRODUCT_EXPERIENCE":["in-product-experience-123"],"INSIGHT_PANEL":["insight-panel-123"],"SEARCH_HUB":["search-hub-123"]}'
          description: The resource ids of a project that no longer exist grouped by resource types.
          example:
            SOURCE:
            - source-123
            CRAWLING_MODULE:
            - crawling-module-123
            SECURITY_PROVIDER:
            - security-provider-123
            EXTENSION:
            - extension-123
            SEARCH_PAGE:
            - search-page-123
            QUERY_PIPELINE:
            - query-pipeline-123
            UA_REPORT:
            - ua-report-123
            ML_MODEL:
            - ml-model-123
            CATALOG:
            - catalog-123
            CASE_ASSIST:
            - case-assist-123
            IN_PRODUCT_EXPERIENCE:
            - in-product-experience-123
            INSIGHT_PANEL:
            - insight-panel-123
            SEARCH_HUB:
            - search-hub-123
      description: Resources
    PageModelResourceWithProjectIds:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ResourceWithProjectIds'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
