openapi: 3.2.0
info:
  title: Coveo Search Usage Metrics Service Search Hubs API
  version: 1.0.0
  description: Documentation for Coveo Search Usage Metrics Service
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: ''
    url: ''
    email: support@coveo.com
  license:
    name: ''
    url: ''
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Search Hubs
paths:
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/:
    post:
      operationId: createSearchHub
      summary: Creates a Search Hub in the Organization
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: No response
      security:
      - oauth2:
        - full
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestSearchHub'
        description: The search hub data
        required: true
    get:
      operationId: listSearchHubs
      summary: Lists the Search Hubs for an Organization
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: minimumQueries
        description: The minimum number of queries required for a search hub to be listed
        required: false
        in: query
        schema:
          type: string
          default: '1'
      - name: filter
        description: The free-form string to filter the returned list based on the values of the search hub attributes.
        required: false
        in: query
        schema:
          type: string
      - name: pageSize
        description: The maximum number of organizations to list per page.
        required: false
        in: query
        schema:
          type: integer
          format: int32
          default: '100'
      - name: page
        description: The 0-based index number of the page to list.
        required: false
        in: query
        schema:
          type: integer
          format: int32
          default: '0'
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestSearchHub'
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/{hubName}:
    delete:
      operationId: deleteSearchHub
      summary: Deletes a Search Hub for an Organization
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: hubName
        description: The search hub name
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: No response
      security:
      - oauth2:
        - full
    get:
      operationId: getSearchHub
      summary: Gets a Specific Search Hub for an Organization
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: hubName
        description: The search hub name
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSearchHub'
      security:
      - oauth2:
        - full
    put:
      operationId: updateSearchHub
      summary: Updates a Search Hub in an Organization
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: hubName
        description: The search hub name
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: No response
      security:
      - oauth2:
        - full
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestSearchHub'
        description: The search hub data
        required: true
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/{hubName}/bucket:
    put:
      operationId: updateSearchHubBucket
      summary: Updates a Search Hub Bucket in an Organization, Creating the Hub If Required
      tags:
      - Search Hubs
      deprecated: false
      parameters:
      - name: bucket
        description: The search hub bucket
        required: true
        in: query
        schema:
          type: string
      - name: hubName
        description: The search hub name
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: No response
      security:
      - oauth2:
        - full
components:
  schemas:
    RestSearchHub:
      type: object
      properties:
        name:
          example: '"myhub"'
          description: The name of the search hub
          type: string
        bucket:
          example: '"qpm"'
          description: The usage bucket to count queries from this hub into
          type: string
        description:
          example: '"Public search page"'
          description: A description for the search hub
          type: string
      required:
      - name
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: full
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
      description: OAuth2
