openapi: 3.0.1
info:
  title: Coveo Activity Activities Security Identity API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- description: Manage security identities in a security identity provider
  name: Security Identity
paths:
  /organizations/{organizationId}/providers/{providerId}/mappings:
    put:
      consumes:
      - application/json
      description: Adds or updates a single security identity alias pointing to one or several security identities in other security identity providers.
      externalDocs:
        description: Add or update a single alias
        url: https://docs.coveo.com/en/142/
      parameters:
      - description: "The unique identifier of the target security identity provider (see [Create a security provider](https://docs.coveo.com/en/85/index-content/create-or-update-a-security-identity-provider-for-a-secured-push-source#create-a-security-provider)).  \n**Example:** `My Secured Push Source Security Identity Provider`"
        in: path
        name: providerId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      - description: "A value indicating the order of arrival of the Push operation in the Coveo Cloud V2 indexing pipeline. A lower value corresponds to an older operation.  \nBy default, the service automatically sets this parameter to the current number of milliseconds since Unix Epoch.  \nSpecifying a custom `orderingId` value is typically not recommended unless you know what you are doing and have a good reason to do so (see [About the orderingId parameter](https://docs.coveo.com/en/147/)).  \n**Example:**  `1506700606240`"
        format: int64
        in: query
        name: orderingId
        required: false
        type: integer
      - description: The security identity alias definition.
        in: body
        name: mappedIdentityBody
        required: true
        schema:
          $ref: '#/definitions/MappedIdentityBody'
      responses:
        '202':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Add or Update an Alias
      tags:
      - Security Identity
      x-pretty-name: addUpdateMappedIdentity
  /organizations/{organizationId}/providers/{providerId}/permissions:
    delete:
      consumes:
      - application/json
      description: Disables a single security identity in the security identity provider of a secured Push source.
      externalDocs:
        description: Disable a single security identity
        url: https://docs.coveo.com/en/84/
      parameters:
      - description: "The unique identifier of the target security identity provider (see [Create a security provider](https://docs.coveo.com/en/85/index-content/create-or-update-a-security-identity-provider-for-a-secured-push-source#create-a-security-provider)).  \n**Example:** `My Secured Push Source Security Identity Provider`"
        in: path
        name: providerId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      - description: "A value indicating the order of arrival of the Push operation in the Coveo Cloud V2 indexing pipeline. A lower value corresponds to an older operation.  \nBy default, the service automatically sets this parameter to the current number of milliseconds since Unix Epoch.  \nSpecifying a custom `orderingId` value is typically not recommended unless you know what you are doing and have a good reason to do so (see [About the orderingId parameter](https://docs.coveo.com/en/147/)).  \n**Example:**  `1506700606240`"
        format: int64
        in: query
        name: orderingId
        required: false
        type: integer
      - description: The security identity to delete.
        in: body
        name: baseIdentityBody
        required: true
        schema:
          $ref: '#/definitions/BaseIdentityBody'
      produces:
      - application/json
      responses:
        '202':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Delete a Security Identity
      tags:
      - Security Identity
      x-pretty-name: deleteIdentity
    put:
      consumes:
      - application/json
      description: Adds or updates a single security identity in the security identity provider of a secured Push source.
      externalDocs:
        description: Add or update a single security identity
        url: https://docs.coveo.com/en/167/
      parameters:
      - description: "The unique identifier of the target security identity provider (see [Create a security provider](https://docs.coveo.com/en/85/index-content/create-or-update-a-security-identity-provider-for-a-secured-push-source#create-a-security-provider)).  \n**Example:** `My Secured Push Source Security Identity Provider`"
        in: path
        name: providerId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      - description: "A value indicating the order of arrival of the Push operation in the Coveo Cloud V2 indexing pipeline. A lower value corresponds to an older operation.  \nBy default, the service automatically sets this parameter to the current number of milliseconds since Unix Epoch.  \nSpecifying a custom `orderingId` value is typically not recommended unless you know what you are doing and have a good reason to do so (see [About the orderingId parameter](https://docs.coveo.com/en/147/)).  \n**Example:**  `1506700606240`"
        format: int64
        in: query
        name: orderingId
        required: false
        type: integer
      - description: The security identity to add or update.
        in: body
        name: identityBody
        required: true
        schema:
          $ref: '#/definitions/IdentityBody'
      produces:
      - application/json
      responses:
        '202':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Add or Update a Security Identity
      tags:
      - Security Identity
      x-pretty-name: addUpdateIdentity
  /organizations/{organizationId}/providers/{providerId}/permissions/batch:
    put:
      consumes:
      - application/json
      description: Manages a batch of security identities in the security identity provider of a secured Push source.
      externalDocs:
        description: Manage batches of security identities
        url: https://docs.coveo.com/en/55/
      parameters:
      - description: "The unique identifier of the target security identity provider (see [Create a security provider](https://docs.coveo.com/en/85/index-content/create-or-update-a-security-identity-provider-for-a-secured-push-source#create-a-security-provider)).  \n**Example:** `My Secured Push Source Security Identity Provider`"
        in: path
        name: providerId
        required: true
        type: string
      - description: The unique identifier of the Amazon S3 file container into which the JSON definition of the security identity update was previously uploaded (see [Create a file container](https://docs.coveo.com/en/43/)).
        in: query
        name: fileId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      - description: "A value indicating the order of arrival of the Push operation in the Coveo Cloud V2 indexing pipeline. A lower value corresponds to an older operation.  \nBy default, the service automatically sets this parameter to the current number of milliseconds since Unix Epoch.  \nSpecifying a custom `orderingId` value is typically not recommended unless you know what you are doing and have a good reason to do so (see [About the orderingId parameter](https://docs.coveo.com/en/147/)).  \n**Example:**  `1506700606240`"
        format: int64
        in: query
        name: orderingId
        required: false
        type: integer
      produces:
      - application/json
      responses:
        '202':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Add, Update, and/or Delete a Batch of Security Identities
      tags:
      - Security Identity
      x-pretty-name: addUpdateDeleteBatchedIdentity
  /organizations/{organizationId}/providers/{providerId}/permissions/olderthan:
    delete:
      description: In a specific security identity provider, disables all security identities whose last update was made by a Push API operation whose `orderingId` is strictly lower than a specified value.
      externalDocs:
        description: Disable old security identities
        url: https://docs.coveo.com/en/33/
      parameters:
      - description: "The unique identifier of the target security identity provider (see [Create a security provider](https://docs.coveo.com/en/85/index-content/create-or-update-a-security-identity-provider-for-a-secured-push-source#create-a-security-provider)).  \n**Example:** `My Secured Push Source Security Identity Provider`"
        in: path
        name: providerId
        required: true
        type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        type: string
      - description: "The lowest Push API operation timestamp value a security identity must be associated to in order not to be deleted from the security identity provider.  \n**Example:** `1506700606240`"
        format: int64
        in: query
        name: orderingId
        required: true
        type: integer
      - description: "A grace period (in minutes) whose purpose is to give the Coveo Cloud V2 indexing pipeline enough time to finish processing any previously enqueued operation that would affect the target Push source. Default value is 15 minutes.  \n**Example:** `5`"
        format: int32
        in: query
        minimum: 0
        name: queueDelay
        required: false
        type: integer
      produces:
      - application/json
      responses:
        '202':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Retry-After:
              type: number
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
            Content-Security-Policy:
              type: string
            Referrer-Policy:
              type: string
            Strict-Transport-Security:
              type: string
            X-Content-Type-Options:
              type: string
            X-Frame-Options:
              type: string
            X-XSS-Protection:
              type: string
          schema:
            $ref: '#/definitions/Error'
      security:
      - oauth2:
        - full
      summary: Delete Old Security Identities
      tags:
      - Security Identity
      x-pretty-name: deleteIdentityOlderThan
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
definitions:
  EntityUpdateResult:
    properties:
      errorDetails:
        type: string
      result:
        enum:
        - Success
        - AccessDenied
        - TimedOut
        - EntityIsInvalid
        - EntityIsUnavailable
        - SecurityProviderIsUnavailable
        - SecurityProviderIsUnreachable
        - SecurityProviderIsNotReady
        - UnexpectedError
        type: string
    type: object
  MappedIdentityBody:
    properties:
      Result:
        $ref: '#/definitions/EntityUpdateResult'
        description: The security identity entity update result.
      identity:
        $ref: '#/definitions/Identity'
      mappings:
        items:
          $ref: '#/definitions/MappedIdentity'
          description: The security identities to establish an alias relationship with.
        type: array
      wellKnowns:
        items:
          $ref: '#/definitions/Identity'
          description: "The granted identities to give to this security identity alias.  \n**Notes:**  \n>- While all security identity types (i.e., `UNKNOWN`, `USER`, `GROUP`, and `VIRTUAL_GROUP`) are theoretically available, only security identities whose `type` is `GROUP` or `VIRTUAL_GROUP` should be given as granted identities.  \n>- For legacy reasons, the Push API requires you to specify *granted identities* in an array property whose name is `wellKnowns`."
        type: array
    type: object
  MappedIdentity:
    properties:
      additionalInfo:
        additionalProperties:
          type: string
        type: object
      name:
        description: "The unique name of the security identity to establish an alias relationship with.  \n**Example:** `\"alice@example.com\""
        type: string
      provider:
        description: "The unique identifier of the security identity provider where the security identity to establish an alias relationship with is defined.  \nThe security identity provider you are pushing the security identity alias to **must** cascade to this `provider`.  \n**Note:**  \n> Specifying a `provider` is only necessary when the security identity provider you are pushing the security identity alias to cascades to multiple security identity providers. If the target security identity provider cascades to a single security identity provider, the service automatically sets the `provider` value to the unique identifier of that cascading security identity provider.  \n**Example:** `\"My Security Identity Provider\""
        type: string
      type:
        description: "The type of the security identity to establish an alias relationship with.  \n**Note:**  \n> While all security identity types (i.e., `UNKNOWN`, `USER`, `GROUP`, and `VIRTUAL_GROUP`) are theoretically available, you should normally establish alias relationships exclusively between security identities whose `type` is `USER`.  \n**Example:** `\"USER\""
        enum:
        - USER
        - GROUP
        - VIRTUAL_GROUP
        - UNKNOWN
        type: string
    type: object
  Error:
    properties:
      errorCode:
        type: string
      message:
        type: string
    type: object
  IdentityBody:
    properties:
      Result:
        $ref: '#/definitions/EntityUpdateResult'
        description: The security identity entity update result.
      identity:
        $ref: '#/definitions/Identity'
      members:
        items:
          $ref: '#/definitions/Identity'
          description: "The security identities to include as children of this security identity.  \n**Notes:**  \n>- Only security identities whose `type` is `GROUP` or `VIRTUAL_GROUP` typically have an array of `members`.  \n>- A security identity in the `members` array can be of any valid `type` (i.e., `UNKNOWN`, `USER`, `GROUP`, or `VIRTUAL_GROUP`)."
        type: array
      wellKnowns:
        items:
          $ref: '#/definitions/Identity'
          description: "The granted identities to give to this security identity.  \n**Notes:**  \n>- While all security identity types (i.e., `UNKNOWN`, `USER`, `GROUP`, and `VIRTUAL_GROUP`) are theoretically available, only security identities whose `type` is `GROUP` or `VIRTUAL_GROUP` should be given as granted identities.  \n>- For legacy reasons, the Push API requires you to specify *granted identities* in an array property whose name is `wellKnowns`."
        type: array
    type: object
  BaseIdentityBody:
    properties:
      identity:
        $ref: '#/definitions/Identity'
    type: object
  Identity:
    properties:
      additionalInfo:
        additionalProperties:
          type: string
        type: object
      name:
        description: "The unique name of the security identity.  \n**Example:** `\"Alpha Group\""
        type: string
      type:
        description: "The security identity type.  \n- `UNKNOWN`: a security identity whose type is unknown.  \n- `USER`: an individual user security identity  \n- `GROUP`: an existing group in the original secured enterprise system. Groups can have members of any valid security identity `type` (i.e., `UNKNOWN`, `USER`, `GROUP`, or `VIRTUAL_GROUP`).  \n- `VIRTUAL_GROUP`: a group that does not exist in the original secured enterprise system. Mechanically, a `VIRTUAL_GROUP` works just like a `GROUP`.  \n**Example:** `\"GROUP\""
        enum:
        - USER
        - GROUP
        - VIRTUAL_GROUP
        - UNKNOWN
        type: string
    type: object
