openapi: 3.0.1
info:
  title: Coveo Activity Activities User Statistics API - Version 15 API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: User Statistics API - Version 15
paths:
  /v15/users/{userId}/alldata:
    delete:
      tags:
      - User Statistics API - Version 15
      summary: Delete the User Data
      operationId: delete__v15_users_{userId}_alldata
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataDeleteResponseV15'
  /v15/users/{userId}/overview:
    get:
      tags:
      - User Statistics API - Version 15
      summary: Get the Stats of a User
      operationId: get__v15_users_{userId}_overview
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: cached
        in: query
        description: cached
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatisticsResponseV15'
components:
  schemas:
    UserDataDeleteResponseV15:
      type: object
      properties:
        message:
          type: string
          description: System response to user data delete request
        userId:
          type: string
          description: The user Id.
        account:
          type: string
          description: The user account.
      description: A user delete request response
    UserStatisticsResponseV15:
      type: object
      properties:
        userId:
          type: string
          description: The user id.
        account:
          type: string
          description: The user account.
        stats:
          type: object
          additionalProperties:
            type: integer
            description: The number of search, click, and custom events logged by the user
            format: int64
          description: The number of search, click, and custom events logged by the user
      description: A user's statistics summary.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
