openapi: 3.2.0
info:
  description: The Source Logs API allows you to retrieve indexing pipeline logs for an organization, providing details about indexing activities.
  title: Source - prd Logs API
  version: '2016-03-03T13:22:11Z'
servers:
- url: https://api.cloud.coveo.com/push/v1
  description: Coveo public API endpoint
tags:
- description: Retrieve indexing pipeline logs
  name: Logs
paths:
  /organizations/{organizationId}:
    get:
      deprecated: true
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      - in: query
        name: sourceId
        required: false
        schema:
          type: string
      - in: query
        name: documentId
        required: false
        schema:
          type: string
      - in: query
        name: tasks
        required: false
        x-allowMultiple: true
        schema:
          type: string
      - in: query
        name: operations
        required: false
        x-allowMultiple: true
        schema:
          type: string
      - in: query
        name: results
        required: false
        x-allowMultiple: true
        schema:
          type: string
      - in: query
        name: from
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: to
        required: true
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        required: false
        schema:
          type: integer
      - in: query
        name: perPage
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Timeout
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Get Specified Source Document Logs
      tags:
      - Logs
      x-pretty-name: getDocumentLogsDeprecated
    post:
      description: Retrieves a page of indexing pipeline logs for a given time interval in a specific Coveo Cloud organization.
      parameters:
      - description: 'The unique identifier of the target Coveo Cloud organization.

          Example: `mycoveocloudorganizationg8tp8wu3`'
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the beginning of the range for which to retrieve indexing pipeline logs.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: from
        required: true
        schema:
          type: string
          format: date-time
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the end of the range for which to retrieve indexing pipeline logs.

          The end range must be within a week of the beginning range.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: to
        required: true
        schema:
          type: string
          format: date-time
      - description: The filter string against which to match document `uri` field values. See the `documentIdMatching` parameter to set the target kind of filter.<br />For example, setting the `documentId` parameter to `/attachment/` and setting the `documentIdMatching` parameter to `PARTIAL` means that the service will only retrieve logs of items whose `uri` field values contain the `/attachment/` substring.
        in: query
        name: documentId
        schema:
          type: string
      - description: 'The kind of filter to apply when matching the target `documentId` value against document `uri` field values.<br />**Allowed values:**<br />- `EXACT`: the `documentId` value must match exactly the document URI.<br />- `PARTIAL`: the `documentId` values must be a substring of the document URI.<br />- `WILDCARD`: the `documentId` may contain the wildcards `*` (one or more characters) and `?` (a single character) to match against document URIs.<br />**Default:** `EXACT`'
        in: query
        name: documentIdMatching
        required: false
        schema:
          type: string
          enum:
          - EXACT
          - PARTIAL
          - WILDCARD
      - description: 'The 0-based index number of the page to retrieve.

          Example: `5`'
        in: query
        name: page
        schema:
          type: integer
          minimum: 0
      - description: 'The number of indexing pipeline log entries to retrieve per page.

          Example: `50`'
        in: query
        name: perPage
        schema:
          type: integer
          minimum: 0
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogsResponseBodyModel'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Timeout
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Get Indexing Pipeline Logs
      tags:
      - Logs
      x-pretty-name: getDocumentLogs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLogsOrFacetsRequestBodyModel'
        description: The filters to apply when retrieving the indexing pipeline log entries.
        required: true
components:
  schemas:
    Error:
      properties:
        errorCode:
          type: string
        message:
          type: string
      type: object
    IndexingPipelineLogTasks:
      description: The _task_ filter value.
      enum:
      - CONSUMING
      - CONSUMING_BATCH
      - CRAWLING
      - STREAMING_EXTENSION
      - EXTENSION
      - INDEXING
      - MAPPING
      - PROCESSING
      - STREAMING
      - STREAMING_BATCH
      - PREINDEXING
      - VALIDATION
      type: string
    IndexingPipelineLogResults:
      description: The _result_ filter value.
      enum:
      - COMPLETED
      - ERROR
      - REJECTED
      - SKIPPED
      - WARNING
      type: string
    IndexingPipelineLogEntry:
      properties:
        datetime:
          description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) at which the action described by the log entry was performed in the indexing pipeline.

            Example: `2018-05-22T23:35:59.825Z`'
          format: date-time
          type: string
        guid:
          description: A unique log entry identifier.
          format: uuid
          type: string
        id:
          description: 'The URI of the item the log entry relates to.

            Example: `https://example.com/item.html`'
          type: string
        meta:
          description: 'Additional metadata about the indexing pipeline log entry.

            Example: `{"duration": "0.012"}`'
          type: object
        operation:
          $ref: '#/components/schemas/IndexingPipelineLogOperations'
        organizationId:
          description: 'The unique identifier of the Coveo Cloud organization the log entry was retrieved from.

            Example: `mycoveocloudorganizationg8tp8wu3`'
          type: string
        requestId:
          description: 'The unique identifier of the Source Logs API request that retrieved the log entry.

            Example: `f852c8h1-6428-484b-8339-0da88b2cf718`'
          type: string
        resourceId:
          description: 'The unique identifier of the indexing pipeline extension the log entry relates to.

            Example: `mycoveocloudorganizationg8tp8wu3-qp2fnxukqw7voteaiahlxfkf7i`'
          type: string
        result:
          $ref: '#/components/schemas/IndexingPipelineLogResults'
        sourceId:
          description: 'The unique identifier of the source the log entry relates to.

            Example: `w1zh6p45vh7s2uxzvg3s7kg85m-mycoveocloudorganizationg8tp8wu3`'
          type: string
        task:
          $ref: '#/components/schemas/IndexingPipelineLogTasks'
      type: object
    GetLogsResponseBodyModel:
      properties:
        documentLogEntries:
          description: The retrieved indexing pipeline log entries.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogEntry'
          type: array
        hasNextPage:
          description: Whether an additional page of indexing pipeline log entries matching the request is available.
          type: boolean
      type: object
    GetLogsOrFacetsRequestBodyModel:
      properties:
        excludeOperations:
          description: The _operation_ values to filter out from the response. Entries matching other _operation_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogOperations'
          type: array
        excludeResourceIds:
          description: The _resourceId_ values to filter out from the response. Entries matching other _resourceId_ values will be included.
          items:
            type: string
          type: array
        excludeResults:
          description: The _result_ values to filter out from the response. Entries matching other _result_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogResults'
          type: array
        excludeSourceIds:
          description: The _sourceId_ values to filter out from the response. Entries matching other _sourceId_ values will be included.
          items:
            type: string
          type: array
        excludeTasks:
          description: The _task_ values to filter out from the response. Entries matching other _task_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogTasks'
          type: array
        operations:
          description: The _operation_ values to allow in the response. Entries matching other _operation_ values will be filtered out (has priority over `excludeOperations`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogOperations'
          type: array
        resourceIds:
          description: The _resourceId_ values to allow in the response. Entries matching other _resourceId_ values will be filtered out (has priority over `excludeResourceIds`).
          items:
            type: string
          type: array
        results:
          description: The _result_ values to allow in the response. Entries matching other _result_ values will be filtered out (has priority over `excludeResults`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogResults'
          type: array
        sourcesIds:
          description: The _sourceId_ values to allow in the response. Entries matching other _sourceId_ values will be filtered out (has priority over `excludeSourceIds`).
          items:
            type: string
          type: array
        tasks:
          description: The _task_ values to allow in the response. Entries matching other _task_ values will be filtered out (has priority over `excludeTasks`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogTasks'
          type: array
      type: object
    IndexingPipelineLogOperations:
      description: The _operation_ filter value.
      enum:
      - ADD
      - ADD_BY_REFERENCE
      - BATCH_FILE
      - DELETE
      - DELETE_AND_CHILDREN
      - DELETE_OLDER_THAN
      - UPDATE
      type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: Required
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
