openapi: 3.0.1
info:
  title: Coveo Authorization Server API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com/oauth
security:
- oauth2:
  - full
paths:
  /rest/users/{username}:
    get:
      tags:
      - Users
      summary: Show User
      description: Shows a user.</br>**Required privilege:** Users - View
      operationId: getUser
      parameters:
      - name: username
        in: path
        description: The username of the user to show.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserModel'
      x-pretty-name: getUser
      x-ui-operation-id: /rest/users/paramId_get
    put:
      tags:
      - Users
      summary: Update User Additional Information
      operationId: updateUserAdditionalInformation
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateUserAdditionalInformation
      x-ui-operation-id: /rest/users/paramId_put
  /rest/organizations/{organizationId}/saml/identityprovider:
    get:
      tags:
      - Saml Identity Providers
      summary: Show Identity Provider
      description: 'Shows the SAML identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required
        privilege:** SAML identity provider - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id)
          for which to show the identity provider.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: getIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_get
    put:
      tags:
      - Saml Identity Providers
      summary: Update Identity Provider
      description: 'Updates a SAML identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required
        privilege:** SAML identity provider - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration to update the target SAML identity provider to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdentityProviderModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: updateIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_put
    post:
      tags:
      - Saml Identity Providers
      summary: Create Identity Provider
      description: 'Creates an identity provider for an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:**
        SAML identity provider - Create<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: The SAML identity provider to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamlIdentityProviderModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: createIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_post
    delete:
      tags:
      - Saml Identity Providers
      summary: Delete Identity Provider
      description: 'Deletes the identity provider of an [organization](https://docs.coveo.com/en/185/).</br>**Required privilege:**
        SAML identity provider - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id)
          for which to delete the SAML identity provider.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider_delete
  /rest/organizations/{organizationId}/realms/{realmId}:
    put:
      tags:
      - Organization Realms
      summary: Update Realm
      description: 'Updates a realm of an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateRealmsInGroups
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: realmId
        in: path
        description: The unique identifier of the realm to update.</br>**Example:** `website-domain-coveo.com`
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration to update the target realm to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRealmModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationRealmModel'
      x-pretty-name: updateRealmsInGroups
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/realms/paramId_put
  /rest/organizations/{organizationId}/members:
    get:
      tags:
      - Organization Members
      summary: List Members
      description: 'Lists the members of an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationMembers
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberModel_Public'
      x-pretty-name: getOrganizationMembers
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members_get
    put:
      tags:
      - Organization Members
      summary: Update Organization Members
      description: 'Updates the [members](https://docs.coveo.com/en/2869/) of an [organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateOrganizationMembers
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sendEmailToInvitedUsers
        in: query
        description: Whether to send an invitation email alongside the invite(s).</br>**Default:** `true`
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        description: The JSON configuration to which to update the organization members (e.g., send invites to new members,
          remove old members, etc).
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationInviteModel_Public'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberModel_Public'
      x-pretty-name: updateOrganizationMembers
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members_put
  /rest/organizations/{organizationId}/members/{username}:
    get:
      tags:
      - Organization Members
      summary: Show Member
      description: 'Shows a [member](https://docs.coveo.com/en/2869/) of an [organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: The username of the member to show.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMemberModel_Public'
      x-pretty-name: getOrganizationMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members/paramId_get
    put:
      tags:
      - Organization Members
      summary: Update Member
      description: 'Updates a member of an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateOrganizationMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: The username of the member to update.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration to update the target [member](https://docs.coveo.com/en/2869/) to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationMemberModel_Public'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationMemberModel'
      x-pretty-name: updateOrganizationMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members/paramId_put
    delete:
      tags:
      - Organization Members
      summary: Delete Member
      description: 'Deletes a member from all groups of an [organization](https://docs.coveo.com/en/185/).</br>**Note:** Deleted
        users can still be included by domain.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteOrganizationMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: The username of the member to delete.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteOrganizationMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members/paramId_delete
  /rest/organizations/{organizationId}/groups/{groupId}:
    get:
      tags:
      - Groups
      summary: Show Group Details
      description: 'Show the details of a [group](https://docs.coveo.com/en/2867/) in an organization.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroup
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GroupModel_Response'
      x-pretty-name: getGroup
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId_get
    put:
      tags:
      - Groups
      summary: Update Group
      description: 'Updates a [group](https://docs.coveo.com/en/2867/) in an organization.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: updateGroup
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: sendEmailToInvitedUsers
        in: query
        description: Whether to send an email to the users that are invited to the [group](https://docs.coveo.com/en/2867/).
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        description: The JSON configuration to update the target [group](https://docs.coveo.com/en/2867/) to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupModel_Request'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateGroup
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId_put
    delete:
      tags:
      - Groups
      summary: Delete Group
      description: 'Deletes a [group](https://docs.coveo.com/en/2867/) in an organization.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: deleteGroup
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteGroup
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId_delete
  /rest/organizations/{organizationId}/apikeys/{sourceApiKeyId}/duplicate:
    put:
      tags:
      - Api Keys
      summary: Duplicate API Key
      description: 'Duplicates and existing API key of an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: duplicateApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sourceApiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration of the API key to be duplicated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuplicatedApiKeyRequest'
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
      x-pretty-name: duplicateApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId/duplicate_put
  /rest/organizations/{organizationId}/apikeys/{apiKeyId}:
    get:
      tags:
      - Api Keys
      summary: Show API Key
      description: 'Shows an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Getting the API Key ID
        url: https://docs.coveo.com/en/38/
      operationId: getApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
      x-pretty-name: getApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId_get
    put:
      tags:
      - Api Keys
      summary: Update API Key
      description: 'Updates an existing API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: updateApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON configuration to update the target API key to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId_put
    delete:
      tags:
      - Api Keys
      summary: Delete API Key
      description: 'Deletes an API key from an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      externalDocs:
        description: Deleting an API Key
        url: https://docs.coveo.com/en/82/#delete-an-api-key-programmatically
      operationId: deleteApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId_delete
  /rest/organizations/{organizationId}/apikeys/{apiKeyId}/disable:
    put:
      tags:
      - Api Keys
      summary: Disable API Key
      description: 'Disables an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: disableApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: disableApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId/disable_put
  /rest/organizations/{organizationId}/apikeys/{apiKeyId}/activation/extend:
    put:
      tags:
      - Api Keys
      summary: Extend API Key Activation
      description: 'Extend the activation of an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: extendActivation
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: extendActivation
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId/activation/extend_put
  /rest/organizations/{organizationId}/apikeys/{apiKeyId}/activate:
    put:
      tags:
      - Api Keys
      summary: Activate API Key
      description: 'Activates an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: activateApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyId
        in: path
        description: The unique identifier of the API key. </br>**Example:** `t4hk287bfj5sg6wskg64ckk5a`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: activateApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/paramId/activate_put
  /rest/organizations/{organizationId}/apikeys/disable/bulk:
    put:
      tags:
      - Api Keys
      summary: Disable Multiple API Keys
      description: 'Disables multiple API keys in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: bulkDisableApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: A list of unique identifiers of API keys. </br>**Example:** `["t4hk287bfj5sg6wskg64ckk5a"]`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
            example:
            - loggerId1
            - loggerId2
            - loggerId3
        required: true
      responses:
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestException'
        '204':
          description: No Content
      x-pretty-name: bulkDisableApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/disable/bulk_put
  /rest/organizations/{organizationId}/apikeys/activate/bulk:
    put:
      tags:
      - Api Keys
      summary: Activate API Keys
      description: 'Activates multiple API keys in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      operationId: bulkActivateApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: A list of unique identifiers of API keys. </br>**Example:** `["t4hk287bfj5sg6wskg64ckk5a"]`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
            example:
            - loggerId1
            - loggerId2
            - loggerId3
        required: true
      responses:
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestException'
        '204':
          description: No Content
      x-pretty-name: bulkActivateApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/activate/bulk_put
  /rest/privilege/evaluate:
    post:
      tags:
      - Privilege Evaluator
      summary: Evaluate a Privilege Request
      operationId: evaluate
      requestBody:
        description: The request to evaluate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivilegeRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PrivilegeRequestModel'
      x-pretty-name: evaluate
      x-ui-operation-id: /rest/privilege/evaluate_post
  /rest/privilege/evaluate/general-access:
    post:
      tags:
      - Privilege Evaluator
      summary: Evaluate a Privilege Request
      operationId: evaluateGeneralAccess
      requestBody:
        description: The request to evaluate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneralAccessPrivilegeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PrivilegeRequestModel'
      x-pretty-name: evaluateGeneralAccess
      x-ui-operation-id: /rest/privilege/evaluate/general-access_post
  /rest/organizations/{organizationId}/tokens:
    post:
      tags:
      - Platform Tokens
      operationId: generatePlatformToken
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: validityPeriod
        in: query
        required: false
        schema:
          type: string
          default: PT24H
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformTokenPayloadModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PlatformTokenResponseModel'
      x-pretty-name: generatePlatformToken
      x-ui-operation-id: /rest/organizations/paramId/tokens_post
  /rest/organizations/{organizationId}/realms:
    get:
      tags:
      - Organization Realms
      summary: List Realms
      description: 'Lists the realms of an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationRealms
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationRealmModel'
      x-pretty-name: getOrganizationRealms
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/realms_get
    post:
      tags:
      - Organization Realms
      summary: Add Realm for Groups
      description: 'Adds a realm for a set of groups in an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: addRealmsToGroups
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: The realms to add to an [organization](https://docs.coveo.com/en/185/).
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationRealmModel'
        required: true
      responses:
        '201':
          description: Created
      x-pretty-name: addRealmsToGroups
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/realms_post
  /rest/organizations/{organizationId}/privileges/token:
    get:
      tags:
      - Organization Privileges
      summary: List Privileges for Access Token
      description: List [privileges](https://docs.coveo.com/en/228/) of an access token in an [organization](https://docs.coveo.com/en/185/).
      operationId: getOrganizationMemberPrivileges
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        description: The access token for which to list privileges.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getOrganizationMemberPrivileges
      x-ui-operation-id: /rest/organizations/paramId/privileges/token_get
    post:
      tags:
      - Organization Privileges
      summary: List Privileges for Access Token
      description: List [privileges](https://docs.coveo.com/en/228/) of an access token in an [organization](https://docs.coveo.com/en/185/).
      operationId: getOrganizationMemberPrivilegesUsingPost
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: accessToken
        in: query
        description: The access token for which to list privileges.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getOrganizationMemberPrivilegesUsingPost
      x-ui-operation-id: /rest/organizations/paramId/privileges/token_post
  /rest/organizations/{organizationId}/groups:
    get:
      tags:
      - Groups
      summary: List Groups
      description: 'Lists the [groups](https://docs.coveo.com/en/2867/) of an organization.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroups
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupModel_Response'
      x-pretty-name: getGroups
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups_get
    post:
      tags:
      - Groups
      summary: Create Group
      description: 'Creates a [group](https://docs.coveo.com/en/2867/) in an organization.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createGroup
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sendEmailToInvitedUsers
        in: query
        description: Whether to send an invitation email alongside the invite.
        required: false
        schema:
          type: boolean
          default: true
      - name: canEditItself
        in: query
        description: Whether the new [group](https://docs.coveo.com/en/2867/) can edit itself.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        description: The [group](https://docs.coveo.com/en/2867/) to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupModel_Request'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JsonStringIdWrapper'
      x-pretty-name: createGroup
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups_post
  /rest/organizations/{organizationId}/groups/{groupId}/realms:
    get:
      tags:
      - Group Realms
      summary: List Realms
      description: 'Lists the realms of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupRealms
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getGroupRealms
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms_get
    post:
      tags:
      - Group Realms
      summary: Add Realm
      description: 'Adds a realm to a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: addGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealmModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RealmModel'
      x-pretty-name: addGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms_post
  /rest/organizations/{organizationId}/groups/{groupId}/members:
    get:
      tags:
      - Group Members
      summary: List Group Members
      description: 'Lists the [members](https://docs.coveo.com/en/2873/) of a [group](https://docs.coveo.com/en/2867/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupMembers
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemberModel'
      x-pretty-name: getGroupMembers
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/members_get
    post:
      tags:
      - Group Members
      summary: Add User
      description: 'Adds a user to a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: addGroupMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: sendEmailOnInvite
        in: query
        description: Whether to send an email alongside the invite.
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        description: The user to whom to send an invite (i.e., to add to the [group](https://docs.coveo.com/en/2867/)).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: addGroupMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/members_post
  /rest/organizations/{organizationId}/groups/{groupId}/invites:
    get:
      tags:
      - Group Invites
      summary: List Invites
      description: 'Lists all invites of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getInvites
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InviteModel'
      x-pretty-name: getInvites
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/invites_get
    post:
      tags:
      - Group Invites
      summary: Invite User to Group
      description: 'Invites a user to a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: inviteMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: sendEmail
        in: query
        description: Whether to send an invitation email alongside the invite.
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        description: The configuration of the invite to send.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InviteModel'
      x-pretty-name: inviteMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/invites_post
  /rest/organizations/{organizationId}/groups/{groupId}/invites/decline:
    post:
      tags:
      - Group Invites
      summary: Decline Invite to Group
      description: Declines an invite to a [group](https://docs.coveo.com/en/2867/).
      operationId: declineInvite
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: invite_code
        in: cookie
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: declineInvite
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/invites/decline_post
  /rest/organizations/{organizationId}/groups/{groupId}/invites/accept:
    post:
      tags:
      - Group Invites
      summary: Accept Invite to Group
      description: Accepts an invite to a [group](https://docs.coveo.com/en/2867/).
      operationId: acceptInvite
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: invite_code
        in: cookie
        required: false
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: acceptInvite
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/invites/accept_post
  /rest/organizations/{organizationId}/apikeys:
    get:
      tags:
      - Api Keys
      summary: List API Keys
      description: 'Lists all API keys in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getApiKeys
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the organization
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: Optional filter for API key status
        required: false
        schema:
          type: string
          description: API Key Status Filter
          enum:
          - ACTIVE
          - SOON_TO_BE_DISABLED
          - SOON_TO_BE_EXPIRED
          - ACTIVE_AND_EXPOSED
          - WITH_WARNING
          - ALL_EXPOSED
          - DEACTIVATED
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyResponse'
      x-pretty-name: getApiKeys
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/apikeys_get
    post:
      tags:
      - Api Keys
      summary: Create API Key
      description: 'Creates an API key in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"CREATE","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Creating an API Key
        url: https://docs.coveo.com/en/82/
      operationId: createApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: apiKeyTemplateId
        in: query
        description: The unique identifier of the template on which to base the API key.
        required: false
        schema:
          type: string
      requestBody:
        description: The JSON configuration of the API key to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreationRequest'
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
      x-pretty-name: createApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/apikeys_post
  /rest/organizations/{organizationId}/apikeys/rotate:
    post:
      tags:
      - Api Keys
      summary: Rotate API Key
      description: Rotates an API key in an [organization](https://docs.coveo.com/en/185/).
      operationId: rotateApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyRotationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyWithValueResponse'
      x-pretty-name: rotateApiKey
      x-ui-operation-id: /rest/organizations/paramId/apikeys/rotate_post
  /rest/organizations/{organizationId}/apikeys/delete/bulk:
    post:
      tags:
      - Api Keys
      summary: Delete API Keys
      description: 'Deletes multiple API keys from an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"EDIT","targetId":"{apiKeyId}"}

        ```

        </details>'
      externalDocs:
        description: Deleting an API Key
        url: https://docs.coveo.com/en/82/#delete-an-api-key-programmatically
      operationId: bulkDeleteApiKey
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        description: A list of unique identifiers of API keys. </br>**Example:** `["t4hk287bfj5sg6wskg64ckk5a"]`</br>See [Getting
          the apiKeyId](https://docs.coveo.com/en/38/).
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
            example:
            - loggerId1
            - loggerId2
            - loggerId3
        required: true
      responses:
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestException'
        '204':
          description: No Content
      x-pretty-name: bulkDeleteApiKey
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: EDIT
        targetId: '{apiKeyId}'
      x-ui-operation-id: /rest/organizations/paramId/apikeys/delete/bulk_post
  /rest/users/{username}/realms:
    get:
      tags:
      - Users
      summary: List User Realms
      description: Lists the realms of a user.</br>**Required privilege:** Users - View
      operationId: getAllExistingRealmsForUser
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list realms.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getAllExistingRealmsForUser
      x-ui-operation-id: /rest/users/paramId/realms_get
  /rest/users/{username}/access/temporary:
    get:
      tags:
      - Temporary Access
      summary: List Temporary Accesses for Current User
      description: Lists the temporary accesses for the current user.
      operationId: getUserTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list temporary access.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: getUserTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary_get
  /rest/users/{username}/access/temporary/{temporaryAccessId}:
    get:
      tags:
      - Temporary Access
      summary: Show Temporary Access for Current User
      description: Shows a temporary access for the current user.
      operationId: getTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to show a temporary access.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      - name: temporaryAccessId
        in: path
        description: The unique identifier of the temporary access to show.</br>**Example:** `wrm4yyygma4dga6zouiqcaknv4`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: getTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary/paramId_get
    delete:
      tags:
      - Temporary Access
      summary: Revoke Temporary Access for Current User
      description: Revokes temporary access for a user to an organization.
      operationId: revokeTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to revoke a temporary access.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      - name: temporaryAccessId
        in: path
        description: The unique identifier of the temporary access to revoke.</br>**Example:** `0378a782-ca90-11e9-a32f-2a2ae2dbcce4`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: revokeTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary/paramId_delete
  /rest/users/{username}/access/temporary/inactive:
    get:
      tags:
      - Temporary Access
      summary: List Expired and Revoked Temporary Accesses for Current User
      description: Lists the expired and revoked temporary accesses for the current user.
      operationId: getUserExpiredOrRevokedTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list expired and revoked temporary accesses.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: getUserExpiredOrRevokedTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary/inactive_get
  /rest/users/{username}/access/temporary/expired:
    get:
      tags:
      - Temporary Access
      summary: List Expired Temporary Accesses for Current User
      description: List the expired temporary accesses for the current user.
      operationId: getUserExpiredTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list expired temporary accesses.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: getUserExpiredTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary/expired_get
  /rest/users/{username}/access/temporary/active:
    get:
      tags:
      - Temporary Access
      summary: List Active Temporary Accesses for Current User
      description: Lists the active temporary accesses for the current user.
      operationId: getUserActiveTemporaryAccess
      parameters:
      - name: username
        in: path
        description: The username of the user for which to list active temporary accesses.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemporaryAccessModel'
      x-pretty-name: getUserActiveTemporaryAccess
      x-ui-operation-id: /rest/users/paramId/access/temporary/active_get
  /rest/tokens/certificates:
    get:
      tags:
      - Token Certificates
      operationId: getPublicCertificates
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PublicSigningKeysModel'
      x-pretty-name: getPublicCertificates
      x-ui-operation-id: /rest/tokens/certificates_get
  /rest/organizations/{organizationId}/templates/apikeys:
    get:
      tags:
      - Organization Api Keys Templates
      summary: List API Key Templates
      description: 'Lists all the API keys templates in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationApiKeyTemplates
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyTemplateModel'
      x-pretty-name: getOrganizationApiKeyTemplates
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/templates/apikeys_get
  /rest/organizations/{organizationId}/templates/apikeys/{organizationApiKeyTemplateId}:
    get:
      tags:
      - Organization Api Keys Templates
      summary: Show API Key Template
      description: 'Shows an API key template in an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationApiKeyTemplate
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: organizationApiKeyTemplateId
        in: path
        description: The unique identifier of the API key template.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiKeyTemplateModel'
      x-pretty-name: getOrganizationApiKeyTemplate
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/templates/apikeys/paramId_get
  /rest/organizations/{organizationId}/templates/apikeys/privileges/eligibility:
    get:
      tags:
      - Organization Api Keys Templates
      summary: Get All API Key Templates' Eligibility for the Current User
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"API_KEY","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: getApiKeyTemplatesEligibility
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyTemplateEligibilityResponse'
      x-pretty-name: getApiKeyTemplatesEligibility
      x-required-privilege:
        owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: API_KEY
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/templates/apikeys/privileges/eligibility_get
  /rest/organizations/{organizationId}/saml/identityprovider/realms:
    get:
      tags:
      - Saml Identity Providers
      summary: List Identity Provider Realms
      description: 'Lists the realms of a SAML identity provider.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getRealmsForSamlIdentityProvider
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id)
          for which to list realms.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getRealmsForSamlIdentityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/identityprovider/realms_get
  /rest/organizations/{organizationId}/saml/enabled:
    get:
      tags:
      - Saml Identity Providers
      summary: Check If Any Identity Provider Exists
      description: 'Checks if any SAML identity provider exists in an [organization](https://docs.coveo.com/en/185/).</br>**Required
        privilege:** Organization - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: isSamlIdentityProviderEnabled
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SamlIdentityProviderEnabledModel'
      x-pretty-name: isSamlIdentityProviderEnabled
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/enabled_get
  /rest/organizations/{organizationId}/saml/availables:
    get:
      tags:
      - Saml Identity Providers
      summary: List Manageable Identity Providers
      description: 'List SAML identity providers that the current user can manage.</br>**Required privilege:** SAML identity
        provider - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SAML_IDENTITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAvailableSamlIdentityProviders
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SamlIdentityProviderModel'
      x-pretty-name: getAvailableSamlIdentityProviders
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SAML_IDENTITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/saml/availables_get
  /rest/organizations/{organizationId}/privileges:
    get:
      tags:
      - Organization Privileges
      summary: List Possible Privileges
      description: 'Lists the possible [privileges](https://docs.coveo.com/en/228/) in an [organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationPrivileges
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getOrganizationPrivileges
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/privileges_get
  /rest/organizations/{organizationId}/privileges/platformtokens:
    get:
      tags:
      - Organization Privileges
      summary: List Possible Platform Token Privileges
      description: 'Lists possible Platform token [privileges](https://docs.coveo.com/en/228/) in an [organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getPlatformTokenPrivileges
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getPlatformTokenPrivileges
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/privileges/platformtokens_get
  /rest/organizations/{organizationId}/privileges/me:
    get:
      tags:
      - Organization Privileges
      summary: List Privileges for Current Member
      description: List [privileges](https://docs.coveo.com/en/228/) of the current member in an [organization](https://docs.coveo.com/en/185/).
      operationId: getOrganizationMemberPrivileges_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getOrganizationMemberPrivileges
      x-ui-operation-id: /rest/organizations/paramId/privileges/me_get
  /rest/organizations/{organizationId}/privileges/apikeys:
    get:
      tags:
      - Organization Privileges
      summary: List Possible API Key Privileges
      description: 'Lists possible API key [privileges](https://docs.coveo.com/en/228/) in an [organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getApiKeyPrivileges
      parameters:
      - name: filter
        in: query
        description: Filter for privileges
        required: false
        schema:
          type: string
          enum:
          - ALL
          - CUSTOM
          default: ALL
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getApiKeyPrivileges
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/privileges/apikeys_get
  /rest/organizations/{organizationId}/members/{username}/groups:
    get:
      tags:
      - Organization Members
      summary: List Groups for Organization Member
      description: 'Lists the groups to which an organization member belongs.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getMemberGroups
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: The username of the user for which to list groups.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupModel'
      x-pretty-name: getMemberGroups
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/members/paramId/groups_get
  /rest/organizations/{organizationId}/members/privileges:
    get:
      tags:
      - Organization Members
      summary: List Privileges of Current User
      description: Lists the privileges for the current user on an [organization](https://docs.coveo.com/en/185/).
      operationId: getOrganizationMemberPrivileges_2
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalPrivilegeModel'
      x-pretty-name: getOrganizationMemberPrivileges
      x-ui-operation-id: /rest/organizations/paramId/members/privileges_get
  /rest/organizations/{organizationId}/invites:
    get:
      tags:
      - Organization Invites
      summary: List Organization Invites
      description: 'Lists the invites to an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationInvites
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id)
          for which to list invites.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInviteModel'
      x-pretty-name: getOrganizationInvites
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/invites_get
  /rest/organizations/{organizationId}/groups/{groupId}/realms/{realmId}:
    get:
      tags:
      - Group Realms
      summary: Show Realm
      description: 'Shows a realm of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: realmId
        in: path
        description: The unique identifier of the realm to show.</br>**Example:** `website-domain-coveo.com`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RealmModel'
      x-pretty-name: getGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms/paramId_get
    delete:
      tags:
      - Group Realms
      summary: Destroy Realm
      description: 'Destroys a realm of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: deleteGroupRealm
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: realmId
        in: path
        description: The unique identifier of  the realm to delete.</br>**Example:** `website-domain-coveo.com`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteGroupRealm
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: EDIT
        targetId: '{groupId}'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/realms/paramId_delete
  /rest/organizations/{organizationId}/groups/{groupId}/privileges/exclusive/me:
    get:
      tags:
      - Groups
      summary: List Privileges Granted by Group to Current User
      description: 'Lists the [privileges](https://docs.coveo.com/en/228/) that are granted exclusively by the [group](https://docs.coveo.com/en/2867/)
        to the current user.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupExclusivePrivileges
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivilegeModel'
      x-pretty-name: getGroupExclusivePrivileges
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/privileges/exclusive/me_get
  /rest/organizations/{organizationId}/groups/{groupId}/members/{username}:
    get:
      tags:
      - Group Members
      summary: Show Member
      description: 'Shows a member of a [group](https://docs.coveo.com/en/2867/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGroupMember
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        description: The unique identifier of the target [group](https://docs.coveo.com/en/2867/).</br>**Example:**`myorganization-bfghkjfjb674jh5egjk`
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: The username of the [member](https://docs.coveo.com/en/2873/) to show.</br>**Example:** `jsmith@email.com-google`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MemberModel'
      x-pretty-name: getGroupMember
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/groups/paramId/members/paramId_get
    delete:
      tags:
      - Group Members
      summary: Delete User
      description: 'Deletes a [member](https://docs.coveo.com/en/2873/) from a [group](https://docs.coveo.com/en/2867/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"EDIT","targetId":"{groupId}"}

        ```

        </details>'
      operationId: deleteGroupMember
      parameters:
      - name: organizationId
        in: path
[...]
