openapi: 3.0.1
info:
  title: Coveo Activity Activities Query Logs API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Query Logs
paths:
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/logs:
    post:
      operationId: getQueryLogs
      summary: Retrieves the Query Logs for a Search Hub
      tags:
      - Query Logs
      deprecated: false
      parameters:
      - name: to
        description: The last day to retrieve
        required: true
        in: query
        type: string
      - name: from
        description: The first day to retrieve
        required: true
        in: query
        type: string
      - name: hubName
        description: The search hub name
        required: true
        in: query
        type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestLogUrl'
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/{hubName}/logs:
    post:
      operationId: getQueryLogsWithPathParam
      summary: Retrieves the Query Logs for a Search Hub
      tags:
      - Query Logs
      deprecated: false
      parameters:
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        type: string
      - name: hubName
        description: The search hub name
        required: true
        in: path
        type: string
      - name: from
        description: The first day to retrieve
        required: true
        in: query
        type: string
      - name: to
        description: The last day to retrieve
        required: true
        in: query
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestLogUrl'
      security:
      - oauth2:
        - full
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
definitions:
  RestLogUrl:
    type: object
    properties:
      url:
        example: '"https://platform.cloud.coveo.com/some/url"'
        description: The URL to use to download the query logs
        type: string
    required:
    - url
