openapi: 3.0.1
info:
  title: Coveo Activity Activities Catalog Filter API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Catalog Filter
paths:
  /api/preview/organizations/{organizationId}/catalog-management/catalogs/{catalogId}/filter:
    get:
      tags:
      - Catalog Filter
      summary: Get Filter for a Catalog
      description: 'Retrieves the filter for a specific catalog.</br></br>**Required privilege:** Catalogs - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"CATALOG","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getCatalogFilter
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: The unique identifier of the [catalog](https://docs.coveo.com/en/3143/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Catalog filter retrieved successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
        '404':
          description: Organization or catalog not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
        '412':
          description: Catalog filters feature is unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
      x-pretty-name: getCatalogFilter
      x-required-privilege:
        owner: COMMERCE
        targetDomain: CATALOG
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: CATALOG
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /api/preview/organizations/paramId/catalog-management/catalogs/paramId/filter_get
    put:
      tags:
      - Catalog Filter
      summary: Create or Update the Filter for a Catalog
      description: 'Creates or updates the filter for a specific catalog.</br></br>**Required privilege:** Catalogs - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"CATALOG","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: putCatalogFilter
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: catalogId
        in: path
        description: The unique identifier of the [catalog](https://docs.coveo.com/en/3143/).
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogFilterModel'
        required: true
      responses:
        '200':
          description: Catalog filter updated successfully
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
        '404':
          description: Organization or catalog not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
        '412':
          description: Precondition failed. Check the error message.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CatalogFilterModel'
      x-pretty-name: putCatalogFilter
      x-required-privilege:
        owner: COMMERCE
        targetDomain: CATALOG
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: CATALOG
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /api/preview/organizations/paramId/catalog-management/catalogs/paramId/filter_put
components:
  schemas:
    CatalogFilterEntry:
      required:
      - field
      - value
      type: object
      properties:
        field:
          minLength: 1
          type: string
        value:
          minLength: 1
          type: string
    CatalogFilterModel:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/CatalogFilterEntry'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
