openapi: 3.2.0
info:
  title: Coveo Organization Organization Global Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Organization Global Configuration
paths:
  /rest/global/organizations:
    get:
      tags:
      - Organization Global Configuration
      summary: Get All Organization Global Configurations
      operationId: getOrganizationGlobalConfigurations
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelOrganizationGlobalConfigurationModel'
      x-pretty-name: getOrganizationGlobalConfigurations
      x-ui-operation-id: /rest/global/organizations_get
  /rest/global/organizations/{organizationId}:
    get:
      tags:
      - Organization Global Configuration
      summary: Get Organization Global Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationGlobalConfiguration
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationGlobalConfigurationModel'
      x-pretty-name: getOrganizationGlobalConfiguration
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/global/organizations/paramId_get
components:
  schemas:
    PageModelOrganizationGlobalConfigurationModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationGlobalConfigurationModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    OrganizationGlobalConfigurationModel:
      type: object
      properties:
        organizationId:
          type: string
        mainRegions:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - ca-central-1
            - ca-west-1
            - us-gov-west-1
            - us-gov-east-1
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - sa-east-1
            - eu-north-1
            - eu-south-1
            - eu-south-2
            - eu-central-1
            - eu-central-2
            - eu-west-1
            - eu-west-2
            - eu-west-3
            - me-south-1
            - me-central-1
            - ap-northeast-1
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - ap-south-2
            - ap-southeast-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-southeast-4
            - ap-southeast-5
            - ap-southeast-6
            - ap-southeast-7
            - ap-east-1
            - ap-east-2
            - cn-north-1
            - cn-northwest-1
            - af-south-1
            - il-central-1
            - mx-central-1
            - unknown-region
        satelliteRegions:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - ca-central-1
            - ca-west-1
            - us-gov-west-1
            - us-gov-east-1
            - us-east-1
            - us-east-2
            - us-west-1
            - us-west-2
            - sa-east-1
            - eu-north-1
            - eu-south-1
            - eu-south-2
            - eu-central-1
            - eu-central-2
            - eu-west-1
            - eu-west-2
            - eu-west-3
            - me-south-1
            - me-central-1
            - ap-northeast-1
            - ap-northeast-2
            - ap-northeast-3
            - ap-south-1
            - ap-south-2
            - ap-southeast-1
            - ap-southeast-2
            - ap-southeast-3
            - ap-southeast-4
            - ap-southeast-5
            - ap-southeast-6
            - ap-southeast-7
            - ap-east-1
            - ap-east-2
            - cn-north-1
            - cn-northwest-1
            - af-south-1
            - il-central-1
            - mx-central-1
            - unknown-region
        primaryMainRegion:
          type: string
          enum:
          - ca-central-1
          - ca-west-1
          - us-gov-west-1
          - us-gov-east-1
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - sa-east-1
          - eu-north-1
          - eu-south-1
          - eu-south-2
          - eu-central-1
          - eu-central-2
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - me-south-1
          - me-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-south-1
          - ap-south-2
          - ap-southeast-1
          - ap-southeast-2
          - ap-southeast-3
          - ap-southeast-4
          - ap-southeast-5
          - ap-southeast-6
          - ap-southeast-7
          - ap-east-1
          - ap-east-2
          - cn-north-1
          - cn-northwest-1
          - af-south-1
          - il-central-1
          - mx-central-1
          - unknown-region
        customDns:
          type: string
          deprecated: true
        distributedDns:
          type: string
        adminDns:
          type: string
        analyticsDns:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
