openapi: 3.2.0
info:
  description: The Push API allows you to *push* items and security identities, as opposed to letting standard Coveo Cloud V2 crawlers *pull* this data from a content repository. This is especially useful when you need to index content from a cloud or on-premises system for which no dedicated source type exists in the Coveo Cloud V2 platform.
  title: Push API - prd Source Status API
  version: '2016-03-03T13:22:11Z'
servers:
- url: https://api.cloud.coveo.com/push/v1
tags:
- description: Update the status of a Push source
  name: Source Status
paths:
  /organizations/{organizationId}/sources/{sourceId}/status:
    post:
      description: "Modifies the current status of a Push source.  \nThis operation allows you to update the activity logs of a Push source (and consequently the activity indicators in the Coveo Cloud V2 administration console).  \nPushing an *active* source status (i.e., `REBUILD`, `REFRESH`, or `INCREMENTAL`) creates an activity. Pushing the `IDLE` status terminates the ongoing activity and marks it as completed."
      externalDocs:
        description: Update the status of a Push source
        url: https://docs.coveo.com/en/35/index-content/manage-the-push-source#update-the-status-of-a-push-source
      parameters:
      - description: "The status to set the Push source to.  \nThe possible values are: `INCREMENTAL`, `REFRESH`, `REBUILD`, and `IDLE`.  \n**Example:** `REBUILD`"
        in: query
        name: statusType
        required: true
        schema:
          type: string
          enum:
          - INCREMENTAL
          - REFRESH
          - REBUILD
          - IDLE
      - description: "The unique identifier of the target Push source (see [Creating a Push Source](https://developers.coveo.com/x/34s9Ag)).  \n**Example:** `rp5rxzbdz753uhndklv2ztkfgy-mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: sourceId
        required: true
        schema:
          type: string
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Retry-After:
              schema:
                type: number
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Set the Status of a Push Source
      tags:
      - Source Status
      x-pretty-name: setSourceStatus
components:
  schemas:
    Error:
      properties:
        errorCode:
          type: string
        message:
          type: string
      type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: Required
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
