openapi: 3.2.0
info:
  title: Coveo Machine Learning Configuration Model Associations API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Model Associations
paths:
  /rest/organizations/{organizationId}/machinelearning/configuration/querypipelines/{pipelineId}/associations:
    get:
      tags:
      - Model Associations
      summary: Lists Associations
      description: 'Lists the organization associations corresponding to the specified pipelineId.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAssociations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 'The 0-based number of the page of results to list.<br />Minimum: `0`<br />**Default:** `0`'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of results to include per page.<br />**Must be in range:** `[1, 1000]`<br />**Default:** `100`
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelQueryPipelineMLAssociationModel'
      x-pretty-name: getAssociations
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: QUERY_PIPELINE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: QUERY_PIPELINE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/querypipelines/paramId/associations_get
components:
  schemas:
    ModelStatusInfoModel:
      type: object
      properties:
        modelStatus:
          type: string
          description: The status of the model.
          example: ACTIVE
          enum:
          - ARCHIVED
          - SOON_TO_BE_ARCHIVED
          - BUILD_IN_PROGRESS
          - ERROR
          - ERROR_INTERNAL
          - LIMITED
          - ACTIVE
          - INACTIVE
        daysUntilArchival:
          type: integer
          description: The remaining days until the model is archived.
          format: int64
          example: 2
        activeModelBuildDate:
          type: string
          description: The epoch timestamp, in milliseconds, of when the active model was built. This field is empty if there are no active models.
          format: date-time
        lastBuildStatus:
          type: string
          description: The status of the model.
          example: ACTIVE
          enum:
          - ARCHIVED
          - SOON_TO_BE_ARCHIVED
          - BUILD_IN_PROGRESS
          - ERROR
          - ERROR_INTERNAL
          - LIMITED
          - ACTIVE
          - INACTIVE
      description: The current status of the model..
      example: "{\n \"modelStatus\": \"BUILDING\",\n \"daysUntilArchival\" : 3\n }"
    QueryPipelineMLAssociationModel:
      type: object
      properties:
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
        associationId:
          type: string
          description: The unique identifier of the model association.
          example: 917af358-13fd-4c8e-94af-7cf649bddc48
        modelDisplayName:
          type: string
          description: The name of the model configuration.
          example: My model
        engineId:
          type: string
          description: The id of the engine.<br />**Example:** `topclicks`
          example: topclicks
        modelStatusInfo:
          $ref: '#/components/schemas/ModelStatusInfoModel'
        position:
          type: integer
          description: The position at which this model association is evaluated in the query pipeline, relative to other model associations.
          format: int32
          example: 1
        condition:
          $ref: '#/components/schemas/QueryPipelineConditionModel'
        useAdvancedConfiguration:
          type: boolean
          description: Whether the Coveo Administration Console should show the advanced configuration for this association.
          example: true
        customQueryParameters:
          type: object
          additionalProperties:
            type: object
            description: The additional parameters to send to Coveo ML.
            example:
              submodel: user
          description: The additional parameters to send to Coveo ML.
          example:
            submodel: user
    QueryPipelineConditionModel:
      type: object
      properties:
        id:
          type: string
        detailed:
          type: object
          additionalProperties:
            type: object
      description: The condition that must be met to trigger the model association.
      example:
        id: f3cbc7b4-a76f-47a6-b6f2-5b369c34acec
        detailed:
          condition:
            operator: is
            left:
              object: advancedQuery
            right: a
    PageModelQueryPipelineMLAssociationModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryPipelineMLAssociationModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
