openapi: 3.2.0
info:
  title: Coveo Commerce Recommendations Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Recommendations Configuration
paths:
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves a Slot Configuration
      description: 'Shows a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: getSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update a Slot Configuration
      description: 'Updates a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: updateSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_put
    delete:
      tags:
      - Recommendations Configuration
      summary: Deletes a Slot Configuration
      description: 'Deletes a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: deleteSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_delete
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}/settings:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves Slot Settings
      description: 'Shows slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotSettingsModel'
      x-pretty-name: getSlotSettings
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update Slot Settings
      description: 'Updates slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateSlotSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotSettingsModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotSettingsModel'
      x-pretty-name: updateSlotSettings
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_put
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/global/query-configuration:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves a Global Query Configuration
      description: 'Shows a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGlobalQueryConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
      x-pretty-name: getGlobalQueryConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update a Global Query Configuration
      description: 'Updates a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: updateGlobalQueryConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
      x-pretty-name: updateGlobalQueryConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_put
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves All Slot Configurations of an Organization
      description: 'Lists all the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotConfigurations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - name: page
        in: query
        description: The 0-based index number of the page of [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) to retrieve.</br>**Minimum:** `0`</br>**Default:** `0`
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of [slot configurations](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommercePageModelSlotConfigurationModel'
      x-pretty-name: getSlotConfigurations
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots_get
    post:
      tags:
      - Recommendations Configuration
      summary: Create a Slot Configuration
      description: 'Creates a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: createSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: createSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots_post
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}/strategies:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves Available Slot Strategies
      description: 'Shows The available strategies to use for this slot. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotStrategies
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotStrategiesModel'
      x-pretty-name: getSlotStrategies
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/strategies_get
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/strategies:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves Available Slot Strategies
      description: 'Shows The available strategies to use for this slot. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotStrategies_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: slotType
        in: query
        description: A slot type label that identifies the location of a slot.
        required: true
        schema:
          type: string
          enum:
          - cart
          - confirmation
          - global
          - home
          - listing
          - productDetail
          - search
      - name: seedType
        in: query
        description: 'The primary [seed product](https://docs.coveo.com/en/n5jg0219/glossary/seed-product) type used by recommendations strategies on this [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/). One of: product, cart or purchased.'
        required: true
        schema:
          type: string
          enum:
          - unseeded
          - product
          - cart
          - purchased
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotStrategiesModel'
      x-pretty-name: getSlotStrategies
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/strategies_get
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/names:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves All Slot Configuration Ids & Names of an Organization
      description: 'Lists all the names of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotConfigurationNames
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - name: query
        in: query
        description: Filter on names when requesting slot names & IDs. Will perform '*query*' match pattern.
        required: false
        schema:
          type: string
        example: slotName
      - name: page
        in: query
        description: The 0-based index number of the page of [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) to retrieve.</br>**Minimum:** `0`</br>**Default:** `0`
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of [slot configurations](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommercePageModelSlotConfigurationNameModel'
      x-pretty-name: getSlotConfigurationNames
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/names_get
components:
  schemas:
    SlotSettingsModel:
      required:
      - headlines
      - minRecs
      - name
      - slotType
      - strategy
      - trackingId
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
          format: uuid
          readOnly: true
          example: 755e2dd8-3a8f-19fb-b9ed-ed89c4f83c3b
        name:
          maxLength: 50
          minLength: 1
          type: string
          description: A unique name for the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
          example: Homepage Primary.
        trackingId:
          maxLength: 255
          minLength: 1
          type: string
          description: The unique identifier of the tracking target.
          example: acmecorporation_ca
        slotType:
          type: string
          description: A slot type label that identifies the location of a slot.
          example: home
          enum:
          - cart
          - confirmation
          - global
          - home
          - listing
          - productDetail
          - search
        strategy:
          type: string
          description: The [strategy](https://docs.coveo.com/en/3132/glossary/product-recommendations) to use for recommendations.
          example: popular_bought
          enum:
          - bought_together
          - popular_bought
          - popular_viewed
          - viewed_together
        headlines:
          minItems: 1
          uniqueItems: true
          type: array
          description: Localized recommendation headlines.
          example:
          - headline: You might be interested in
            language: en
          items:
            $ref: '#/components/schemas/Headline'
        minRecs:
          maximum: 100
          minimum: 1
          type: integer
          description: Products to be returned.
          format: int32
    CommercePageModelSlotConfigurationModel:
      required:
      - items
      - totalEntries
      - totalPages
      type: object
      properties:
        items:
          type: array
          description: The retrieved page of items.
          items:
            $ref: '#/components/schemas/SlotConfigurationModel'
        totalEntries:
          type: integer
          description: The total number of results that match the query.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages of items available.
          format: int32
      description: Page
    SlotConfigurationNameModel:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the configuration (search or listing) this rule belongs to.
          format: uuid
          readOnly: true
          example: 644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: A unique name for the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
          example: Homepage Primary.
      description: The retrieved page of items.
    SlotStrategiesModel:
      type: object
      properties:
        seedType:
          type: string
          description: The seed type for the slot.
          enum:
          - unseeded
          - product
          - cart
          - purchased
        strategies:
          type: array
          description: The strategies for the slot.
          items:
            $ref: '#/components/schemas/StrategiesModel'
    Recommendation.QueryConfigurationModel:
      required:
      - additionalFields
      type: object
      properties:
        additionalFields:
          uniqueItems: true
          type: array
          description: To retrieve [additional fields](https://docs.coveo.com/en/n73f0502#create-additional-commerce-fields) you have created, that aren’t part of the [standard commerce fields](https://docs.coveo.com/en/n73f0502#standard-commerce-fields), specify them here. These fields appear in the `additionalFields` object in the response.
          example:
          - color
          - shirtsize
          items:
            type: string
        perPage:
          maximum: 100
          minimum: 0
          type: integer
          description: The number of results to include per page.<br/><br/><b>Note:</b> The specified value applies only to parent items, not their grouped children. Query performance may be affected when returned items include many grouped products.
          format: int32
          example: 20
      description: Query configuration.
    SlotConfigurationModel:
      required:
      - headlines
      - minRecs
      - name
      - seedType
      - slotType
      - strategy
      - trackingId
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
          format: uuid
          readOnly: true
          example: 755e2dd8-3a8f-19fb-b9ed-ed89c4f83c3b
        createdAt:
          type: integer
          description: When the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) was created.
          format: int64
          readOnly: true
        name:
          maxLength: 50
          minLength: 1
          type: string
          description: A unique name for the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
          example: Homepage Primary.
        trackingId:
          maxLength: 255
          minLength: 1
          type: string
          description: The unique identifier of the tracking target.
          example: acmecorporation_ca
        slotType:
          type: string
          description: A slot type label that identifies the location of a slot.
          example: home
          enum:
          - cart
          - confirmation
          - global
          - home
          - listing
          - productDetail
          - search
        seedType:
          type: string
          description: 'The primary [seed product](https://docs.coveo.com/en/n5jg0219/glossary/seed-product) type used by recommendations strategies on this [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/). One of: product, cart or purchased.'
          example: product
          enum:
          - unseeded
          - product
          - cart
          - purchased
        seed:
          type: string
          description: 'The seed number for the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).  One of: unseeded, single, multi.'
          readOnly: true
          example: unseeded
          enum:
          - unseeded
          - single
          - multi
        strategy:
          type: string
          description: The [strategy](https://docs.coveo.com/en/3132/glossary/product-recommendations) to use for recommendations.
          example: popular_bought
          enum:
          - bought_together
          - popular_bought
          - popular_viewed
          - viewed_together
        headlines:
          minItems: 1
          uniqueItems: true
          type: array
          description: Localized recommendation headlines.
          example:
          - headline: You might be interested in
            language: en
          items:
            $ref: '#/components/schemas/Headline'
        minRecs:
          maximum: 100
          minimum: 1
          type: integer
          description: Products to be returned.
          format: int32
          default: 1
        queryConfiguration:
          $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
    Headline:
      required:
      - headline
      - language
      type: object
      properties:
        headline:
          maxLength: 255
          minLength: 1
          type: string
          description: Localized recommendation headlines.
          example: '[{"headline":"You might be interested in","language":"en"}]'
        language:
          minLength: 1
          type: string
      description: Localized recommendation headlines.
      example:
      - headline: You might be interested in
        language: en
    StrategiesModel:
      type: object
      properties:
        strategy:
          type: string
          description: The [strategy](https://docs.coveo.com/en/3132/glossary/product-recommendations) to use for recommendations.
          example: popular_bought
          enum:
          - bought_together
          - popular_bought
          - popular_viewed
          - viewed_together
        seed:
          type: string
          description: 'The seed number for the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).  One of: unseeded, single, multi.'
          example: unseeded
          enum:
          - unseeded
          - single
          - multi
      description: The strategies for the slot.
    CommercePageModelSlotConfigurationNameModel:
      required:
      - items
      - totalEntries
      - totalPages
      type: object
      properties:
        items:
          type: array
          description: The retrieved page of items.
          items:
            $ref: '#/components/schemas/SlotConfigurationNameModel'
        totalEntries:
          type: integer
          description: The total number of results that match the query.
          format: int64
        totalPages:
          type: integer
          description: The total number of pages of items available.
          format: int32
      description: Page
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
