openapi: 3.0.1
info:
  title: Coveo Notification API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
paths:
  /rest/organizations/{organizationId}/subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscription
      summary: Show Subscription
      description: 'Shows a [subscription](https://docs.coveo.com/en/248/) in a [Coveo organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to show.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: getSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId_get
    put:
      tags:
      - Subscription
      summary: Update Subscription
      description: 'Updates a [subscription](https://docs.coveo.com/en/248/) in a [Coveo organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"EDIT","targetId":"{subscriptionId}"}

        ```

        </details>'
      operationId: editSubscription
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to update.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      requestBody:
        description: The JSON configuration to update the target subscription to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubscriptionModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: editSubscription
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId_put
    delete:
      tags:
      - Subscription
      summary: Delete Subscription
      description: 'Deletes a [subscription](https://docs.coveo.com/en/248/) in a [Coveo organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"EDIT","targetId":"{subscriptionId}"}

        ```

        </details>'
      externalDocs:
        description: Deleting a Subscription
        url: https://docs.coveo.com/en/21/
      operationId: deleteSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the user subscription to delete.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId_delete
  /rest/organizations/{organizationId}/subscriptions/{subscriptionId}/enable:
    put:
      tags:
      - Subscription
      summary: Enable Subscription
      description: 'Enables a [subscription](https://docs.coveo.com/en/248/) to send [notifications](https://docs.coveo.com/en/221/)
        in a [Coveo organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"EDIT","targetId":"{subscriptionId}"}

        ```

        </details>'
      operationId: enableSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to enable.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: enableSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId/enable_put
  /rest/organizations/{organizationId}/subscriptions/{subscriptionId}/disable:
    put:
      tags:
      - Subscription
      summary: Disable Subscription
      description: 'Disables a [subscription](https://docs.coveo.com/en/248/) from sending [notifications](https://docs.coveo.com/en/221/)
        in a [Coveo organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"EDIT","targetId":"{subscriptionId}"}

        ```

        </details>'
      operationId: disableSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to disable.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: disableSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId/disable_put
  /rest/organizations/{organizationId}/subscriptions/me/{subscriptionId}:
    get:
      tags:
      - Subscription
      summary: Show Subscription for Current Member
      description: 'Shows a [subscription](https://docs.coveo.com/en/248/)</br>**Note:** Only OAuth2 token authentication
        works when working with user [notifications](https://docs.coveo.com/en/221/). Using API keys will not work as they
        cannot be traced back to an individual member.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Manage User Notifications
        url: https://docs.coveo.com/en/1911/
      operationId: getCurrentUserSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to show.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: getCurrentUserSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId_get
    put:
      tags:
      - Subscription
      summary: Update Subscription for Current Member
      description: 'Updates a [subscription](https://docs.coveo.com/en/248/) for the current [member](https://docs.coveo.com/en/2869/).</br>**Note:**
        Only OAuth2 token authentication works when working with user [notifications](https://docs.coveo.com/en/221/). Using
        API keys will not work as they cannot be traced back to an individual member.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Manage User Notifications
        url: https://docs.coveo.com/en/1911/
      operationId: editSubscriptionForCurrentUser
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to update.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      requestBody:
        description: The JSON configuration to update the target subscription to.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubscriptionModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: editSubscriptionForCurrentUser
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId_put
    delete:
      tags:
      - Subscription
      summary: Delete Subscription for Current Member
      description: 'Deletes a [subscription](https://docs.coveo.com/en/248/) for the current [member](https://docs.coveo.com/en/2869/)</br>**Note:**
        Only OAuth2 token authentication works when working with user [notifications](https://docs.coveo.com/en/221/). Using
        API keys will not work as they cannot be traced back to an individual member.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Deleting a Subscription
        url: https://docs.coveo.com/en/21/
      operationId: deleteCurrentUserSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the user subscription to delete.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteCurrentUserSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId_delete
  /rest/organizations/{organizationId}/subscriptions/me/{subscriptionId}/enable:
    put:
      tags:
      - Subscription
      summary: Enable Subscription for Current Member
      description: 'Enables a [subscription](https://docs.coveo.com/en/248/) to send [notifications](https://docs.coveo.com/en/221/)
        for the current [member](https://docs.coveo.com/en/2869/)</br>**Note:** Only OAuth2 token authentication works when
        working with user [notifications](https://docs.coveo.com/en/221/). Using API keys will not work as they cannot be
        traced back to an individual member.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Disable or enable a user notification
        url: https://docs.coveo.com/en/1911/manage-an-organization/manage-user-notifications#disable-a-user-notification
      operationId: enableUserSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to enable.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: enableUserSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId/enable_put
  /rest/organizations/{organizationId}/subscriptions/me/{subscriptionId}/disable:
    put:
      tags:
      - Subscription
      summary: Disable Subscription for Current Member
      description: 'Disables a [subscription](https://docs.coveo.com/en/248/) from sending [notifications](https://docs.coveo.com/en/221/)
        for the current [member](https://docs.coveo.com/en/2869/)</br>**Note:** Only OAuth2 token authentication works when
        working with user [notifications](https://docs.coveo.com/en/221/). Using API keys will not work as they cannot be
        traced back to an individual member.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Disable a user notification
        url: https://docs.coveo.com/en/1911/manage-an-organization/manage-user-notifications#disable-a-user-notification
      operationId: disableUserSubscriptionById
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to disable.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: disableUserSubscriptionById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId/disable_put
  /rest/organizations/{organizationId}/subscriptions:
    get:
      tags:
      - Subscription
      summary: List Subscriptions
      description: 'Lists all [subscriptions](https://docs.coveo.com/en/248/) in a [Coveo organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSubscriptions
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: getSubscriptions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions_get
    post:
      tags:
      - Subscription
      summary: Create Subscription
      description: 'Creates a [subscription](https://docs.coveo.com/en/248/)<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"CREATE","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Create a Subscription with the API
        url: https://docs.coveo.com/en/36/
      operationId: createSubscription
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        description: The JSON configuration to use for the new [subscription](https://docs.coveo.com/en/248/).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubscriptionModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: createSubscription
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions_post
  /rest/organizations/{organizationId}/subscriptions/{subscriptionId}/test:
    post:
      tags:
      - Subscription
      summary: Test Subscription
      description: 'Tests a [subscription](https://docs.coveo.com/en/248/) in a [Coveo organization](https://docs.coveo.com/en/185/).<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SUBSCRIPTION","type":"EDIT","targetId":"{subscriptionId}"}

        ```

        </details>'
      externalDocs:
        description: Testing a Subscription
        url: https://docs.coveo.com/en/44/
      operationId: testSubscription
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to test.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: testSubscription
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SUBSCRIPTION
        type: EDIT
        targetId: '{subscriptionId}'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/paramId/test_post
  /rest/organizations/{organizationId}/subscriptions/me:
    get:
      tags:
      - Subscription
      summary: List Subscriptions for Current Member
      description: 'Lists all [subscriptions](https://docs.coveo.com/en/248/) of the current [member](https://docs.coveo.com/en/2869/).</br>**Note:**
        Only OAuth2 token authentication works when working with user [notifications](https://docs.coveo.com/en/221/). Using
        API keys will not work as they cannot be traced back to an individual member.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Manage User Notifications
        url: https://docs.coveo.com/en/1911/
      operationId: getCurrentUserSubscriptions
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: getCurrentUserSubscriptions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me_get
    post:
      tags:
      - Subscription
      summary: Create Subscription for Current Member
      description: 'Creates a [subscription](https://docs.coveo.com/en/248/) for the current [member](https://docs.coveo.com/en/2869/)</br>**Note:**
        Only OAuth2 token authentication works when working with user [notifications](https://docs.coveo.com/en/221/). Using
        API keys will not work as they cannot be traced back to an individual member.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Creating a Subscription
        url: https://docs.coveo.com/en/36/
      operationId: createSubscriptionForCurrentUser
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        description: The JSON configuration to use for the new subscription.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSubscriptionModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
      x-pretty-name: createSubscriptionForCurrentUser
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me_post
  /rest/organizations/{organizationId}/subscriptions/me/{subscriptionId}/test:
    post:
      tags:
      - Subscription
      summary: Test Subscription for Current Member
      description: 'Tests a [subscription](https://docs.coveo.com/en/248/) for the current [member](https://docs.coveo.com/en/2869/)</br>**Note:**
        Only OAuth2 token authentication works when working with user [notifications](https://docs.coveo.com/en/221/). Using
        API keys will not work as they cannot be traced back to an individual member.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ACTIVITIES","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Testing a Subscription
        url: https://docs.coveo.com/en/44/
      operationId: testSubscriptionForCurrentUser
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: subscriptionId
        in: path
        description: The unique identifier of the subscription to test.
        required: true
        schema:
          type: string
        example: z5zoxmpor75utkwavbyms2ngla
      responses:
        '204':
          description: No Content
      x-pretty-name: testSubscriptionForCurrentUser
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ACTIVITIES
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/subscriptions/me/paramId/test_post
components:
  schemas:
    EditSubscriptionModel:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the subscription can send [notifications](https://docs.coveo.com/en/221/).
        name:
          type: string
          description: The display name for the subscription.
          example: Refresh Notifications
        description:
          type: string
          description: A brief description for the subscription.
          example: Sends a POST HTTP request to http://www.example.com/myendpoint when a refresh operation fails on a specific
            source.
        pattern:
          $ref: '#/components/schemas/SubscriptionPatternModel'
        type:
          type: string
          description: 'The way the [subscription](https://docs.coveo.com/en/248/) sends notifications.</br>**Allowed values:**</br>-
            `EMAIL`: Send user-friendly, HTML formatted emails whose content includes only the most vital activity event information.</br>-
            `EMAIL_JSON`: Send un-formatted emails whose content includes the entire activity event data.</br>- `WEB_HOOK`:
            Send HTTP POST requests to the URL you specify as the `serviceUrl` property value of the `parameters` object.'
          enum:
          - EMAIL
          - EMAIL_JSON
          - WEB_HOOK
          - HOME_PAGE
        frequency:
          type: string
          description: 'The frequency at which the [subscription](https://docs.coveo.com/en/248/) sends notifications.</br>**Allowed
            values:**</br>- `LIVE`: Send notifications as soon as possible when a matching activity event occurs.</br>- `HOURLY`:
            Send periodical notifications including all matching activity events that occurred within the hour.</br>- `DAILY`:
            Send periodical notifications including all matching activity events that occurred within the day.</br>- `WEEKLY`:
            Send periodical notifications including all matching activity events that occurred within the week.'
          enum:
          - LIVE
          - HOURLY
          - DAILY
          - WEEKLY
        parameters:
          $ref: '#/components/schemas/SubscriptionParametersModel'
      description: The new configuration to update the [subscription](https://docs.coveo.com/en/248/) to.
    SubscriptionParametersModel:
      type: object
      properties:
        groupId:
          type: string
          description: The unique identifier of the [group](https://docs.coveo.com/en/2867/) the subscription is intended
            for.
        emailRecipients:
          type: array
          description: A list of email addresses to send notifications to.
          example: '[`jsmith@example.com`]'
          items:
            type: string
            description: A list of email addresses to send notifications to.
            example: '[`jsmith@example.com`]'
        serviceUrl:
          type: string
          description: The URL the subscription sends its HTTP POST requests to.</br>**Note:** Only relevant for subscriptions
            of type `WEB_HOOK`.
          example: http://www.example.com/myendpoint
        fromDisplayName:
          type: string
          description: The display name to use for the `from` field of the email.</br>**Note:** Only relevant for subscriptions
            of type `EMAIL` or `EMAIL_JSON`.
          example: My Coveo Cloud Organization Notification
        emailSubject:
          type: string
          description: The subject of the email notification to be sent.</br>**Note:** Only relevant for subscriptions of
            type `EMAIL` or `EMAIL_JSON`.
          example: Refresh failed on "My Coveo Cloud Organization"
      description: Parameters specifying the [notification](https://docs.coveo.com/en/221/) sent by the [subscription](https://docs.coveo.com/en/248/).
    SubscriptionPatternModel:
      type: object
      properties:
        content:
          type: object
          additionalProperties:
            type: string
            description: An object specifying which resource to target with the notification.
            externalDocs:
              description: See `Content` Object
              url: https://docs.coveo.com/en/1660/#content-object
          description: An object specifying which resource to target with the notification.
          externalDocs:
            description: See `Content` Object
            url: https://docs.coveo.com/en/1660/#content-object
        operations:
          uniqueItems: true
          type: array
          description: An array specifying the actions performed on the [Coveo Cloud platform](https://docs.coveo.com/en/186/)
            module (i.e., resource type) for which the [subscription](https://docs.coveo.com/en/248/) triggers a notification.
          externalDocs:
            description: See `Operations` Object
            url: https://docs.coveo.com/en/1660/#operations-array
          items:
            type: string
            description: An array specifying the actions performed on the [Coveo Cloud platform](https://docs.coveo.com/en/186/)
              module (i.e., resource type) for which the [subscription](https://docs.coveo.com/en/248/) triggers a notification.
            externalDocs:
              description: See `Operations` Object
              url: https://docs.coveo.com/en/1660/#operations-array
        resourceTypes:
          uniqueItems: true
          type: array
          description: An array specifying the [Coveo Cloud platform](https://docs.coveo.com/en/186/) modules for which the
            [subscription](https://docs.coveo.com/en/248/) triggers a notification.
          externalDocs:
            description: See `ResourceTypes` Object
            url: https://docs.coveo.com/en/1660/#resourcetypes-array
          items:
            type: string
            description: An array specifying the [Coveo Cloud platform](https://docs.coveo.com/en/186/) modules for which
              the [subscription](https://docs.coveo.com/en/248/) triggers a notification.
            externalDocs:
              description: See `ResourceTypes` Object
              url: https://docs.coveo.com/en/1660/#resourcetypes-array
        resultTypes:
          uniqueItems: true
          type: array
          description: An array specifying operation results of for which the [subscription](https://docs.coveo.com/en/248/)
            triggers a notification.
          externalDocs:
            description: See `ResultTypes` Object
            url: https://docs.coveo.com/en/1660/#resulttypes-array)
          items:
            type: string
            description: An array specifying operation results of for which the [subscription](https://docs.coveo.com/en/248/)
              triggers a notification.
            externalDocs:
              description: See `ResultTypes` Object
              url: https://docs.coveo.com/en/1660/#resulttypes-array)
        eventNames:
          uniqueItems: true
          type: array
          description: An array specifying notification event names for which the [subscription](https://docs.coveo.com/en/248/)
            triggers a notification.
          items:
            type: string
            description: An array specifying notification event names for which the [subscription](https://docs.coveo.com/en/248/)
              triggers a notification.
      description: The [subscription](https://docs.coveo.com/en/248/) configuration specifying which activities trigger notifications.
      externalDocs:
        description: Organization Notification JSON Filter Reference
        url: https://docs.coveo.com/en/1660/
    SubscriptionModel:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether the subscription can send [notifications](https://docs.coveo.com/en/221/).
        name:
          type: string
          description: The display name for the subscription.
          example: Refresh Notifications
        description:
          type: string
          description: A brief description for the subscription.
          example: Sends a POST HTTP request to http://www.example.com/myendpoint when a refresh operation fails on a specific
            source.
        pattern:
          $ref: '#/components/schemas/SubscriptionPatternModel'
        type:
          type: string
          description: 'The way the [subscription](https://docs.coveo.com/en/248/) sends notifications.</br>**Allowed values:**</br>-
            `EMAIL`: Send user-friendly, HTML formatted emails whose content includes only the most vital activity event information.</br>-
            `EMAIL_JSON`: Send un-formatted emails whose content includes the entire activity event data.</br>- `WEB_HOOK`:
            Send HTTP POST requests to the URL you specify as the `serviceUrl` property value of the `parameters` object.'
          enum:
          - EMAIL
          - EMAIL_JSON
          - WEB_HOOK
          - HOME_PAGE
        frequency:
          type: string
          description: 'The frequency at which the [subscription](https://docs.coveo.com/en/248/) sends notifications.</br>**Allowed
            values:**</br>- `LIVE`: Send notifications as soon as possible when a matching activity event occurs.</br>- `HOURLY`:
            Send periodical notifications including all matching activity events that occurred within the hour.</br>- `DAILY`:
            Send periodical notifications including all matching activity events that occurred within the day.</br>- `WEEKLY`:
            Send periodical notifications including all matching activity events that occurred within the week.'
          enum:
          - LIVE
          - HOURLY
          - DAILY
          - WEEKLY
        parameters:
          $ref: '#/components/schemas/SubscriptionParametersModel'
        id:
          type: string
          description: The unique identifier of the subscription.
          example: z5zoxmpor75utkwavbyms2ngla
        organizationId:
          type: string
          description: The unique identifier of the organization the subscription was created for.
          example: mycoveocloudorganizationg8tp8wu3
        createdDate:
          type: string
          description: The subscription creation date in number of milliseconds since Unix epoch.
          format: date-time
        lastModified:
          type: string
          description: The date the subscription was last modified in number of milliseconds since Unix epoch.
          format: date-time
        userId:
          type: string
          description: The unique identifier of the [member](https://docs.coveo.com/en/2869/) the subscription is intended
            for.
          example: jsmith@example.com
          externalDocs:
            description: Manage User Notifications
            url: https://docs.coveo.com/en/1911/
        status:
          $ref: '#/components/schemas/SubscriptionStatusModel'
        builtIn:
          type: boolean
          description: Whether the subscription is built-in at the organization creation.
        unsubscribedEmails:
          uniqueItems: true
          type: array
          description: The list of unsubscribed emails of the given subscription.
          items:
            type: string
            description: The list of unsubscribed emails of the given subscription.
      description: A [subscription](https://docs.coveo.com/en/248/).
    SubscriptionStatisticsModel:
      type: object
      properties:
        numberOfSuccess:
          type: integer
          description: The number of times today that the notification was successfully processed and sent to the expected
            email addresses or service URLs.
          format: int32
        numberOfFailures:
          type: integer
          description: The number of times today that the email or webhook server to which the notification was sent returned
            an error or could not be reached.
          format: int32
        numberOfErrors:
          type: integer
          description: The number of times today that an unexpected error occurred while Coveo was processing the notification.
          format: int32
        numberOfCancellations:
          type: integer
          description: The number of times today that the activity related to the notification occurred but did not cause
            a notification to be sent.
          format: int32
      description: The usage statistics of a [subscription](https://docs.coveo.com/en/248/).
      externalDocs:
        description: Review the usage statistics of an organization notification
        url: https://docs.coveo.com/en/1583/manage-an-organization/manage-organization-notifications#review-the-usage-statistics-of-an-organization-notification
    SubscriptionStatusModel:
      type: object
      properties:
        healthIndicator:
          type: string
          description: 'A general indication of how well the subscription is doing</br>**Allowed values:**</br>- `GOOD`: A
            very low percentage (i.e., less than 5%) of the notifications triggered by the subscription are failures, errors,
            or cancellations.</br>- `WARNING`: A relatively low, but still significant percentage (i.e., between 5% and 20%)
            of the notifications triggered by the subscription are failures, errors, or cancellations.</br>- `PROBLEMATIC`:
            A relatively high percentage (i.e., 20% or more) of the notifications triggered by the subscription are failures,
            errors, or cancellations.</br>- `UNKNOWN`: No statistics are available for the subscription.'
          enum:
          - GOOD
          - WARNING
          - PROBLEMATIC
          - UNKNOWN
        statistics:
          $ref: '#/components/schemas/SubscriptionStatisticsModel'
        latestResponseMessage:
          type: string
          description: The response message from the most recent service request.
          example: '`200 OK`'
      description: The [status of the subscription](https://docs.coveo.com/en/1583/manage-an-organization/manage-organization-notifications#subscription-status).</br>See
        [Review the usage statistics of an organization notification](https://docs.coveo.com/en/1583/manage-an-organization/manage-organization-notifications#review-the-usage-statistics-of-an-organization-notification).
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
