openapi: 3.0.1
info:
  title: Coveo Activity Activities Dynamic Navigation Experience Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Dynamic Navigation Experience Configuration
paths:
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/model/{modelId}:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show DNE Model Resources
      description: 'Shows resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: getModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_get
    put:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Update DNE Model Resources
      description: 'Updates the configuration of the resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DneConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: updateModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_put
    delete:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Delete DNE Model Resources
      description: 'Deletes resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_delete
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/parsedocumentextractionquerymodel:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Parse a Document Extraction Query
      description: 'Parses the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: parseDocumentExtractionQuery
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              type: string
              description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery` endpoint to generate the proper query.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionQueryModel'
      x-pretty-name: parseDocumentExtractionQuery
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/parsedocumentextractionquerymodel_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/model:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Create DNE Model Resources
      description: 'Creates resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createModel_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DneNewConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: createModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show Document Extraction Query
      description: 'Shows the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionQuery
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentExtractionQueryModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      x-pretty-name: getDocumentExtractionQuery
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionquery_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquerymodel:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Parse a Document Extraction Query
      description: 'Parses the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionQueryModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: query
        in: query
        description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery` endpoint to generate the proper query.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
        required: true
        schema:
          type: string
        example: (@filetype OR @category) AND @source==("My source")
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionQueryModel'
      x-pretty-name: getDocumentExtractionQueryModel
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionquerymodel_get
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionpreview:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show Document Extraction Preview
      description: 'Shows information about the documents to be extracted.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        AND

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        AND

        {"owner":"SEARCH_API","targetDomain":"VIEW_ALL_CONTENT","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fields
        in: query
        description: The names of the fields to consider for the document extraction preview. Documents for which at least one of these fields is defined will be included in the preview.<br />**Example:** `filetype,category`
        required: true
        schema:
          type: array
          items:
            type: string
        example: filetype,category
      - name: maximumNumberOfSources
        in: query
        description: The maximum number of sources to return.<br />**Example:** `10`
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: viewAllContent
        in: query
        description: Whether to allow the preview to include secured documents.
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionPreviewModel'
      x-pretty-name: getDocumentExtractionPreviewWithViewAllContent
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      - owner: SEARCH_API
        targetDomain: VIEW_ALL_CONTENT
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionpreview_get
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/autoselectionfieldcandidates:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: List Fields
      description: 'Retrieves a filtered and paginated list of [fields](https://docs.coveo.com/en/200/) from the [index](https://docs.coveo.com/en/204/) of the target Coveo Cloud [organization](https://docs.coveo.com/en/185/).<br /><br />**Required privilege:** Fields - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAutoSelectionFieldCandidates
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: filter
        in: query
        description: A substring that must appear in the `name` property of a [field](https://docs.coveo.com/en/200/) in order for this field to be included in the results.<br />**Example:** `author`
        required: false
        schema:
          type: string
          default: ''
      - name: page
        in: query
        description: 'The 0-based number of the page of results to list.<br />Minimum: `0`<br />**Default:** `0`'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The maximum number of results to include per page.<br />**Must be in range:** `[1, 1000]`<br />**Default:** `100`
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelAutoSelectionFieldCandidateModel'
      x-pretty-name: getAutoSelectionFieldCandidates
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/autoselectionfieldcandidates_get
components:
  schemas:
    DneNewConfigurationModel:
      required:
      - modelDisplayName
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        exportPeriod:
          type: string
          description: The period of UA data to learn from when rebuilding the model. The `exportPeriod` uses the moment when the model was last generated as a base. Must be in the ISO8601 period format (i.e., PyYmMwWdDThHmMsS).<br />**Example:** `P1M`
          example: P1M
        intervalTime:
          type: integer
          description: 'The number of `intervalUnit` to wait between each rebuild of the model.


            Must be greater than or equal to `1`.<br />**Example:** `1`'
          format: int32
          example: 1
          enum:
          - null
        intervalUnit:
          type: string
          description: The duration unit to use when interpreting the rebuild `intervalTime` for the model.<br />**Example:** `WEEK`
          example: WEEK
          enum:
          - DAY,WEEK,MONTH
        commonFilter:
          type: string
          description: 'The filter to apply to the ’Common’ event dimensions (shared by all event types) of the UA data to learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 == "My Hub")`'
          example: (originlevel1 == "My Hub")
        searchEventFilter:
          type: string
          description: 'The filter to apply to the ‘Click’ and ‘Search’ event dimensions of the UA data to learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 == "My Hub")`'
          example: (originlevel1 == "My Hub")
        fieldsToAutoSelect:
          type: array
          description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot be updated.<br />**Example:** `["filetype", "category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot be updated.<br />**Example:** `["filetype", "category"]`
            example: '["filetype","category"]'
        documentExtractionQuery:
          type: string
          description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery` endpoint to generate the proper query. **Note:** Once set, this property cannot be updated.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
          example: (@filetype OR @category) AND @source==("My source")
        viewAllContent:
          type: boolean
          description: Whether to allow the model to extract secured documents. **Note:** Once set, this property cannot be updated.
      description: The configuration for the creation of a DNE model.
    SourceModel:
      type: object
      properties:
        name:
          type: string
          description: The name of the source.<br />**Example:** `SalesforceCatalog`
          example: SalesforceCatalog
        numberOfDocuments:
          type: integer
          description: The total number of documents in that source.<br />**Example:** `100`
          format: int32
          example: 100
      description: A source, in regards to documents availability.
    DocumentExtractionPreviewModel:
      type: object
      properties:
        numberOfDocuments:
          type: integer
          description: The total number of documents that would be extracted.<br />**Example:** `1000`
          format: int32
          example: 1000
        recommendedNumberOfDocuments:
          type: integer
          description: The recommended maximum number of documents to extract to avoid performance issues.<br />**Example:** `1000000`
          format: int32
          example: 1000000
        sources:
          type: array
          description: The sources from which the documents would be extracted.
          items:
            $ref: '#/components/schemas/SourceModel'
      description: A preview of what would happen if a specific document extraction was executed.
    DocumentExtractionQueryModel:
      type: object
      properties:
        fields:
          type: array
          description: The names of the fields to consider for the document extraction query. Documents for which at least one of these fields is defined will be included in the preview.<br />**Example:** `["filetype","category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for the document extraction query. Documents for which at least one of these fields is defined will be included in the preview.<br />**Example:** `["filetype","category"]`
            example: '["filetype","category"]'
        sources:
          type: array
          description: The names of the sources to consider for the document extraction query. If unspecified, documents from any sources may be included in the preview.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources to consider for the document extraction query. If unspecified, documents from any sources may be included in the preview.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
      description: The constraints for the document extraction query of a DNE model.
    AutoSelectionFieldCandidateModel:
      type: object
      properties:
        name:
          type: string
          description: The name of the field, also referred to as the field identifier.<br />**Example:** `category`
          example: category
        description:
          type: string
          description: The description of the field.<br />**Example:** `The category the product belongs to.`
          example: The category the product belongs to.
      description: A candidate field for autoselection.
    PageModelAutoSelectionFieldCandidateModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AutoSelectionFieldCandidateModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    DneConfigurationModel:
      required:
      - modelDisplayName
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        exportPeriod:
          type: string
          description: The period of UA data to learn from when rebuilding the model. The `exportPeriod` uses the moment when the model was last generated as a base. Must be in the ISO8601 period format (i.e., PyYmMwWdDThHmMsS).<br />**Example:** `P1M`
          example: P1M
        intervalTime:
          type: integer
          description: 'The number of `intervalUnit` to wait between each rebuild of the model.


            Must be greater than or equal to `1`.<br />**Example:** `1`'
          format: int32
          example: 1
          enum:
          - null
        intervalUnit:
          type: string
          description: The duration unit to use when interpreting the rebuild `intervalTime` for the model.<br />**Example:** `WEEK`
          example: WEEK
          enum:
          - DAY,WEEK,MONTH
        commonFilter:
          type: string
          description: 'The filter to apply to the ’Common’ event dimensions (shared by all event types) of the UA data to learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 == "My Hub")`'
          example: (originlevel1 == "My Hub")
        searchEventFilter:
          type: string
          description: 'The filter to apply to the ‘Click’ and ‘Search’ event dimensions of the UA data to learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 == "My Hub")`'
          example: (originlevel1 == "My Hub")
        fieldsToAutoSelect:
          type: array
          description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot be updated.<br />**Example:** `["filetype", "category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot be updated.<br />**Example:** `["filetype", "category"]`
            example: '["filetype","category"]'
        documentExtractionQuery:
          type: string
          description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery` endpoint to generate the proper query. **Note:** Once set, this property cannot be updated.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
          example: (@filetype OR @category) AND @source==("My source")
        viewAllContent:
          type: boolean
          description: Whether to allow the model to extract secured documents. **Note:** Once set, this property cannot be updated.
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
      description: The configuration for the update of a DNE model.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
