openapi: 3.0.1
info:
  title: Coveo Customer Service API Service
  description: Documentation for Coveo Customer Service API Service
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: support@coveo.com
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com/rest/organizations
tags:
- name: Answer
  x-displayName: Answer
- name: Case Assist
  x-displayName: Case Assist
- name: Insight Panel
  x-displayName: Insight Panel
- name: CRGA For Cases
  x-displayName: CRGA For Cases
paths:
  /rest/organizations/{organizationId}/answer/cases/v1/configs/{configId}:
    post:
      tags:
      - CRGA For Cases
      summary: Create CRGA for Cases Configuration
      description: Add a CRGA For Cases configuration to the answer configuration
      operationId: createLfcaConfiguration
      parameters:
      - $ref: '#/components/parameters/OrganizationIdPath'
      - $ref: '#/components/parameters/ConfigIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LfcaConfiguration'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LfcaConfiguration'
      security:
      - oauth2:
        - full
    get:
      tags:
      - CRGA For Cases
      summary: Get CRGA for Cases Configuration
      description: Get the CRGA For Cases configuration associated to the answer configuration.
      operationId: getLfcaConfiguration
      parameters:
      - $ref: '#/components/parameters/OrganizationIdPath'
      - $ref: '#/components/parameters/ConfigIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LfcaConfiguration'
      security:
      - oauth2:
        - full
    patch:
      tags:
      - CRGA For Cases
      summary: Update CRGA for Cases Configuration Attributes
      description: Update attributes of the CRGA For Cases configuration.
      operationId: patchLfcaConfiguration
      parameters:
      - $ref: '#/components/parameters/OrganizationIdPath'
      - $ref: '#/components/parameters/ConfigIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LfcaConfigurationPatchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LfcaConfiguration'
      security:
      - oauth2:
        - full
    delete:
      tags:
      - CRGA For Cases
      summary: Delete CRGA for Cases Configuration
      description: Delete the CRGA For Cases configuration associated to the answer configuration.
      operationId: deleteLfcaConfiguration
      parameters:
      - $ref: '#/components/parameters/OrganizationIdPath'
      - $ref: '#/components/parameters/ConfigIdPath'
      responses:
        '204':
          description: No content
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/answer/v1/configs/{configId}/generate:
    post:
      tags:
      - Answer
      summary: Get Answer
      description: Get an answer for a question
      operationId: getAnswer
      parameters:
      - $ref: '#/components/parameters/OrganizationIdPath'
      - $ref: '#/components/parameters/ConfigIdPath'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerSearchRequest'
      responses:
        '200':
          description: OK
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/GenQAResponse'
              examples:
                HeaderMessage:
                  $ref: '#/components/examples/HeaderMessage'
                AnswerMessage:
                  $ref: '#/components/examples/AnswerMessage'
                CitationsMessage:
                  $ref: '#/components/examples/CitationsMessage'
                EndOfStreamMessage:
                  $ref: '#/components/examples/EndOfStreamMessage'
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/caseassists/{caseAssistId}:
    get:
      tags:
      - Case Assist
      summary: Show Case Assist Configuration
      description: Shows a case assist configuration in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br /><br
        /><b>Required privilege:</b> Customer Service - Case assist configuration - View
      operationId: getCaseAssistConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: caseAssistId
        in: path
        description: The unique identifier of the target case assist configuration.<br /><b>Example:</b> `812efd5e-a7e3-49d5-8f1d-81be8e739b70`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCaseAssistConfigurationResponse'
      deprecated: false
      security:
      - oauth2:
        - full
    put:
      tags:
      - Case Assist
      summary: Update Case Assist Configuration
      description: Updates a case assist configuration in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br
        /><br /><b>Required privilege:</b> Customer Service - Case assist configuration - Edit
      operationId: updateCaseAssistConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: caseAssistId
        in: path
        description: The unique identifier of the target case assist configuration.<br /><b>Example:</b> `812efd5e-a7e3-49d5-8f1d-81be8e739b70`
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestCaseAssistConfigurationRequest'
        required: true
      responses:
        '204':
          description: No Content
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
    delete:
      tags:
      - Case Assist
      summary: Delete Case Assist Configuration
      description: Deletes a case assist configuration in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br
        /><br /><b>Required privilege:</b> Customer Service - Case assist configuration - Edit
      operationId: deleteCaseAssistConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: caseAssistId
        in: path
        description: The unique identifier of the target case assist configuration.<br /><b>Example:</b> `812efd5e-a7e3-49d5-8f1d-81be8e739b70`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/caseassists/{caseAssistId}/classify:
    post:
      tags:
      - Case Assist
      summary: Request Classifications
      description: Requests field value suggestions for a case.<br /><br /><b>Required privilege:</b> Customer Service - Use
        case assist - Allowed<br/>
      operationId: postClassify
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: caseAssistId
        in: path
        description: The unique identifier of the target case assist configuration.<br /><b>Example:</b> `812efd5e-a7e3-49d5-8f1d-81be8e739b70`
        required: true
        schema:
          type: string
      - name: debug
        in: query
        description: Whether to include an execution report for debugging purposes.
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestCaseAssistContext'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestClassification'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/caseassists/preview/classify:
    post:
      tags:
      - Case Assist
      summary: Request Classifications Preview
      description: Requests field value suggestions preview for a case and configuration.<br /><br /><b>Required privilege:</b><ul><li>Customer
        Service - Use case assist - Allowed</li><li>Customer Service - Case assist configuration - Edit</li><li>Search - All
        Content - View</li></ul>
      operationId: postClassifyPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: debug
        in: query
        description: Whether to include an execution report for debugging purposes.
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PreviewClassificationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestClassification'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/caseassists/{caseAssistId}/documents/suggest:
    post:
      tags:
      - Case Assist
      summary: Request Document Suggestions
      description: Requests document suggestions for a case.<br /><br /><b>Required privilege:</b> Customer Service - Use
        case assist - Allowed
      operationId: getSuggestDocument
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: caseAssistId
        in: path
        description: The unique identifier of the target case assist configuration.<br /><b>Example:</b> `812efd5e-a7e3-49d5-8f1d-81be8e739b70`
        required: true
        schema:
          type: string
      - name: debug
        in: query
        description: Whether to include an execution report for debugging purposes.
        schema:
          type: boolean
          default: false
      - name: numberOfResults
        in: query
        description: The maximum number of results to return.<br />**Must be in range:** `[1, 100]`
        schema:
          type: integer
          format: int32
          default: 5
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestCaseAssistContext'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestDocumentSuggestions'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/caseassists/preview/documents/suggest:
    post:
      tags:
      - Case Assist
      summary: Request Document Suggestions Preview
      description: Requests document suggestions preview for a case and configuration.<br /><br /><b>Required privilege:</b><ul><li>Customer
        Service - Use case assist - Allowed</li><li>Customer Service - Case assist configuration - Edit</li></ul>
      operationId: getSuggestDocumentPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: debug
        in: query
        description: Whether to include an execution report for debugging purposes.
        schema:
          type: boolean
          default: false
      - name: numberOfResults
        in: query
        description: The maximum number of results to return.<br />**Must be in range:** `[1, 100]`
        schema:
          type: integer
          format: int32
          default: 5
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PreviewDocumentSuggestionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestDocumentSuggestions'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/caseassists:
    get:
      tags:
      - Case Assist
      summary: List Case Assist Configurations
      description: Lists all case assist configurations in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br
        /><br /><b>Required privilege:</b> Customer Service - Case assist configuration - View
      operationId: getAllCaseAssistConfigurations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the page of configurations to list.<br /><b>Default:</b> `0`
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        description: The maximum number of configurations to include per page.<br /><b>Default:</b> `100`
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestListOfCaseAssistConfigurations'
      deprecated: false
      security:
      - oauth2:
        - full
    post:
      tags:
      - Case Assist
      summary: Create Case Assist Configuration
      description: Creates a case assist configuration in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br/><br/><b>Required
        privilege:</b><ul><li>Customer Service - Case assist configuration - Edit</li><li>Search - All Content - View</li></ul>
      operationId: createCaseAssistConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestCaseAssistConfigurationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestCaseAssistConfigurationResponse'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/caseassists/projects/get:
    get:
      tags:
      - Case Assist
      summary: Get Case Assist Configurations by Project
      description: Retrieves case assist configurations associated with a specific project in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br
        /><br /><b>Required privilege:</b> Customer Service - Case assist configuration - View
      operationId: getCaseAssistConfigurationsByProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The unique identifier of the project for which to retrieve case assist configurations.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the page of configurations to list.<br /><b>Default:</b> `0`
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        description: The maximum number of configurations to include per page.<br /><b>Default:</b> `100`
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestListOfCaseAssistConfigurationsWithProjects'
      deprecated: false
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/insightconfig/v1/configs:
    get:
      tags:
      - Insight Panel
      summary: List Insight Panel Configurations
      description: Gets a list of Insight Panel configurations.
      operationId: insight-panel-configuration-list
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the page of configurations to list.
        schema:
          type: integer
          format: Int32
          default: 0
      - name: perPage
        in: query
        description: The number of configurations to list per page. Must be equal to or greater than <code>1</code>.
        schema:
          type: integer
          format: Int32
          default: 10
      - name: filter
        in: query
        description: A filter that only retrieves matching Insight Panel configurations.
        schema:
          type: string
      - name: order
        in: query
        description: 'The order in which the configurations are listed. The available values are: <ul> <li><i>empty</i>: items
          are not sorted in any specific order.</li> <li><code>asc</code>: items are sorted in ascending order.</li> <li><code>desc</code>:
          items are sorted in descending order.</li> </ul>'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: List of Insight Panel configurations
                    items:
                      $ref: '#/components/schemas/RestInsightPanelConfiguration'
                  totalEntries:
                    type: integer
                    description: The total number of items that match the <code>filter</code> parameter.
                  totalPages:
                    type: integer
                    description: The total number of item pages according to the <code>perPage</code> parameter.
      deprecated: false
      security:
      - oauth2:
        - full
    post:
      tags:
      - Insight Panel
      summary: Create an Insight Panel Configuration
      description: Creates a new Insight Panel configuration.
      operationId: insight-panel-configuration-create
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestInsightPanelConfigurationCreate'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestInsightPanelConfiguration'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/insightconfig/v1/configs/ids:
    post:
      tags:
      - Insight Panel
      summary: List Insight Panel Configurations by Ids.
      description: Gets a list of Insight Panel configurations by ids.
      operationId: insight-panel-configuration-list-ids
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the page of configurations to list.
        schema:
          type: integer
          format: Int32
          default: 0
      - name: perPage
        in: query
        description: The number of configurations to list per page. Must be equal to or greater than <code>1</code>.
        schema:
          type: integer
          format: Int32
          default: 10
      - name: filter
        in: query
        description: A filter that only retrieves matching Insight Panel configurations.
        schema:
          type: string
      - name: order
        in: query
        description: 'The order in which the configurations are listed. The available values are: <ul> <li><i>empty</i>: items
          are not sorted in any specific order.</li> <li><code>asc</code>: items are sorted in ascending order.</li> <li><code>desc</code>:
          items are sorted in descending order.</li> </ul>'
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestInsightPanelConfigurationListIds'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: List of Insight Panel configurations
                    items:
                      $ref: '#/components/schemas/RestInsightPanelConfiguration'
                  totalEntries:
                    type: integer
                    description: The total number of items that match the <code>filter</code> parameter.
                  totalPages:
                    type: integer
                    description: The total number of item pages according to the <code>perPage</code> parameter.
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/insightconfig/v1/configs/{configId}:
    get:
      tags:
      - Insight Panel
      summary: Get an Insight Panel Configuration
      description: Gets a single Insight Panel configuration.
      operationId: insight-panel-configuration-get
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the target Insight Panel configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestInsightPanelConfiguration'
        '404':
          description: When the specified Insight Panel configuration does not exist.
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
    put:
      tags:
      - Insight Panel
      summary: Update an Insight Panel Configuration
      description: Updates an existing Insight Panel configuration.
      operationId: insight-panel-configuration-update
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the target Insight Panel configuration.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestInsightPanelConfigurationUpdate'
        required: false
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestInsightPanelConfiguration'
        '404':
          description: When the specified Insight Panel configuration does not exist.
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
    delete:
      tags:
      - Insight Panel
      summary: Delete an Insight Panel Configuration
      description: Deletes an existing Insight Panel configuration.
      operationId: insight-panel-configuration-delete
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the target Insight Panel configuration.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
          content: {}
        '404':
          description: When the specified Insight Panel configuration does not exist.
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/insight/v1/configs/{configId}/interface:
    get:
      tags:
      - Insight Panel
      summary: Get an Insight Panel Interface
      description: Gets a specific Insight Panel interface.
      operationId: insight-panel-interface-get
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the target Insight Panel configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                type: object
                properties:
                  contextFields:
                    type: object
                    properties: {}
                    example:
                      subject: case_subject
                      description: case_description
                  searchHub:
                    type: string
                  interface:
                    $ref: '#/components/schemas/RestInsightPanelInterface'
      deprecated: false
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/insight/v1/configs/{configId}/search:
    post:
      tags:
      - Insight Panel
      summary: Search for Items
      description: Searches for items using a specific Insight Panel configuration.
      operationId: insight-panel-search
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the Insight Panel configuration.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestInsightPanelSearchRequest'
        required: false
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestInsightPanelSearchResponse'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/insight/v1/configs/{configId}/querysuggest:
    post:
      tags:
      - Insight Panel
      summary: Retrieve Query Suggestions
      description: Retrieves query suggestions using a specific Insight Panel configuration.
      operationId: insight-panel-query-suggest
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the Insight Panel configuration.
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RestInsightPanelQuerySuggestRequest'
        required: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RestInsightPanelQuerySuggestResponse'
      deprecated: false
      security:
      - oauth2:
        - full
      x-codegen-request-body-name: body
  /rest/organizations/{organizationId}/insight/v1/configs/{configId}/quickview:
    get:
      tags:
      - Insight Panel
      summary: Retrieve Item Quickview
      description: Retrieves an item Quickview using a specific Insight Panel configuration.
      operationId: insight-panel-quickview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: configId
        in: path
        description: The unique identifier of the target Insight Panel configuration.
        required: true
        schema:
          type: string
      - name: uniqueId
        in: query
        description: The unique identifier of the target document.
        required: true
        schema:
          type: string
      - name: q
        in: query
        description: <p>The basic query expression, typically the keywords entered by the end user in a query box.</p> <p><strong>Note:</strong>
          When logging a <strong>Search</strong> Usage Analytics event for a query, the <code>queryText</code> field of that
          event should be set to the <code>q</code> value of the corresponding query.</p>
        schema:
          type: string
      - name: enableNavigation
        in: query
        description: Provide controls to the end user for navigating through the matching keywords in the document.
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. <strong>Default:</strong> <code>0</code>,
          meaning that the entire HTML document is requested.
        schema:
          type: integer
      responses:
        '200':
          description: The item's HTML preview.
          content: {}
      deprecated: false
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/insightconfig/v1/configs/projects/get:
    get:
      tags:
      - Insight Panel
      summary: Get Insight Configurations by Project
      description: Retrieves insight panel configurations associated with a specific project in a [Coveo Cloud organization](https://docs.coveo.com/en/185/).<br
        /><br /><b>Required privilege:</b> Customer Service - Insight panel configuration - View
      operationId: getInsightConfigurationsByProject
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br /><b>Example:</b>
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: projectId
        in: query
        description: The unique identifier of the project for which to retrieve insight panel configurations.
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The 0-based number of the page of configurations to list.<br /><b>Default:</b> `0`
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        description: The maximum number of configurations to include per page.<br /><b>Default:</b> `100`
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: A filter that only retrieves matching Insight Panel configurations.
        schema:
          type: string
      - name: order
        in: query
        description: 'The order in which the configurations are listed. The available values are: <ul> <li><i>empty</i>: items
          are not sorted in any specific order.</li> <li><code>asc</code>: items are sorted in ascending order.</li> <li><code>desc</code>:
          items are sorted in descending order.</li> </ul>'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestListOfInsightPanelConfigurationsWithProjects'
      deprecated: false
      security:
      - oauth2:
        - full
components:
  schemas:
    Fields:
      type: object
      additionalProperties:
        type: object
        properties:
          value:
            type: string
            description: The value of the field.
            example: My GC3000 series propane generator won't start
      description: 'A dictionary where each key is the name of a field that pertains to the target case, and each value is
        an object that describes the content of that field.<br /><b>Example:</b> `{"subject": {"value": "GC3000 won''t start"},
        "description": {"value": "My GC3000 series propane generator won''t start"}`}'
      example:
        subject:
          value: GC3000 won't start
        description:
          value: My GC3000 series propane generator won't start
    ContextAttributes:
      type: object
      additionalProperties:
        type: string
        description: The value of the attribute.
        example: GC3000 Series
      description: A dictionary where each key is the name of a context attribute that pertains to the target case, and each
        value is a string that describes the content of that context attribute.
      example:
        product: Propane Generator
        subproduct: GC3000 Series
    visitorId:
      type: string
      description: <p>A GUID which represents the current user, who can either be authenticated or anonymous.</p> <p><code>visitorId</code>
        is deprecated and has been replaced by <a href="https://docs.coveo.com/en/masb0234/"><code>clientId</code><a> in newer
        versions of the Coveo UI libraries. For compatibility, the new first-party cookie and local storage values are still
        named <code>coveo_visitorId</code>.</p> <p>For older versions of the JavaScript Search Framework, the visitor ID is
        generated by the Coveo Usage Analytics service and stored in a non-expiring third-party cookie. <strong>Note:</strong>
        Third-party cookies <a href="https://docs.coveo.com/en/m54b9238/">have also been deprecated</a>. This is unrelated
        to the deprecation of <code>visitorId</code>.</p>
      example: 5cb98953-9c13-42ff-8176-e6fcba6a50bf
    clientId:
      type: string
      description: The <a href="https://docs.coveo.com/en/masb0234/"><code>clientId</code><a> identifies a user on a browser
        of a Coveo-powered search page and provides insight into the events they performed
      example: 5cb98953-9c13-42ff-8176-e6fcba6a50bf
    locale:
      type: string
      description: <p>The locale of the current user. Must comply with IETF's <a href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP
        47</a> definition.</p> <p>Coveo Machine Learning models use this information to provide contextually relevant output.
        Moreover, this information can be referred to in query expressions and QPL statements by using the <code>$locale</code>
        object.</p> <p><strong>Note:</strong> When logging a Search Usage Analytics event, the <code>language</code> field
        of that event should match the language part of the <code>locale</code> value of the query (e.g., <code>en-US</code>
        in <code>locale</code> becomes <code>en</code> in <code>language</code>).</p>
      example: en-US
    RestCaseAssistConfigurationRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the case assist configuration.<br />
          example: myCaseAssistConfiguration
        documentSuggestionConfiguration:
          $ref: '#/components/schemas/RestDocumentSuggestionConfiguration'
        classificationConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/RestClassificationConfiguration'
      description: A case assist configuration.
    DocumentSuggestionConfiguration:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the case assist configuration.<br />
          example: myCaseAssistConfiguration
        documentSuggestionConfiguration:
          $ref: '#/components/schemas/RestDocumentSuggestionConfiguration'
      description: A mock case assist configuration to test a document suggestions configuration.
    CaseClassificationConfiguration:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the case assist configuration.<br />
          example: myCaseAssistConfiguration
        classificationConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/RestClassificationConfiguration'
      description: A mock case assist configuration to test a case classification configuration.
    RestDocumentSuggestionConfiguration:
      required:
      - filter
      - pipeline
      - strategy
      type: object
      properties:
        strategy:
          type: string
          description: 'The strategy with which to retrieve document suggestions.<br /><b>Allowed value:</b><br /> - `ITD`:
            Use [Intelligent Term Detection](https://docs.coveo.com/en/207/).'
          example: ITD
          enum:
          - ITD
        filter:
          type: string
          description: A [filter query expression](https://docs.coveo.com/en/1552/) to restrict returned items.
          example: '@objecttype==case'
        pipeline:
          type: string
          description: The name of a [query pipeline](https://docs.coveo.com/en/180/) to use to retrieve document suggestions.
            The query pipeline must support the strategy defined in the `strategy` parameter.<br />For example, if you have
            selected `ITD` as `strategy` value, you must provide the name of a pipeline that has an [ITD](https://docs.coveo.com/en/207/)-enabled
            [Coveo ML](https://docs.coveo.com/en/188/) [ART](https://docs.coveo.com/en/1013/) model association.
          example: myPipelineName
      description: A document suggestions configuration.
    RestClassificationConfiguration:
      required:
      - fieldsToPredict
      - filter
      - strategy
      type: object
      properties:
        strategy:
          type: string
          description: 'The strategy with which to retrieve field value suggestions.<br /><b>Allowed value:</b><br /> - `Some`:
            Use the [`$some` query extension](https://docs.coveo.com/en/1462/#some).<br /> - `Axon`: Use a Case Classification
            Machine Learning Model.'
          example: Some
          enum:
          - Some
        filter:
          type: string
          description: A [filter query expression](https://docs.coveo.com/en/1552/) that restricts the items from which to
            base the field value suggestions.
          example: '@objecttype==case'
        fieldsToPredict:
          type: array
          description: The [fields](https://docs.coveo.com/en/200/) for which to retrieve suggestions.<br /><b>Example:</b>
            `[{"name":"opportunitytype"}]`
          example:
          - name: opportunitytype
          - name: issuetype
          items:
            type: object
            properties:
              name:
                type: string
                description: A field name.
      description: A document classification configuration.
    RestCaseAssistConfigurationResponse:
      required:
      - classificationConfigurations
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the case assist configuration.
          example: d9ff783c-574f-4d22-838c-df2c18a0c2b3
        name:
          type: string
          description: The name of the case assist configuration.
          example: myCaseAssistConfiguration
        documentSuggestionConfiguration:
          $ref: '#/components/schemas/RestDocumentSuggestionConfiguration'
        classificationConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/RestClassificationConfiguration'
      description: A case assist configuration.
    RestListOfCaseAssistConfigurations:
      required:
      - configurations
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/RestCaseAssistConfigurationResponse'
        totalEntries:
          type: integer
          description: The total number of configurations.
          format: int32
          example: 1
        totalPages:
          type: integer
          description: The total number of pages.
          format: int32
          example: 1
    RestCaseAssistContext:
      type: object
      properties:
        analytics:
          $ref: '#/components/schemas/Analytics'
        visitorId:
          $ref: '#/components/schemas/visitorId'
        clientId:
          $ref: '#/components/schemas/clientId'
        locale:
          $ref: '#/components/schemas/locale'
        fields:
          $ref: '#/components/schemas/Fields'
        context:
          $ref: '#/components/schemas/ContextAttributes'
    RestClassification:
      type: object
      properties:
        fields:
          type: object
          additionalProperties:
            type: object
            properties:
              predictions:
                type: array
                description: The field value suggestions.
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      description: The field value suggestion.
                      example: Electrical
                    confidence:
                      type: number
                      description: 'A floating-point number between `0` and `1` indicating the level of certainty that the
                        suggested field value is actually relevant to the case.<br />Minimum: `0.0` Maximum: `1.0`'
                      format: float
                      example: 0.9
                    id:
                      type: string
                      description: The unique identifier of the predicted value.
                      example: 5ac61db7-49ab-50be-b9c5-d62dd6083fde
          example:
            opportunitytype:
              predictions:
              - value: Propane
                confidence: 0.9178082346916199
                id: c38dec1f-349e-5dc1-bc24-4de96dc53bbd
            issuetype:
              predictions:
              - value: Ignition
                confidence: 0.8325673948382833
                id: 7ac53b91-afd2-5472-8f6d-e829a0a8232f
              - value: Controller
                confidence: 0.5364940382730438
                id: 7cf52516-3dc6-5a1a-ba2e-d05b0c255c1c
        responseId:
          type: string
          description: The unique identifier of the response.
          example: 123e4567-e89b-12d3-a456-426614174000
    RestDocumentSuggestions:
      required:
      - documents
      - responseId
      - totalCount
      type: object
      properties:
        documents:
          type: array
          description: The document suggestions.
          items:
            required:
            - clickUri
            - excerpt
            - fields
            - hasHtmlVersion
            - title
            - uniqueId
            type: object
            properties:
              title:
                type: string
                description: The document title.
                example: GC3000 Series Propane Generator Ignition
              clickUri:
                type: string
                description: The document clickable URI.
                example: http://www.salesforce.com/org:organization/object:Solution/record:5013h000000tPmnAAE
              excerpt:
                type: string
                description: An excerpt from the document.
                example: The GC3000 series propane generators need to be started up using the following process if the ignition
                  fails at the first try
              uniqueId:
                type: string
                description: The unique ID of the document.
                example: 84.72597$http://www.salesforce.com/org:organization/object:Solution/record:5013h000000tPmnAAE:2
              hasHtmlVersion:
                type: boolean
                description: Whether the index contains an HTML version of this item.
                example: true
              fields:
                type: object
                properties:
                  title:
                    type: string
                    example: GC3000 Series Propane Generator Ignition
                  urihash:
                    type: string
                    example: EFQOedWwU1M5af37
                  '...':
                    type: object
                    example: '...'
                description: The `raw` fields of the item.
        totalCount:
          type: integer
          description: The total number of suggestions.
          format: int32
          example: 1
        responseId:
          type: string
          description: The unique identifier of the response.
          example: 123e4567-e89b-12d3-a456-426614174000
    PreviewDocumentSuggestionRequest:
      required:
      - configuration
      - fields
      type: object
      properties:
        allOf:
        - $ref: '#/components/schemas/RestCaseAssistContext'
        configuration:
          $ref: '#/components/schemas/DocumentSuggestionConfiguration'
    PreviewClassificationRequest:
      required:
      - configuration
      - fields
      type: object
      properties:
        allOf:
        - $ref: '#/components/schemas/RestCaseAssistContext'
        configuration:
          $ref: '#/components/schemas/CaseClassificationConfiguration'
    RestListOfCaseAssistConfigurationsWithProjects:
      required:
      - configurations
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/RestCaseAssistConfigurationWithProjectResponse'
        totalEntries:
          type: integer
          format: int32
          description: The total number of configurations
          example: 1
        totalPages:
          type: integer
          format: int32
          description: The total number of pages
          example: 1
    RestCaseAssistConfigurationWithProjectResponse:
      allOf:
      - $ref: '#/components/schemas/RestCaseAssistConfigurationResponse'
      - type: object
        properties:
          classificationConfigurations:
            type: array
            items:
              $ref: '#/components/schemas/RestCaseAssistConfigurationWithProject'
    RestCaseAssistConfigurationWithProject:
      allOf:
      - $ref: '#/components/schemas/RestClassificationConfiguration'
      - type: object
        properties:
          projectIds:
            type: array
            description: Each item is the unique identifier of a project associated with the case assist configuration.
            items:
              type: string
        required:
        - projectIds
    RestInsightPanelConfigurationCreate:
      required:
      - name
      - pipeline
      type: object
      properties:
        name:
          type: string
          description: The name of the Insight Panel configuration.
          example: My Insight Panel
        pipeline:
          type: string
          description: The ID of the query pipeline to use.
        contextFields:
          type: object
          properties: {}
          description: A dictionary in which the keys represent context keys, and the values are CRM field names.
          example:
            subject: case_subject
            description: case_description
        interfaces:
          type: array
          description: A list of interface IDs that are bound to the Insight Panel configuration.
          example:
          - interface-id-1
          - interface-id-2
          items:
            type: string
    RestInsightPanelConfigurationListIds:
      required:
      - ids
      type: object
      properties:
        ids:
          type: array
          description: A list of configuration ids.
          example:
          - config-id-1
          - config-id-2
          items:
            type: string
    RestInsightPanelConfigurationUpdate:
      required:
      - contextFields
      - interfaces
      - name
      - pipeline
      type: object
      properties:
        name:
          type: string
          description: The name of the Insight Panel configuration.
          example: My Insight Panel
        pipeline:
          type: string
          description: The ID of the query pipeline to use.
        contextFields:
          type: object
          properties: {}
          description: A dictionary in which the keys represent context keys, and the values are CRM field names.
          example:
            subject: case_subject
            description: case_description
        interfaces:
          type: array
          description: A list of interface IDs that are bound to the Insight Panel configuration.
          example:
          - interface-id-1
          - interface-id-2
          items:
            type: string
    RestInsightPanelConfiguration:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the Insight Panel configuration.
        name:
          type: string
          description: The name of the Insight Panel configuration.
          example: My Insight Panel
        pipeline:
          type: object
          properties:
            id:
              type: string
              description: The unique identifier of the query pipeline.
            name:
              type: string
              description: The name of the query pipeline.
            models:
              type: object
              properties:
                art:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                  description: Indicates whether an Automatic Relevance Tuning (ART) model is configured for the query pipeline.
                dne:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                  description: Indicates whether a Dynamic Navigation Experience (DNE) model is configured for the query pipeline.
                qs:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                  description: Indicates whether a Query Suggestion (QS) model is configured for the query pipeline.
              description: Information about the machine learning models.
          description: Information about the query pipeline.
        contextFields:
          type: object
          properties: {}
          description: A dictionary in which the keys represent context keys, and the values are CRM field names.
          example:
            subject: case_subject
            description: case_description
        searchHub:
          type: string
          description: The search hub value that is recorded by Usage Analytics events.
        interfaces:
          type: array
          description: A list of interface IDs that are bound to the Insight Panel configuration.
          example:
          - interface-id-1
          - interface-id-2
          items:
            type: string
    RestInsightPanelInterface:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the Insight Panel interface.
        name:
          type: string
          description: The name of the Insight Panel interface. It is usually the same as the name of the Insight Panel configuration.
        resultTemplates:
          type: array
          description: The result templates configured for the Insight Panel interface.
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the result template.
              layout:
                type: string
                description: The layout of the result template. The allowed values are <code>default</code> and <code>thumbnail</code>.
                default: default
              conditions:
                $ref: '#/components/schemas/RestConditions'
              badge:
                type: object
                properties:
                  field:
                    type: string
                    description: The name of the field from which the value is retrieved.
                  label:
                    type: string
                    description: A specific label to display.
                  color:
                    type: string
                    description: The hexadecimal color code.
                    example: '#5080F0'
              details:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    label:
                      type: string
              resultActions:
                type: object
                properties:
                  attachToCase:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Users can attach items to the current CRM object (e.g., an opened case).
                  copyToClipboard:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Users can copy a result to their clipboard.
                  quickView:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Users can preview a result without leaving the search page.
                  sendAsEmail:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Users can insert a link to an item into an email.
                  sendToFeed:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    description: Users can insert a link to an item into a post.
                description: Indicates the actions that are available on each result.
        facets:
          type: array
          description: The facets configured for the Insight Panel interface.
          items:
            type: object
            properties:
              field:
                type: string
                description: The name of the facet field.
              label:
                type: string
                description: The title of the facet.
              displayValuesAs:
                type: string
                description: Whether to display the facet values as checkboxes (multiple selection), links (single selection),
                  or boxes (multiple selection). Possible values are <code>checkbox</code>, <code>link</code>, and <code>box</code>.
                example: link
                default: checkbox
        tabs:
          type: array
          description: The tabs configured for the Insight Panel interface.
          items:
            type: object
            properties:
              label:
                type: string
                description: The caption for the tab.
                example: People
              conditions:
                $ref: '#/components/schemas/RestConditions'
        settings:
          type: object
          properties:
            createArticle:
              type: object
              properties:
                enabled:
                  type: boolean
            fullSearch:
              type: object
              properties:
                enabled:
                  type: boolean
          description: The settings for the Insight Panel interface.
    RestConditions:
      type: array
      items:
        type: object
    RestInsightPanelSearchRequest:
      type: object
      properties:
        analytics:
          $ref: '#/components/schemas/Analytics'
        q:
          type: string
          description: The basic query expression, typically the keywords entered by the end user in a query box.
        cq:
          type: string
          description: <p>The constant query expression, typically populated with expressions that must apply to all queries
            sent from a specific search interface (e.g., from a specific tab). Once evaluated, the result sets of those expressions
            are kept in a special cache.</p><p><strong>Tip:</strong> Avoid including dynamic content in the constant query
            expression. Otherwise, you risk filling up the cache with useless data, which can have a negative impact on performance.</p>
        facets:
          type: array
          description: The facet operations to perform on the query results.
          items:
            $ref: '#/components/schemas/ServiceRestFacetRequest'
        firstResult:
          type: integer
          description: <p>The 0-based position of the first result to return in the non-paginated result set.</p><p>Along
            with the <code>numberOfResults</code> parameter, this allows you to retrieve a specific page of result items.</p>
        numberOfResults:
          type: integer
          description: <p>The number of results to return.</p><p>Along with the <code>firstResult</code> parameter, this allows
            you to retrieve a specific page of result items.</p><p>This parameter also defines the maximum number of results
            which can be returned by the Coveo ML Recommencations feature.</p><p><strong>Note:</strong> The maximum <code>numberOfResults</code>
            value depends on the index settings of your Coveo organization. By default, a Coveo index can return a maximum
            of 5,000 items per query.</p>
        caseContext:
          type: object
          properties: {}
          description: Contextual information about the case.
          example:
            subject: This is the case subject
            description: This is the case description
        fieldsToInclude:
          type: array
          description: <p>The names of the fields to include with each item in the query results. If specified, no other fields
            will be included.</p><p><strong>Note:</strong> If you specify both an array of fields to include and an array
            of fields to exclude (see the <code>fieldsToExclude</code> parameter), the <code>fieldsToExclude</code> parameter
            has no effect at all.</p> <p>If you do not explicitly specify an array of values for this parameter (or for the
            <code>fieldsToExclude</code> parameter), each query result item will include all of its available fields.</p>
          example:
          - clickableuri
          - author
          - date
          - filetype
          - language
          - conversationid
          - messageid
          - childid
          - adjustednumberoflikes
          items:
            type: string
        enableDidYouMean:
          type: boolean
          description: '<p><strong>Important:</strong> This feature is still in an experimental state.</p><p>Whether to enable
            the Coveo ML query suggestions <i>Did You Mean</i> feature, which populates the <code>queryCorrection</code> property
            of a successful response with keyword correction suggestions.</p><p>Notes: <ul><li>The Coveo ML query suggestions
            Did You Mean feature only processes the basic query expression (see the <code>q</code> parameter).</li><li>When
            both the <code>enableDidYouMean</code> and <code>enableMLDidYouMean</code> parameters are set to <code>true</code>,
            the output of both features will appear in the <code>queryCorrections</code> array.</li></ul></p>'
          default: false
        sortCriteria:
          type: string
          description: '<p>The criteria to use for sorting the query results.</p> <p>Allowed values: <ul> <li><code>relevancy</code>:
            use standard index ranking factors (adjacency, TDIDF, etc.) and custom ranking expressions (QREs and QRFs) to
            compute a ranking <code>score</code> for each query result item, and sort the query results by descending <code>score</code>
            value.</li> <li><code>date ascending</code>/<code>date descending</code>: use the <code>@date</code> field to
            sort the query results. This field typically contains the last modification date of each item.</li> <li><code>qre</code>:
            use only custom ranking expressions (QREs and QRFs) to compute a ranking <code>score</code> for each query result
            item, and sort the query results by descending <code>score</code> value.</li> <li><code>nosort</code>: do not
            sort the query results; the index will return result items in an essentially random order.</li> <li><code>@[field]
            ascending</code>/<code>@[field] descending</code>: sort using the value of a specific sortable field (replace
            <code>[field]</code> with the name of the target field).</li> </ul> </p> <p> You can specify a list of comma-separated
            sort criteria. However, this only works when combining: <ul> <li>two or more field criteria (e.g., <code>@views
            descending,@likes descending</code>).</li> <li>a single date criteria with one or mode field criteria (e.g., <code>date
            ascending,@views descending</code>).</li> </ul> </p> <p> Examples: <ul> <li><code>date ascending</code></li> <li><code>@author
            ascending</code></li> <li><code>date descending,@views descending,@likes descending</code></li> </ul> </p>'
          default: relevancy
        tab:
          type: string
          description: <p>The second level of origin of the request, typically the identifier of the selected tab in the graphical
            search interface from which the request originates.</p> <p>Coveo Machine Learning models use this information
            to provide contextually relevant output.</p> <p><strong>Note:</strong> When logging a <strong>Search</strong>
            usage analytics event for a query, the <code>originLevel2</code> field of that event should be set to the <code>tab</code>
            value of the query (or to the <code>&quot;default&quot;</code> string, if no <code>tab</code> value was specified
            in the query).</p>
        debug:
          $ref: '#/components/schemas/RestDebug'
    RestInsightPanelSearchResponse:
      type: object
      properties:
        totalCount:
          type: integer
          description: <p>The total number of items that match the query for the current user (security trimming applied).</p>
            <p><strong>Note:</strong> When logging a Search Usage Analytics event for a query, the <code>numberOfResults</code>
            field of that event should be set to the <code>totalCount</code> value of the query (for reporting purposes).</p>
          example: 250
        totalCountFiltered:
          type: integer
          description: <p>The total number of items that match the query for the current user (security trimming applied)
            after duplicate filtering has been applied (see the <code>duplicateFiltering</code> query parameter).</p>
          example: 245
        duration:
          type: integer
          description: <p>The <code>requestDuration</code> added to the computing time (in milliseconds) that was required
            by the Search API.</p>
          example: 1235
        indexDuration:
          type: object
          description: <p>The time (in milliseconds) that was required for the index to find the query items.</p>
          example: '1175'
        requestDuration:
          type: integer
          description: <p>The <code>indexDuration</code> added to the time (in milliseconds) that was required to establish
            a connection between the Search API server and the index server.</p>
          example: 1181
        searchUid:
          type: string
          description: <p>The query <a href="https://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a>. Each query
            sent to the Search API has its own randomly generated <code>searchUid</code>.</p> <p><strong>Note:</strong> When
            logging a Search or Custom Usage Analytics event for a query, or a Click Usage Analytics event for an opened query
            result item, the <code>searchQueryUid</code> field of that event should be set to the <code>searchUid</code> value
            of the query response.</p>
          example: a0e4773c-39c3-423c-90cd-c03a640ecde5
        pipeline:
          type: string
          description: <p>The name of the query pipeline to use for this request (bypassing its conditions, if it has any).</p>
          example: CustomQueryPipeline
        apiVersion:
          type: integer
          description: <p>The version of the Search API that sent the query.</p>
          example: 2
        exception:
          type: object
          properties:
            code:
              type: string
            context:
              type: string
        isFallbackToAdmin:
          type: boolean
          description: <p>Whether the admin session ID was allowed and used by the Coveo for Salesforce search engine. The
            value will be set to <code>true</code> when this is the case, and might be absent or set to <code>false</code>
            otherwise.</p>
        warnings:
          type: array
          description: <p>The errors that did not make the query fail, but should be addressed. These might be security issues,
            deprecated behaviors, or any other kind of concern.</p>
          items:
            type: string
        errors:
          type: array
          description: <p>The errors that critically changed the query behavior. These should be addressed right away to prevent
            future errors.</p>
          items:
            type: string
        index:
          type: string
          description: <p>The identifier of the index mirror against which the query was executed (see the <code>indexToken</code>
            query parameter).</p>
          example: mycoveocloudv2organizationid-cqjd206sta1xb9qyxfhhnsu294-Indexer-2-9rbfxhp1n07cth80ckzeh3zotc
        indexToken:
          type: string
          description: <p>The Base64 encoded identifier of the index mirror to which the request was forwarded (see the <code>index</code>
            parameter).</p> <p>If you do not specify an <code>indexToken</code> (or <code>index</code>) value, any index mirror
            could be used.</p> <p><strong>Note:</strong> Passing an <code>indexToken</code> (or <code>index</code>) value
            has no effect when the results of a specific request can be returned from cache (see the <code>maximumAge</code>
            query parameter).</p>
          example: ZXhhbXBsZWluZGV4bWlycm9yLS4uLg==
        triggers:
          type: object
          properties:
            type:
              type: string
              description: <p>The type of Coveo query pipeline Trigger statement (see <a href="https://docs.coveo.com/en/3413">Manage
                trigger rules</a>).</p>
              example: notify
            content:
              type: object
              properties: {}
          description: <p>The actions that the client should perform based on the Trigger statements defined in the query
            pipelines (see the <code>pipeline</code> query parameter).</p> <p><strong>Note:</strong> A trigger statement must
            have a condition. Otherwise, the Search API ignores it and does not include it in the <code>triggers</code> array
            of the query response (see <a href="https://docs.coveo.com/en/3413">Manage trigger rules</a>).</p>
        termsToHighlight:
          type: object
          properties: {}
          description: <p>The terms to highlight in each query result item. Includes all basic query expression keywords,
            as well as any word that was stemmed from a basic query expression keyword (see the <code>q</code> query parameter),
            unless the keyword was preceded by the no stemming Coveo query syntax operator (<code>+</code>).</p>
          example:
            coveo: []
            cloud:
            - clouds
            v2: []
            platform:
            - platforms
        phrasesToHighlight:
          type: object
          properties: {}
          description: <p>The phrases to highlight in each query result item. This property is populated when the basic query
            expression (see the <code>q</code> query parameter) contains one or more exact phrase match requests (terms between
            double quote characters).</p>
          example:
            cloud v2:
              cloud: []
              v2: []
        queryCorrections:
          type: object
          properties:
            correctedQuery:
              type: string
              description: The corrected query expression.
              example: Coveo Cloud V2 platform
            wordCorrections:
              type: array
              description: The word correction suggestions.
              items:
                type: object
                properties:
                  offset:
                    type: integer
                    description: The offset (in number of characters) of the corrected word, from the beginning of the corrected
                      query expression.
                    example: 15
                  length:
                    type: integer
                    description: The length (in number of characters) of the corrected word.
                    example: 8
                  originalWord:
                    type: string
                    description: The original, un-corrected word.
                    example: platfomr
                  correctedWord:
                    type: string
                    description: The suggested word correction.
                    example: platform
          description: <p>The query corrections suggested by the index, if the <code>enableDidYouMean</code> query parameter
            was set to <code>true</code>.</p>
        refinedKeywords:
          type: array
          description: The refined keywords used by the Coveo ML Automatic Relevance Tuning (ART) model.
          example:
          - v2
          - platform
          - cloud
          - coveo
          items:
            type: string
        categoryFacets:
          type: array
          description: Hierarchical data results that correspond to the hierarchical data in the query.
          items:
            type: object
            properties:
              field:
                type: string
              values:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    numberOfResults:
                      type: integer
              parentValues:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    numberOfResults:
                      type: integer
        facets:
          type: array
          description: <p>The facet results returned by the query. These results are included in the order they were requested
            in the <code>facets</code> query parameter.</p>
          items:
            $ref: '#/components/schemas/RestHierarchicalFacetResponseValue'
        suggestedFacets:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: The name of the field on which the DNE facet suggestion is based.
                example: author
              values:
                type: array
                description: The suggested facet values.
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      description: A DNE facet value suggestion.
                      example: Alice Smith
                    path:
                      type: array
                      description: '<p>The path to the suggested facet value (only applies to hierarchical facet value suggestions).</p>
                        <p>Example: If the suggested hierarchical facet value is <code>Parrot</code>, the returned path could
                        be <code>["Animals", "Birds", "Parrot"]</code>.</p>'
                      items:
                        type: string
            description: A DNE facet suggestion.
        results:
          type: array
          description: The items returned for the query.
          items:
            $ref: '#/components/schemas/RestQueryResult'
        questionAnswer:
          type: object
          properties:
            answerFound:
              type: boolean
            question:
              type: string
            answerSnippet:
              type: string
            answerId:
              type: string
            documentId:
              $ref: '#/components/schemas/RestContentId'
            allContentIds:
              type: array
              items:
                $ref: '#/components/schemas/RestContentId'
            score:
              type: number
            relatedQuestions:
              type: array
              items:
                type: object
                properties:
                  question:
                    type: string
                  answerSnippet:
                    type: string
                  documentId:
                    $ref: '#/components/schemas/RestContentId'
                  score:
                    type: number
            raw:
              type: object
              properties: {}
    RestContentId:
      type: object
      properties:
        contentIdKey:
          type: string
        contentIdValue:
          type: string
    RestHierarchicalFacetResponseValue:
      type: object
      properties:
        field:
          type: string
          description: The name of the field on which the facet is based.
          example: author
        moreValuesAvailable:
          type: boolean
          description: Whether additional values are available for the facet.
        values:
          type: array
          description: The returned facet values.
          items:
            type: object
            properties:
              value:
                type: string
                description: <p>The name of the facet value.</p><p><strong>Note:</strong> In the case of a hierarchical facet
                  value, this represents a single path segment.</p>
                example: Alice Smith
              state:
                type: string
                description: The current state of the facet value in the search interface.
                default: idle
                enum:
                - idle
                - selected
                - excluded
              numberOfResults:
                type: integer
                description: <p>The number of query results that can be expected if the facet value is selected in the search
                  interface.</p><p><strong>Note:</strong> This property only gets populated when the facet currently has no
                  selected or excluded values.</p>
              endInclusive:
                type: boolean
                description: Whether to include the <code>end</code> value in the range.
                default: false
              children:
                type: array
                description: <p>The children of this hierarchical facet value.</p> <p>Each child is a full-fledged hierarchical
                  facet value that may in turn have its own children and so forth, up to a maximum depth of 50 levels.</p>
                items:
                  $ref: '#/components/schemas/RestHierarchicalFacetResponseValue'
              moreValuesAvailable:
                type: boolean
                description: Whether additional values are available for the facet.
              isSuggested:
                type: boolean
              isAutoSelected:
                type: boolean
                description: Whether the facet value was automatically selected by Coveo ML.
              path:
                type: array
                items:
                  type: string
              isLeafValue:
                type: boolean
                description: Whether the hierarchical value is a childless node.
        mlScore:
          type: number
          description: The ranking score computed by Coveo ML DNE for this facet.
        indexScore:
          type: number
          description: The ranking score computed by the index for this facet.
        isFromAutoSelect:
          type: boolean
          description: Whether the facet was recommended by Coveo ML.
    RestQueryResult:
      type: object
      properties:
        title:
          type: string
          description: <p>The item title.</p> <p><strong>Note:</strong> When logging a Click Usage Analytics event for an
            opened query result item, the <code>documentTitle</code> field of that event should be set to the <code>title</code>
            value of the opened query result item.</p>
          example: Differences between Coveo Cloud V2 and V1
        uri:
          type: string
          description: '<p>The item URI.</p> <p>Notes: <ul> <li>Avoid using the <code>uri</code> value to create hyperlinks
            to the item. Use the <code>clickUri</code> value instead.</li> <li>When logging a Click Usage Analytics event
            for an opened query result item, the <code>documentUrl</code> field of that event should be set to the <code>uri</code>
            value of the opened query result item.</li> </ul> </p>'
          example: https://example.com/Root:0/topic:898/post:2
        printableUri:
          type: string
          description: <p>The human readable item URI.</p> <p><strong>Note:</strong> Avoid using the <code>printableUri</code>
            value to create hyperlinks to the item. Use the <code>clickUri</code> value instead.</p>
          example: https://example.com/topic:898/post:2
        clickUri:
          type: string
          description: '<p>The hyperlinkable item URI.</p> <p>Notes: <ul> <li>Use the <code>clickUri</code> value when you
            want to create hyperlinks to the item, rather than the <code>uri</code> or <code>printableUri</code> values.</li>
            <li>The <code>clickUri</code> value is not necessarily unique for each item.</li> </ul> </p>'
          example: https://example.com/t/1/898/2
        uniqueId:
          type: string
          description: <p>The unique item identifier. You should consider the <code>uniqueId</code> value as an opaque string.</p>
          example: 84.72597$https://example.com/Root:0/Topic:898/Post:2
        excerpt:
          type: string
          description: <p>The contextual excerpt generated for the item (see the <code>excerptLength</code> query parameter).</p>
          example: '... the new Coveo Cloud V2 and Coveo Cloud V1 ... the main differences between the two Coveo Cloud versions
            ...'
        firstSentences:
          type: string
          description: The first sentences from the item (see the <code>retrieveFirstSentences</code> query parameter).
          example: Hello, I know Coveo currently hosts organizations in two independent cloud platforms, the new Coveo Cloud
            V2 and Coveo Cloud V1, the original Coveo offering in the cloud. I would like to learn the main differences between
            the two Coveo Cloud versions ...
        summary:
          type: string
          description: The item summary (see the <code>summaryLength</code> query parameter).
        flags:
          type: string
          description: The flags that are set on the item by the index. Distinct values are separated by semicolons.
          example: HasHtmlVersion;HasMobileHtmlVersion
        hasHtmlVersion:
          type: boolean
          description: Whether the index contains an HTML version of this item.
        hasMobileHtmlVersion:
          type: boolean
          description: Whether the index contains a mobile HTML version of this item.
        score:
          type: integer
          description: The total ranking score computed for the item (see the <code>sortCriteria</code> and <code>rankingFunctions</code>
            query parameters).
          example: 1626
        percentScore:
          type: number
          description: The item ranking score expressed as a percentage (see the <code>sortCriteria</code> and <code>rankingFunctions</code>
            query parameters).
          example: 90.73539
        rankingInfo:
          type: string
          description: The raw debug information generated by the index to detail how the item was ranked. This property is
            <code>null</code> unless the <code>debug</code> query parameter is set to <code>true</code>.
          example: 'Document weights: Title: 0; Quality: 180; Date: 596; Adjacency: 0; Source: 500; Custom: 350; Collaborative
            rating: 0; QRE: 0; Ranking functions: 0; Total weight: 1626'
        rating:
          type: number
          description: <p>The item rating (see the <code>enableCollaborativeRating</code> query parameter).</p> <p><strong>Note:</strong>
            Unless collaborative rating is enabled for your index, the value of this property is always <code>3</code>.</p>
          example: 3
        isTopResult:
          type: boolean
          description: Whether the item score was boosted by a featured result rule in the query pipeline.
        isRecommendation:
          type: boolean
          description: Whether the item score was boosted as a Coveo ML recommendation.
        isUserActionView:
          type: boolean
          description: Whether the item score was boosted as a Coveo ML recommendation.
        rankingModifier:
          type: string
          description: <p>If applicable, represents the type of ranking modification that was applied to this result.</p>
            <p><strong>Note:</strong> When logging a Click Usage Analytics event for an opened query result item, the <code>rankingModifier</code>
            field of that event should be set to the <code>rankingModifier</code> value of the opened query result item, if
            available.</p>
          example: TopResult
        titleHighlights:
          type: array
          description: The length and offset of each word to highlight in the item <code>title</code> string.
          items:
            $ref: '#/components/schemas/RestHighlightResponse'
        firstSentencesHighlights:
          type: array
          description: The length and offset of each word to highlight in the item <code>firstSentences</code> string.
          items:
            $ref: '#/components/schemas/RestHighlightResponse'
        excerptHighlights:
          type: array
          description: The length and offset of each word to highlight in the item <code>excerpt</code> string.
          items:
            $ref: '#/components/schemas/RestHighlightResponse'
        printableUriHighlights:
          type: array
          description: The length and offset of each word to highlight in the item <code>printableUri</code> string.
          items:
            $ref: '#/components/schemas/RestHighlightResponse'
        summaryHighlights:
          type: array
          description: The length and offset of each word to highlight in the item <code>summary</code> string.
          items:
            $ref: '#/components/schemas/RestHighlightResponse'
        parentResult:
          $ref: '#/components/schemas/RestQueryResult'
        childResults:
          type: array
          description: An array of references to the children of this item, if result folding was applied (see the <code>filterField</code>
            query parameter). The query results contained in this field will have both their parent and child results set
            to <code>null</code>.
          items:
            $ref: '#/components/schemas/RestQueryResult'
        totalNumberOfChildResults:
          type: integer
          description: The total number of children available in the index for this item, if result folding was applied (see
            the <code>filterField</code> query parameter).
        absentTerms:
          type: array
          description: <p>The basic query expression terms which this query result item does not match.</p> <p><strong>Note:</strong>
            This property is populated by terms from the query pipeline-processed <code>q</code> value (not from the original
            <code>q</code> value).</p>
          items:
            type: string
        raw:
          type: object
          properties: {}
          description: <p>The values of the fields which were retrieved for this item (see the <code>fieldsToInclude</code>
            and <code>fieldsToExclude</code> query parameters).</p>
    ServiceRestFacetRequest:
      required:
      - field
      - type
      type: object
      properties:
        field:
          type: string
          description: <p>The name of the field on which to base the facet request.</p> <p><strong>Note:</strong> This must
            reference a field whose <strong>Facet</strong> option is enabled (see <a href="https://docs.coveo.com/en/1833">Add
            or edit a field</a>).</p>
          example: author
        type:
          type: string
          description: Request facet values representing specific values (e.g., Alice Smith, Bob Jones, etc.).
          default: specific
    RestHighlightResponse:
      type: object
      properties:
        length:
          type: integer
          description: The length of the word (in number of characters) to highlight.
          example: 5
        offset:
          type: integer
          description: The 0-based index position of the first character of the word to highlight in the string.
          example: 15
    RestDebug:
      type: boolean
      description: '<p>Whether to force a successful response to include debug information.</p> <p> Notes: <ul> <li>Debug
        information can only appear in responses in the JSON format (see the <code>format</code> parameter).</li> <li>Avoid
        setting this parameter to <code>true</code> in production, as it has a negative impact on query performance.</li>
        </ul> </p>'
      default: false
    RestInsightPanelQuerySuggestRequest:
      type: object
      properties:
        analytics:
          $ref: '#/components/schemas/Analytics'
        q:
          type: string
          description: The basic query expression, typically the keywords entered by the end user in a query box.
          example: Coveo "Cloud V2" platform
        count:
          type: integer
          description: The desired number of query suggestions.
        context:
          type: object
          properties: {}
          description: <p>The custom context information to send along with the request. Must be a dictionary of key-value
            pairs (JSON) where each key is a string, and each value is either a string or an array of strings.</p> <p>Coveo
            Machine Learning models may use this information to provide contextually relevant output. Moreover, this information
            can be referred to in query expressions and QPL statements by using the <code>$context</code> object.</p> <p><strong>Note:</strong>
            When logging a Search Usage Analytics event for a query, the <code>customData</code> field of that event should
            include the same data as the <code>context</code> parameter of the query. However, each <code>context</code> key
            included in <code>customData</code> must be prefixed by <code>context_</code> (e.g., the <code>userRoles</code>
            key in context becomes <code>context_userRoles</code> in <code>customData</code>).</p> <p>See also the <code>referrer</code>
            parameter.</p>
          example:
            userAgeRange: 25-35
            userRoles:
            - PremiumCustomer
            - ProductReviewer
        locale:
          type: string
          description: <p>The locale of the current user. Must comply with IETF's <a href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP
            47</a> definition.</p> <p>Coveo Machine Learning models use this information to provide contextually relevant
            output. Moreover, this information can be referred to in query expressions and QPL statements by using the <code>$locale</code>
            object.</p> <p><strong>Note:</strong> When logging a Search Usage Analytics event, the <code>language</code> field
            of that event should match the language part of the <code>locale</code> value of the query (e.g., <code>en-US</code>
            in <code>locale</code> becomes <code>en</code> in <code>language</code>).</p>
          example: en-US
        timezone:
          type: string
          description: <p>The <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">tz database</a> identifier
            of the time zone to use to correctly interpret dates in the query expression and result items.</p> <p>If not specified,
            the default time zone of the server hosting the index is used.</p> <p><strong>Note:</strong> While no Coveo Machine
            Learning models use this information, it can nevertheless affect the ranking scores (and thus, potentially the
            order) or result items, as ranking expressions may be based on time constants.</p>
          example: America/New_York
        actionsHistory:
          type: array
          description: <p>The previous query and page view actions made by the current user.</p> <p>Coveo Machine Learning
            Content Recommendation models use this information to provide contextually relevant output.</p> <p><strong>Note:</strong>
            Page view actions are typically populated by the <a href="https://github.com/coveo/coveo.analytics.js">coveo.analytics.js</a>
            script.</p>
          items:
            $ref: '#/components/schemas/ActionHistory'
        visitorId:
          type: string
          description: <p>A GUID which represents the current user, who can either be authenticated or anonymous.</p> <p><code>visitorId</code>
            is deprecated and has been replaced by <a href="https://docs.coveo.com/en/masb0234/"><code>clientId</code><a>
            in newer versions of the Coveo UI libraries. For compatibility, the new first-party cookie and local storage values
            are still named <code>coveo_visitorId</code>.</p> <p>For older versions of the JavaScript Search Framework, the
            visitor ID is generated by the Coveo Usage Analytics service and stored in a non-expiring third-party cookie.
            <strong>Note:</strong> Third-party cookies <a href="https://docs.coveo.com/en/m54b9238/">have also been deprecated</a>.
            This is unrelated to the deprecation of <code>visitorId</code>.</p>
          example: 5cb98953-9c13-42ff-8176-e6fcba6a50bf
        maximumAge:
          type: integer
          description: <p>The maximum age of cached results, in milliseconds.</p> <p>If the results of a specific request
            are available in the cache, and if those results are no older than the <code>maximumAge</code> value, the service
            returns those results rather than forwarding a new query to the index.</p> <p><strong>Note:</strong> This parameter
            is automatically overridden when <code>staticQuery</code> is set to <code>true</code>.</p>
          example: 180000
        debug:
          $ref: '#/components/schemas/RestDebug'
    RestInsightPanelQuerySuggestResponse:
      type: object
      properties:
        completions:
          type: array
          items:
            type: object
            properties:
              expression:
                type: string
              score:
                type: number
              highlighted:
                type: string
              executableConfidence:
                type: number
              objectId:
                type: string
        responseId:
          type: string
        executionReport:
          type: object
          properties: {}
          description: The execution report that is produced when the <code>debug</code> parameter is set to <code>true</code>.
    RestListOfInsightPanelConfigurationsWithProjects:
      type: object
      properties:
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/RestInsightPanelConfigurationWithProjects'
        totalEntries:
          type: integer
          format: int32
          description: The total number of configurations
          example: 1
        totalPages:
          type: integer
          format: int32
          description: The total number of pages
          example: 1
    RestInsightPanelConfigurationWithProjects:
      allOf:
      - $ref: '#/components/schemas/RestInsightPanelConfiguration'
      - type: object
        properties:
          projectIds:
            type: array
            items:
              type: string
              example: myProjectId
            description: Each item is the unique identifier of a project associated with the Insight Panel configuration.
        required:
        - projectIds
    gencasereformulationModelId:
      type: string
      description: The unique identifier of the case reformulation machine-learning model.
      example: myorganization1234_gencasereformulation_00000000_0000_0000_0000_000000000000
    gencaseansweringModelId:
      type: string
      description: The unique identifier of the case answering machine-learning model.
      example: myorganization1234_gencaseanswering_00000000_0000_0000_0000_000000000000
    prapiModelId:
      type: string
      description: The unique identifier of the passage retrieval machine-learning model.
      example: myorganization1234_chunksretrieval_00000000_0000_0000_0000_000000000000
    caseTitleKey:
      type: string
      description: The case context key used to store the case title. It is used by the case answering model.
      example: case-title
    caseDescriptionKey:
      type: string
      description: The case context key used to store the case description. It is used by the case answering model.
      example: case-description
    LfcaConfiguration:
      type: object
      required:
      - gencasereformulationModelId
      - gencaseansweringModelId
      - prapiModelId
      - caseTitleKey
      - caseDescriptionKey
      properties:
        gencasereformulationModelId:
          $ref: '#/components/schemas/gencasereformulationModelId'
[...]
