openapi: 3.2.0
info:
  title: Usage Analytics Read Users API - Version 15 API
  version: '1.0'
servers:
- url: https://analytics.cloud.coveo.com/rest/ua
  description: Coveo public API endpoint
security:
- v8:
  - full
tags:
- name: Users API - Version 15
paths:
  /v15/users/{userId}/filters:
    get:
      tags:
      - Users API - Version 15
      summary: Get the Data Level Filters That Apply to a User
      operationId: get__v15_users_{userId}_filters
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeGroups
        in: query
        description: Whether to include the values inherited from a user's groups in the response.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV15'
    put:
      tags:
      - Users API - Version 15
      summary: Set the Filters That Will Be Applied to a User Query
      operationId: put__v15_users_{userId}_filters
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filters that will be applied to the user. Must be a persisted filter ID
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                $ref: '#/components/schemas/FilterValueModelV15'
        required: true
      responses:
        '204':
          description: No content
  /v15/users/{userId}/reports:
    get:
      tags:
      - Users API - Version 15
      summary: Get the Reports That a User Can Access
      operationId: get__v15_users_{userId}_reports
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeConfig
        in: query
        description: Whether to include the detailed configuration of the report in the response.
        schema:
          type: boolean
          default: true
      - name: includeGroups
        in: query
        description: Whether to include the values inherited from a user's groups in the response.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponseV15'
    put:
      tags:
      - Users API - Version 15
      summary: Set Which Reports a User Can Access
      operationId: put__v15_users_{userId}_reports
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The unique identifier of a user.
        schema:
          type: string
      requestBody:
        description: The IDs of the reports the user can access
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
  /v15/users/monitoring/health:
    get:
      tags:
      - Users API - Version 15
      summary: Health Check for the Users Service
      operationId: get__v15_users_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/users/status:
    get:
      tags:
      - Users API - Version 15
      summary: Get the Users Service Status
      operationId: get__v15_users_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/users/{userId}:
    get:
      tags:
      - Users API - Version 15
      summary: Get a User
      operationId: get__v15_users_{userId}
      parameters:
      - name: userId
        in: path
        description: The unique identifier of a user.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseV15'
components:
  schemas:
    FiltersResponseV15:
      type: object
      properties:
        filters:
          type: array
          description: The filters that are applied to the user
          items:
            $ref: '#/components/schemas/FilterResponseV15'
      description: The filters that are applied to the user
    FilterResponseV15:
      type: object
      properties:
        id:
          type: string
          description: The filter id.
        displayName:
          type: string
          description: The filter display name.
        account:
          type: string
          description: The filter account.
        type:
          type: string
          description: The filter type. Can be 'permissions' or 'reporting'.
        value:
          type: string
          description: The actual filter.
      description: A filter.
    UserResponseV15:
      type: object
      properties:
        userId:
          type: string
          description: The user id.
        account:
          type: string
          description: The user account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the user
          items:
            type: string
            description: The filters that are applied to the user
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            type: string
            description: The reports the user can view.
      description: A user.
    FilterValueModelV15:
      required:
      - id
      - value
      type: object
      properties:
        value:
          type: string
          description: The actual value of the filter.
        id:
          type: boolean
          description: Whether the value is a persisted filter ID or a filter value
      description: A filter value.
    ReportsResponseV15:
      type: object
      properties:
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            $ref: '#/components/schemas/ReportResponseV15'
      description: The reports the user can view.
    ReportResponseV15:
      type: object
      properties:
        id:
          type: string
          description: The report id.
        account:
          type: string
          description: The report account.
        displayName:
          type: string
          description: The report display name.
        type:
          type: string
          description: The report type.
        configuration:
          type: object
          additionalProperties:
            type: object
            description: The report configuration.
          description: The report configuration.
        allAnalyticsViewer:
          type: boolean
          description: Whether the report is available to all analytics viewer.
        filters:
          uniqueItems: true
          type: array
          description: List of associated filters.
          items:
            type: string
            description: List of associated filters.
      description: A report configuration.
    StatusResponse:
      type: object
      description: Service's status information
  securitySchemes:
    v8:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          scopes:
            full: ''
