openapi: 3.2.0
info:
  title: Coveo Schema Service Salesforce Trial API
  version: 1.0.0
  description: Documentation for Coveo Schema Service
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: ''
    url: ''
    email: support@coveo.com
  license:
    name: ''
    url: ''
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Salesforce Trial
paths:
  /rest/organizations/{organizationId}/salesforce/trial/licenseStatus:
    get:
      operationId: getLicenseStatus
      summary: Retrieves the License Status for an Organization
      tags:
      - Salesforce Trial
      deprecated: true
      parameters:
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingLicenseStatus'
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/salesforce/trial/provisioningStatus:
    get:
      operationId: getProvisioningStatus
      summary: Retrieves the Provisioning Status for an Organization
      tags:
      - Salesforce Trial
      deprecated: true
      parameters:
      - name: salesforceOrganizationId
        description: The ID of the Salesforce organization.
        required: true
        in: query
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingProvisioningStatus'
      security:
      - oauth2:
        - full
components:
  schemas:
    OutgoingLicenseStatus:
      type: object
      properties:
        status:
          description: The status code for the current license status
          enum:
          - CANNOT_START_TRIAL
          type: string
      required:
      - status
    OutgoingProvisioningStatus:
      type: object
      properties:
        code:
          description: The status code for the current provisioning status
          enum:
          - LEGACY
          type: string
        description:
          description: Description of the current provisioning status
          type: string
        infos:
          description: Optional information generated during the provisioning operation
          type: string
        warnings:
          description: Optional warnings generated during the provisioning operation
          type: string
        error:
          description: Optional error generated during the provisioning operation
          type: string
        done:
          description: Whether the provisioning operation is done or not
          type: boolean
      required:
      - code
      - description
      - done
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: full
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
      description: OAuth2
