openapi: 3.2.0
info:
  title: Coveo Sources API
  version: 1.0.0
  description: 'Operations tagged Sources across 2 of this provider''s published API definitions: coveo-schema-service-openapi-original.yml, coveo-source-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Sources
paths:
  /rest/organizations/{organizationId}/schema/sources/SLACK/validateToken:
    post:
      operationId: validateSlackToken
      summary: Validates a Slack OAuth Token
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: accessTokenGuid
        description: The OAuth token Guid linked with the token to validate.
        required: false
        in: query
        schema:
          type: string
      - name: accessToken
        description: The OAuth token to validate.
        required: false
        in: query
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackTokenValidationStatus'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/defaultObjectsToGet:
    get:
      operationId: getDefaultObjectsToGet
      summary: Retrieves the Default Objects for a Source of Type Specified.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectsToGet'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/entities:
    get:
      operationId: getSchemaEntities
      summary: Retrieves the List of Entities Present in a Source, in Alphabetical Order of Display Names.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: accessTokenGuid
        description: The source's access token Guid (if authentified through access token)
        required: false
        in: query
        schema:
          type: string
      - name: entityIds
        description: IDs of the entities to retrieve (comma-separated list)
        required: false
        in: query
        schema:
          type: string
      - name: limit
        description: The number of entities to retrieve
        required: false
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        description: Starting index of the first entity to retrieve
        required: false
        in: query
        schema:
          type: integer
          format: int32
      - name: query
        description: A query used to match specific entities
        required: false
        in: query
        schema:
          type: string
      - name: username
        description: The source's username (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: passwordGuid
        description: The source's password Guid (if authentified through Basic Auth)
        required: false
        in: query
        schema:
          type: string
      - name: clientId
        description: The source's client id(if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: clientSecretGuid
        description: The source's client secret Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: oauthRefreshTokenGuid
        description: The source's refresh token Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: instanceUrl
        description: The source's instance Url.
        required: true
        in: query
        schema:
          type: string
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaEntities'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/entities/{entityId}:
    get:
      operationId: getSchemaEntity
      summary: Retrieves the Entity Specified with Its Fields.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: filter
        description: The record count filter
        required: false
        in: query
        schema:
          type: string
      - name: username
        description: The source's username (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: passwordGuid
        description: The source's password Guid (if authentified through Basic Auth)
        required: false
        in: query
        schema:
          type: string
      - name: clientId
        description: The source's client id(if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: clientSecretGuid
        description: The source's client secret Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: oauthRefreshTokenGuid
        description: The source's refresh token Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: instanceUrl
        description: The source's instance Url.
        required: true
        in: query
        schema:
          type: string
      - name: entityId
        description: The id of the entity
        required: true
        in: path
        schema:
          type: string
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaEntities'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/entities/{entityId}/fields:
    get:
      operationId: getSchemaEntityFields
      summary: Retrieves the Specified Entity, with Its Fields in Alphabetical Order of Display Names.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: username
        description: The source's username (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: passwordGuid
        description: The source's password Guid (if authentified through Basic Auth)
        required: false
        in: query
        schema:
          type: string
      - name: clientId
        description: The source's client id(if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: clientSecretGuid
        description: The source's client secret Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: oauthRefreshTokenGuid
        description: The source's refresh token Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: instanceUrl
        description: The source's instance Url.
        required: true
        in: query
        schema:
          type: string
      - name: entityId
        description: The name of the entity
        required: true
        in: path
        schema:
          type: string
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaEntities'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/translate/generic:
    post:
      operationId: translateToGeneric
      summary: Computes the Generic Objects to Get from a Specific Objects to Get.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObjectsToGet'
      security:
      - oauth2:
        - full
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Specific objects to get
        required: true
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/translate/specific:
    post:
      operationId: translateToSpecific
      summary: Computes the Specific Objects to Get from a Generic Objects to Get.
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecificObjectsToGet'
      security:
      - oauth2:
        - full
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: Generic objects to get
        required: true
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/schema/sources/{sourceType}/translate/specificWithMappings:
    post:
      operationId: translateToSpecificWithMappings
      summary: Computes the Specific Objects to Get from a Generic Objects to Get with a List of Mapping Description
      tags:
      - Sources
      deprecated: false
      parameters:
      - name: accessTokenGuid
        description: The source's access token Guid (if authentified through access token)
        required: false
        in: query
        schema:
          type: string
      - name: username
        description: The source's username (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: passwordGuid
        description: The source's password Guid (if authentified through Basic Auth)
        required: false
        in: query
        schema:
          type: string
      - name: clientId
        description: The source's client id(if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: clientSecretGuid
        description: The source's client secret Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: oauthRefreshTokenGuid
        description: The source's refresh token Guid (if authentified through OAuth).
        required: false
        in: query
        schema:
          type: string
      - name: instanceUrl
        description: The source's instance Url.
        required: true
        in: query
        schema:
          type: string
      - name: sourceType
        description: The type of the source
        required: true
        in: path
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JValue'
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}:
    get:
      tags:
      - Sources
      summary: Get a Single Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: getSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_get
      security:
      - oauth2:
        - full
    put:
      tags:
      - Sources
      summary: Update a Source from Simple Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SourceModel'
              - $ref: '#/components/schemas/AmazonS3SourceModel'
              - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
              - $ref: '#/components/schemas/CatalogSourceModel'
              - $ref: '#/components/schemas/Confluence2HostedSourceModel'
              - $ref: '#/components/schemas/Confluence2SourceModel'
              - $ref: '#/components/schemas/CustomSourceModel'
              - $ref: '#/components/schemas/DatabaseSourceModel'
              - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
              - $ref: '#/components/schemas/FileSourceModel'
              - $ref: '#/components/schemas/GenericRestSourceModel'
              - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
              - $ref: '#/components/schemas/GraphQlSourceModel'
              - $ref: '#/components/schemas/Jira2HostedSourceModel'
              - $ref: '#/components/schemas/Jira2SourceModel'
              - $ref: '#/components/schemas/JiveHostedSourceModel'
              - $ref: '#/components/schemas/JiveSourceModel'
              - $ref: '#/components/schemas/KhorosSourceModel'
              - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
              - $ref: '#/components/schemas/PushSourceModel'
              - $ref: '#/components/schemas/RSSSourceModel'
              - $ref: '#/components/schemas/SAPSourceModel'
              - $ref: '#/components/schemas/SalesforceSitesSourceModel'
              - $ref: '#/components/schemas/SalesforceSourceModel'
              - $ref: '#/components/schemas/ServiceNowSourceModel'
              - $ref: '#/components/schemas/SharePointOnline2SourceModel'
              - $ref: '#/components/schemas/SharePointSourceModel'
              - $ref: '#/components/schemas/ShopifySourceModel'
              - $ref: '#/components/schemas/SitecoreSourceModel'
              - $ref: '#/components/schemas/SitemapSourceModel'
              - $ref: '#/components/schemas/SlackSourceModel'
              - $ref: '#/components/schemas/Web2SourceModel'
              - $ref: '#/components/schemas/YouTubeSourceModel'
              - $ref: '#/components/schemas/ZendeskSourceModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_put
      security:
      - oauth2:
        - full
    delete:
      tags:
      - Sources
      summary: Delete a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: deleteSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId_delete
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/schedules/{scheduleId}:
    get:
      tags:
      - Sources
      summary: Get a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: getSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_get
      security:
      - oauth2:
        - full
    put:
      tags:
      - Sources
      summary: Update a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: updateSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_put
      security:
      - oauth2:
        - full
    delete:
      tags:
      - Sources
      summary: Delete a Source Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: deleteSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules/paramId_delete
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/raw:
    get:
      tags:
      - Sources
      summary: Get the Raw Configuration of a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getRawSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: includeMappings
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RawSourceConfig'
      x-pretty-name: getRawSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/raw_get
      security:
      - oauth2:
        - full
    put:
      tags:
      - Sources
      summary: Update a Source from Raw Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateRawSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawSourceConfig'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateRawSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/raw_put
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/permissions/update:
    put:
      tags:
      - Sources
      summary: Update Source Permissions
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: updateSourcePermissions
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePermissionsUpdateModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: updateSourcePermissions
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/permissions/update_put
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/fields/{fieldId}:
    get:
      tags:
      - Sources
      summary: Get a Single Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      - name: includeMappings
        in: query
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SourceFieldModel'
      x-pretty-name: getField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_get
      security:
      - oauth2:
        - full
    put:
      tags:
      - Sources
      summary: Update a Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceFieldModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_put
      security:
      - oauth2:
        - full
    delete:
      tags:
      - Sources
      summary: Removes a Specific Field from an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: removeField
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: removeField
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/paramId_delete
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/fields/batch/update:
    put:
      tags:
      - Sources
      summary: Update a Field for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateFields
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SourceFieldModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: updateFields
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/fields/batch/update_put
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources:
    get:
      tags:
      - Sources
      summary: Get a Subset of Sources for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSources
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: filter
        in: query
        description: Optional filter string. Must be at least 2 characters long to be applied.
        required: false
        schema:
          type: string
      - name: sortingType
        in: query
        required: false
        schema:
          type: string
          default: NAME
          enum:
          - TYPE
          - NAME
          - STATUS
          - CONTENT
          - LAST_MODIFIED_DATE
          - LAST_OPERATION
          - CONTENT_TOTAL_DOCUMENT_SIZE
          - STATUS_PRIORITY
      - name: sortingOrder
        in: query
        required: false
        schema:
          type: string
          default: ASC
          enum:
          - ASC
          - DESC
      - name: writeAccessOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: filterStatusType
        in: query
        required: false
        schema:
          type: string
          enum:
          - CREATING
          - REFRESHING
          - PAUSED
          - PAUSED_ON_ERROR
          - IDLE
          - ERROR
      - name: filterLastOperationType
        in: query
        required: false
        schema:
          type: string
          enum:
          - INCREMENTAL_REFRESH
          - FULL_REFRESH
          - REBUILD
      - name: filterLastOperationResultType
        in: query
        required: false
        schema:
          type: string
          enum:
          - SUCCESS
          - ERROR
          - ABORT
      - name: filterHostType
        in: query
        required: false
        schema:
          type: string
          enum:
          - CLOUD
          - CRAWLING_MODULE
          - PUSH
      - name: stringFilterType
        in: query
        required: false
        schema:
          type: string
          enum:
          - WILDCARD
          - EXACTMATCH
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/SourceModel'
                  - $ref: '#/components/schemas/AmazonS3SourceModel'
                  - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                  - $ref: '#/components/schemas/CatalogSourceModel'
                  - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                  - $ref: '#/components/schemas/Confluence2SourceModel'
                  - $ref: '#/components/schemas/CustomSourceModel'
                  - $ref: '#/components/schemas/DatabaseSourceModel'
                  - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                  - $ref: '#/components/schemas/FileSourceModel'
                  - $ref: '#/components/schemas/GenericRestSourceModel'
                  - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                  - $ref: '#/components/schemas/GraphQlSourceModel'
                  - $ref: '#/components/schemas/Jira2HostedSourceModel'
                  - $ref: '#/components/schemas/Jira2SourceModel'
                  - $ref: '#/components/schemas/JiveHostedSourceModel'
                  - $ref: '#/components/schemas/JiveSourceModel'
                  - $ref: '#/components/schemas/KhorosSourceModel'
                  - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                  - $ref: '#/components/schemas/PushSourceModel'
                  - $ref: '#/components/schemas/RSSSourceModel'
                  - $ref: '#/components/schemas/SAPSourceModel'
                  - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                  - $ref: '#/components/schemas/SalesforceSourceModel'
                  - $ref: '#/components/schemas/ServiceNowSourceModel'
                  - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                  - $ref: '#/components/schemas/SharePointSourceModel'
                  - $ref: '#/components/schemas/ShopifySourceModel'
                  - $ref: '#/components/schemas/SitecoreSourceModel'
                  - $ref: '#/components/schemas/SitemapSourceModel'
                  - $ref: '#/components/schemas/SlackSourceModel'
                  - $ref: '#/components/schemas/Web2SourceModel'
                  - $ref: '#/components/schemas/YouTubeSourceModel'
                  - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: getSources
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources_get
      security:
      - oauth2:
        - full
    post:
      tags:
      - Sources
      summary: Create a Source from Simple Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: updateSecurityProviders
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: rebuild
        in: query
        required: false
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/SourceModel'
              - $ref: '#/components/schemas/AmazonS3SourceModel'
              - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
              - $ref: '#/components/schemas/CatalogSourceModel'
              - $ref: '#/components/schemas/Confluence2HostedSourceModel'
              - $ref: '#/components/schemas/Confluence2SourceModel'
              - $ref: '#/components/schemas/CustomSourceModel'
              - $ref: '#/components/schemas/DatabaseSourceModel'
              - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
              - $ref: '#/components/schemas/FileSourceModel'
              - $ref: '#/components/schemas/GenericRestSourceModel'
              - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
              - $ref: '#/components/schemas/GraphQlSourceModel'
              - $ref: '#/components/schemas/Jira2HostedSourceModel'
              - $ref: '#/components/schemas/Jira2SourceModel'
              - $ref: '#/components/schemas/JiveHostedSourceModel'
              - $ref: '#/components/schemas/JiveSourceModel'
              - $ref: '#/components/schemas/KhorosSourceModel'
              - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
              - $ref: '#/components/schemas/PushSourceModel'
              - $ref: '#/components/schemas/RSSSourceModel'
              - $ref: '#/components/schemas/SAPSourceModel'
              - $ref: '#/components/schemas/SalesforceSitesSourceModel'
              - $ref: '#/components/schemas/SalesforceSourceModel'
              - $ref: '#/components/schemas/ServiceNowSourceModel'
              - $ref: '#/components/schemas/SharePointOnline2SourceModel'
              - $ref: '#/components/schemas/SharePointSourceModel'
              - $ref: '#/components/schemas/ShopifySourceModel'
              - $ref: '#/components/schemas/SitecoreSourceModel'
              - $ref: '#/components/schemas/SitemapSourceModel'
              - $ref: '#/components/schemas/SlackSourceModel'
              - $ref: '#/components/schemas/Web2SourceModel'
              - $ref: '#/components/schemas/YouTubeSourceModel'
              - $ref: '#/components/schemas/ZendeskSourceModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: createSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/tasks/abort:
    post:
      tags:
      - Sources
      summary: Abort a Source Task Related to a Given Activity.
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: abortTaskForActivity
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: activityId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      x-pretty-name: abortTaskForActivity
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/tasks/abort_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/stopRefresh:
    post:
      tags:
      - Sources
      summary: Stop the Current Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: stopRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: stopRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/stopRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/startRefresh:
    post:
      tags:
      - Sources
      summary: Start a Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: startRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: startRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/startRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/schedules:
    get:
      tags:
      - Sources
      summary: Get All Source Schedules
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSourceSchedules
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: getSourceSchedules
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules_get
      security:
      - oauth2:
        - full
    post:
      tags:
      - Sources
      summary: Create a New Schedule for the Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: createSourceSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: createSourceSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/schedules_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/resumeRefresh:
    post:
      tags:
      - Sources
      summary: Resume the Current Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: resumeRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: resumeRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/resumeRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/rebuild:
    post:
      tags:
      - Sources
      summary: Apply a Rebuild Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: rebuild
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: rebuild
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/rebuild_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/pushRefresh:
    post:
      tags:
      - Sources
      summary: Sets the Refreshing State of a Push Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: setPushRefreshStatus
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: activityOperation
        in: query
        required: true
        schema:
          type: string
          enum:
          - APPLY
          - ARCHIVE
          - ARCHIVE_WARNING
          - BACKUP
          - CHANGE_ONLINE
          - CHANGE_READ_ONLY
          - COMMIT
          - CONFIG_CHANGE
          - CONFIG_CREATE
          - CREATE
          - DECLINE
          - DELETE
          - DISABLE
          - DUPLICATE
          - ENABLE
          - ENABLE_DISABLED_ENTITIES
          - EXPORT
          - FULL_REFRESH
          - HORIZONTAL_SCALING
          - IDLE
          - IMPORT
          - INCREMENTAL_REFRESH
          - LIMIT_ALMOST_REACHED
          - LIMIT_EXCEEDED
          - LIMIT_REACHED
          - LOG_REQUEST
          - METADATA_REPORT
          - MODEL_BUILD
          - MODEL_REFRESH
          - ORG_PROVISIONING_CHECK
          - PAUSE
          - PAUSE_ON_ERROR
          - REBUILD
          - REFRESH
          - REFRESH_CANCEL
          - REFRESH_ENTITIES_IN_ERROR
          - REFRESH_ENTITIES_NOT_UPDATED
          - REFRESH_ENTITY
          - REMEDIATE
          - RESIZE
          - RESTORE
          - RESUME
          - ROTATE
          - SCHEDULE_CHANGE
          - SCHEDULE_CREATE
          - SCHEDULE_DELETE
          - SEARCH_CERTIFICATE_UPDATE
          - SEARCH_INCIDENT
          - SEND_RESOURCE_SNAPSHOT
          - START
          - STOP
          - SYNCHRONIZE
          - TEST
          - UPDATE
          - UPGRADE
          - UPGRADE_REVERT
          - VALIDATE
          - VERTICAL_SCALING
      responses:
        '200':
          description: OK
      x-pretty-name: setPushRefreshStatus
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/pushRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/pauseRefresh:
    post:
      tags:
      - Sources
      summary: Pause the Current Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: pauseRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: pauseRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/pauseRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/incrementalRefresh:
    post:
      tags:
      - Sources
      summary: Apply an Incremental Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: incrementalRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: incrementalRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/incrementalRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/fullRefresh:
    post:
      tags:
      - Sources
      summary: Apply a Full Refresh Operation on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: fullRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: fullRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/fullRefresh_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/enable:
    post:
      tags:
      - Sources
      summary: Enable Schedules on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: enable
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      deprecated: true
      x-pretty-name: enable
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/enable_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/duplicate:
    post:
      tags:
      - Sources
      summary: Duplicate a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        AND

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: duplicateSource
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      - name: newSourceName
        in: query
        required: true
        schema:
          type: string
      - name: logicalIndexId
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
                - $ref: '#/components/schemas/ZendeskSourceModel'
      x-pretty-name: duplicateSource
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SOURCE
        type: EDIT
        targetId: '{sourceId}'
      - owner: PLATFORM
        targetDomain: SOURCE
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/sources/paramId/duplicate_post
      security:
      - oauth2:
        - full
    servers:
    - url: https://platform.cloud.coveo.com
      description: Coveo public API endpoint
  /rest/organizations/{organizationId}/sources/{sourceId}/disable:
    post:
      tags:
      - Sources
      summary: Disable Schedules on a Source
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"EDIT","targetId":"{sourceId}"}

        ```

        </details>'
      operationId: disable
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: sourceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                oneOf:
                - $ref: '#/components/schemas/SourceModel'
                - $ref: '#/components/schemas/AmazonS3SourceModel'
                - $ref: '#/components/schemas/BoxEnterprise2SourceModel'
                - $ref: '#/components/schemas/CatalogSourceModel'
                - $ref: '#/components/schemas/Confluence2HostedSourceModel'
                - $ref: '#/components/schemas/Confluence2SourceModel'
                - $ref: '#/components/schemas/CustomSourceModel'
                - $ref: '#/components/schemas/DatabaseSourceModel'
                - $ref: '#/components/schemas/DropboxForBusinessSourceModel'
                - $ref: '#/components/schemas/FileSourceModel'
                - $ref: '#/components/schemas/GenericRestSourceModel'
                - $ref: '#/components/schemas/GoogleDriveDomainWideSourceModel'
                - $ref: '#/components/schemas/GraphQlSourceModel'
                - $ref: '#/components/schemas/Jira2HostedSourceModel'
                - $ref: '#/components/schemas/Jira2SourceModel'
                - $ref: '#/components/schemas/JiveHostedSourceModel'
                - $ref: '#/components/schemas/JiveSourceModel'
                - $ref: '#/components/schemas/KhorosSourceModel'
                - $ref: '#/components/schemas/MicrosoftDynamicsSourceModel'
                - $ref: '#/components/schemas/PushSourceModel'
                - $ref: '#/components/schemas/RSSSourceModel'
                - $ref: '#/components/schemas/SAPSourceModel'
                - $ref: '#/components/schemas/SalesforceSitesSourceModel'
                - $ref: '#/components/schemas/SalesforceSourceModel'
                - $ref: '#/components/schemas/ServiceNowSourceModel'
                - $ref: '#/components/schemas/SharePointOnline2SourceModel'
                - $ref: '#/components/schemas/SharePointSourceModel'
                - $ref: '#/components/schemas/ShopifySourceModel'
                - $ref: '#/components/schemas/SitecoreSourceModel'
                - $ref: '#/components/schemas/SitemapSourceModel'
                - $ref: '#/components/schemas/SlackSourceModel'
                - $ref: '#/components/schemas/Web2SourceModel'
                - $ref: '#/components/schemas/YouTubeSourceModel'
[...]
