openapi: 3.0.1
info:
  title: Coveo Machine Learning Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
paths:
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/model/{modelId}:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show DNE Model Resources
      description: 'Shows resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: getModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_get
    put:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Update DNE Model Resources
      description: 'Updates the configuration of the resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DneConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: updateModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_put
    delete:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Delete DNE Model Resources
      description: 'Deletes resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: deleteModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model/paramId_delete
  /rest/organizations/{organizationId}/machinelearning/configuration/smartsnippets/preview:
    post:
      tags:
      - Smart Snippets Configuration
      summary: Get Preview for Building an SS Model.
      description: 'Show how many documents matching SS requirements are in the sources.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentsCountPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartSnippetsPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmartSnippetsPreviewResponse'
      x-pretty-name: getDocumentsCountPreview
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/smartsnippets/preview_post
  /rest/organizations/{organizationId}/machinelearning/configuration/smartsnippets/documenttypes:
    post:
      tags:
      - Smart Snippets Configuration
      summary: Get SS Document Types
      description: 'Get the document types available for a Smart Snippets (SS) model to use.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentTypes
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartSnippetsPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SmartSnippetsDocumentTypesResponse'
      x-pretty-name: getDocumentTypes
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/smartsnippets/documenttypes_post
  /rest/organizations/{organizationId}/machinelearning/configuration/smartsnippets/contentfields:
    post:
      tags:
      - Smart Snippets Configuration
      summary: Get SS Content Fields
      description: 'Get the content fields that a model can use for a given document type.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getContentFields
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartSnippetsContentFieldsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContentFieldsResponse'
      x-pretty-name: getContentFields
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/smartsnippets/contentfields_post
  /rest/organizations/{organizationId}/machinelearning/configuration/semanticencoder/preview:
    post:
      tags:
      - Semantic Encoder Configuration
      summary: Get Preview for Building an SE Model
      description: 'Show how many documents matching various SE requirements are in the selection.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getSemanticEncoderPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SemanticEncoderPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SemanticEncoderPreviewResponse'
      x-pretty-name: getSemanticEncoderPreview
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/semanticencoder/preview_post
  /rest/organizations/{organizationId}/machinelearning/configuration/rga/preview:
    post:
      tags:
      - Relevance Generative Answering Configuration
      summary: Get Preview for Building an RGA Model
      description: 'Show how many documents matching various RGA requirements are in the selection.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getRelevanceGenerativeAnsweringPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelevanceGenerativeAnsweringPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RelevanceGenerativeAnsweringPreviewResponse'
      x-pretty-name: getRelevanceGenerativeAnsweringPreview
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/rga/preview_post
  /rest/organizations/{organizationId}/machinelearning/configuration/pqs/model:
    post:
      tags:
      - Predictive Query Suggest Configuration
      summary: Create PQS Model Resources
      description: 'Creates resources for a Predictive Query Suggest (PQS) model.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PqsConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PqsConfigurationModel'
      x-pretty-name: createModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/pqs/model_post
  /rest/organizations/{organizationId}/machinelearning/configuration/modellisting:
    get:
      tags:
      - Model Listing
      summary: List Models
      description: 'Lists the organization models corresponding to the specified engine IDs.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getModels
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: engineIds
        in: query
        description: The engine identifiers of the machine learning models to request.
        required: false
        schema:
          type: array
          items:
            type: string
        example: topclicks, querysuggest
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelListingModel'
      x-pretty-name: getModels
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/modellisting_get
    post:
      tags:
      - Model Listing
      summary: List Models
      description: 'Lists the organization models corresponding to the specified IDs.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getModels_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelListingModelsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelListingModel'
      x-pretty-name: getModels
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/modellisting_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/parsedocumentextractionquerymodel:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Parse a Document Extraction Query
      description: 'Parses the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: parseDocumentExtractionQuery
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              type: string
              description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery`
                endpoint to generate the proper query.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionQueryModel'
      x-pretty-name: parseDocumentExtractionQuery
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/parsedocumentextractionquerymodel_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/model:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Create DNE Model Resources
      description: 'Creates resources for a Dynamic Navigation Experience (DNE) model.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createModel_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DneNewConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DneConfigurationModel'
      x-pretty-name: createModel
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/model_post
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery:
    post:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show Document Extraction Query
      description: 'Shows the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionQuery
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentExtractionQueryModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      x-pretty-name: getDocumentExtractionQuery
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionquery_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/preview:
    post:
      tags:
      - Case Classification Configuration
      summary: Get Preview for Building a CC Model.
      description: 'Shows the number of support cases that match the Case Classification (CC) requirements in the targeted
        sources.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentsCountPreview_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationPreviewResponse'
      x-pretty-name: getDocumentsCountPreview
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/preview_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields:
    post:
      tags:
      - Case Classification Configuration
      summary: Get CC Content Fields
      description: 'Get the content fields that a model can use for the specified parameters.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getFields
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContentFieldsResponse'
      x-pretty-name: getFields
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields/{fieldName}/valueCount:
    post:
      tags:
      - Case Classification Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getValueCountForField
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fieldName
        in: path
        description: Name of the field
        required: true
        schema:
          type: string
        example: author
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationValueCountResponse'
      x-pretty-name: getValueCountForField
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields/paramId/valueCount_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields/{fieldName}/documentCount:
    post:
      tags:
      - Case Classification Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentCountForField
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fieldName
        in: path
        description: Name of the field
        required: true
        schema:
          type: string
        example: author
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationDocumentCountResponse'
      x-pretty-name: getDocumentCountForField
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields/paramId/documentCount_post
  /rest/organizations/{organizationId}/machinelearning/configuration/querypipelines/{pipelineId}/associations:
    get:
      tags:
      - Model Associations
      summary: Lists Associations
      description: 'Lists the organization associations corresponding to the specified pipelineId.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAssociations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: 'The 0-based number of the page of results to list.<br />Minimum: `0`<br />**Default:** `0`'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of results to include per page.<br />**Must be in range:** `[1, 1000]`<br />**Default:**
          `100`
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelQueryPipelineMLAssociationModel'
      x-pretty-name: getAssociations
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: QUERY_PIPELINE
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: QUERY_PIPELINE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/querypipelines/paramId/associations_get
  /rest/organizations/{organizationId}/machinelearning/configuration/modeldetailedinfo/{modelId}:
    get:
      tags:
      - Model Detailed Info
      summary: Fetch Model
      description: 'Fetch the model corresponding to the specified model ID.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"MODELS","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getModelDetailedInfo
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: modelId
        in: path
        description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
        required: true
        schema:
          type: string
        example: My_Model_ID
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ModelDetailedInfoModel'
      x-pretty-name: getModelDetailedInfo
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: MODELS
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/modeldetailedinfo/paramId_get
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquerymodel:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Parse a Document Extraction Query
      description: 'Parses the query that determines the documents to extract.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionQueryModel
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: query
        in: query
        description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery`
          endpoint to generate the proper query.<br />**Example:** `(@filetype OR @category) AND @source==("My source")`
        required: true
        schema:
          type: string
        example: (@filetype OR @category) AND @source==("My source")
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionQueryModel'
      x-pretty-name: getDocumentExtractionQueryModel
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionquerymodel_get
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionpreview:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: Show Document Extraction Preview
      description: 'Shows information about the documents to be extracted.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        AND

        {"owner":"PLATFORM","targetDomain":"SOURCE","type":"VIEW","targetId":"*"}

        AND

        {"owner":"SEARCH_API","targetDomain":"VIEW_ALL_CONTENT","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentExtractionPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fields
        in: query
        description: The names of the fields to consider for the document extraction preview. Documents for which at least
          one of these fields is defined will be included in the preview.<br />**Example:** `filetype,category`
        required: true
        schema:
          type: array
          items:
            type: string
        example: filetype,category
      - name: maximumNumberOfSources
        in: query
        description: The maximum number of sources to return.<br />**Example:** `10`
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - name: viewAllContent
        in: query
        description: Whether to allow the preview to include secured documents.
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentExtractionPreviewModel'
      x-pretty-name: getDocumentExtractionPreviewWithViewAllContent
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SOURCE
        type: VIEW
        targetId: '*'
      - owner: SEARCH_API
        targetDomain: VIEW_ALL_CONTENT
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/documentextractionpreview_get
  /rest/organizations/{organizationId}/machinelearning/configuration/dne/autoselectionfieldcandidates:
    get:
      tags:
      - Dynamic Navigation Experience Configuration
      summary: List Fields
      description: 'Retrieves a filtered and paginated list of [fields](https://docs.coveo.com/en/200/) from the [index](https://docs.coveo.com/en/204/)
        of the target Coveo Cloud [organization](https://docs.coveo.com/en/185/).<br /><br />**Required privilege:** Fields
        - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"FIELD","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getAutoSelectionFieldCandidates
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: filter
        in: query
        description: A substring that must appear in the `name` property of a [field](https://docs.coveo.com/en/200/) in order
          for this field to be included in the results.<br />**Example:** `author`
        required: false
        schema:
          type: string
          default: ''
      - name: page
        in: query
        description: 'The 0-based number of the page of results to list.<br />Minimum: `0`<br />**Default:** `0`'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The maximum number of results to include per page.<br />**Must be in range:** `[1, 1000]`<br />**Default:**
          `100`
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelAutoSelectionFieldCandidateModel'
      x-pretty-name: getAutoSelectionFieldCandidates
      x-required-privilege:
        owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: FIELD
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/dne/autoselectionfieldcandidates_get
components:
  schemas:
    DneConfigurationModel:
      required:
      - modelDisplayName
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        exportPeriod:
          type: string
          description: The period of UA data to learn from when rebuilding the model. The `exportPeriod` uses the moment when
            the model was last generated as a base. Must be in the ISO8601 period format (i.e., PyYmMwWdDThHmMsS).<br />**Example:**
            `P1M`
          example: P1M
        intervalTime:
          type: integer
          description: 'The number of `intervalUnit` to wait between each rebuild of the model.


            Must be greater than or equal to `1`.<br />**Example:** `1`'
          format: int32
          example: 1
          enum:
          - null
        intervalUnit:
          type: string
          description: The duration unit to use when interpreting the rebuild `intervalTime` for the model.<br />**Example:**
            `WEEK`
          example: WEEK
          enum:
          - DAY,WEEK,MONTH
        commonFilter:
          type: string
          description: 'The filter to apply to the ’Common’ event dimensions (shared by all event types) of the UA data to
            learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        searchEventFilter:
          type: string
          description: 'The filter to apply to the ‘Click’ and ‘Search’ event dimensions of the UA data to learn from when
            rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        fieldsToAutoSelect:
          type: array
          description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot
            be updated.<br />**Example:** `["filetype", "category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot
              be updated.<br />**Example:** `["filetype", "category"]`
            example: '["filetype","category"]'
        documentExtractionQuery:
          type: string
          description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery`
            endpoint to generate the proper query. **Note:** Once set, this property cannot be updated.<br />**Example:**
            `(@filetype OR @category) AND @source==("My source")`
          example: (@filetype OR @category) AND @source==("My source")
        viewAllContent:
          type: boolean
          description: Whether to allow the model to extract secured documents. **Note:** Once set, this property cannot be
            updated.
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
      description: The configuration for the update of a DNE model.
    FilterConditionModel:
      required:
      - field
      - operator
      - value
      type: object
      properties:
        field:
          type: string
          description: The field to use for the filter.<br />**Example:** `author`
          example: author
        operator:
          type: string
          description: The operator to use for the condition.<br />**Example:** `EQUALS`
          example: EQUALS
          enum:
          - EQUALS
          - NOT_EQUALS
          - EQUALS, NOT_EQUALS
        value:
          type: string
          description: The value to use for the filter.<br />**Example:** `John Smith`
          example: John Smith
      description: A custom filter condition.
    SmartSnippetsPreviewRequest:
      type: object
      properties:
        sources:
          type: array
          description: The names of the sources containing the items that the model should use to extract snippets.<br />**Example:**
            `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources containing the items that the model should use to extract snippets.<br />**Example:**
              `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        filterConditions:
          type: array
          description: The custom filter conditions to target specific documents.
          items:
            $ref: '#/components/schemas/FilterConditionModel'
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters,
            e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
      description: The configuration for the Smart Snippets preview.
    SmartSnippetsPreviewResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch document information.<br />**Example:** `@source==("Salesforce Notifier")`
          example: '@source==("Salesforce Notifier")'
        numberOfDocumentsInSources:
          type: integer
          description: The total number of documents in the selected sources.
          format: int64
        numberOfValidDocuments:
          type: integer
          description: The number of documents that are candidates for learning.
          format: int64
        numberOfDocumentsInSourcesMatchingFilters:
          type: integer
          description: The number of documents in the selected sources that match the conditions.
          format: int64
        numberOfDocumentsInSourcesMatchingFiltersWithPermanentId:
          type: integer
          description: The number of documents in the selected sources that match the conditions and have a `permanentid`.
          format: int64
        documentRequirementStatus:
          type: string
          description: Status for the number of required documents to build the model.
          enum:
          - OK
          - INSUFFICIENT_DOCUMENTS
          - NB_OF_DOCUMENTS_OVER_LIMIT
      description: The Smart Snippets preview response.
    DocumentTypeResponse:
      required:
      - documentType
      type: object
      properties:
        documentType:
          type: string
          description: The document types for which content is in custom index fields.<br />**Example:** `SupportArticle`
          example: SupportArticle
      description: List of available document types
    SmartSnippetsDocumentTypesResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch document information.<br />**Example:** `@source==("Salesforce Notifier")`
          example: '@source==("Salesforce Notifier")'
        documentTypes:
          type: array
          description: List of available document types
          items:
            $ref: '#/components/schemas/DocumentTypeResponse'
    SmartSnippetsContentFieldsRequest:
      type: object
      properties:
        sources:
          type: array
          description: The names of the sources containing the items that the model should use to extract snippets.<br />**Example:**
            `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources containing the items that the model should use to extract snippets.<br />**Example:**
              `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        filterConditions:
          type: array
          description: The custom filter conditions to target specific documents.
          items:
            $ref: '#/components/schemas/FilterConditionModel'
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters,
            e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
        documentType:
          type: string
          description: The document types for which content is in custom index fields.<br />**Example:** `SupportArticle`
          example: SupportArticle
      description: The configuration for the Smart Snippets content fields request.
    ContentFieldsResponse:
      type: object
      properties:
        query:
          type: string
          description: The query used to retrieve item information.
          example: '@language="English" AND @documenttype=="SupportArticle"'
        fields:
          type: array
          description: The list of non-empty fields for at least one item.
          items:
            $ref: '#/components/schemas/FieldCandidateModel'
    FieldCandidateModel:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the field, also referred to as the field identifier.<br />**Example:** `article_description`
          example: article_description
      description: The list of non-empty fields for at least one item.
    SemanticEncoderPreviewRequest:
      type: object
      properties:
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters,
            e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
        sources:
          type: array
          description: The names of the sources containing the items that the model should use to extract chunks.<br />**Example:**
            `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources containing the items that the model should use to extract chunks.<br />**Example:**
              `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        filterConditions:
          type: array
          description: The custom filter conditions to target specific documents.
          items:
            $ref: '#/components/schemas/FilterConditionModel'
      description: The configuration for the Semantic Encoder preview.
    SemanticEncoderPreviewResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch document information.<br />**Example:** `@source==("Salesforce Notifier")`
          example: '@source==("Salesforce Notifier")'
        numberOfDocumentsInSources:
          type: integer
          description: The total number of documents in the selected sources.
          format: int64
        numberOfValidDocuments:
          type: integer
          description: The number of documents that are candidates for learning.
          format: int64
        numberOfDocumentsInSourcesMatchingFilters:
          type: integer
          description: The number of documents in the selected sources that match the conditions.
          format: int64
        numberOfDocumentsInSourcesMatchingFiltersWithPermanentId:
          type: integer
          description: The number of documents in the selected sources that match the conditions and have a `permanentid`.
          format: int64
        documentLimit:
          type: integer
          description: The maximum number of documents allowed to learn from.
          format: int64
        documentRequirementStatus:
          type: string
          description: Status for the number of required documents to build the model.
          enum:
          - OK
          - INSUFFICIENT_DOCUMENTS
          - NB_OF_DOCUMENTS_OVER_LIMIT
      description: The Semantic Encoder preview response.
    RelevanceGenerativeAnsweringPreviewRequest:
      type: object
      properties:
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters,
            e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
        sources:
          type: array
          description: The names of the sources containing the items that the model should use to extract chunks.<br />**Example:**
            `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources containing the items that the model should use to extract chunks.<br />**Example:**
              `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        filterConditions:
          type: array
          description: The custom filter conditions to target specific documents.
          items:
            $ref: '#/components/schemas/FilterConditionModel'
      description: The configuration for the Relevance Generative Answering preview.
    RelevanceGenerativeAnsweringPreviewResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch document information.<br />**Example:** `@source==("Salesforce Notifier")`
          example: '@source==("Salesforce Notifier")'
        numberOfDocumentsInSources:
          type: integer
          description: The total number of documents in the selected sources.
          format: int64
        numberOfValidDocuments:
          type: integer
          description: The number of documents that are candidates for learning.
          format: int64
        numberOfDocumentsInSourcesMatchingFilters:
          type: integer
          description: The number of documents in the selected sources that match the conditions.
          format: int64
        numberOfDocumentsInSourcesMatchingFiltersWithPermanentId:
          type: integer
          description: The number of documents in the selected sources that match the conditions and have a `permanentid`.
          format: int64
        documentLimit:
          type: integer
          description: The maximum number of documents allowed to learn from.
          format: int64
        documentRequirementStatus:
          type: string
          description: Status for the number of required documents to build the model.
          enum:
          - OK
          - INSUFFICIENT_DOCUMENTS
          - NB_OF_DOCUMENTS_OVER_LIMIT
      description: The Relevance Generative Answering preview response.
    PqsConfigurationModel:
      required:
      - catalogId
      - modelDisplayName
      - trackingIds
      type: object
      properties:
        catalogId:
          type: string
          description: The unique identifier of the catalog to be used by the model to infer personalized suggestions based
            on product vectors.<br />**Example:** `catalogId`
          example: catalogId
        trackingIds:
          type: array
          description: The trackingIds that usage analytics events must contain for the model to use those events in its learning
            process. The model will use an event if it contains at least one of the specified IDs
          example:
          - sport
          items:
            type: string
            description: The trackingIds that usage analytics events must contain for the model to use those events in its
              learning process. The model will use an event if it contains at least one of the specified IDs
            example: '["sport"]'
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        exportPeriod:
          type: string
          description: The period of UA data to learn from when rebuilding the model. The `exportPeriod` uses the moment when
            the model was last generated as a base. Must be in the ISO8601 period format (i.e., PyYmMwWdDThHmMsS).<br />**Example:**
            `P1M`
          example: P1M
        intervalTime:
          type: integer
          description: 'The number of `intervalUnit` to wait between each rebuild of the model.


            Must be greater than or equal to `1`.<br />**Example:** `1`'
          format: int32
          example: 1
          enum:
          - null
        intervalUnit:
          type: string
          description: The duration unit to use when interpreting the rebuild `intervalTime` for the model.<br />**Example:**
            `WEEK`
          example: WEEK
          enum:
          - DAY,WEEK,MONTH
        commonFilter:
          type: string
          description: 'The filter to apply to the ’Common’ event dimensions (shared by all event types) of the UA data to
            learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        searchEventFilter:
          type: string
          description: 'The filter to apply to the ‘Click’ and ‘Search’ event dimensions of the UA data to learn from when
            rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
      description: The configuration for the creation of a PQS model.
    ModelListingModelsRequest:
      type: object
      properties:
        engineIds:
          type: array
          items:
            type: string
        registrationIds:
          uniqueItems: true
          type: array
          items:
            type: string
        displayNameAndRegistrationIdFilter:
          type: string
        projectId:
          type: string
    ModelAssociationModel:
      type: object
      properties:
        parentId:
          type: string
          description: The unique identifier of the query pipeline to which the model is associated.
          example: 38b08160-d7d4-4626-8e03-53587c23415d
        id:
          type: string
          description: The unique identifier of the model association.
          example: 917af358-13fd-4c8e-94af-7cf649bddc48
        name:
          type: string
          description: The name of the query pipeline or case assist configuration the model is associated with.
          example: association name
        associationType:
          type: string
          description: The type of the association.
          example: QUERY_PIPELINE
          enum:
          - QUERY_PIPELINE
          - CASE_ASSIST
      description: The associations related to this model
      example: "[\n  {\n      \"parentId\": \"38b08160-d7d4-4626-8e03-53587c23415d\",\n      \"id\": \"917af358-13fd-4c8e-94af-7cf649bddc48,\n\
        \      \"name\": \"test pipeline\",\n      \"associationType\": \"QUERY_PIPELINE\"\n  }\n]"
    ModelListingModel:
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
        engineId:
          type: string
          description: The id of the engine.<br />**Example:** `topclicks`
          example: topclicks
        estimatedPreviousModelUpdateTime:
          type: integer
          description: The date and time the model was last updated.
          format: int64
          example: 1691762520000
        nextModelUpdateTime:
          type: integer
          description: The date and time the model is scheduled to start its next update.
          format: int64
          example: 1691762520000
        platformVersion:
          type: integer
          description: Version of the platform.
          format: int32
          example: 2
        modelSizeStatistic:
          type: integer
          description: The model size statistic. Depending on the model type, this value represents the number of items or
            queries on which the model was built.
          format: int32
          example: 5
        modelStatusInfo:
          $ref: '#/components/schemas/ModelStatusInfoModel'
        requiresAssociation:
          type: boolean
          description: Indicates if the model requires association.
        modelAssociations:
          type: array
          description: The associations related to this model
          example: "[\n  {\n      \"parentId\": \"38b08160-d7d4-4626-8e03-53587c23415d\",\n      \"id\": \"917af358-13fd-4c8e-94af-7cf649bddc48,\n\
            \      \"name\": \"test pipeline\",\n      \"associationType\": \"QUERY_PIPELINE\"\n  }\n]"
          items:
            $ref: '#/components/schemas/ModelAssociationModel'
        readyForAssociation:
          type: boolean
    ModelStatusInfoModel:
      type: object
      properties:
        modelStatus:
          type: string
          description: The status of the model.
          example: ACTIVE
          enum:
          - ARCHIVED
          - SOON_TO_BE_ARCHIVED
          - BUILD_IN_PROGRESS
          - ERROR
          - ERROR_INTERNAL
          - LIMITED
          - ACTIVE
          - INACTIVE
        daysUntilArchival:
          type: integer
          description: The remaining days until the model is archived.
          format: int64
          example: 2
        activeModelBuildDate:
          type: string
          description: The epoch timestamp, in milliseconds, of when the active model was built. This field is empty if there
            are no active models.
          format: date-time
        lastBuildStatus:
          type: string
          description: The status of the model.
          example: ACTIVE
          enum:
          - ARCHIVED
          - SOON_TO_BE_ARCHIVED
          - BUILD_IN_PROGRESS
          - ERROR
          - ERROR_INTERNAL
          - LIMITED
          - ACTIVE
          - INACTIVE
      description: The current status of the model..
      example: "{\n \"modelStatus\": \"BUILDING\",\n \"daysUntilArchival\" : 3\n }"
    DocumentExtractionQueryModel:
      type: object
      properties:
        fields:
          type: array
          description: The names of the fields to consider for the document extraction query. Documents for which at least
            one of these fields is defined will be included in the preview.<br />**Example:** `["filetype","category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for the document extraction query. Documents for which at least
              one of these fields is defined will be included in the preview.<br />**Example:** `["filetype","category"]`
            example: '["filetype","category"]'
        sources:
          type: array
          description: The names of the sources to consider for the document extraction query. If unspecified, documents from
            any sources may be included in the preview.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources to consider for the document extraction query. If unspecified, documents
              from any sources may be included in the preview.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
      description: The constraints for the document extraction query of a DNE model.
    DneNewConfigurationModel:
      required:
      - modelDisplayName
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The model display name in the Coveo Administration console.<br />**Example:** `MyModelDisplayName`
          example: MyModelDisplayName
        exportPeriod:
          type: string
          description: The period of UA data to learn from when rebuilding the model. The `exportPeriod` uses the moment when
            the model was last generated as a base. Must be in the ISO8601 period format (i.e., PyYmMwWdDThHmMsS).<br />**Example:**
            `P1M`
          example: P1M
        intervalTime:
          type: integer
          description: 'The number of `intervalUnit` to wait between each rebuild of the model.


            Must be greater than or equal to `1`.<br />**Example:** `1`'
          format: int32
          example: 1
          enum:
          - null
        intervalUnit:
          type: string
          description: The duration unit to use when interpreting the rebuild `intervalTime` for the model.<br />**Example:**
            `WEEK`
          example: WEEK
          enum:
          - DAY,WEEK,MONTH
        commonFilter:
          type: string
          description: 'The filter to apply to the ’Common’ event dimensions (shared by all event types) of the UA data to
            learn from when rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        searchEventFilter:
          type: string
          description: 'The filter to apply to the ‘Click’ and ‘Search’ event dimensions of the UA data to learn from when
            rebuilding the model.


            See [Usge Analytics Read Filter Syntax](https://docs.coveo.com/en/2727/).<br />**Example:** `(originlevel1 ==
            "My Hub")`'
          example: (originlevel1 == "My Hub")
        fieldsToAutoSelect:
          type: array
          description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot
            be updated.<br />**Example:** `["filetype", "category"]`
          example:
          - filetype
          - category
          items:
            type: string
            description: The names of the fields to consider for automatic selection. **Note:** Once set, this property cannot
              be updated.<br />**Example:** `["filetype", "category"]`
            example: '["filetype","category"]'
        documentExtractionQuery:
          type: string
          description: The query that determines the documents to extract. Use the `POST /rest/organizations/{organizationId}/machinelearning/configuration/dne/documentextractionquery`
            endpoint to generate the proper query. **Note:** Once set, this property cannot be updated.<br />**Example:**
            `(@filetype OR @category) AND @source==("My source")`
          example: (@filetype OR @category) AND @source==("My source")
        viewAllContent:
          type: boolean
          description: Whether to allow the model to extract secured documents. **Note:** Once set, this property cannot be
            updated.
      description: The configuration for the creation of a DNE model.
    CaseClassificationPreviewRequest:
      type: object
      properties:
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters,
            e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
        sources:
          type: array
          description: The names of the sources that contain the cases.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources that contain the cases.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        caseFilterConditions:
          type: array
          description: The custom filter conditions for the cases.
          items:
            $ref: '#/components/schemas/CaseFilterConditionModel'
        languageField:
          type: string
          description: The field used to identify the language.<br />**Example:** `language`
          example: language
        caseExtractionPeriod:
          $ref: '#/components/schemas/CaseExtractionPeriodModel'
      description: The configuration for the Case Classification preview.
    CaseExtractionPeriodModel:
      type: object
      properties:
        exportPeriod:
          type: string
          description: The period during which the cases must be taken into account by the model when rebuilding. The `exportPeriod`
            uses the moment when the model was last generated as a base. Must be in the ISO8601 period format, with only one
            non-null time unit (i.e., PyY, PmM or PdD).<br />**Example:** `P6M`
          example: P6M
        startTime:
          type: integer
          description: The beginning of the period during which the cases must be taken into account by the model. Is incompatible
            with `exportPeriod` and requires an `endTime`.<br />**Example:** `1098908390000`
          format: int64
          example: 1098908390000
        endTime:
          type: integer
          description: The end of the period during which the cases must be taken into account by the model. Is incompatible
            with `exportPeriod` and requires a `startTime`.<br />**Example:** `1098908390000`
          format: int64
          example: 1098908390000
        dateField:
          type: string
          description: The field that identifies the support cases' creation date.<br />**Example:** `sfdate`
          example: sfdate
      description: The period during which the cases will be extracted.
    CaseFilterConditionModel:
      required:
      - field
      - operator
      - value
      type: object
      properties:
        field:
          type: string
          description: The field to use for the filter.<br />**Example:** `author`
          example: author
        operator:
          type: string
          description: The operator to use for the condition.<br />**Example:** `EQUALS`
          example: EQUALS
          enum:
          - EQUALS
          - NOT_EQUALS
          - EQUALS, NOT_EQUALS
        value:
          type: string
          description: The value to use for the filter.<br />**Example:** `John Smith`
          example: John Smith
      description: A custom case filter condition.
    CaseClassificationPreviewResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch cases information.
          example: '@source==("Salesforce Notifier")'
        numberOfDocuments:
          type: integer
          description: The total number of cases in all sources.
          format: int64
        numberOfValidDocuments:
          type: integer
          description: The number of cases that are candidates for learning.
          format: int64
        numberOfDocumentsMatchingConditions:
          type: integer
          description: The number of cases that match the conditions.
          format: int64
        numberOfDocumentsMatchingConditionsAndInEnglish:
          type: integer
          description: The number of cases that match the conditions and are in English.
          format: int64
        documentRequirementStatus:
          type: string
          description: Status for the number of required cases to build the model.
          enum:
          - OK
          - INSUFFICIENT_DOCUMENTS
          - NB_OF_DOCUMENTS_OVER_LIMIT
    CaseClassificationValueCountResponse:
      type: object
      properties:
        valueCount:
          type: integer
          description: Number of different field values
          format: int32
        areMoreValuesAvailable:
          type: boolean
          description: Indicates more field values available
    CaseClassificationDocumentCountResponse:
      type: object
      properties:
        documentCount:
          type: integer
          description: Number of items
          format: int64
    PageModelQueryPipelineMLAssociationModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/QueryPipelineMLAssociationModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    QueryPipelineConditionModel:
      type: object
      properties:
        id:
          type: string
        detailed:
          type: object
          additionalProperties:
            type: object
      description: The condition that must be met to trigger the model association.
      example:
        id: f3cbc7b4-a76f-47a6-b6f2-5b369c34acec
        detailed:
          condition:
            operator: is
            left:
              object: advancedQuery
            right: a
    QueryPipelineMLAssociationModel:
      type: object
      properties:
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
        associationId:
          type: string
          description: The unique identifier of the model association.
          example: 917af358-13fd-4c8e-94af-7cf649bddc48
        modelDisplayName:
          type: string
          description: The name of the model configuration.
          example: My model
        engineId:
          type: string
          description: The id of the engine.<br />**Example:** `topclicks`
          example: topclicks
        modelStatusInfo:
          $ref: '#/components/schemas/ModelStatusInfoModel'
        position:
          type: integer
          description: The position at which this model association is evaluated in the query pipeline, relative to other
            model associations.
          format: int32
          example: 1
        condition:
          $ref: '#/components/schemas/QueryPipelineConditionModel'
        useAdvancedConfiguration:
          type: boolean
          description: Whether the Coveo Administration Console should show the advanced configuration for this association.
          example: true
        customQueryParameters:
          type: object
          additionalProperties:
            type: object
            description: The additional parameters to send to Coveo ML.
            example:
              submodel: user
          description: The additional parameters to send to Coveo ML.
          example:
            submodel: user
    ChunksPerDocumentModel:
      type: object
      properties:
        min:
          type: number
          format: float
        max:
          type: number
          format: float
        mean:
          type: number
          format: float
    DatasetDetails:
      type: object
      properties:
        numRows:
          type: integer
          format: int32
        dataDetails:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DatasetFieldDetails'
    DatasetFieldDetails:
      type: object
      properties:
        numSamples:
          type: integer
          format: int32
        labelsDistribution:
          type: object
          additionalProperties:
            type: number
            format: float
    FacetPerformanceDetails:
      type: object
      properties:
        hit1:
          type: number
          format: float
        hit3:
          type: number
          format: float
    FacetsDetails:
      type: object
      properties:
        facetLabels:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    ModelDetailedBuildingStatsModel:
      type: object
      properties:
        documentWithSnippetRatio:
          type: number
          format: float
        snippetCount:
          type: integer
          format: int32
        meanSnippetLength:
          type: number
          format: float
        headerCount:
          type: integer
          format: int32
        documentCount:
          type: integer
          format: int32
        documentWithSnippetCount:
          type: integer
          format: int32
        searchEventCount:
          type: integer
          format: int32
        clickEventCount:
          type: integer
          format: int32
        viewEventCount:
          type: integer
          format: int32
        customEventCount:
          type: integer
          format: int32
        segmentedVisitsCount:
          type: integer
          format: int32
        searchCount:
          type: integer
          format: int32
        clickCount:
          type: integer
          format: int32
        viewCount:
          type: integer
          format: int32
        visitsCount:
          type: integer
          format: int32
        facetSelectEventCount:
          type: integer
          format: int32
        invalidHtmlDocumentCount:
          type: integer
          format: int32
        documentWithoutIdCount:
          type: integer
          format: int32
        documentWithDuplicatedIdCount:
          type: integer
          format: int32
        documentsWithChunksCount:
          type: integer
          format: int32
        documentsWithChunksRatio:
          type: number
          format: float
        chunkCount:
          type: integer
          format: int32
        meanChunkLength:
          type: number
          format: float
        chunksPerDocument:
          $ref: '#/components/schemas/ChunksPerDocumentModel'
        snippetsPerDocument:
          $ref: '#/components/schemas/SnippetsPerDocumentModel'
        addToCart:
          type: integer
          format: int32
        addPurchase:
          type: integer
          format: int32
        modelDetailedStatsPerSource:
          type: array
          items:
            $ref: '#/components/schemas/ModelDetailedStatsPerSourceModel'
        commerceEventCounts:
          $ref: '#/components/schemas/ModelDetailedCommerceEventsModel'
    ModelDetailedCommerceEventsModel:
      type: object
      properties:
        removeFromCart:
          type: integer
          format: int32
        addToCart:
          type: integer
          format: int32
        addPurchase:
          type: integer
          format: int32
        detailView:
          type: integer
          format: int32
    ModelDetailedInfoModel:
      type: object
      properties:
        modelDisplayName:
          type: string
          description: The name of the model configuration.
          example: My model
        modelAssociations:
          type: array
          description: The associations related to this model
          example: "[\n  {\n      \"parentId\": \"38b08160-d7d4-4626-8e03-53587c23415d\",\n      \"id\": \"917af358-13fd-4c8e-94af-7cf649bddc48,\n\
            \      \"name\": \"test pipeline\",\n      \"associationType\": \"QUERY_PIPELINE\"\n  }\n]"
          items:
            $ref: '#/components/schemas/ModelAssociationModel'
        modelStatusInfo:
          $ref: '#/components/schemas/ModelStatusInfoModel'
        modelId:
          type: string
          description: The unique identifier of the target machine learning model.<br />**Example:** `My_Model_ID`
          example: My_Model_ID
        engineId:
          type: string
          description: The id of the engine.<br />**Example:** `topclicks`
          example: topclicks
        estimatedPreviousModelUpdateTime:
          type: integer
          description: The date and time the model was last updated.
          format: int64
          example: 1691762520000
        nextModelUpdateTime:
          type: integer
          description: The date and time the model is scheduled to start its next update.
          format: int64
          example: 1691762520000
        modelIssues:
          type: array
          description: The description and troubleshooting messages for a model error or limitation.
          items:
            $ref: '#/components/schemas/ModelErrorDescriptionModel'
        modelDetails:
          $ref: '#/components/schemas/ModelDetailedServingInfoModel'
        requiresAssociation:
          type: boolean
          description: Indicates if the model requires association.
        isLicensed:
          type: boolean
          description: Indicates if a license is required to create the model.
    ModelDetailedLanguagesModel:
      type: object
      properties:
        queries:
          type: integer
          format: int32
        words:
          type: integer
          format: int32
        stopwords:
          type: integer
          format: int32
        topfacets:
          type: array
          items:
            type: string
        contextKeysToDocuments:
          type: object
          additionalProperties:
            type: integer
            format: int32
        docPerFilters:
          type: object
          additionalProperties:
            type: integer
            format: int32
    ModelDetailedPreparationDetailsModel:
      type: object
      properties:
        trainDatasetsDetails:
          $ref: '#/components/schemas/DatasetDetails'
        testDatasetsDetails:
          $ref: '#/components/schemas/DatasetDetails'
        facetsDetails:
          $ref: '#/components/schemas/FacetsDetails'
    ModelDetailedServingInfoModel:
      type: object
      properties:
        possibleRecommendations:
          type: integer
          format: int32
        candidates:
          type: integer
          format: int32
        totalQueries:
          type: integer
          format: int32
        userContextFields:
          type: array
          items:
            type: string
        contentIDKeys:
          type: array
          items:
            type: string
        candidatesPerFilters:
          type: object
          additionalProperties:
            type: integer
            format: int32
        contextCandidateExamples:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        languages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ModelDetailedLanguagesModel'
        candidateExamples:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        candidatesPerLanguages:
          type: object
          additionalProperties:
            type: integer
            format: int32
        minClickCountByLang:
          type: object
          additionalProperties:
            type: integer
            format: int32
        subModels:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ModelDetailedSubModelsModel'
        modelDetailedBuildingStats:
          $ref: '#/components/schemas/ModelDetailedBuildingStatsModel'
        modelDetailedTrainingDetails:
          $ref: '#/components/schemas/ModelDetailedTrainingDetailsModel'
        modelDetailedPreparationDetails:
          $ref: '#/components/schemas/ModelDetailedPreparationDetailsModel'
      description: The detailed information about the model.
    ModelDetailedStatsPerSourceModel:
      type: object
      properties:
        sourceName:
          type: string
        documentCount:
          type: integer
          format: int32
        invalidHtmlDocumentCount:
          type: integer
          format: int32
        documentWithoutIdCount:
          type: integer
          format: int32
        documentWithDuplicatedIdCount:
          type: integer
          format: int32
        documentsWithChunksCount:
          type: integer
          format: int32
        documentsWithChunksRatio:
          type: integer
          format: int32
        chunkCount:
          type: integer
          format: int32
        snippetsPerDocument:
          $ref: '#/components/schemas/SnippetsPerDocumentModel'
        chunksPerDocument:
          $ref: '#/components/schemas/ChunksPerDocumentModel'
    ModelDetailedSubModelsModel:
      type: object
      properties:
        numOfItems:
          type: integer
          format: int64
        candidates:
          type: array
          items:
            type: object
        numOfUsers:
          type: integer
          format: int64
    ModelDetailedTrainingDetailsModel:
      type: object
      properties:
        performanceDetails:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FacetPerformanceDetails'
    ModelErrorDescriptionModel:
      type: object
      properties:
        description:
          type: string
          description: A description of an error or limitation present in the model.
        troubleshoot:
          type: string
          description: The recommended action to perform to resolve the error or limitation.
      description: The description and troubleshooting messages for a model error or limitation.
    SnippetsPerDocumentModel:
      type: object
      properties:
        min:
          type: number
          format: float
        max:
          type: number
          format: float
        mean:
          type: number
          format: float
    DocumentExtractionPreviewModel:
      type: object
      properties:
        numberOfDocuments:
          type: integer
          description: The total number of documents that would be extracted.<br />**Example:** `1000`
          format: int32
          example: 1000
        recommendedNumberOfDocuments:
          type: integer
          description: The recommended maximum number of documents to extract to avoid performance issues.<br />**Example:**
            `1000000`
          format: int32
          example: 1000000
        sources:
          type: array
          description: The sources from which the documents would be extracted.
          items:
            $ref: '#/components/schemas/SourceModel'
      description: A preview of what would happen if a specific document extraction was executed.
    SourceModel:
      type: object
      properties:
        name:
          type: string
          description: The name of the source.<br />**Example:** `SalesforceCatalog`
          example: SalesforceCatalog
        numberOfDocuments:
          type: integer
          description: The total number of documents in that source.<br />**Example:** `100`
          format: int32
          example: 100
      description: A source, in regards to documents availability.
    AutoSelectionFieldCandidateModel:
      type: object
      properties:
        name:
          type: string
          description: The name of the field, also referred to as the field identifier.<br />**Example:** `category`
          example: category
        description:
          type: string
          description: The description of the field.<br />**Example:** `The category the product belongs to.`
          example: The category the product belongs to.
      description: A candidate field for autoselection.
    PageModelAutoSelectionFieldCandidateModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AutoSelectionFieldCandidateModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
