openapi: 3.0.1
info:
  title: Coveo Security Cache API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
paths:
  /rest/organizations/{organizationId}/securityproviders/{securityProviderId}:
    get:
      tags:
      - Security Providers
      summary: Get a Single Security Provider for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSecurityProvider
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityProviderModelWithStatus'
      x-pretty-name: getSecurityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId_get
    put:
      tags:
      - Security Providers
      summary: Update a Security Provider for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createOrUpdateSecurityProvider
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityProviderModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityProviderModelWithStatus'
      x-pretty-name: createOrUpdateSecurityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId_put
    delete:
      tags:
      - Security Providers
      summary: Remove a Security Provider from an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"{securityProviderId}"}

        ```

        </details>'
      operationId: removeSecurityProvider
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: removeSecurityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId_delete
  /rest/organizations/{organizationId}/securityproviders/{securityProviderId}/schedules/{scheduleId}:
    put:
      tags:
      - Security Providers Schedules
      summary: Update a Security Provider Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"{securityProviderId}"}

        ```

        </details>'
      operationId: updateSchedule
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: updateSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId/schedules/paramId_put
  /rest/organizations/{organizationId}/securityproviders/{securityProviderId}/raw:
    get:
      tags:
      - Security Providers
      summary: Get the Raw Configuration of a Security Provider for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSecurityProviderRaw
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RawSecurityProviderConfig'
      x-pretty-name: getSecurityProviderRaw
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId/raw_get
    put:
      tags:
      - Security Providers
      summary: Update the Raw Configuration of a Security Provider for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createOrUpdateSecurityProviderRaw
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: forceUpdate
        in: query
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RawSecurityProviderConfig'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: createOrUpdateSecurityProviderRaw
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId/raw_put
  /rest/organizations/{organizationId}/securitycache/schedules/{scheduleId}:
    get:
      tags:
      - Security Cache
      summary: Get a Security Cache Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getScheduleById
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      deprecated: true
      x-pretty-name: getScheduleById
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/schedules/paramId_get
    put:
      tags:
      - Security Cache
      summary: Update a Security Cache Schedule
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: updateSchedule_1
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ScheduleModel'
      deprecated: true
      x-pretty-name: updateSchedule
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/schedules/paramId_put
  /rest/organizations/{organizationId}/securityproviders:
    get:
      tags:
      - Security Providers
      summary: Get All Security Providers for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSecurityProviders
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecurityProviderModelWithStatus'
      x-pretty-name: getSecurityProviders
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders_get
    post:
      tags:
      - Security Providers
      summary: Create a Security Provider for an Organization
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"CREATE","targetId":"*"}

        ```

        </details>'
      operationId: createSecurityProvider
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityProviderModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityProviderModel'
      x-pretty-name: createSecurityProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: CREATE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders_post
  /rest/organizations/{organizationId}/securityproviders/batch/filter:
    post:
      tags:
      - Security Providers
      summary: Get and Filter Security Providers by Ids for an Organization.
      description: 'Lists the requested [security providers](https://docs.coveo.com/en/242/) by their respective ids. The
        unknown ids are ignored.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSecurityProvidersByIdsWithFilter
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The text to filter security providers by (applied to the id, and displayName properties).<br/>**Example:**
          `Email Security Provider`
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelSecurityProviderModelWithStatus'
      x-pretty-name: getSecurityProvidersByIdsWithFilter
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/batch/filter_post
  /rest/organizations/{organizationId}/securitycache/{securityProviderId}/refresh:
    post:
      tags:
      - Security Cache
      summary: Triggers a Refresh on a Security Provider
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"{securityProviderId}"}

        ```

        </details>'
      operationId: refreshProvider
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: refreshProvider
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/paramId/refresh_post
  /rest/organizations/{organizationId}/securitycache/{securityProviderId}/refresh/cancel:
    post:
      tags:
      - Security Cache
      summary: Cancels the Current Refresh Operation on a Security Provider
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"{securityProviderId}"}

        ```

        </details>'
      operationId: cancelProviderRefresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: cancelProviderRefresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/paramId/refresh/cancel_post
  /rest/organizations/{organizationId}/securitycache/{securityProviderId}/disabled/enable:
    post:
      tags:
      - Security Cache
      summary: Enable All Disabled Entities for a Specified Security Provider
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"{securityProviderId}"}

        ```

        </details>'
      operationId: enableProviderDisabledEntities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: enableProviderDisabledEntities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '{securityProviderId}'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/paramId/disabled/enable_post
  /rest/organizations/{organizationId}/securitycache/refresh:
    post:
      tags:
      - Security Cache
      summary: Triggers a Refresh on the Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: refresh
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: refresh
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/refresh_post
  /rest/organizations/{organizationId}/securitycache/refresh/entity:
    post:
      tags:
      - Security Cache
      summary: Refreshes a Single Entity in the Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: refreshEntity
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCacheMemberModel'
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: refreshEntity
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/refresh/entity_post
  /rest/organizations/{organizationId}/securitycache/entities/{securityProviderId}/members/parents:
    post:
      tags:
      - Security Cache
      summary: Get Parent Entities for a Specified Security Provider Member
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getParentEntities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCacheMemberModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelDetailedSecurityCacheMemberModel'
      x-pretty-name: getParentEntities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/paramId/members/parents_post
  /rest/organizations/{organizationId}/securitycache/entities/{securityProviderId}/members/children:
    post:
      tags:
      - Security Cache
      summary: Get Child Entities for a Specified Security Provider Member
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getChildEntities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: recursive
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCacheMemberModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelDetailedSecurityCacheMemberModel'
      x-pretty-name: getChildEntities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/paramId/members/children_post
  /rest/organizations/{organizationId}/securitycache/entities/{securityProviderId}/entity:
    post:
      tags:
      - Security Cache
      summary: Get Entity Information for a Specified Security Provider Member
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getEntity
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityCacheMemberModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DetailedSecurityCacheMemberModel'
      x-pretty-name: getEntity
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/paramId/entity_post
  /rest/organizations/{organizationId}/securitycache/entities/list:
    post:
      tags:
      - Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: listSecurityIdentities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentitiesFilterModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelDetailedSecurityCacheMemberModel'
      x-pretty-name: listSecurityIdentities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/list_post
  /rest/organizations/{organizationId}/securitycache/disabled/enable:
    post:
      tags:
      - Security Cache
      summary: Enable All Disabled Entities on Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"EDIT","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"EDIT","targetId":"*"}

        ```

        </details>'
      operationId: enableDisabledEntities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: enableDisabledEntities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: EDIT
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: EDIT
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/disabled/enable_post
  /rest/organizations/{organizationId}/securityproviders/{securityProviderId}/schedules:
    get:
      tags:
      - Security Providers Schedules
      summary: Get Security Provider Schedules
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSchedules
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleModel'
      x-pretty-name: getSchedules
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/paramId/schedules_get
  /rest/organizations/{organizationId}/securityproviders/page:
    get:
      tags:
      - Security Providers
      summary: Get and Filter Security Providers by Page for an Organization.
      description: 'Lists the filtered [security providers](https://docs.coveo.com/en/242/) by page.<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSecurityProvidersByPage
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The text to filter security providers by (applied to the id, and displayName properties).<br/>**Example:**
          `Email Security Provider`
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelSecurityProviderModelWithStatus'
      x-pretty-name: getSecurityProvidersByPage
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securityproviders/page_get
  /rest/organizations/{organizationId}/securitycache/{securityCacheId}/entities/{securityProviderId}:
    get:
      tags:
      - Security Cache
      summary: Get the Entities for a Specified Security Provider on a Specified Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getEntitiesForASecurityCache
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityCacheId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - UP_TO_DATE
            - NOT_UPDATED
            - OUT_OF_DATE
            - IN_ERROR
            - DISABLED
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: from
        in: query
        description: Date filter from, minimum updated date.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Date filter to, maximum updated date.
        required: false
        schema:
          type: string
          format: date-time
      - name: usePageModel
        in: query
        description: 'Deprecated: you can input either ''true'' or ''false'' with no effect on the result.'
        required: false
        deprecated: true
        schema:
          type: boolean
          default: true
      - name: minEntityId
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelSIDModel'
      x-pretty-name: getEntitiesForASecurityCache
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/paramId/entities/paramId_get
  /rest/organizations/{organizationId}/securitycache/status:
    get:
      tags:
      - Security Cache
      summary: Get the Security Cache Status
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getStatus
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityCacheStatusModel'
      x-pretty-name: getStatus
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/status_get
  /rest/organizations/{organizationId}/securitycache/status/online:
    get:
      tags:
      - Security Cache
      summary: Get Online Security Cache Ids
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOnlineSecurityCacheIds
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: string
      x-pretty-name: getOnlineSecurityCacheIds
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/status/online_get
  /rest/organizations/{organizationId}/securitycache/schedules:
    get:
      tags:
      - Security Cache
      summary: Get the Security Cache Schedules
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSchedules_1
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleModel'
      deprecated: true
      x-pretty-name: getSchedules
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/schedules_get
  /rest/organizations/{organizationId}/securitycache/entities/{securityProviderId}:
    get:
      tags:
      - Security Cache
      summary: Get the Entities for a Specified Security Provider
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getEntities
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - UP_TO_DATE
            - NOT_UPDATED
            - OUT_OF_DATE
            - IN_ERROR
            - DISABLED
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: from
        in: query
        description: Date filter from, minimum updated date.
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Date filter to, maximum updated date.
        required: false
        schema:
          type: string
          format: date-time
      - name: usePageModel
        in: query
        description: 'Deprecated: you can input either ''true'' or ''false'' with no effect on the result.'
        required: false
        deprecated: true
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelSIDModel'
      x-pretty-name: getEntities
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/paramId_get
  /rest/organizations/{organizationId}/securitycache/entities/{securityProviderId}/members:
    get:
      tags:
      - Security Cache
      summary: Get the Members for a Specified Security Provider
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getMembers
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: securityProviderId
        in: path
        required: true
        schema:
          type: string
      - name: states
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - UP_TO_DATE
            - NOT_UPDATED
            - OUT_OF_DATE
            - IN_ERROR
            - DISABLED
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: from
        in: query
        description: Date filter from, minimum updated date
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Date filter to, maximum updated date
        required: false
        schema:
          type: string
          format: date-time
      - name: usePageModel
        in: query
        description: 'Deprecated: you can input either ''true'' or ''false'' with no effect on the result.'
        required: false
        deprecated: true
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageModelDetailedSecurityCacheMemberModel'
      x-pretty-name: getMembers
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/paramId/members_get
  /rest/organizations/{organizationId}/securitycache/entities/list/is_supported:
    get:
      tags:
      - Security Cache
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"SECURITY_PROVIDER","type":"VIEW","targetId":"*"}

        OR

        {"owner":"PLATFORM","targetDomain":"SECURITY_CACHE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: isListSecurityIdentitiesSupported
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: boolean
      x-pretty-name: isListSecurityIdentitiesSupported
      x-required-privilege:
        owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: SECURITY_PROVIDER
        type: VIEW
        targetId: '*'
      - owner: PLATFORM
        targetDomain: SECURITY_CACHE
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/securitycache/entities/list/is_supported_get
components:
  schemas:
    CascadingSecurityProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          deprecated: true
          enum:
          - ACTIVE_DIRECTORY2
          - BOX
          - CLAIMS
          - CLAIMS_TO_EMAIL
          - CONFLUENCE
          - CONFLUENCE2
          - CUSTOM
          - DATABASE
          - DROPBOX_FOR_BUSINESS
          - EMAIL
          - EXPANDED
          - FILE
          - GOOGLE_DRIVE_DOMAIN_WIDE
          - GENERIC_REST
          - GRAPHQL
          - JIRA2
          - JIVE
          - KHOROS_COMMUNITY
          - MICROSOFT_DYNAMICS
          - OFFICE365
          - SALESFORCE
          - SERVICENOW
          - SHAREPOINT
          - SHAREPOINT_ONLINE
          - SITECORE
          - SLACK
          - ZENDESK
        typeName:
          type: string
    ParameterModel:
      type: object
      properties:
        value:
          type: string
        sensitive:
          type: boolean
    SecurityProviderModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          deprecated: true
        displayName:
          type: string
        organizationId:
          type: string
        type:
          type: string
          enum:
          - ACTIVE_DIRECTORY2
          - BOX
          - CLAIMS
          - CLAIMS_TO_EMAIL
          - CONFLUENCE
          - CONFLUENCE2
          - CUSTOM
          - DATABASE
          - DROPBOX_FOR_BUSINESS
          - EMAIL
          - EXPANDED
          - FILE
          - GOOGLE_DRIVE_DOMAIN_WIDE
          - GENERIC_REST
          - GRAPHQL
          - JIRA2
          - JIVE
          - KHOROS_COMMUNITY
          - MICROSOFT_DYNAMICS
          - OFFICE365
          - SALESFORCE
          - SERVICENOW
          - SHAREPOINT
          - SHAREPOINT_ONLINE
          - SITECORE
          - SLACK
          - ZENDESK
        nodeTypeName:
          type: string
        sourceTypeName:
          type: string
        nodeRequired:
          type: boolean
        onPremisesEnabled:
          type: boolean
        projectIds:
          type: array
          items:
            type: string
        crawlingModuleId:
          type: string
        caseSensitive:
          type: boolean
        userIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityModel'
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ParameterModel'
        cascadingSecurityProviders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CascadingSecurityProvider'
        referencedBy:
          type: array
          items:
            $ref: '#/components/schemas/SecurityProviderReferenceModel'
        instanceId:
          type: string
    SecurityProviderReferenceModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - SOURCE
          - SECURITY_PROVIDER
        id:
          type: string
        attributes:
          type: object
    UserIdentityModel:
      type: object
      properties:
        name:
          type: string
        username:
          type: string
        password:
          type: string
    CurrentStatusModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - CREATING
          - DISABLED
          - REFRESHING
          - PAUSED
          - PAUSED_ON_ERROR
          - IDLE
          - ERROR
          - PUSH_READY
        refreshType:
          type: string
          enum:
          - REBUILD
          - FULL_REFRESH
          - INCREMENTAL_REFRESH
          - SECURITY_PROVIDER_REFRESH
          - SECURITY_PROVIDER_REFRESH_ENTITIES_IN_ERROR
          - SECURITY_PROVIDER_REFRESH_ENTITIES_NOT_UPDATED
          - SECURITY_CACHE_REFRESH
          - SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR
        numberOfEntitiesInError:
          type: integer
          format: int32
        numberOfEntitiesProcessed:
          type: integer
          format: int32
        totalNumberOfEntities:
          type: integer
          format: int32
    LastRefreshOperationModel:
      type: object
      properties:
        id:
          type: string
        operationType:
          type: string
          enum:
          - REBUILD
          - FULL_REFRESH
          - INCREMENTAL_REFRESH
          - SECURITY_PROVIDER_REFRESH
          - SECURITY_PROVIDER_REFRESH_ENTITIES_IN_ERROR
          - SECURITY_PROVIDER_REFRESH_ENTITIES_NOT_UPDATED
          - SECURITY_CACHE_REFRESH
          - SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR
        timestamp:
          type: string
          format: date-time
        result:
          type: string
        errorCode:
          type: string
        numberOfEntitiesProcessed:
          type: integer
          format: int32
    SecurityProviderModelWithStatus:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          deprecated: true
        displayName:
          type: string
        organizationId:
          type: string
        type:
          type: string
          enum:
          - ACTIVE_DIRECTORY2
          - BOX
          - CLAIMS
          - CLAIMS_TO_EMAIL
          - CONFLUENCE
          - CONFLUENCE2
          - CUSTOM
          - DATABASE
          - DROPBOX_FOR_BUSINESS
          - EMAIL
          - EXPANDED
          - FILE
          - GOOGLE_DRIVE_DOMAIN_WIDE
          - GENERIC_REST
          - GRAPHQL
          - JIRA2
          - JIVE
          - KHOROS_COMMUNITY
          - MICROSOFT_DYNAMICS
          - OFFICE365
          - SALESFORCE
          - SERVICENOW
          - SHAREPOINT
          - SHAREPOINT_ONLINE
          - SITECORE
          - SLACK
          - ZENDESK
        nodeTypeName:
          type: string
        sourceTypeName:
          type: string
        nodeRequired:
          type: boolean
        onPremisesEnabled:
          type: boolean
        projectIds:
          type: array
          items:
            type: string
        crawlingModuleId:
          type: string
        caseSensitive:
          type: boolean
        userIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentityModel'
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ParameterModel'
        cascadingSecurityProviders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CascadingSecurityProvider'
        referencedBy:
          type: array
          items:
            $ref: '#/components/schemas/SecurityProviderReferenceModel'
        instanceId:
          type: string
        statistics:
          $ref: '#/components/schemas/SecurityProviderStatisticsModel'
        lastRefreshOperation:
          $ref: '#/components/schemas/LastRefreshOperationModel'
        currentStatus:
          $ref: '#/components/schemas/CurrentStatusModel'
    SecurityProviderStatisticsModel:
      type: object
      properties:
        numberOfEntitiesByState:
          type: object
          additionalProperties:
            type: integer
            format: int32
        totalNumberOfEntities:
          type: integer
          format: int32
        numberOfEntitiesInError:
          type: integer
          format: int32
    HourMinutePair:
      type: object
      properties:
        hour:
          type: integer
          format: int32
        minute:
          type: integer
          format: int32
    ScheduleFrequency:
      type: object
      properties:
        type:
          type: string
          enum:
          - MINUTELY
          - HOURLY
          - DAILY
          - WEEKLY
          - MONTHLY
        value:
          type: integer
          format: int32
        hourMinute:
          $ref: '#/components/schemas/HourMinutePair'
        monthDay:
          type: integer
          format: int32
        weekDays:
          type: array
          items:
            type: string
            enum:
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
        seed:
          type: integer
          format: int32
    ScheduleModel:
      type: object
      properties:
        id:
          type: string
        refreshType:
          type: string
          enum:
          - REBUILD
          - FULL_REFRESH
          - INCREMENTAL_REFRESH
          - SECURITY_PROVIDER_REFRESH
          - SECURITY_PROVIDER_REFRESH_ENTITIES_IN_ERROR
          - SECURITY_PROVIDER_REFRESH_ENTITIES_NOT_UPDATED
          - SECURITY_CACHE_REFRESH
          - SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR
        scheduleType:
          type: string
          enum:
          - SECURITY_CACHE
          - SECURITY_PROVIDER
          - SOURCE
        enabled:
          type: boolean
        frequency:
          $ref: '#/components/schemas/ScheduleFrequency'
        organizationId:
          type: string
        resourceId:
          type: string
        lastExecution:
          type: string
          format: date-time
    DataFile:
      type: object
      properties:
        sensitive:
          type: boolean
        data:
          type: string
    Parameter:
      type: object
      properties:
        sensitive:
          type: boolean
        value:
          type: string
    RawSecurityProviderConfig:
      type: object
      properties:
        name:
          type: string
        userIdentities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UserIdentity'
        parameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Parameter'
        dataFiles:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DataFile'
        securityProviders:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SecurityProvider'
        indexIdentifier:
          type: string
        dbConnectionString:
          type: string
        organizationId:
          type: string
        operationId:
          type: string
        expansionScope:
          type: string
          enum:
          - Single
          - All
          - InError
          - NotUpdated
        type:
          type: string
          enum:
          - ACTIVE_DIRECTORY2
          - BOX
          - CLAIMS
          - CLAIMS_TO_EMAIL
          - CONFLUENCE
          - CONFLUENCE2
          - CUSTOM
          - DATABASE
          - DROPBOX_FOR_BUSINESS
          - EMAIL
          - EXPANDED
          - FILE
          - GOOGLE_DRIVE_DOMAIN_WIDE
          - GENERIC_REST
          - GRAPHQL
          - JIRA2
          - JIVE
          - KHOROS_COMMUNITY
          - MICROSOFT_DYNAMICS
          - OFFICE365
          - SALESFORCE
          - SERVICENOW
          - SHAREPOINT
          - SHAREPOINT_ONLINE
          - SITECORE
          - SLACK
          - ZENDESK
        nodeTypeName:
          type: string
        sourceTypeName:
          type: string
        displayName:
          type: string
        nodeRequired:
          type: boolean
        onPremisesEnabled:
          type: boolean
        crawlingModuleId:
          type: string
        caseSensitive:
          type: boolean
    SecurityProvider:
      type: object
      properties:
        name:
          type: string
        typeName:
          type: string
    UserIdentity:
      type: object
      properties:
        name:
          type: string
        userName:
          type: string
        password:
          type: string
    PageModelSecurityProviderModelWithStatus:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SecurityProviderModelWithStatus'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    SecurityCacheMemberInfoModel:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    SecurityCacheMemberModel:
      type: object
      properties:
        name:
          type: string
        provider:
          type: string
        type:
          type: string
          enum:
          - Unknown
          - User
          - Group
          - VirtualGroup
        infos:
          type: array
          items:
            $ref: '#/components/schemas/SecurityCacheMemberInfoModel'
    DetailedSecurityCacheMemberModel:
      type: object
      properties:
        infos:
          type: array
          items:
            $ref: '#/components/schemas/SecurityCacheMemberInfoModel'
        name:
          type: string
        type:
          type: string
        provider:
          type: string
        state:
          type: string
          enum:
          - UNKNOWN
          - UP_TO_DATE
          - NOT_UPDATED
          - OUT_OF_DATE
          - IN_ERROR
          - DISABLED
        lastUpdateDate:
          type: string
          format: date-time
        lastUpdateResult:
          type: string
          enum:
          - NONE
          - SUCCESS
          - ACCESS_DENIED
          - TIMED_OUT
          - ENTITY_IS_INVALID
          - ENTITY_IS_UNAVAILABLE
          - SECURITY_PROVIDER_IS_UNAVAILABLE
          - SECURITY_PROVIDER_IS_UNREACHABLE
          - SECURITY_PROVIDER_IS_NOT_READY
          - UNEXPECTED_ERROR
        lastUpdateErrorDetail:
          type: string
    PageModelDetailedSecurityCacheMemberModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DetailedSecurityCacheMemberModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    IdentitiesFilterModel:
      type: object
      properties:
        providerIds:
          type: array
          items:
            type: string
        identityTypes:
          type: array
          items:
            type: string
            enum:
            - USER
            - GROUP
            - VIRTUAL_GROUP
            - UNKNOWN
        filterTerm:
          type: string
        filteringMode:
          type: string
          enum:
          - PREFIX
          - SUBSTRING
        extractPreciseTotalCount:
          type: boolean
    PageModelSIDModel:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SIDModel'
        totalEntries:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    SIDModel:
      type: object
      properties:
        provider:
          type: string
        data:
          type: string
        id:
          type: integer
          format: int32
    SecurityCacheStatisticsModel:
      type: object
      properties:
        numberOfProviders:
          type: integer
          format: int32
        numberOfPermissionModels:
          type: integer
          format: int32
        numberOfEntitiesByState:
          type: object
          additionalProperties:
            type: integer
            format: int32
        totalNumberOfEntities:
          type: integer
          format: int32
        numberOfEntitiesInError:
          type: integer
          format: int32
    SecurityCacheStatusModel:
      type: object
      properties:
        statistics:
          $ref: '#/components/schemas/SecurityCacheStatisticsModel'
        currentStatus:
          $ref: '#/components/schemas/CurrentStatusModel'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
