openapi: 3.0.1
info:
  title: Coveo Search API
  description: Documentation for Coveo Search API
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: support@coveo.com
  license:
    name: ''
  version: 1.0.0
  x-ApiVersion: V3
servers:
- url: https://platform.cloud.coveo.com/rest/search/v2
tags:
- name: Search V3
  x-displayName: Search V3
- name: Passages V3
  x-displayName: Passages V3
- name: Analysis V3
  x-displayName: Analysis V3
- name: Search V2
  x-displayName: Search
- name: Statements V2
  x-displayName: Statements
- name: Result rankings
  x-displayName: Result rankings
- name: Machine learning associations
  x-displayName: Machine learning associations
- name: Statement groups
  x-displayName: Statement groups
- name: Pipelines
  x-displayName: Pipelines
- name: Statements V1
  x-displayName: Statements
- name: Conditions
  x-displayName: Conditions
- name: Passages Alpha
  x-displayName: Passages Alpha
- name: Organizations
  x-displayName: Organizations
paths:
  /rest/search/v3:
    post:
      tags:
      - Search V3
      summary: Send Search Request
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: searchUsingPostV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/facet:
    post:
      tags:
      - Search V3
      summary: Send Facet Search Request
      description: 'Executes a facet search request.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: facetSearchV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestFacetSearchParameters'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestFacetSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/plan:
    post:
      tags:
      - Search V3
      summary: Plan Search Execution
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: planSearchUsingPostV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/querySuggest:
    post:
      tags:
      - Search V3
      summary: Request Query Suggestions
      description: 'See [Getting Query Suggestions](https://docs.coveo.com/en/1459/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: querySuggestPostV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQuerySuggestParameters'
      responses:
        '200':
          description: The suggested completions for the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySuggestResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/values:
    post:
      tags:
      - Search V3
      summary: Get Values for One Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesPostV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/values/batch:
    post:
      tags:
      - Search V3
      summary: Get Values for Several Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesBatchPostV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesBatchParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesBatchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/document:
    get:
      tags:
      - Search V3
      summary: Get Item in JSON Format
      operationId: documentV3
      parameters:
      - name: primaryId
        in: query
        description: The primary ID of the document.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: '**Deprecated:** Use `primaryId` instead.


          The unique ID of the document.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The document matching this uniqueId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v3/datastream:
    get:
      tags:
      - Search V3
      summary: Get Item Data Stream
      operationId: dataStreamV3
      parameters:
      - name: dataStream
        in: query
        description: The name of the data stream to request.
        required: true
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primary ID of the document.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: '**Deprecated:** Use `primaryId` instead.


          The unique ID of the document.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: contentType
        in: query
        description: 'The MIME type of the data stream to request.


          **Default:** `application/binary`'
        schema:
          type: string
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v3/html:
    post:
      tags:
      - Search V3
      summary: Get HTML Item Preview
      operationId: htmlPostV3
      parameters:
      - name: uniqueId
        in: query
        description: The uniqueId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: findNext
        in: query
        schema:
          type: integer
          format: int32
      - name: findPrevious
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: enableNavigation
        in: query
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. **Default:** `0`, meaning that the entire
          HTML document is requested.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
        required: true
      responses:
        '200':
          description: No response
          content: {}
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v3/text:
    get:
      tags:
      - Search V3
      summary: Get Item in Text Format
      operationId: textV3
      parameters:
      - name: primaryId
        in: query
        description: The primary ID of the document.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: '**Deprecated:** Use `primaryId` instead.


          The unique ID of the document.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v3/fields:
    get:
      tags:
      - Search V3
      summary: List All Fields
      description: 'Gets all fields in the target Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: fieldsV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The list of fields available for this organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldsResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/fields/find:
    post:
      tags:
      - Search V3
      summary: Find Fields from Results of a Query Expression
      description: 'Find fields name from results matching the `q` expression.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"VIEW_ALL_CONTENT","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: findFieldsFromExpressionV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The query to get the fields from.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindFieldsRequest'
      responses:
        '200':
          description: The list of fields referenced by the requested expression.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindFieldsResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/token:
    post:
      tags:
      - Search V3
      summary: Create Search Token
      description: 'Creates a temporary [JSON web token](https://jwt.io/) which can be used to impersonate one or several
        security identities when authenticating a query (see [Search Token Authentication](https://docs.coveo.com/en/56/)).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"IMPERSONATE_SEARCH_API","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: tokenV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The search token information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestTokenParams'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTokenResponse'
      security:
      - oauth2:
        - full
  /rest/search/v3/login/{provider}:
    post:
      tags:
      - Search V3
      summary: Log in to Authentication Provider
      description: 'Directs the browser to URI of the target Search API authentication provider, and back to the origin search
        page once the authentication process is complete. This authentication provider must be properly configured in the
        Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json


        ```

        </details>'
      operationId: loginProviderPostV3
      parameters:
      - name: provider
        in: path
        description: The name of the Search API authentication provider to log in to.
        example: My SharePoint Server
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
  /rest/search/v3/passages/retrieve:
    post:
      tags:
      - Passages V3
      summary: Retrieves the Passage(s) for a Particular Query.
      operationId: retrievePassageV3
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      security:
      - oauth2:
        - full
      - apiKey: []
      - platformTokens: []
      - searchTokens: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrievePassagesRequestV3'
      responses:
        '200':
          description: OK
          headers:
            X-Request-Id:
              description: A unique identifier for the request.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePassagesResponseV3'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/PassageRetrievalUnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PassageRetrievalServerUnavailable'
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v3/analysis/expressions/structured:
    post:
      tags:
      - Analysis V3
      summary: Convert Query to Structured Expression
      description: 'Parses a query expression written using the Coveo query syntax, and converts it into a structured expression.

        to a structured expression.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXPRESSION_VALIDATION_RESULT","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: parseExpressionToStructured
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The query expression to parse and convert
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParseQueryExpressionToStructuredRequest'
        required: true
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseQueryExpressionToStructuredResponse'
              example:
                structured:
                  type: and
                  expressions:
                  - type: fieldExpression
                    fieldName: altpopulation
                    operator: greaterThanOrEqual
                    value:
                      type: unknown
                      value: '90000'
                  - type: fieldExists
                    fieldName: altcapital
                  - type: not
                    expression:
                      type: or
                      expressions:
                      - type: fieldExpression
                        fieldName: source
                        operator: isExactly
                        value:
                          type: string
                          value: Youtube
                      - type: fieldExpression
                        fieldName: author
                        operator: isExactly
                        value:
                          type: string
                          value: JohnSmith
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '422':
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailResponse'
              example:
                status: 422
                title: Invalid query expression
                detail: Coveo wasn't able to parse your query. Make sure it follows the Coveo query syntax.
      security:
      - oauth2:
        - full
  /rest/search/v3/analysis/inspect/replay:
    post:
      tags:
      - Analysis V3
      summary: Replay a Query with Inspection Details
      description: 'Replay a query that was already done and get inspection details.


        **Note:** This API call can only be used with an OAuth token. API Keys and Search Token aren''t allowed.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"REPLAY_ANY_QUERY","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: replay
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: Inspection parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InspectReplayRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/application+json:
              schema:
                $ref: '#/components/schemas/InspectReplayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/OriginalRequestNotFound'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '422':
          $ref: '#/components/responses/UnsupportedRegion'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ReplaySearchTooBroad'
      security:
      - oauth2:
        - full
  /rest/search/v2:
    get:
      tags:
      - Search V2
      summary: Send Search Request
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: searchUsingGet
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Send Search Request
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: searchUsingPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/plan:
    get:
      tags:
      - Search V2
      summary: Plan Search Execution
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: planSearchUsingGet
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSearchResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Plan Search Execution
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: planSearchUsingPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/querySuggest:
    get:
      tags:
      - Search V2
      summary: Request Query Suggestions
      description: 'See [Getting Query Suggestions](https://docs.coveo.com/en/1459/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: querySuggestGet
      parameters:
      - name: q
        in: query
        description: 'The *basic query* expression, typically the keywords entered by the end user in a query box.

          '
        example: Coveo "Cloud V2" platform
        schema:
          type: string
      - name: autoCompleter
        in: query
        description: This parameter is exposed for backward compatibility reasons.
        schema:
          type: string
        deprecated: true
      - name: additionalData
        in: query
        deprecated: true
        description: This parameter is exposed for backward compatibility reasons.
        content:
          application/json:
            schema:
              type: object
      - name: count
        in: query
        description: 'The desired number of query suggestions.

          '
        schema:
          type: integer
          format: int32
      - name: enableWordCompletion
        in: query
        description: 'Whether to attempt to complete the last word of the current basic query expression (see the `q` parameter)
          and boost the ranking score of the resulting expression so that it is returned as the first query suggestion.

          '
        schema:
          type: boolean
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySuggestResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Request Query Suggestions
      description: 'See [Getting Query Suggestions](https://docs.coveo.com/en/1459/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: querySuggestPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQuerySuggestParameters'
      responses:
        '200':
          description: The suggested completions for the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySuggestResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/facet:
    post:
      tags:
      - Search V2
      summary: Send Facet Search Request
      description: 'Executes a facet search request.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: facetSearch
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestFacetSearchParameters'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestFacetSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/fields:
    get:
      tags:
      - Search V2
      summary: List All Fields
      description: 'Gets all fields in the target Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: fields
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The list of fields available for this organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldsResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/values:
    get:
      tags:
      - Search V2
      summary: Get Values for One Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesGet
      parameters:
      - name: field
        in: query
        description: 'The name of the field from which to retrieve values.

          '
        required: true
        schema:
          type: string
      - name: lookupField
        in: query
        description: 'This parameter is exposed for backward compatibility reasons.


          The name of an additional field from which to retrieve values.'
        schema:
          type: string
        deprecated: true
      - name: ignoreAccents
        in: query
        description: 'Whether to treat accentuated characters as non-accentuated characters when retrieving field values (e.g.,
          treat `é`, `è`, `ê`, etc., as `e`).


          **Default:** `true`

          '
        schema:
          type: boolean
      - name: sortCriteria
        in: query
        description: 'The sort criteria to use.


          Use:

          - `occurrences` to sort by number of occurrences, with field values having the highest number of occurrences appearing
          first.

          - `nosort` to avoid sorting the results of the Group By operation. The field values will appear in an unspecified
          order.


          **Default:** `occurrences`

          '
        schema:
          type: string
      - name: maximumNumberOfValues
        in: query
        description: 'The maximum number of field values to return.


          **Default:** `10`

          '
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: queryOverride
        in: query
        description: 'A different basic query expression (q) use.

          '
        schema:
          type: string
      - name: constantQueryOverride
        in: query
        description: 'A different constant query expression (cq) to use.

          '
        schema:
          type: string
      - name: disjunctionQueryOverride
        in: query
        description: 'A different disjunction query expression (dq) to use.

          '
        schema:
          type: string
      - name: pattern
        in: query
        description: 'The pattern that the field values must match.


          See also the `patternType` parameter."

          '
        schema:
          type: string
      - name: patternType
        in: query
        description: 'The type of pattern that is being used to list field values.


          Use:

          - `wildcard` to parse the specified `pattern` as a wildcard expression.

          - `regularexpression` to parse the specified `pattern` as a regular expression.

          - `editdistance` to apply the Edit Distance algorithm to match values that are close to the specified `pattern`.

          - `phonetic` to apply a phonetic algorithm to match values that are phonetically similar to the specified `pattern`.


          **Default:** `wildcard`

          '
        schema:
          type: string
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Get Values for One Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/values/batch:
    get:
      tags:
      - Search V2
      summary: Get Values for Several Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesBatchGet
      parameters:
      - name: batch
        in: query
        description: 'An array of parameters to retrieve field values.

          '
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RestListFieldValuesBatchParameter'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesBatchResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Get Values for Several Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesBatchPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesBatchParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesBatchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/html:
    get:
      tags:
      - Search V2
      summary: Get HTML Item Preview
      operationId: htmlGet
      parameters:
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - name: findNext
        in: query
        schema:
          type: integer
          format: int32
      - name: findPrevious
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: enableNavigation
        in: query
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. **Default:** `0`, meaning that the entire
          HTML document is requested.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: No response
          content: {}
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
    post:
      tags:
      - Search V2
      summary: Get HTML Item Preview
      operationId: htmlPost
      parameters:
      - name: uniqueId
        in: query
        description: The unique ID of the document.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: findNext
        in: query
        schema:
          type: integer
          format: int32
      - name: findPrevious
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: enableNavigation
        in: query
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. **Default:** `0`, meaning that the entire
          HTML document is requested.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
        required: true
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/text:
    get:
      tags:
      - Search V2
      summary: Get Item in Text Format
      operationId: text
      parameters:
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/datastream:
    get:
      tags:
      - Search V2
      summary: Get Item Data Stream
      operationId: dataStream
      parameters:
      - name: dataStream
        in: query
        description: The name of the data stream to request.
        required: true
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: contentType
        in: query
        description: 'The MIME type of the data stream to request.


          **Default:** `application/binary`'
        schema:
          type: string
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/document:
    get:
      tags:
      - Search V2
      summary: Get Item in JSON Format
      operationId: document
      parameters:
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The document matching this uniqueId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/token:
    post:
      tags:
      - Search V2
      summary: Create Search Token
      description: 'Creates a temporary [JSON web token](https://jwt.io/) which can be used to impersonate one or several
        security identities when authenticating a query (see [Search Token Authentication](https://docs.coveo.com/en/56/)).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"IMPERSONATE_SEARCH_API","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: token
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The search token information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestTokenParams'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTokenResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/login/{provider}:
    get:
      tags:
      - Search V2
      summary: Log in to Authentication Provider
      description: 'Directs the browser to URI of the target Search API authentication provider, and back to the origin search
        page once the authentication process is complete. This authentication provider must be properly configured in the
        Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json


        ```

        </details>'
      operationId: login
      parameters:
      - name: provider
        in: path
        description: The name of the Search API authentication provider to log in to.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Log in to Authentication Provider
      description: 'Directs the browser to URI of the target Search API authentication provider, and back to the origin search
        page once the authentication process is complete. This authentication provider must be properly configured in the
        Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json


        ```

        </details>'
      operationId: loginProviderPost
      parameters:
      - name: provider
        in: path
        description: The name of the Search API authentication provider to log in to.
        example: My SharePoint Server
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
  /rest/search/v2/extensions:
    get:
      tags:
      - Search V2
      summary: List Available Query Extensions
      operationId: extensions
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/rating:
    post:
      tags:
      - Search V2
      summary: Update User Rating
      description: 'The Coveo Cloud V2 platform does not support collaborative rating. Therefore, this operation is obsolete
        in Coveo Cloud V2.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: rating
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - name: rating
        in: query
        description: The rate to be updated.
        required: true
        schema:
          type: string
      - name: uniqueId
        in: query
        description: The unique ID of the document.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response
          content: {}
      deprecated: true
      security:
      - oauth2:
        - full
  /rest/search/v2/fields/find:
    post:
      tags:
      - Search V2
      summary: Find Fields from Results of a Query Expression
      description: 'Find fields name from results matching the `q` expression.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"VIEW_ALL_CONTENT","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: findFieldsFromExpression
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The query to get the fields from.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindFieldsRequest'
      responses:
        '200':
          description: The list of fields referenced by the requested expression.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindFieldsResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements:
    get:
      tags:
      - Statements V2
      summary: List Query Pipeline Statements
      description: 'Gets a sorted page of query pipeline statements matching certain criteria from a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: listQueryPipelineStatementsV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/IsOrderAscending'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/SortBy'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Feature'
      - $ref: '#/components/parameters/SubFeature'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatements'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Statements V2
      summary: Create Query Pipeline Statement
      description: 'Creates a new query pipeline statement in a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: createQueryPipelineStatementV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The query pipeline statement information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingStatement'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatement'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/{statementId}:
    get:
      tags:
      - Statements V2
      summary: Get Query Pipeline Statement
      description: 'Gets a single query pipeline statement from a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getQueryPipelineStatementV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/StatementIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
    put:
      tags:
      - Statements V2
      summary: Update Query Pipeline Statement
      description: 'Updates a single query pipeline statement in a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: updateQueryPipelineStatement
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/StatementIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The updated query pipeline statement information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingStatement'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
    delete:
      tags:
      - Statements V2
      summary: Delete Query Pipeline Statement
      description: 'Deletes a single query pipeline statement from a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: deleteQueryPipelineStatementV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/StatementIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '204':
          description: No content
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/bulkGet:
    post:
      tags:
      - Statements V2
      summary: List Query Pipeline Statements
      description: 'Gets a sorted page of query pipeline statements matching certain criteria from a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: bulkGetStatementsOperationV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/IsOrderAscending'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/SortBy'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Feature'
      requestBody:
        description: A set of parameters to customize the results.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestBulkGetRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatements'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/bulkDelete:
    post:
      tags:
      - Statements V2
      summary: Bulk Delete Query Pipeline Statements
      description: 'Delete multiple statements at once for a specific pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: bulkDeleteStatements
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The statements to delete
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteStatementsRequest'
        required: true
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteResultStatementsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/copy:
    post:
      tags:
      - Statements V2
      summary: Copy Query Pipeline Statements
      description: 'Copies specific statements from an origin to a target query pipeline. Using the same pipeline as origin
        and target will duplicate the specified statements in that pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: copyQueryPipelineStatements
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The copy operation to perform.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingCopyStatements'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatements'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgoingStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/export:
    get:
      tags:
      - Statements V2
      summary: Export Query Pipeline Statements
      description: 'Exports the definition, condition, and description of statements from a specific query pipeline to a CSV
        file.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: exportQueryPipelineStatements
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/Feature'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/import:
    post:
      tags:
      - Statements V2
      summary: Import Query Pipeline Statements
      description: 'Import the definition, condition, and description of statements from a CSV file to a specific query pipeline.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: importQueryPipelineStatementsV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/Feature'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - fileName
              properties:
                fileName:
                  type: string
                  format: binary
      responses:
        '204':
          description: Imported
          content:
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/{statementId}/move:
    put:
      tags:
      - Statements V2
      summary: Move Query Pipeline Statement
      description: 'Sets the position of a query pipeline statement in a specific query pipeline and updates other statement
        positions as appropriate.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: moveQueryPipelineStatementV2
      parameters:
      - $ref: '#/components/parameters/PipelineIdPath'
      - $ref: '#/components/parameters/StatementIdPath'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The move operation to perform.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncomingMoveStatement'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: The matching statements in the current page of results.
                items:
                  $ref: '#/components/schemas/OutgoingStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/validate:
    post:
      tags:
      - Statements V2
      summary: Validate a Single Statement Operation.
      description: 'Validate that a specific operation would be accepted by our API and executed.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: validateStatementOperationV2
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/PipelineIdPath'
      requestBody:
        description: An object that contains an operation to validate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestSingleOperationValidationRequestIncomingStatement'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestSingleOperationValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/statements/validate/batch:
    post:
      tags:
      - Statements V2
      summary: Validate a Batch of Statement Operations.
      description: "\r\n Validate that a list of operations would be accepted by our API and executed.\r\n A maximum of 15\
        \ can be processed per request.\n<details>\n<summary>Privilege(s) required</summary>\n\n```json\n{\"level\":\"NORMAL\"\
        ,\"owner\":\"SEARCH_API\",\"targetDomain\":\"QUERY_PIPELINE\",\"type\":\"VIEW\",\"targetId\":\"{pipelineId}\"}\n```\n\
        </details>"
      operationId: validateStatementsOperationsV2
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/PipelineIdPath'
      requestBody:
        description: An object that contains the list of operations to validate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestBatchOperationValidationRequestIncomingStatement'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestBatchOperationValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/resultRankings:
    get:
      tags:
      - Result rankings
      summary: Get a List of Result Ranking Rules
      description: 'Get a list of result ranking rules

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: listResultRankingRules
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/PipelineIdPath'
      - name: kind
        in: query
        deprecated: true
        description: 'The kind of result ranking rules to allow in the returned list (i.e., `featured_result` or `ranking_expression`).


          By default, both kinds of rules are allowed.


          **Deprecated:** Use `ruleTypes` instead.'
        schema:
          type: string
      - name: enabledStatus
        in: query
        deprecated: true
        description: 'The enabled status of result ranking rules to allow in the returned list.


          Set to `true` to only allow rules whose `enabled` property is set to `true`, and vice versa.


          By default, both enabled and disabled rules are allowed.


          **Deprecated:** Use `ruleStatuses` instead.'
        schema:
          type: boolean
      - name: statementGroupId
        in: query
        description: The unique identifier of the statement group.
        schema:
          type: string
      - $ref: '#/components/parameters/IsOrderAscending'
      - name: ruleStatuses
        description: 'The rule status to allow in the results. Available statuses are: "active", "inactive".


          If you leave this parameter undefined, all rule statuses will be allowed in the results. If you pass an empty array
          (`[]`), no rules will be returned.'
        required: false
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ResultRankingRuleStatus'
          default:
          - active
          - inactive
      - $ref: '#/components/parameters/Filter'
      - name: ruleTypes
        description: 'The rule types to allow in the results. Available types are "featuredResults", "rankingExpressions".

          If you leave this parameter undefined, all rule types will be allowed in the results. If you pass an empty array
          (`[]`), no rules will be returned.'
        required: false
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ResultRankingRuleType'
          default:
          - featuredResults
          - rankingExpressions
      - name: associatedGroups
        description: The group names to allow in the results. Include the `null` value in the array to allow rules that are
          not associated with any groups (e.g., `[null, "mygroup"]`). If you leave this parameter undefined, all groups will
          be allowed in the results. If you pass an empty array (`[]`), no rules will be returned.
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            nullable: true
      - name: expand
        in: query
        required: false
        description: 'The related resources to expand in the response.


          Set to `condition.detailed` to include the detailed version of the condition alongside `condition.reference` in
          each result ranking condition.'
        schema:
          type: array
          items:
            type: string
            enum:
            - condition.detailed
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultRankingListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Result rankings
      summary: Create a New Result Ranking Rule
      description: 'Create a new result ranking rule

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: createResultRankingRule
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/PipelineIdPath'
      requestBody:
        description: The new result ranking to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultRankingRuleCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultRankingRuleIdOnlyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
  /rest/search/v2/admin/pipelines/{pipelineId}/resultRankings/{resultRankingId}:
    get:
      tags:
      - Result rankings
      summary: Get a Result Ranking Rule
      description: 'Get a result ranking rule

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"VIEW","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: getResultRankingRule
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/PipelineIdPath'
      - name: resultRankingId
        in: path
        description: The unique identifier of the result ranking.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultRankingRuleGetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '419':
          $ref: '#/components/responses/AuthenticationTimeout'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
    put:
      tags:
      - Result rankings
      summary: Update a Result Ranking Rule
      description: 'Update a result ranking rule

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"QUERY_PIPELINE","type":"EDIT","targetId":"{pipelineId}"}

        ```

        </details>'
      operationId: updateResultRankingRule
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
[...]
