openapi: 3.2.0
info:
  title: Coveo Search Usage Metrics Service Query Logs API
  version: 1.0.0
  description: Documentation for Coveo Search Usage Metrics Service
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: ''
    url: ''
    email: support@coveo.com
  license:
    name: ''
    url: ''
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Query Logs
paths:
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/logs:
    post:
      operationId: getQueryLogs
      summary: Retrieves the Query Logs for a Search Hub
      tags:
      - Query Logs
      deprecated: false
      parameters:
      - name: to
        description: The last day to retrieve
        required: true
        in: query
        schema:
          type: string
      - name: from
        description: The first day to retrieve
        required: true
        in: query
        schema:
          type: string
      - name: hubName
        description: The search hub name
        required: true
        in: query
        schema:
          type: string
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestLogUrl'
      security:
      - oauth2:
        - full
  /rest/organizations/{organizationId}/searchusagemetrics/hubs/{hubName}/logs:
    post:
      operationId: getQueryLogsWithPathParam
      summary: Retrieves the Query Logs for a Search Hub
      tags:
      - Query Logs
      deprecated: false
      parameters:
      - name: organizationId
        description: The organization ID
        required: true
        in: path
        schema:
          type: string
      - name: hubName
        description: The search hub name
        required: true
        in: path
        schema:
          type: string
      - name: from
        description: The first day to retrieve
        required: true
        in: query
        schema:
          type: string
      - name: to
        description: The last day to retrieve
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestLogUrl'
      security:
      - oauth2:
        - full
components:
  schemas:
    RestLogUrl:
      type: object
      properties:
        url:
          example: '"https://platform.cloud.coveo.com/some/url"'
          description: The URL to use to download the query logs
          type: string
      required:
      - url
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: full
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
      description: OAuth2
