openapi: 3.0.1
info:
  title: Coveo Activity Activities License API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: License
paths:
  /rest/organizations/{organizationId}/license:
    get:
      tags:
      - License
      summary: Show Organization License
      description: 'Get the license of an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Get the Organization License Information
        url: https://docs.coveo.com/en/77/
      operationId: getLicense
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LicenseModel'
      x-pretty-name: getLicense
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/license_get
  /rest/organizations/{organizationId}/license/{sectionName}:
    get:
      tags:
      - License
      summary: Show Organization License Section
      description: 'Shows a section of the license of an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getLicenseSection
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sectionName
        in: path
        description: The name of the target license section.</br>**Example:** `content`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
      x-pretty-name: getLicenseSection
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/license/paramId_get
  /rest/organizations/{organizationId}/license/entitlements:
    get:
      tags:
      - License
      summary: Show Organization Entitlements
      description: 'Get the entitlements of an [organization](https://docs.coveo.com/en/185/glossary/coveo-organization).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Get the Organization License Information
        url: https://docs.coveo.com/en/77/
      operationId: getEntitlements
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntitlementModel'
      x-pretty-name: getEntitlements
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/license/entitlements_get
components:
  schemas:
    EntitlementModel:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        pricingUnit:
          type: string
        displayName:
          type: string
        productName:
          type: string
        useCase:
          type: string
        status:
          type: string
        itemLimit:
          type: integer
          format: int64
        semanticSearchDocumentLimit:
          type: integer
          format: int64
        semanticSearchQPMLimit:
          type: integer
          format: int64
        lrpmLimit:
          type: integer
          format: int64
        qpmLimit:
          type: integer
          format: int64
        unlimitedQPM:
          type: boolean
        recommendationLimit:
          type: integer
          format: int64
        unlimitedRecommendations:
          type: boolean
        userLimit:
          type: integer
          format: int64
        unlimitedUsers:
          type: boolean
        passageRetrievalQPMLimit:
          type: integer
          format: int64
        unlimitedPassageRetrievalQPM:
          type: boolean
        shouldShowInConsumptionDashboard:
          type: boolean
        expirationDate:
          type: string
          format: date-time
        expirationStatus:
          type: string
          description: The expiration status indicating whether the license is active, about to expire, or expired.
          enum:
          - ACTIVE
          - SOON_TO_BE_EXPIRED
          - EXPIRED
      description: A set of entitlements describing what the organization has access to.
    AllowedScheduleModel:
      type: object
      properties:
        refreshType:
          type: string
          description: The refresh type to use for a given connector.
          enum:
          - REBUILD
          - FULL_REFRESH
          - INCREMENTAL_REFRESH
          - SECURITY_PROVIDER_REFRESH
          - SECURITY_PROVIDER_REFRESH_ENTITIES_IN_ERROR
          - SECURITY_PROVIDER_REFRESH_ENTITIES_NOT_UPDATED
          - SECURITY_CACHE_REFRESH
          - SECURITY_CACHE_REFRESH_ENTITIES_IN_ERROR
        scheduleFrequencies:
          type: array
          description: 'The frequency at which to refresh the connector.</br>**Allowed values:**</br>- `MINUTELY`: Once per minute.</br>- `HOURLY`: Once per hour.</br>- `DAILY`: Once per day.</br>- `WEEKLY`: Once per week.</br>- `MONTHLY`: Once per month.'
          items:
            type: string
            description: 'The frequency at which to refresh the connector.</br>**Allowed values:**</br>- `MINUTELY`: Once per minute.</br>- `HOURLY`: Once per hour.</br>- `DAILY`: Once per day.</br>- `WEEKLY`: Once per week.</br>- `MONTHLY`: Once per month.'
            enum:
            - MINUTELY
            - HOURLY
            - DAILY
            - WEEKLY
            - MONTHLY
      description: The schedule that is used by the [connector](https://docs.coveo.com/en/2734/).
    MachineLearningModelInformationModel:
      type: object
      properties:
        buildFrequency:
          type: string
        numberOfModelsLimit:
          type: integer
          format: int32
        enabled:
          type: boolean
      description: The Machine Learning Models configurations.
    LicenseModel:
      type: object
      properties:
        accountId:
          type: string
          description: The unique identifier of the account that created the organization.
          example: My Organization Account ID
        accountName:
          type: string
          description: The name of the account.
          example: My Organization Account
        connectors:
          type: array
          description: A set of connectors that the license has access to.
          items:
            $ref: '#/components/schemas/ConnectorInformationModel'
        createdDate:
          type: string
          description: The creation date in number of milliseconds since UNIX epoch.
          format: date-time
        department:
          type: string
          description: The department the organization was created for.
          example: R&D
        entitlements:
          type: array
          description: A set of entitlements describing what the organization has access to.
          items:
            $ref: '#/components/schemas/EntitlementModel'
        expirationDate:
          type: string
          description: The date at which the license will expire (in number of milliseconds since UNIX epoch).
          format: date-time
        expirationStatus:
          type: string
          description: The expiration status indicating whether the license is active, about to expire, or expired.
          enum:
          - ACTIVE
          - SOON_TO_BE_EXPIRED
          - EXPIRED
        indexBackupType:
          type: string
          description: The index backup type.
          enum:
          - NONE
          - REGULAR
          - FULL
        indexType:
          type: string
          description: The type of index that is used for all sources in an organization
          enum:
          - COVEO
          - ELASTIC
          - INDEX_LESS
          - ON_PREMISES
        machineLearningModels:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MachineLearningModelInformationModel'
          description: The Machine Learning Models configurations.
        monitoringLevel:
          type: string
          description: The level of monitoring to apply to the license.
          enum:
          - NO_MONITORING
          - BASIC_MONITORING
          - REGULAR_MONITORING
          - STRATEGIC_MONITORING
          - CRITICAL_MONITORING
        productEdition:
          type: string
          description: The edition in which the organization is registered as.
          externalDocs:
            description: Pricing plans
            url: https://www.coveo.com/en/pricing
          enum:
          - ENTERPRISE
          - FREE
          - PRO
          - STANDARD
          - BASE
        productName:
          type: string
          description: The product integration of which the organization has been registered.
          enum:
          - COVEO_CLOUD
          - DYNAMICS
          - SALESFORCE
          - SERVICENOW
          - SITECORE
          - USAGE_ANALYTICS
        productType:
          type: string
          description: The type of product integration in which the organization has been registered.
          enum:
          - INTERNAL
          - SALES
          - ALLIANCE
          - SANDBOX
          - STANDARD
          - TRIAL
          - TEST
        properties:
          type: object
          additionalProperties:
            type: object
            description: Various properties/configuration settings that apply to the organization.
          description: Various properties/configuration settings that apply to the organization.
      description: The organization license.
    ConnectorInformationModel:
      type: object
      properties:
        type:
          type: string
          description: The type of connector.
          enum:
          - AMAZONS3
          - BOX_ENTERPRISE2
          - CATALOG
          - CONFLUENCE2
          - CONFLUENCE2_HOSTED
          - CUSTOM
          - DATABASE
          - DROPBOX_FOR_BUSINESS
          - FILE
          - GENERIC_REST
          - GOOGLE_DRIVE_DOMAIN_WIDE
          - GRAPHQL
          - JIRA2
          - JIRA2_HOSTED
          - JIVE
          - JIVE_HOSTED
          - LITHIUM
          - KHOROS
          - MICROSOFT_DYNAMICS
          - PUSH
          - RSS
          - SALESFORCE
          - SALESFORCE_SITES
          - SAP
          - SERVICENOW
          - SHAREPOINT
          - SHAREPOINT_ONLINE2
          - SHOPIFY
          - SITECORE
          - SITEMAP
          - SLACK
          - WEB2
          - YOUTUBE
          - ZENDESK
          - ADOBE_EXPERIENCE_MANAGER
          - BOX
          - BOX_ENTERPRISE
          - CONFLUENCE
          - DROPBOX
          - GMAIL
          - GMAIL_DOMAIN_WIDE
          - SHAREPOINT_ONLINE
        allowed:
          type: boolean
          description: Whether the connector is allowed to execute.
        sourceVisibilities:
          uniqueItems: true
          type: array
          description: 'The visibility level of the connector.</br>**Allowed values:**</br>- `PRIVATE`: Source owner only</br>- `SECURED`: Allowed users only</br>- `SHARED`: Any user'
          items:
            type: string
            description: 'The visibility level of the connector.</br>**Allowed values:**</br>- `PRIVATE`: Source owner only</br>- `SECURED`: Allowed users only</br>- `SHARED`: Any user'
            enum:
            - PRIVATE
            - SECURED
            - SHARED
        allowedSchedules:
          type: array
          description: A set of schedule models that are allowed to refresh the connector.
          items:
            $ref: '#/components/schemas/AllowedScheduleModel'
      description: Information for a connector.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
