openapi: 3.2.0
info:
  description: The Push API allows you to *push* items and security identities, as opposed to letting standard Coveo Cloud V2 crawlers *pull* this data from a content repository. This is especially useful when you need to index content from a cloud or on-premises system for which no dedicated source type exists in the Coveo Cloud V2 platform.
  title: Push API - prd File Container API
  version: '2016-03-03T13:22:11Z'
servers:
- url: https://api.cloud.coveo.com/push/v1
tags:
- description: Create a file container
  name: File Container
paths:
  /organizations/{organizationId}/files:
    post:
      description: "Creates a temporary, private, and encrypted Amazon S3 file container where you can safely upload the data of an individual item, or a batch of items or security identities. You can then reference the unique identifier of this file container to actually push this content to a Coveo Cloud V2 index.  \nOnce the content of a file container has been successfully forwarded to the Coveo Cloud V2 indexing pipeline, this file container is automatically deleted. In any case, a file container expires after 60 minutes.  \nCreating a file container is a necessary step when you want to:  \n- Use the `compressedBinaryDataFileId` property to push item data (see [Use the compressedBinaryDataFileId property](https://docs.coveo.com/en/69/)).  \n- Push a batch of items (see [Manage batches of items in a Push Source](https://docs.coveo.com/en/90/)).  \n- Push a batch of security identities [Manage batches of security identities](https://docs.coveo.com/en/55/))."
      externalDocs:
        description: Create a file container
        url: https://docs.coveo.com/en/43/
      parameters:
      - description: "The unique identifier of the target Coveo Cloud V2 organization.  \n**Example:** `mycoveocloudv2organizationg8tp8wu3`"
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: "Whether to generate the presigned URL using the virtual hosted-style URL.  \n**Example of a virtual hosted-style url:** `https://coveo-nprod-customerdata.s3.us-east-1.amazonaws.com/proda/blobstore/mycoveocloudv2organizationg8tp8wu3/b5e8767e-8f0d-4a89-9095-1127915c89c7[...]`"
        in: query
        name: useVirtualHostedStyleUrl
        required: false
        schema:
          type: boolean
      responses:
        '201':
          description: Created
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadUrl'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Retry-After:
              schema:
                type: number
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Create a File Container
      tags:
      - File Container
      x-pretty-name: getPresignedUploadUrl
components:
  schemas:
    Error:
      properties:
        errorCode:
          type: string
        message:
          type: string
      type: object
    PresignedUploadUrl:
      properties:
        fileId:
          description: "The unique identifier of the file container.  \nYou can use this identifier as the `fileId` query parameter value when pushing a batch of items or security identities, or as the `compressedBinaryDataFileId` property value when pushing item data.  \n**Example:** `\"b5e8767e-8f0d-4a89-9095-1127915c89c7\"`"
          type: string
        requiredHeaders:
          additionalProperties:
            description: The HTTP headers to include when sending a `POST` request to the `uploadUri`.
            type: string
          type: object
        uploadUri:
          description: "The presigned URI of the file container.  \nYou can upload data into the file container by sending a `PUT` request whose body is your raw textual data to this URI.  \n**Example:** `\"https://s3.amazonaws.com/coveo-nprod-customerdata/proda/blobstore/[...]\"`"
          type: string
      type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: Required
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
