openapi: 3.2.0
info:
  title: Coveo Platform Limits API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Limits
paths:
  /rest/organizations/{organizationId}/limits/reset/{sectionName}/{limitKey}:
    post:
      tags:
      - Limits
      summary: Manually Reset Limit Statuses for a Specific Section and Limit Key
      description: 'Admin operation to manually trigger the reset job for a specific limit. This only resets LimitStatus last updated before today. '
      operationId: resetExpiredLimitStatuses
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sectionName
        in: path
        description: The name of the target license section.</br>**Example:** `content`
        required: true
        schema:
          type: string
      - name: limitKey
        in: path
        description: The unique identifier of the target [limit](https://docs.coveo.com/en/262/) status to show.<br>**Example:**`pushApiMaximumDailyDocumentLimit`
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: resetExpiredLimitStatuses
      x-ui-operation-id: /rest/organizations/paramId/limits/reset/paramId/paramId_post
  /rest/organizations/{organizationId}/limits:
    get:
      tags:
      - Limits
      summary: Show Organization Limits and Their Statuses
      description: 'Shows an [organization''s](https://docs.coveo.com/en/185/) [limits](https://docs.coveo.com/en/262/) and their statuses.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Get the Organization Limit Status
        url: https://docs.coveo.com/en/165/
      operationId: getOrganizationLimits
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: limitType
        in: query
        description: The type of limit you are wishing to retrieve.
        required: false
        schema:
          type: string
          enum:
          - TECHNICAL
          - USAGE
          - ENTITLEMENT
          default: USAGE
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/LimitStatusModel'
      x-pretty-name: getOrganizationLimitsByType
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/limits_get
  /rest/organizations/{organizationId}/limits/{sectionName}:
    get:
      tags:
      - Limits
      summary: List Section Limits and Their Statuses
      description: 'Shows [limits](https://docs.coveo.com/en/262/) and their statuses for a specified license section of an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSectionLimits
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sectionName
        in: path
        description: The name of the target license section.</br>**Example:** `content`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/LimitStatusModel'
      x-pretty-name: getSectionLimits
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/limits/paramId_get
  /rest/organizations/{organizationId}/limits/{sectionName}/{limitKey}:
    get:
      tags:
      - Limits
      summary: Show Specific Limit Status
      description: 'Shows the status of a specific [limit](https://docs.coveo.com/en/262/) in an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      externalDocs:
        description: Review your license and usage
        url: https://docs.coveo.com/en/q2ik0227/manage-an-organization/review-your-license-and-usage
      operationId: getLimit
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sectionName
        in: path
        description: The name of the target license section.</br>**Example:** `content`
        required: true
        schema:
          type: string
      - name: limitKey
        in: path
        description: The unique identifier of the target [limit](https://docs.coveo.com/en/262/) status to show.<br>**Example:**`pushApiMaximumDailyDocumentLimit`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LimitStatusModel'
      x-pretty-name: getLimit
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/limits/paramId/paramId_get
  /rest/organizations/{organizationId}/limits/{sectionName}/{limitKey}/history:
    get:
      tags:
      - Limits
      summary: Show Limit History
      description: 'Shows the history of a specific [limit](https://docs.coveo.com/en/262/) for a given date range.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"ORGANIZATION","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getLimitHistory
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
      - name: sectionName
        in: path
        description: The name of the target license section.</br>**Example:** `content`
        required: true
        schema:
          type: string
      - name: limitKey
        in: path
        description: The unique identifier of the target [limit](https://docs.coveo.com/en/262/) status to show.<br>**Example:**`pushApiMaximumDailyDocumentLimit`
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: The beginning of the date range for which to show limit history in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.</br>**Example:**`2022-05-08T01:30:00.000-05:00`
        required: false
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: The ending of the date range for which to show limit history in [ISO 8601](https://www.w3.org/TR/NOTE-datetime) format.</br>**Example:**`2022-05-10T01:30:00.000-05:00`
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LimitHistoryDataPointModel'
      x-pretty-name: getLimitHistory
      x-required-privilege:
        owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: ORGANIZATION
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/limits/paramId/paramId/history_get
components:
  schemas:
    LimitStatusModel:
      type: object
      properties:
        actualCount:
          type: integer
          description: The actual number of items or consumer services in the [organization](https://docs.coveo.com/en/185/).
          format: int64
          example: 12
        limit:
          type: integer
          description: The [limit](https://docs.coveo.com/en/262/) value of the [organization](https://docs.coveo.com/en/185/).
          format: int64
          example: 20
        lastUpdate:
          type: string
          description: The date when the status was last updated.
          format: date
          example: '2021-07-01'
      description: The status of a limit.
    LimitHistoryDataPointModel:
      type: object
      properties:
        date:
          type: number
          description: The date at which the [limit](https://docs.coveo.com/en/262/) value was set in number of milliseconds since UNIX epoch.
          example: 1511049600000
        limitValue:
          type: integer
          description: The [limit](https://docs.coveo.com/en/262/) value for the given date.
          format: int64
          example: 49624
      description: The [limit](https://docs.coveo.com/en/262/) at a given date.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
