openapi: 3.0.1
info:
  title: Coveo Activity Activities Zendesk API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Zendesk
paths:
  /pages/{organizationID}/zendesk/unlink:
    delete:
      security:
      - OAuth2:
        - full
      description: 'Remove the link between the Zendesk Installation and the Coveo Organization.  <br/><br/>**Required privilege:** Search Pages - Edit<br/><details><summary>Privilege required</summary>```{ "owner": "SEARCH_API", "targetDomain": "SEARCH_PAGES", "type": "EDIT", "targetId": "*" }```</details>'
      tags:
      - Zendesk
      summary: Unlink the Zendesk Installation
      parameters:
      - type: string
        description: The unique identifier of the target Coveo Cloud [organization](https://docs.coveo.com/en/185) (e.g., 'mycoveocloudv2organizationg8tp8wu3').
        name: organizationID
        in: path
        required: true
      - type: string
        description: The Zendesk Installation Id.
        name: installationId
        in: query
        required: true
      responses:
        '204':
          description: The organization was successfully unlinked
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/swaggermodels.ResponseApplicationErrorBadRequest'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/swaggermodels.ResponseApplicationErrorUnauthorized'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swaggermodels.ResponseApplicationErrorInternalServerError'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
definitions:
  swaggermodels.ResponseApplicationErrorInternalServerError:
    type: object
    properties:
      errorCode:
        type: integer
        example: 500
      message:
        type: string
  swaggermodels.ResponseApplicationErrorUnauthorized:
    type: object
    properties:
      errorCode:
        type: integer
        example: 401
      message:
        type: string
  swaggermodels.ResponseApplicationErrorBadRequest:
    type: object
    properties:
      errorCode:
        type: integer
        example: 400
      message:
        type: string
