openapi: 3.0.1
info:
  title: Coveo Activity Activities Reports API - Version 14 API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Reports API - Version 14
paths:
  /v14/reports:
    get:
      tags:
      - Reports API - Version 14
      summary: Get the Persisted Reports of One or All Types
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports
      parameters:
      - name: type
        in: query
        description: The type of the report. Must be either 'explorer' or 'dashboard'.
        schema:
          type: string
          enum:
          - DASHBOARD
          - EXPLORER
          - EXPLORER,DASHBOARD
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      - name: includeConfig
        in: query
        description: Whether to include the detailed configuration of the report in the response.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportsResponseV14'
      deprecated: true
    post:
      tags:
      - Reports API - Version 14
      summary: Create a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_reports
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The report configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIdResponseV14'
      deprecated: true
  /v14/reports/{reportId}:
    get:
      tags:
      - Reports API - Version 14
      summary: Get a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponseV14'
      deprecated: true
    put:
      tags:
      - Reports API - Version 14
      summary: Update a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The report configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Reports API - Version 14
      summary: Delete a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_reports_{reportId}
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/reports/monitoring/health:
    get:
      tags:
      - Reports API - Version 14
      summary: Health Check for the Reports Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/reports/status:
    get:
      tags:
      - Reports API - Version 14
      summary: Get the Reports Service Status
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/reports/{reportId}/users:
    get:
      tags:
      - Reports API - Version 14
      summary: Gets the Users That Can View the Specified Report.
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_reports_{reportId}_users
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportUsersResponseV14'
      deprecated: true
    put:
      tags:
      - Reports API - Version 14
      summary: Set the Users Who Are Allowed to View a Report
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_reports_{reportId}_users
      parameters:
      - name: reportId
        in: path
        description: The unique identifier of a report. This id is generated by the server when creating a report.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The IDs of the allowed users.
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
components:
  schemas:
    ReportIdResponseV14:
      type: object
      properties:
        id:
          type: string
          description: The report id.
      description: A report id.
    UserResponseV14:
      type: object
      properties:
        userId:
          type: string
          description: The user id.
        account:
          type: string
          description: The user account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the user
          items:
            type: string
            description: The filters that are applied to the user
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            type: string
            description: The reports the user can view.
      description: A user.
    ReportModelV14:
      required:
      - allAnalyticsViewer
      - configuration
      - displayName
      - type
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the report.
        type:
          type: string
          description: The type of the report. Must be either 'explorer' or 'dashboard'.
          enum:
          - DASHBOARD
          - EXPLORER
        allAnalyticsViewer:
          type: boolean
          description: Whether the report should be available to all analytics viewer.
        configuration:
          type: object
          additionalProperties:
            type: object
            description: The configuration of the report. Must be a json.
          description: The configuration of the report. Must be a json.
        filters:
          uniqueItems: true
          type: array
          description: The ids of the persisted filters associated with the report.
          items:
            type: string
            description: The ids of the persisted filters associated with the report.
      description: The configuration of a report.
    ReportUsersResponseV14:
      type: object
      properties:
        access:
          type: string
          description: The access type of the report. Can be PUBLIC or PRIVATE.
          enum:
          - PUBLIC
          - PRIVATE
          - PUBLIC
          - PRIVATE
        allowedUsers:
          type: array
          description: The users allowed to access the specified report.
          items:
            $ref: '#/components/schemas/UserResponseV14'
      description: The users allowed to access the specified report.
    ReportsResponseV14:
      type: object
      properties:
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            $ref: '#/components/schemas/ReportResponseV14'
      description: The reports the user can view.
    StatusResponse:
      type: object
      description: Service's status information
    ReportResponseV14:
      type: object
      properties:
        id:
          type: string
          description: The report id.
        account:
          type: string
          description: The report account.
        displayName:
          type: string
          description: The report display name.
        type:
          type: string
          description: The report type.
        configuration:
          type: object
          additionalProperties:
            type: object
            description: The report configuration.
          description: The report configuration.
        allAnalyticsViewer:
          type: boolean
          description: Whether the report is available to all analytics viewer.
        filters:
          uniqueItems: true
          type: array
          description: List of associated filters.
          items:
            type: string
            description: List of associated filters.
      description: A report configuration.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
