openapi: 3.2.0
info:
  description: The Source Logs API allows you to retrieve indexing pipeline logs for an organization, providing details about indexing activities.
  title: Source Logs - prd Facets API
  version: '2016-03-03T13:22:11Z'
servers:
- url: https://api.cloud.coveo.com/push/v1
  description: Coveo public API endpoint
tags:
- description: Retrieve indexing pipeline log filters
  name: Facets
paths:
  /organizations/{organizationId}/facets:
    post:
      description: Retrieves basic facets for a specific unpaginated set of indexing pipeline log entries.
      parameters:
      - description: 'The unique identifier of the target Coveo Cloud organization.

          Example: `mycoveocloudorganizationg8tp8wu3`'
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the beginning of the range for which to retrieve indexing pipeline logs.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: from
        required: true
        schema:
          type: string
          format: date-time
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the end of the range for which to retrieve indexing pipeline logs.

          The end range must be within a week of the beginning range.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: to
        required: true
        schema:
          type: string
          format: date-time
      - description: The filter string against which to match document `uri` field values. See the `documentIdMatching` parameter to set the target kind of filter.<br />For example, setting the `documentId` parameter to `/attachment/` and setting the `documentIdMatching` parameter to `PARTIAL` means that the service will only retrieve logs of items whose `uri` field values contain the `/attachment/` substring.
        in: query
        name: documentId
        schema:
          type: string
      - description: 'The kind of filter to apply when matching the target `documentId` value against document `uri` field values.<br />**Allowed values:**<br />- `EXACT`: the `documentId` value must match exactly the document URI.<br />- `PARTIAL`: the `documentId` values must be a substring of the document URI.<br />- `WILDCARD`: the `documentId` may contain the wildcards `*` (one or more characters) and `?` (a single character) to match against document URIs.<br />**Default:** `EXACT`'
        in: query
        name: documentIdMatching
        required: false
        schema:
          type: string
          enum:
          - EXACT
          - PARTIAL
          - WILDCARD
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFacetsResponseBodyModel'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Timeout
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Get Facets
      tags:
      - Facets
      x-pretty-name: getDocumentLogsFacets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLogsOrFacetsRequestBodyModel'
        description: The filters to apply when retrieving the facets.
        required: true
  /organizations/{organizationId}/facetsStats:
    post:
      description: Retrieves the facets, including facet counts, for a specific unpaginated set of indexing pipeline log entries.
      parameters:
      - description: 'The unique identifier of the target Coveo Cloud organization.

          Example: `mycoveocloudorganizationg8tp8wu3`'
        in: path
        name: organizationId
        required: true
        schema:
          type: string
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the beginning of the range for which to retrieve indexing pipeline logs.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: from
        required: true
        schema:
          type: string
          format: date-time
      - description: 'The date and time (in W3C format, see [Date and Time Formats](https://www.w3.org/TR/NOTE-datetime)) corresponding to the end of the range for which to retrieve indexing pipeline logs.

          The end range must be within a week of the beginning range.

          Example: `2018-05-22T23:36:30.589Z`'
        in: query
        name: to
        required: true
        schema:
          type: string
          format: date-time
      - description: The filter string against which to match document `uri` field values. See the `documentIdMatching` parameter to set the target kind of filter.<br />For example, setting the `documentId` parameter to `/attachment/` and setting the `documentIdMatching` parameter to `PARTIAL` means that the service will only retrieve logs of items whose `uri` field values contain the `/attachment/` substring.
        in: query
        name: documentId
        schema:
          type: string
      - description: 'The kind of filter to apply when matching the target `documentId` value against document `uri` field values.<br />**Allowed values:**<br />- `EXACT`: the `documentId` value must match exactly the document URI.<br />- `PARTIAL`: the `documentId` values must be a substring of the document URI.<br />- `WILDCARD`: the `documentId` may contain the wildcards `*` (one or more characters) and `?` (a single character) to match against document URIs.<br />**Default:** `EXACT`'
        in: query
        name: documentIdMatching
        required: false
        schema:
          type: string
          enum:
          - EXACT
          - PARTIAL
          - WILDCARD
      responses:
        '200':
          description: OK
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFacetsWithCountsResponseBodyModel'
        '400':
          description: Bad request
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many Requests
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          description: Gateway Timeout
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - oauth2:
        - full
      summary: Get Facets with Counts
      tags:
      - Facets
      x-pretty-name: getDocumentLogsFacetsStats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLogsOrFacetsRequestBodyModel'
        description: The filters to apply when retrieving the facets.
        required: true
components:
  schemas:
    Error:
      properties:
        errorCode:
          type: string
        message:
          type: string
      type: object
    GetFacetsWithCountsResponseBodyModel:
      description: The retrieved values/counts for each type of indexing pipeline log entry facet.
      properties:
        operations:
          description: 'The retrieved _operation_ facet values/counts  (each key will be a valid _operation_ enum value).

            Example: `{"ADD": 50}`'
          type: object
        resourceIds:
          description: 'The retrieved _resourceId_ facet values/counts.

            Example: `{"mycoveocloudorganizationg8tp8wu3-qp2fnxukqw7voteaiahlxfkf7i": 10, "mycoveocloudorganizationg8tp8wu3-rnj3eisk4as63kx7zc4ch4keja": 3, "MAPPING_EXTENSION": 37}`'
          type: object
        results:
          description: 'The retrieved _result_ facet values/counts  (each key will be a valid _result_ enum value).

            Example: `{"SKIPPED": 3, "COMPLETED": 47}`'
          type: object
        sourceIds:
          description: 'The retrieved _sourceId_ facet values/counts.

            Example: `{"w1zh6p45vh7s2uxzvg3s7kg85m-mycoveocloudorganizationg8tp8wu3": 8,"xqgojoppe6qkojkotz7xsi2o3e-mycoveocloudorganizationg8tp8wu3": 42}`'
          type: object
        tasks:
          description: 'The retrieved _task_ facet values/counts (each key will be a valid _task_ enum value).

            Example: `{"MAPPING": 37, "EXTENSION": 13}`'
          type: object
      type: object
    GetFacetsResponseBodyModel:
      description: The retrieved values for each type of indexing pipeline log entry facet.
      properties:
        operations:
          description: 'The retrieved _operation_ facet values.

            Example: `["ADD"]`'
          items:
            $ref: '#/components/schemas/IndexingPipelineLogOperations'
          type: array
        resourceIds:
          description: 'The retrieved _resourceId_ facet values.

            Example: `["mycoveocloudorganizationg8tp8wu3-qp2fnxukqw7voteaiahlxfkf7i", "mycoveocloudorganizationg8tp8wu3-rnj3eisk4as63kx7zc4ch4keja", "MAPPING_EXTENSION"]`'
          items:
            type: string
          type: array
        results:
          description: 'The retrieved _result_ facet values.

            Example: `["SKIPPED", "COMPLETED"]`'
          items:
            $ref: '#/components/schemas/IndexingPipelineLogResults'
          type: array
        sourceIds:
          description: 'The retrieved _sourceId_ facet values.

            Example: `["w1zh6p45vh7s2uxzvg3s7kg85m-mycoveocloudorganizationg8tp8wu3", "xqgojoppe6qkojkotz7xsi2o3e-mycoveocloudorganizationg8tp8wu3"]`'
          items:
            type: string
          type: array
        tasks:
          description: 'The retrieved _task_ facet values.

            Example: `["MAPPING", "EXTENSION"]`'
          items:
            $ref: '#/components/schemas/IndexingPipelineLogTasks'
          type: array
      type: object
    IndexingPipelineLogTasks:
      description: The _task_ filter value.
      enum:
      - CONSUMING
      - CONSUMING_BATCH
      - CRAWLING
      - STREAMING_EXTENSION
      - EXTENSION
      - INDEXING
      - MAPPING
      - PROCESSING
      - STREAMING
      - STREAMING_BATCH
      - PREINDEXING
      - VALIDATION
      type: string
    IndexingPipelineLogResults:
      description: The _result_ filter value.
      enum:
      - COMPLETED
      - ERROR
      - REJECTED
      - SKIPPED
      - WARNING
      type: string
    GetLogsOrFacetsRequestBodyModel:
      properties:
        excludeOperations:
          description: The _operation_ values to filter out from the response. Entries matching other _operation_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogOperations'
          type: array
        excludeResourceIds:
          description: The _resourceId_ values to filter out from the response. Entries matching other _resourceId_ values will be included.
          items:
            type: string
          type: array
        excludeResults:
          description: The _result_ values to filter out from the response. Entries matching other _result_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogResults'
          type: array
        excludeSourceIds:
          description: The _sourceId_ values to filter out from the response. Entries matching other _sourceId_ values will be included.
          items:
            type: string
          type: array
        excludeTasks:
          description: The _task_ values to filter out from the response. Entries matching other _task_ values will be included.
          items:
            $ref: '#/components/schemas/IndexingPipelineLogTasks'
          type: array
        operations:
          description: The _operation_ values to allow in the response. Entries matching other _operation_ values will be filtered out (has priority over `excludeOperations`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogOperations'
          type: array
        resourceIds:
          description: The _resourceId_ values to allow in the response. Entries matching other _resourceId_ values will be filtered out (has priority over `excludeResourceIds`).
          items:
            type: string
          type: array
        results:
          description: The _result_ values to allow in the response. Entries matching other _result_ values will be filtered out (has priority over `excludeResults`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogResults'
          type: array
        sourcesIds:
          description: The _sourceId_ values to allow in the response. Entries matching other _sourceId_ values will be filtered out (has priority over `excludeSourceIds`).
          items:
            type: string
          type: array
        tasks:
          description: The _task_ values to allow in the response. Entries matching other _task_ values will be filtered out (has priority over `excludeTasks`).
          items:
            $ref: '#/components/schemas/IndexingPipelineLogTasks'
          type: array
      type: object
    IndexingPipelineLogOperations:
      description: The _operation_ filter value.
      enum:
      - ADD
      - ADD_BY_REFERENCE
      - BATCH_FILE
      - DELETE
      - DELETE_AND_CHILDREN
      - DELETE_OLDER_THAN
      - UPDATE
      type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            full: Required
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
