openapi: 3.2.0
info:
  title: Coveo Authorization Server Organization Invites API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Organization Invites
paths:
  /rest/organizations/{organizationId}/invites:
    get:
      tags:
      - Organization Invites
      summary: List Organization Invites
      description: 'Lists the invites to an [organization](https://docs.coveo.com/en/185/).<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"PLATFORM","targetDomain":"GROUP","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getOrganizationInvites
      parameters:
      - name: organizationId
        in: path
        description: The [unique identifier of the organization](https://docs.coveo.com/en/n1ce5273/manage-an-organization/find-your-organization-id) for which to list invites.</br>**Example:** `mycoveocloudorganizationg8tp8wu3`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInviteModel'
      x-pretty-name: getOrganizationInvites
      x-required-privilege:
        owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: PLATFORM
        targetDomain: GROUP
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/invites_get
components:
  schemas:
    OrganizationGroupInviteModel:
      type: object
      properties:
        group:
          $ref: '#/components/schemas/IdAndDisplayNameModel'
        inviter:
          type: string
        invitedDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
      description: The set of groups from the organization to which the member is invited.
    IdAndDisplayNameModel:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
      description: The unique identifiers of the organizations by which the SAML identity provider is used.
    OrganizationInviteModel:
      type: object
      properties:
        username:
          type: string
          description: The username of the user to which the invite is sent.</br>**Example:** `jsmith@email.com-google`
        providerUsername:
          type: string
          description: The username used for the assigned provider.</br><b>Example:</b> `jsmith@email.com-google`
        email:
          type: string
          description: The email of the user to which the invite is sent.</br>**Example:**`jsmith@email.com`
        provider:
          type: string
          description: The provider of the invited member.
          enum:
          - SALESFORCE
          - SALESFORCE_SANDBOX
          - GOOGLE
          - OFFICE365
          - SAML
          - EMAIL
        groupInvites:
          type: array
          description: The set of groups from the organization to which the member is invited.
          items:
            $ref: '#/components/schemas/OrganizationGroupInviteModel'
      description: An invite to an [organization](https://docs.coveo.com/en/185/).
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
