openapi: 3.0.1
info:
  title: Coveo Activity Activities Case Classification Configuration API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Case Classification Configuration
paths:
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/preview:
    post:
      tags:
      - Case Classification Configuration
      summary: Get Preview for Building a CC Model.
      description: 'Shows the number of support cases that match the Case Classification (CC) requirements in the targeted sources.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentsCountPreview_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationPreviewResponse'
      x-pretty-name: getDocumentsCountPreview
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/preview_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields:
    post:
      tags:
      - Case Classification Configuration
      summary: Get CC Content Fields
      description: 'Get the content fields that a model can use for the specified parameters.<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getFields
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContentFieldsResponse'
      x-pretty-name: getFields
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields/{fieldName}/valueCount:
    post:
      tags:
      - Case Classification Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getValueCountForField
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fieldName
        in: path
        description: Name of the field
        required: true
        schema:
          type: string
        example: author
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationValueCountResponse'
      x-pretty-name: getValueCountForField
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields/paramId/valueCount_post
  /rest/organizations/{organizationId}/machinelearning/configuration/caseclassif/fields/{fieldName}/documentCount:
    post:
      tags:
      - Case Classification Configuration
      description: '<details><summary>Privilege required</summary>

        ```

        {"owner":"COVEO_ML","targetDomain":"ALLOW_CONTENT_PREVIEW","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: getDocumentCountForField
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:** `mycoveocloudv2organizationg8tp8wu3`
        required: true
        schema:
          type: string
        example: mycoveocloudv2organizationg8tp8wu3
      - name: fieldName
        in: path
        description: Name of the field
        required: true
        schema:
          type: string
        example: author
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseClassificationPreviewRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CaseClassificationDocumentCountResponse'
      x-pretty-name: getDocumentCountForField
      x-required-privilege:
        owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-required-privileges:
      - owner: COVEO_ML
        targetDomain: ALLOW_CONTENT_PREVIEW
        type: ENABLE
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/machinelearning/configuration/caseclassif/fields/paramId/documentCount_post
components:
  schemas:
    FieldCandidateModel:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the field, also referred to as the field identifier.<br />**Example:** `article_description`
          example: article_description
      description: The list of non-empty fields for at least one item.
    CaseClassificationPreviewResponse:
      type: object
      properties:
        query:
          type: string
          description: The query that was used to fetch cases information.
          example: '@source==("Salesforce Notifier")'
        numberOfDocuments:
          type: integer
          description: The total number of cases in all sources.
          format: int64
        numberOfValidDocuments:
          type: integer
          description: The number of cases that are candidates for learning.
          format: int64
        numberOfDocumentsMatchingConditions:
          type: integer
          description: The number of cases that match the conditions.
          format: int64
        numberOfDocumentsMatchingConditionsAndInEnglish:
          type: integer
          description: The number of cases that match the conditions and are in English.
          format: int64
        documentRequirementStatus:
          type: string
          description: Status for the number of required cases to build the model.
          enum:
          - OK
          - INSUFFICIENT_DOCUMENTS
          - NB_OF_DOCUMENTS_OVER_LIMIT
    CaseClassificationPreviewRequest:
      type: object
      properties:
        advancedQuery:
          type: string
          description: The query that determines the documents to extract. Cannot be used with other document extraction parameters, e.g. sources, filter conditions, etc.<br />**Example:** `@source==("My source") AND @permanentid AND @language="English"`
          example: '@source==("My source") AND @permanentid AND @language="English"'
        sources:
          type: array
          description: The names of the sources that contain the cases.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
          example:
          - CommunityArticles
          - SalesforceCatalog
          items:
            type: string
            description: The names of the sources that contain the cases.<br />**Example:** `["CommunityArticles","SalesforceCatalog"]`
            example: '["CommunityArticles","SalesforceCatalog"]'
        caseFilterConditions:
          type: array
          description: The custom filter conditions for the cases.
          items:
            $ref: '#/components/schemas/CaseFilterConditionModel'
        languageField:
          type: string
          description: The field used to identify the language.<br />**Example:** `language`
          example: language
        caseExtractionPeriod:
          $ref: '#/components/schemas/CaseExtractionPeriodModel'
      description: The configuration for the Case Classification preview.
    CaseExtractionPeriodModel:
      type: object
      properties:
        exportPeriod:
          type: string
          description: The period during which the cases must be taken into account by the model when rebuilding. The `exportPeriod` uses the moment when the model was last generated as a base. Must be in the ISO8601 period format, with only one non-null time unit (i.e., PyY, PmM or PdD).<br />**Example:** `P6M`
          example: P6M
        startTime:
          type: integer
          description: The beginning of the period during which the cases must be taken into account by the model. Is incompatible with `exportPeriod` and requires an `endTime`.<br />**Example:** `1098908390000`
          format: int64
          example: 1098908390000
        endTime:
          type: integer
          description: The end of the period during which the cases must be taken into account by the model. Is incompatible with `exportPeriod` and requires a `startTime`.<br />**Example:** `1098908390000`
          format: int64
          example: 1098908390000
        dateField:
          type: string
          description: The field that identifies the support cases' creation date.<br />**Example:** `sfdate`
          example: sfdate
      description: The period during which the cases will be extracted.
    CaseClassificationDocumentCountResponse:
      type: object
      properties:
        documentCount:
          type: integer
          description: Number of items
          format: int64
    CaseFilterConditionModel:
      required:
      - field
      - operator
      - value
      type: object
      properties:
        field:
          type: string
          description: The field to use for the filter.<br />**Example:** `author`
          example: author
        operator:
          type: string
          description: The operator to use for the condition.<br />**Example:** `EQUALS`
          example: EQUALS
          enum:
          - EQUALS
          - NOT_EQUALS
          - EQUALS, NOT_EQUALS
        value:
          type: string
          description: The value to use for the filter.<br />**Example:** `John Smith`
          example: John Smith
      description: A custom case filter condition.
    CaseClassificationValueCountResponse:
      type: object
      properties:
        valueCount:
          type: integer
          description: Number of different field values
          format: int32
        areMoreValuesAvailable:
          type: boolean
          description: Indicates more field values available
    ContentFieldsResponse:
      type: object
      properties:
        query:
          type: string
          description: The query used to retrieve item information.
          example: '@language="English" AND @documenttype=="SupportArticle"'
        fields:
          type: array
          description: The list of non-empty fields for at least one item.
          items:
            $ref: '#/components/schemas/FieldCandidateModel'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
