openapi: 3.2.0
info:
  title: Coveo Search Search V2 API
  description: Documentation for Coveo Search API
  termsOfService: http://www.coveo.com/en/support/terms-agreements
  contact:
    name: support@coveo.com
  license:
    name: ''
  version: 1.0.0
  x-ApiVersion: V3
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
tags:
- name: Search V2
  x-displayName: Search
paths:
  /rest/search/v2:
    get:
      tags:
      - Search V2
      summary: Send Search Request
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: searchUsingGet
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Send Search Request
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: searchUsingPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/RestQueryResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/plan:
    get:
      tags:
      - Search V2
      summary: Plan Search Execution
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: planSearchUsingGet
      parameters:
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSearchResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Plan Search Execution
      description: 'See [Performing a Query](https://docs.coveo.com/en/1445/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: planSearchUsingPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/querySuggest:
    get:
      tags:
      - Search V2
      summary: Request Query Suggestions
      description: 'See [Getting Query Suggestions](https://docs.coveo.com/en/1459/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: querySuggestGet
      parameters:
      - name: q
        in: query
        description: 'The *basic query* expression, typically the keywords entered by the end user in a query box.

          '
        example: Coveo "Cloud V2" platform
        schema:
          type: string
      - name: autoCompleter
        in: query
        description: This parameter is exposed for backward compatibility reasons.
        schema:
          type: string
        deprecated: true
      - name: additionalData
        in: query
        deprecated: true
        description: This parameter is exposed for backward compatibility reasons.
        content:
          application/json:
            schema:
              type: object
      - name: count
        in: query
        description: 'The desired number of query suggestions.

          '
        schema:
          type: integer
          format: int32
      - name: enableWordCompletion
        in: query
        description: 'Whether to attempt to complete the last word of the current basic query expression (see the `q` parameter) and boost the ranking score of the resulting expression so that it is returned as the first query suggestion.

          '
        schema:
          type: boolean
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySuggestResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Request Query Suggestions
      description: 'See [Getting Query Suggestions](https://docs.coveo.com/en/1459/).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: querySuggestPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQuerySuggestParameters'
      responses:
        '200':
          description: The suggested completions for the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySuggestResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/facet:
    post:
      tags:
      - Search V2
      summary: Send Facet Search Request
      description: 'Executes a facet search request.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: facetSearch
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestFacetSearchParameters'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestFacetSearchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/fields:
    get:
      tags:
      - Search V2
      summary: List All Fields
      description: 'Gets all fields in the target Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: fields
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The list of fields available for this organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldsResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/values:
    get:
      tags:
      - Search V2
      summary: Get Values for One Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesGet
      parameters:
      - name: field
        in: query
        description: 'The name of the field from which to retrieve values.

          '
        required: true
        schema:
          type: string
      - name: lookupField
        in: query
        description: 'This parameter is exposed for backward compatibility reasons.


          The name of an additional field from which to retrieve values.'
        schema:
          type: string
        deprecated: true
      - name: ignoreAccents
        in: query
        description: 'Whether to treat accentuated characters as non-accentuated characters when retrieving field values (e.g., treat `é`, `è`, `ê`, etc., as `e`).


          **Default:** `true`

          '
        schema:
          type: boolean
      - name: sortCriteria
        in: query
        description: 'The sort criteria to use.


          Use:

          - `occurrences` to sort by number of occurrences, with field values having the highest number of occurrences appearing first.

          - `nosort` to avoid sorting the results of the Group By operation. The field values will appear in an unspecified order.


          **Default:** `occurrences`

          '
        schema:
          type: string
      - name: maximumNumberOfValues
        in: query
        description: 'The maximum number of field values to return.


          **Default:** `10`

          '
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: queryOverride
        in: query
        description: 'A different basic query expression (q) use.

          '
        schema:
          type: string
      - name: constantQueryOverride
        in: query
        description: 'A different constant query expression (cq) to use.

          '
        schema:
          type: string
      - name: disjunctionQueryOverride
        in: query
        description: 'A different disjunction query expression (dq) to use.

          '
        schema:
          type: string
      - name: pattern
        in: query
        description: 'The pattern that the field values must match.


          See also the `patternType` parameter."

          '
        schema:
          type: string
      - name: patternType
        in: query
        description: 'The type of pattern that is being used to list field values.


          Use:

          - `wildcard` to parse the specified `pattern` as a wildcard expression.

          - `regularexpression` to parse the specified `pattern` as a regular expression.

          - `editdistance` to apply the Edit Distance algorithm to match values that are close to the specified `pattern`.

          - `phonetic` to apply a phonetic algorithm to match values that are phonetically similar to the specified `pattern`.


          **Default:** `wildcard`

          '
        schema:
          type: string
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Get Values for One Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/values/batch:
    get:
      tags:
      - Search V2
      summary: Get Values for Several Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesBatchGet
      parameters:
      - name: batch
        in: query
        description: 'An array of parameters to retrieve field values.

          '
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RestListFieldValuesBatchParameter'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesBatchResponse'
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Get Values for Several Field
      description: 'Lists all values of the target field.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: valuesBatchPost
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestListFieldValuesBatchParameter'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFieldValuesBatchResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/html:
    get:
      tags:
      - Search V2
      summary: Get HTML Item Preview
      operationId: htmlGet
      parameters:
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - name: findNext
        in: query
        schema:
          type: integer
          format: int32
      - name: findPrevious
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: enableNavigation
        in: query
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. **Default:** `0`, meaning that the entire HTML document is requested.
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/Q'
      - $ref: '#/components/parameters/AQ'
      - $ref: '#/components/parameters/CQ'
      - $ref: '#/components/parameters/DQ'
      - $ref: '#/components/parameters/LQ'
      - $ref: '#/components/parameters/EnableDidYouMean'
      - $ref: '#/components/parameters/MlDidYouMeanMaxCandidates'
      - $ref: '#/components/parameters/MlDidYouMeanMinScore'
      - $ref: '#/components/parameters/MlDidYouMeanUseFacetCount'
      - $ref: '#/components/parameters/EnableMlDidYouMean'
      - $ref: '#/components/parameters/PartialMatch'
      - $ref: '#/components/parameters/PartialMatchKeywords'
      - $ref: '#/components/parameters/PartialMatchThreshold'
      - $ref: '#/components/parameters/LqPartialMatchMaxKeywords'
      - $ref: '#/components/parameters/LqPartialMatchKeywords'
      - $ref: '#/components/parameters/LqPartialMatchThreshold'
      - $ref: '#/components/parameters/Wildcards'
      - $ref: '#/components/parameters/QuestionMark'
      - $ref: '#/components/parameters/EnableQuerySyntax'
      - $ref: '#/components/parameters/LowerCaseOperators'
      - $ref: '#/components/parameters/ExcerptLength'
      - $ref: '#/components/parameters/RetrieveFirstSentences'
      - $ref: '#/components/parameters/FieldsToInclude'
      - $ref: '#/components/parameters/FieldsToExclude'
      - $ref: '#/components/parameters/GroupBy'
      - $ref: '#/components/parameters/Facets'
      - $ref: '#/components/parameters/FacetOptions'
      - $ref: '#/components/parameters/CategoryFacets'
      - $ref: '#/components/parameters/SortCriteria'
      - $ref: '#/components/parameters/RankingFunctions'
      - $ref: '#/components/parameters/QueryFunctions'
      - $ref: '#/components/parameters/FirstResult'
      - $ref: '#/components/parameters/NumberOfResults'
      - $ref: '#/components/parameters/EnableDuplicateFiltering'
      - $ref: '#/components/parameters/FilterField'
      - $ref: '#/components/parameters/ParentField'
      - $ref: '#/components/parameters/ChildField'
      - $ref: '#/components/parameters/FilterFieldRange'
      - $ref: '#/components/parameters/SummaryLength'
      - $ref: '#/components/parameters/SortField'
      - $ref: '#/components/parameters/DisableQuerySyntax'
      - $ref: '#/components/parameters/StaticQuery'
      - $ref: '#/components/parameters/UserActionParameter'
      - $ref: '#/components/parameters/CommerceParameters'
      - $ref: '#/components/parameters/DictionaryFieldContext'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/MaximumAge'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/ActionsHistory'
      - $ref: '#/components/parameters/Recommendation'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/Debug'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/VisitorId'
      - $ref: '#/components/parameters/IsGuestUser'
      - $ref: '#/components/parameters/Language'
      - $ref: '#/components/parameters/MlParameters'
      - $ref: '#/components/parameters/IndexType'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/MaximumTimeoutMs'
      - $ref: '#/components/parameters/AnalyticsRequestParameters'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      responses:
        '200':
          description: No response
          content: {}
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
    post:
      tags:
      - Search V2
      summary: Get HTML Item Preview
      operationId: htmlPost
      parameters:
      - name: uniqueId
        in: query
        description: The unique ID of the document.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: findNext
        in: query
        schema:
          type: integer
          format: int32
      - name: findPrevious
        in: query
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: enableNavigation
        in: query
        schema:
          type: boolean
      - name: requestedOutputSize
        in: query
        description: The approximate number of bytes to request in the HTML response. **Default:** `0`, meaning that the entire HTML document is requested.
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestQueryParameters'
        required: true
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/text:
    get:
      tags:
      - Search V2
      summary: Get Item in Text Format
      operationId: text
      parameters:
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/datastream:
    get:
      tags:
      - Search V2
      summary: Get Item Data Stream
      operationId: dataStream
      parameters:
      - name: dataStream
        in: query
        description: The name of the data stream to request.
        required: true
        schema:
          type: string
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - name: contentType
        in: query
        description: 'The MIME type of the data stream to request.


          **Default:** `application/binary`'
        schema:
          type: string
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: No response
          content: {}
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/document:
    get:
      tags:
      - Search V2
      summary: Get Item in JSON Format
      operationId: document
      parameters:
      - name: primaryId
        in: query
        description: The primaryId of the document. Exactly one of uniqueId or primaryId is required.
        schema:
          type: string
      - name: uniqueId
        in: query
        description: 'The uniqueId of the document. Exactly one of uniqueId or primaryId is required.


          **Deprecated:** Use `primaryId` instead.'
        deprecated: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - $ref: '#/components/parameters/Pipeline'
      - $ref: '#/components/parameters/SearchHub'
      - $ref: '#/components/parameters/ViewAllContentQuery'
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Timezone'
      - $ref: '#/components/parameters/IndexToken'
      - $ref: '#/components/parameters/Index'
      - $ref: '#/components/parameters/LogicalIndex'
      - $ref: '#/components/parameters/Tab'
      - $ref: '#/components/parameters/Referrer'
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: The document matching this uniqueId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestQueryResult'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/token:
    post:
      tags:
      - Search V2
      summary: Create Search Token
      description: 'Creates a temporary [JSON web token](https://jwt.io/) which can be used to impersonate one or several security identities when authenticating a query (see [Search Token Authentication](https://docs.coveo.com/en/56/)).

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"IMPERSONATE_SEARCH_API","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: token
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The search token information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestTokenParams'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestTokenResponse'
      security:
      - oauth2:
        - full
  /rest/search/v2/login/{provider}:
    get:
      tags:
      - Search V2
      summary: Log in to Authentication Provider
      description: 'Directs the browser to URI of the target Search API authentication provider, and back to the origin search page once the authentication process is complete. This authentication provider must be properly configured in the Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json


        ```

        </details>'
      operationId: login
      parameters:
      - name: provider
        in: path
        description: The name of the Search API authentication provider to log in to.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
    post:
      tags:
      - Search V2
      summary: Log in to Authentication Provider
      description: 'Directs the browser to URI of the target Search API authentication provider, and back to the origin search page once the authentication process is complete. This authentication provider must be properly configured in the Coveo Cloud organization.

        <details>

        <summary>Privilege(s) required</summary>


        ```json


        ```

        </details>'
      operationId: loginProviderPost
      parameters:
      - name: provider
        in: path
        description: The name of the Search API authentication provider to log in to.
        example: My SharePoint Server
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
  /rest/search/v2/extensions:
    get:
      tags:
      - Search V2
      summary: List Available Query Extensions
      operationId: extensions
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      responses:
        '200':
          description: No response
          content: {}
      security:
      - oauth2:
        - full
      description: '<details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
  /rest/search/v2/rating:
    post:
      tags:
      - Search V2
      summary: Update User Rating
      description: 'The Coveo Cloud V2 platform does not support collaborative rating. Therefore, this operation is obsolete in Coveo Cloud V2.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: rating
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      - name: rating
        in: query
        description: The rate to be updated.
        required: true
        schema:
          type: string
      - name: uniqueId
        in: query
        description: The unique ID of the document.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No response
          content: {}
      deprecated: true
      security:
      - oauth2:
        - full
  /rest/search/v2/fields/find:
    post:
      tags:
      - Search V2
      summary: Find Fields from Results of a Query Expression
      description: 'Find fields name from results matching the `q` expression.

        <details>

        <summary>Privilege(s) required</summary>


        ```json

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","type":"ENABLE","targetId":"*"},

        {"level":"NORMAL","owner":"SEARCH_API","targetDomain":"VIEW_ALL_CONTENT","type":"ENABLE","targetId":"*"}

        ```

        </details>'
      operationId: findFieldsFromExpression
      parameters:
      - $ref: '#/components/parameters/OrganizationIdQuery'
      requestBody:
        description: The query to get the fields from.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindFieldsRequest'
      responses:
        '200':
          description: The list of fields referenced by the requested expression.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FindFieldsResponse'
      security:
      - oauth2:
        - full
components:
  schemas:
    FindFieldsRequest:
      type: object
      properties:
        q:
          type: string
          default: ''
          description: 'The *basic query* expression, typically the keywords entered by the end user in a query box.

            '
          example: Coveo "Cloud V2" platform
        dictionaryFieldContext:
          type: object
          additionalProperties:
            type: string
          description: 'A key-value store where each pair corresponds to the name of a dictionary field to query, along with the key to target within that field.


            **Example:** Suppose that in your index, the `@price` dictionary field contains different values for its `storeA` and `storeB` keys. Including `"dictionaryFieldContext": { "price": "storeA" }` in the query means that any part of the query expression that targets the `@price` field will in fact only query the `storeA` values of that field.'
          example:
            price: storeA
    FindFieldsResponse:
      type: object
      required:
      - fields
      properties:
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
            required:
            - name
            example:
              name: '@author'
    RestFacetValueNumericalRangeBase:
      type: object
      required:
      - start
      - end
      properties:
        start:
          anyOf:
          - type: integer
            format: int64
            example: 0
            description: The value to start the range at.
          - type: number
            format: double
            example: 0
            description: The value to start the range at.
        end:
          anyOf:
          - type: integer
            format: int64
            example: 100
            description: The value to end the range at. Must be greater (or later) than the `start` value.
          - type: number
            format: double
            example: 100
            description: The value to end the range at. Must be greater (or later) than the `start` value.
    RestListFieldValuesBatchParameterBase:
      required:
      - batch
      properties:
        batch:
          type: array
          description: 'An array of parameters to retrieve field values.

            '
          items:
            $ref: '#/components/schemas/RestListFieldValuesParameter'
    CommerceParameters:
      type: object
      properties:
        catalogId:
          type: string
        filter:
          type: string
        operation:
          type: string
    RestQueryCorrection:
      required:
      - correctedQuery
      - wordCorrections
      type: object
      properties:
        correctedQuery:
          type: string
          description: The resulting query expression correction suggestion.
          example: Coveo Cloud V2 platform
        wordCorrections:
          type: array
          description: The word correction suggestions.
          items:
            $ref: '#/components/schemas/RestWordCorrection'
    RestFacetRequestSpecificSortCriteriaExplicitAlphanumeric:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - alphanumeric
          description: 'Sort values in alphanumeric order.

            '
        order:
          type: string
          enum:
          - ascending
          - descending
          default: ascending
          description: '**Default:** ascending

            '
    Debug:
      type:
      - boolean
      - 'null'
      description: 'Whether to force a successful response to include debug information.


        **Notes:**


        - Debug information can only appear in responses in the JSON format (see the `format` parameter).

        - Avoid setting this parameter to `true` in production, as it has a negative impact on query performance.


        **Default:** `false`

        '
      example: false
      default: false
    RestFieldAliases:
      type: object
      maxProperties: 1000
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 510
        pattern: ^[a-z][a-z0-9_]+\.[a-zA-Z0-9_]+$
      description: 'A key-value store where each pair corresponds to the name of an alias, along with the key to target within which dictionary field to query.


        **Note:** This cannot be used at the same time as `dictionaryFieldContext`.

        **Note:** Using this parameter requires either:

        - `allowedDictionaryFieldKeys` in the authentication token.

        - The `EXPLORE_DICTIONARY_FIELDS` privilege on the authenticated user.


        **Example:** The same behaviour as `dictionaryFieldContext` can be implemented using this parameter. Suppose that in your index, the `@price` dictionary field contains different values for its `storea` and `storeb` keys. Including `"fieldAliases": { "price": "price.storea" }` in the query means that any part of the query expression that targets the `@price` field will in fact only query the `storea` values of that field. This is similar to using `"dictionaryFieldContext": { "price": "storea" }`.

        **Example:** Suppose that in your index, the `@price` dictionary field contains different values for its `storea` and `storeb` keys. Including `"fieldAliases": { "price_a": "price.storea", "price_b": "price.storeb" }` in the query means that any part of the query expression that targets the `@price_a` field will in fact only query the `storea` values of that field, and similarly for `@price_b` and `storeb`.'
      example:
        price_a: price.storeA
        price_b: price.storeB
    RestFacetResultDomain:
      description: 'The domain of the facet. It represents the lowest and highest values possible for this facet.


        **Note:** This property is only populated when the facet is a range facet and `generateAutomaticRanges: true` was requested.

        '
      type: object
      properties:
        start:
          description: The start of the domain. It represents the lowest value possible for this facet.
          anyOf:
          - type: string
            example: '2001-07-20T23:01:05'
          - type: integer
            format: int64
          - type: number
        end:
          description: The end of the domain. It represents the highest value possible for this facet.
          anyOf:
          - type: string
            example: '2001-07-20T23:01:05'
          - type: integer
            format: int64
          - type: number
    RestFacetResult:
      required:
      - field
      - indexScore
      - moreValuesAvailable
      - values
      type: object
      properties:
        field:
          type: string
          description: 'The name of the field on which the facet is based.


            **Example: `author`'
          example: author
        moreValuesAvailable:
          type: boolean
          description: Whether additional values are available for the facet.
        values:
          type: array
          description: The returned facet values.
          items:
            oneOf:
            - $ref: '#/components/schemas/RestFacetResultValue'
            - $ref: '#/components/schemas/RestHierarchicalFacetResponseValue'
        mlScore:
          type: number
          description: The ranking score computed by Coveo ML DNE for this facet.
          format: double
        indexScore:
          type: number
          description: The ranking score computed by the index for this facet.
          format: double
        isFromAutoSelect:
          type: boolean
          description: Whether the facet was recommended by Coveo ML.
        label:
          type: string
          description: A human-readable title that describes the facet.
        domain:
          $ref: '#/components/schemas/RestFacetResultDomain'
    DQ:
      type: string
      description: The disjunction query expression, typically populated by Coveo ML Automatic Relevance Tuning (ART) models to ensure that relevant items are included in the query results. The disjunction query expression is merged with the other parts of the query expression using an `OR` operator. The resulting query expression is `(((q aq) OR (dq)) cq)`.
      example: '@permanentid=aadd702687c62910d6da8347304ec2cedfd0b06d5b4d2794a555ce5688bd'
    RestQuerySuggestParameters:
      allOf:
      - $ref: '#/components/schemas/RestQuerySuggestParametersBase'
      - $ref: '#/components/schemas/RestCommonQueryParameters'
    RestGroupByValue:
      required:
      - computedFieldResults
      - lookupValue
      - numberOfResults
      - score
      - value
      - valueType
      type: object
      properties:
        value:
          type: string
          description: The Group By value name.
          example: Bob Jones
        numberOfResults:
          type: integer
          description: The number of query result items having this field value.
          format: int32
          example: 42
        score:
          type: integer
          description: The Group By value score, computed from the `numberOfResults` value as well as from the position of the items having this value in the ranked query result set.
          format: int32
          example: 0
        valueType:
          type: string
          description: The type of Group By value.
          example: Standard
        computedFieldResults:
          type: array
          description: The results of the computed fields (see the `computedFields` Group By parameter).
          example:
          - 243.72
          items:
            type: number
            format: float
        lookupValue:
          type: string
          description: '> This property is deprecated; it should normally not be populated if the query was sent against a Coveo Cloud V2 index.


            The lookup field value name.'
          deprecated: true
        Value:
          type: string
          description: '> This property is deprecated; it should not be populated by Search API V2 searches.'
          deprecated: true
        NumberOfResults:
          type: integer
          description: '> This property is deprecated; it should not be populated by Search API V2 searches.'
          format: int32
          deprecated: true
        Score:
          type: integer
          description: '> This property is deprecated; it should not be populated by Search API V2 searches.'
          format: int32
          deprecated: true
        ComputedFieldResults:
          type: array
          description: '> This property is deprecated; it should not be populated by Search API V2 searches.'
          deprecated: true
          items:
            type: number
            format: double
        LookupValue:
          type: string
          description: '> This property is deprecated; it should not be populated by Search API V2 searches.'
          deprecated: true
    RestFacetRequestSpecificBaseAllowedValues:
      oneOf:
      - $ref: '#/components/schemas/RestFacetRequestSpecificBaseAllowedValuesSimple'
      discriminator:
        propertyName: type
        mapping:
          simple: '#/components/schemas/RestFacetRequestSpecificBaseAllowedValuesSimple'
    RestFacetRequestNumericalRange:
      allOf:
      - $ref: '#/components/schemas/RestFacetRequestBase'
      - $ref: '#/components/schemas/RestFacetRequestRangeBase'
      - $ref: '#/components/schemas/RestFacetRequestNumericalRangeBase'
    Locale:
      type:
      - string
      - 'null'
      description: 'The locale of the current user. Must comply with IETF''s [BCP 47](http://www.rfc-editor.org/rfc/bcp/bcp47.txt) definition.


        Coveo Machine Learning models use this information to provide contextually relevant output. Moreover, this information can be referred to in query expressions and QPL statements by using the `$locale` object.


        **Note:** When logging a **Search** usage analytics event, the `language` field of that event should match the language part of the `locale` value of the query (e.g., `en-US` in `locale` becomes `en` in `language`).

        '
      example: en-US
    RestQuestionAnswer:
      type: object
      required:
      - answerFound
      - question
      - answerSnippet
      - documentId
      - relatedQuestions
      - score
      properties:
        answerFound:
          type: boolean
        question:
          type: string
        answerSnippet:
          type: string
        documentId:
          $ref: '#/components/schemas/RestContentId'
        score:
          type: number
        relatedQuestions:
          type: array
          items:
            type: object
            required:
            - question
            - answerSnippet
            - documentId
            - score
            properties:
              question:
                type: string
              answerSnippet:
                type: string
              documentId:
                $ref: '#/components/schemas/RestContentId'
              score:
                type: number
        raw:
          type: object
          additionalProperties: true
    SearchHub:
      type:
      - string
      - 'null'
      description: 'The first level of origin of the request, typically the identifier of the graphical search interface from which the request originates.


        Coveo Machine Learning models use this information to provide contextually relevant output.


        **Notes:**


        - This parameter will be overridden if the search request is authenticated by a [search token](https://docs.coveo.com/en/56/) that enforces a specific [`pipeline`](https://docs.coveo.com/en/56/#pipeline-string-optional), or a [`searchHub`](https://docs.coveo.com/en/56/#searchhub-string-optional) that routes queries to a specific `pipeline` via a query pipeline condition.

        - When logging a **Search** usage analytics event for a query, the `originLevel1` field of that event should be set to the value of the `searchHub` search request parameter.


        See also the `tab` parameter.

        '
      example: CustomerPortal
    RestFacetResultValue:
      required:
      - numberOfResults
      - state
      type: object
      additionalProperties: false
      properties:
        value:
          type: string
          description: 'The facet value name.


            **Note:** In the case of a hierarchical facet value, this represents a single path segment.'
          example: Alice Smith
        state:
          type: string
          description: 'The current facet value state in the search interface.


            **Default:** `idle`'
          enum:
          - idle
          - selected
          - excluded
        numberOfResults:
          type: integer
          description: 'The number of query results that can be expected if the facet value is selected in the search interface.


            **Note:** This property only gets populated when the facet currently has no selected or excluded values.'
          format: int64
        start:
          description: The start of the range.
          anyOf:
          - type: string
            example: '2001-07-20T23:01:05'
          - type: integer
            format: int64
          - type: number
        end:
          description: The end of the range.
          anyOf:
          - type: string
            example: '2001-07-20T23:01:05'
          - type: integer
            format: int64
          - type: number
        endInclusive:
          type: boolean
          description: 'Whether to include the `end` value in the range.


            **Default:** `false`'
          example: true
          default: false
        isSuggested:
          type: boolean
        isAutoSelected:
          type: boolean
          description: Whether the facet value was automatically selected by Coveo ML.
    RestFacetRequestSpecificBaseAllowedValuesSimple:
      type: object
      description: 'The field values allowed in the facet operation results.


        If you do not explicitly specify an array of `allowedValues`, or if you specify an empty array, all field values are allowed.'
      required:
      - type
      - values
      properties:
        type:
          type: string
          enum:
          - simple
        values:
          type: array
          minItems: 1
          maxItems: 25
          pattern: .*[^*]$
          items:
            type: string
          description: 'Simple values that must not end with a trailing wildcard.

            '
          example:
          - Anonymous
          - Bob Jones
    RestFacetSearchParametersHierarchical:
      required:
      - field
      type: object
      properties:
        field:
          type: string
          description: The name of the field against which to execute the facet search request.
          example: color
        type:
          type: string
          description: 'The kind of facet against which the search request is being made.


            **Allowed values:**

            - `specific`

            - `hierarchical`


            **Default:** `specific`'
          enum:
          - specific
          - hierarchical
        numberOfValues:
          type: integer
          description: "The maximum number of values to fetch.\n\n**Note:**\n  - `numberOfValues` is not taken into account when no elements in the `currentValues` array have `retrieveChildren` set to `true`. This is considered an exact facet retrieval and only returns values in `currentValues`.\n**Default: `10`"
          format: int32
          default: 10
        query:
          type: string
          description: 'The string to match.


            **Note:** Typically, this should be set to the text entered by the end-user in the facet search box, to which one or more wildcard characters (`*`) may be added.'
          example: '*oran*'
        captions:
          type: object
          additionalProperties:
            type: string
          description: "A dictionary that maps index field values to facet value display names.\n\n**Note:**\n\nWhen specifying display captions for hierarchical facet values, you can use full values (e.g., `all;electronics;laptops`), and/or for \\\"leaf\\\" values (e.g., `laptops`) as keys.\nIf both are provided, the full value takes priority.\n\n**Examples:**\n\n  - Specific (i.e., scalar) facet values: `{\\\"#FF8000\\\": \\\"Orange\\\", \\\"#8000FF\\\": \\\"Purple\\\"}`\n  - Hierarchical facet values:** `{\\\"all;electronics;laptops\\\": \\\"Laptops\\\", \\\"smartphones\\\": \\\"Smart Phones\\\"} \""
          example:
            acme_productA: ACME Product A
            acme_productB: ACME Product B
        filterFacetCount:
          type: boolean
          description: 'Whether to exclude folded result parents when estimating the result count for each facet value.


            **Note:** The target folding field must be a facet field with the **Use cache for nested queries** options enabled (see [Manage fields](https://docs.coveo.com/en/1833/)).


            **Default:** `false`'
          example:
          - - Electronics
            - Entertainment
            - Gaming Consoles
          - - Appliances
            - Kitchen
          items:
            type: array
            items:
              type: string
        sortCriteria:
          type: string
          enum:
          - score
          - alphanumeric
          - alphanumericNatural
          - occurrences
          default: alphanumeric
          description: 'The sort criterion to apply to the returned facet values.


            **Allowed values**:


            - `alphanumeric`: Sort values in ascending alphanumeric order.

            - `alphanumericNatural`: Sort values in ascending alphanumeric order using [natural sorting](https://en.wikipedia.org/wiki/Natural_sort_order).

            - `occurrences`: Sort by number of occurrences, so that field values with the highest number of occurrences appear first.

            - `score`: Sort values in descending score order. Facet value scores are based on the number of occurrences and their position in the ranked query result set.

            '
        ignorePaths:
          type: array
          items:
            type: array
            items:
              type: string
          description: A list of paths to filter out from the hierarchical facet search results.
        delimitingCharacter:
          type: string
          description: 'The character to use to split field values into a hierarchical sequence.


            **Example**:


            For a multi-value field containing the following values:


            `c; c>folder2; c>folder2>folder3;`


            The delimiting character is `>`.


            For a hierarchical field containing the following values:

            `c;folder2;folder3;`


            The delimiting character is `;`.


            **Default:** `;`'
        basePath:
          type: array
          description: 'The shared base path for all values in the facet to search against.


            If a `basePath` is specified, the search request will be executed against hierarchical values that begin with that base path only (i.e., other hierarchical values will be filtered out).'
          example:
          - Doors
          - Metal
          items:
            type: string
        searchContext:
          $ref: '#/components/schemas/RestQueryParameters'
    RestFacetRequestSpecific:
      allOf:
      - $ref: '#/components/schemas/RestFacetRequestBase'
      - $ref: '#/components/schemas/RestFacetRequestSpecificBase'
    Pipeline:
      type:
      - string
      - 'null'
      description: 'The name of the query pipeline to use for this request (bypassing its conditions, if it has any).


        You can pass an empty `pipeline` value to use an empty query pipeline (i.e., `?pipeline=` or `"pipeline": ""`).


        If a query does not contain the `pipeline` parameter, the first query pipeline whose conditions are met by the request is used (query pipelines without conditions are not evaluated). Should the request fail to meet the conditions of each evaluated query pipeline, the default query pipeline of the target Coveo Cloud organization is used (bypassing its conditions, if it has any).


        **Notes:**


        - This parameter will be overridden if the search request is authenticated by a [search token](https://docs.coveo.com/en/56/) that enforces a specific [`pipeline`](https://docs.coveo.com/en/56/#pipeline-string-optional), or a [`searchHub`](https://docs.coveo.com/en/56/#searchhub-string-optional) that routes queries to a specific `pipeline` via a query pipeline condition.

        - For reporting purposes, when logging a **Search** usage analytics event for a query, the `queryPipeline` field of that event should be set to the final `pipeline` value used in the query execution. This value is determined from the query response. If no pipeline was specified, it uses the `"default"` value.


        See also [Managing Query Pipelines](https://docs.coveo.com/en/1450/).

        '
      example: CustomerQueryPipeline
    RestFacetRequestNumericalRangeBase:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Request facet values that represent ranges of numbers (e.g., 0..10, 11..20, etc.).
          enum:
          - numericalRange
        currentValues:
          type: array
          items:
            $ref: '#/components/schemas/RestFacetValueNumericalRange'
          default: []
          description: The values displayed by the facet in the search interface at the moment of the request.
        rangeAlgorithm:
          type: string
          enum:
          - equiprobable
          - even
          default: even
          description: 'Determines which algorithm is used to generate the ranges if `generateAutomaticRanges` is enabled.


            **Equiprobable**


            This algorithm creates ranges which represent the distribution of the results. For example,

            if you have a single facet value that matches most of the results, the `equiprobable` algorithm will resize the ranges to balance the weights.


            | Start | End  | Matching results |

            |-------|------|------------------|

            | 0     | 62   | 100              |

            | 62    | 423  | 100              |

            | 423   | 1500 | 100              |


            **Even**


            This algorithm creates ranges of the same length. For example, it could generate the following price ranges:


            | Start | End  | Matching results |

            |-------|------|------------------|

            | 0     | 500  | 299              |

            | 500   | 1000 | 0                |

            | 1000  | 1500 | 1                |'
    RestFacetValueBase:
      type: object
      properties:
        state:
          type: string
          enum:
          - idle
          - selected
          - excluded
          default: idle
          description: The current facet value state in the search interface.
        previousState:
          type: string
          enum:
          - idle
          - selected
          - excluded
          description: 'The previous facet value state in the search interface.


            **Default:** The value provided in the `state` property.'
        preventAutoSelect:
          type: boolean
          default: false
          description: Whether to prevent Coveo ML from automatically selecting the facet value.
    RestListFieldValuesBatchParameter:
      allOf:
      - $ref: '#/components/schemas/RestListFieldValuesBatchParameterBase'
      - $ref: '#/components/schemas/RestCommonQueryParameters'
    RestComputedField:
      required:
      - field
      - operation
      type: object
      properties:
        field:
          type: string
          description: 'The name of the numeric field on which to perform the aggregate operation.


            **Tip:** You should ensure that the **Use cache for computed fields** option is enabled for that field in your index in order to speed up evaluation (see [Manage fields](https://docs.coveo.com/en/1833/)).'
          example: '@wordcount'
        operation:
          type: string
          description: 'The aggregate operation to perform on the `field` values.


            **Allowed values:**


            - `sum`: get the sum of all values.

            - `average`: get the average of all values.

            - `minimum`: get the smallest value.

            - `maximum`: get the largest value.'
          example: average
          enum:
          - sum
          - average
          - minimum
          - maximum
    RestListFieldValuesParameterBase:
      required:
      - field
      properties:
        field:
          type: string
          description: 'The name of the field from which to retrieve values.

            '
          example: '@author'
        lookupField:
          type: string
          description: 'This parameter is exposed for backward compatibility reasons.


            The name of an additional field from which to retrieve values.'
          deprecated: true
        ignoreAccents:
          type: boolean
          description: 'Whether to treat accentuated characters as non-accentuated characters when retrieving field values (e.g., treat `é`, `è`, `ê`, etc., as `e`).


            **Default:** `true`

            '
        sortCriteria:
          type:
          - string
          - 'null'
          description: 'The sort criteria to use.


            Use:

            - `occurrences` to sort by number of occurrences, with field values having the highest number of occurrences appearing first.

            - `nosort` to avoid sorting the results of the Group By operation. The field values will appear in an unspecified order.


            **Default:** `occurrences`

            '
        maximumNumberOfValues:
          type: integer
          description: 'The maximum number of field values to return.


            **Default:** `10`

            '
          format: int32
          minimum: 0
        queryOverride:
          type: string
          description: 'A different basic query expression (q) use.

            '
        constantQueryOverride:
          type: string
          description: 'A different constant query expression (cq) to use.

            '
        disjunctionQueryOverride:
          type: string
          description: 'A different disjunction query expression (dq) to use.

            '
        pattern:
          type: string
          description: 'The pattern that the field values must match.


            See also the `patternType` parameter."

            '
        patternType:
          type: string
          description: 'The type of pattern that is being used to list field values.


            Use:

            - `wildcard` to parse the specified `pattern` as a wildcard expression.

            - `regularexpression` to parse the specified `pattern` as a regular expression.

            - `editdistance` to apply the Edit Distance algorithm to match values that are close to the specified `pattern`.

            - `phonetic` to apply a phonetic algorithm to match values that are phonetically similar to the specified `pattern`.


            **Default:** `wildcard`

            '
        fieldAliases:
          $ref: '#/components/schemas/RestFieldAliases'
        dictionaryFieldContext:
          type: object
          description: 'A key-value store where each pair corresponds to the name of a dictionary field to query, along with the key to target within that field.


            **Example:** Suppose that in your index, the `@price` dictionary field contains different values for its `storeA` and `storeB` keys. Including `"dictionaryFieldContext": { "price": "storeA" }` in the query means that any part of the query expression that targets the `@price` field will in fact only query the `storeA` values of that field.


            **Note:** This parameter will be overridden if the request is authenticated by a [search token](https://docs.coveo.com/en/56/) that enforces a specific [`dictionaryFieldContext`](https://docs.coveo.com/en/56/#dictionaryfieldcontext-object-optional).

            '
    AQ:
      type: string
      description: 'The advanced query expression, typically generated by code (e.g., when toggling facet values).


        **Note:** When logging a **Search** usage analytics event for a query, the `advancedQuery` field of that event should be set to the `aq` value of the corresponding query (for reporting purposes).'
      example: '@year==2017'
    CQ:
      type: string
      description: 'The constant query expression, typically populated with expressions that must apply to all queries sent from a specific search interface (e.g., from a specific tab). Once evaluated, the result sets of those expressions are kept in a special cache.


        **Tip:** Avoid including dynamic content in the constant query expression. Otherwise you risk filling up the cache with useless data, which can have a negative impact on performance.


        **Notes:**


        - Other parts of the query expression can also benefit from the index cache (see the `maximumAge` parameter). However, using the constant query expression allows you to explicitly cache specific result sets.

        - Temporal keywords (`now`, `today`, `yesterday`) in the constant query expression are only re-evaluated once per 3-4 minutes; therefore, you should avoid basing `cq` expressions on temporal keywords if you require split second accuracy.'
      example: '@documenttype==forumpost'
    RestFacetValueNumericalRange:
      allOf:
      - $ref: '#/components/schemas/RestFacetValueBase'
      - $ref: '#/components/schemas/RestFacetValueRangeBase'
      - $ref: '#/components/schemas/RestFacetValueNumericalRangeBase'
    RestQueryParameters:
      allOf:
      - $ref: '#/components/schemas/RestQueryParametersBase'
      - $ref: '#/components/schemas/RestCommonQueryParameters'
    Timezone:
      type:
      - string
      - 'null'
      description: 'The [tz database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) identifier of the time zone to use to correctly interpret dates in the query expression and result items.


        If not specified, the default time zone of the server hosting the index is used.


        **Note:** While no Coveo Machine Learning model uses this information, it can nevertheless affect the ranking scores (and thus, potentially the order) of result items, as ranking expressions may be based on time constants.

        '
      example: America/New_York
    RestQueryFunction:
      required:
      - fieldName
      - function
      type: object
      properties:
        function:
          type: string
          description: 'The mathematical expression whose output should be stored in a dynamic, temporary field.


            **Notes:**


            - The `function` expression can be defined using the [ExprTk](http://www.partow.net/programming/exprtk/index.html) library syntax, but control and loop structures (e.g., if-then-else, while loop, etc.) are **not** supported.

            - If the `function` expression references a numeric field, enable the **Use cache for computed fields** option on that field to speed up evaluation (see [Manage fields](https://docs.coveo.com/en/1833/)).'
          example: '@numberoflikes+1'
        fieldName:
          type: string
          description: 'The name of the dynamic, temporary field in which to store the query function expression output.


            **Note:** The `fieldName` value must not correspond to an existing field in the index.'
          example: numberoflikesplusone
        filter:
          type: string
          description: A query expression to specify which result items that the query function should apply to.
          example: '@filetype==forumpost'
        allowMissingFields:
          type: boolean
          default: false
          description: 'Whether a document should be considered by the query function when one or more referenced fields are missing.

            When set to `true`, the missing fields will be assigned a `NaN` value, and the query function should handle `NaN` values by replacing them with a default value.


            For example:


            ```

            var price1 := @price == @price ? @price : 0;

            var price2 := @price_store2 == @price_store2 ? @price_store2 : 0;

            price1 + price2

            ```


            > **Note**: To be considered by the query function, a document must have at least one defined field. Documents with all fields missing will be excluded.

            '
    RestFacetSearchResultValue:
      required:
      - count
      - displayValue
      - rawValue
      type: object
      properties:
        displayValue:
          type: string
          description: The custom facet value display name, as specified in the `captions` argument of the facet search request.
          example: Orange
        rawValue:
          type: string
          description: The original facet value, as retrieved from the field in the index.
          example: '#FF8000'
        count:
          type: integer
          description: An estimate number of result items matching both the current query and the filter expression that would get generated if the facet value were selected.
          format: int64
    RestAutomaticFacetScope:
      type: object
      description: 'To determine which fields are relevant for the current query, we consider all facet and multi-value facet fields that have the parameter "automaticFacetsCandidate": true.

        Among these fields, those matching the "fields.toExclude" attribute within the query/pipeline payload will be excluded and no longer be considered as relevant.

        However, excluded fields that do match the "fields.toInclude" attribute within the query/pipeline payload will still be considered relevant.'
      properties:
        toInclude:
          type: array
          items:
            type: string
        toExclude:
          type: array
          items:
            type: string
    RestFacetRequestSpecificBase:
      type: object
      properties:
        type:
          type: string
          enum:
          - specific
          description: Request facet values representing specific values (e.g., Alice Smith, Bob Jones, etc.).
        currentValues:
          type: array
          description: 'The values displayed by the facet in the search interface at the moment of the request.


            **Default:** `[]`'
          items:
            $ref: '#/components/schemas/RestFacetSpecificValue'
        numberOfValues:
          type: integer
          description: 'The maximum number of facet values to fetch.


            **Notes:**

            - If `freezeCurrentValues` is `true` or if requesting range facet values, `numberOfValues` is automatically set to the `currentValues` array length.'
          format: int32
          default: 8
        freezeCurrentValues:
          type: boolean
          description: 'Whether to include the facet request''s `currentValues` in corresponding facet response''s `values` array.


            **Notes:**

            - Setting this to `true` is useful to ensure that the facet does not move around while the end-user is interacting with it in the search interface.'
          default: false
        sortCriteria:
          $ref: '#/components/schemas/RestFacetRequestSpecificSortCriteria'
        customSort:
          type: array
          maxItems: 100
          description: 'When defined, identifies the facet values that must appear at the top, in this order.

            This parameter can be used in conjunction with the `sortCriteria` parameter. Facet values not

            part of the customSort list will be sorted according to the `sortCriteria`.


            For example, if you have a facet for bed sizes, you might have:


            - Simple

            - Twin

            - Queen

            - King

            '
          items:
            type: string
          example:
          - Simple
          - Twin
          - Queen
          - King
        allowedValues:
          $ref: '#/components/schemas/RestFacetRequestSpecificBaseAllowedValues'
    Format:
      type:
      - string
      - 'null'
      description: 'The format of a successful response.


        - Use `json` to get the response in the JSON format.

        - Use `xlsx` to generate an Excel file containing the results (binary).


        **Note:** Debug information (see the `debug` parameter) can only appear in a response in the JSON format.


        **Default:** `json`

        '
      example: json
      default: json
    RestRankingFunction:
      required:
      - expression
      type: object
      properties:
        expression:
          type: string
          description: 'A mathematical expression to evaluate for each query result. The result of this expression for a given query result generates a boost which is then added to the ranking score of that query result.


            **Note:** Query ranking function expressions support the [ExprTk](http://www.partow.net/programming/exprtk/index.html) library syntax. However, the following statements are disabled:


            - `if`/`else`

            - `switch`

            - `while`

            - `repeat until`


            The following time constants are also available in query ranking functions:


            - `NOW`: A value corresponding to the precise moment when the query reaches the index.

            - `YEAR`: A value corresponding to the duration of a year (i.e., 365.25 days).

            - `WEEK`: A value corresponding to the duration of a week.

            - `DAY`: A value corresponding to the duration of a day.


            **Tip:** If your query ranking function expression references certain numeric fields, you should ensure that the **Use cache for computed fields** option is enabled for each of those fields in order to speed up evaluation (see [Manage fields](https://docs.coveo.com/en/1833/)).'
          example: -sqrt(dist(@longitude, @latitude, 46.8167, -71.2167))
        normalizeWeight:
          type: boolean
          description: 'Whether to normalize the ranking score boosts resulting from the evaluation of this query ranking function using the standard index scale.


            Unless you want to completely override the index ranking and use the results of this query ranking function directly to boost the ranking scores of query results, you should set this to `true`.


            **Default:** `false`'
          example: true
          default: false
        modifier:
          type: integer
          description: 'The maximum boost this query ranking function can add to the ranking score of any given query result.


            This property only has a meaning if `normalizeWeight` is set to `true`.


            **Default:** `600`'
          format: int64
          example: 100
          default: 600
    RestTokenResponse:
      type: object
      properties:
        token:
          type: string
    ListFieldValuesValuesResponse:
      type: object
      properties:
        value:
          type: string
        lookupValue:
          type: string
        numberOfResults:
          type: integer
      required:
      - value
      - lookupValue
      - numberOfResults
    IndexToken:
      type:
      - string
      - 'null'
      description: 'The Base64 encoded identifier of the index mirror to forward the request to. See also the `index` parameter.


        If you do not specify an `indexToken` (or `index`) value, any index mirror could be used.


        **Note:** Passing an `indexToken` (or `index`) value has no effect when the results of a specific request can be returned from cache (see the `maximumAge` parameter).

        '
      example: ZXhhbXBsZWluZGV4bWlycm9yLS4uLg==
    Recommendation:
      type:
      - string
      - 'null'
      description: 'The identifier of the recommendation interface from which the request originates (see [`CoveoRecommendation`](https://coveo.github.io/search-ui/components/recommendation.html)).


        Coveo Machine Learning event recommendations models may use this information to provide contextually relevant output.

        '
      example: Recommendation
    ActionsHistory:
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/ActionHistory'
      description: 'The query and page view actions previously made by the current user.


        Coveo Machine Learning event recommendations models use this information to provide contextually relevant output.


        **Note:** Page view actions are typically populated by the [coveo.analytics.js](https://github.com/coveo/coveo.analytics.js) script.'
      example:
      - name: Query
        value: Machine learning powered search
        time: '2017-08-16T11:33:29.427Z'
      - name: PageView
        value: http://www.example.com/
        time: '2017-08-15T17:34:08.398Z'
    RestFacetValueHierarchicalBase:
      type: object
      required:
      - value
      properties:
        children:
          type: array
          items:
            $ref: '#/components/schemas/RestFacetValueHierarchical'
          description: 'The children of this hierarchical facet value.


            Each child is a full-fledged hierarchical facet value that may in turn have its own children and so forth, up to a maximum depth of 50 levels.'
        retrieveChildren:
          type: boolean
          default: false
          example: true
          description: Whether to retrieve the children of this hierarchical facet value. Can only be used on leaf values.
        retrieveCount:
          type: integer
          format: int32
          default: 5
          example: 7
          description: The maximum number of children to retrieve for this hierarchical facet value. Ignored if `retrieveChildren` is `false`.
        value:
          type: string
          example: electronics
          description: This represents a single path segment.
    Context:
      type:
      - object
      - 'null'
      additionalProperties: true
      description: 'The custom context information to send along with the request. Must be a dictionary of key-value pairs (JSON) where each key is a string, and each value is either a string or an array of strings.


        Coveo Machine Learning models may use this information to provide contextually relevant output. Moreover, this information can be referred to in query expressions and QPL statements by using the `$context` object.


        **Note:** When logging a **Search** usage analytics event for a query, the `customData` field of that event should include the same data as the `context` parameter of the query. However, each `context` key included in `customData` must be prefixed by `context_` (e.g., the `userRoles` key in `context` becomes `context_userRoles` in `customData`).


        See also the `referrer` parameter.


        **Example** `{"userAgeRange":"25-35","userRoles":["PremiumCustomer","ProductReviewer"]}`'
    RestRangeValue:
      required:
      - end
      - start
      type: object
      properties:
        start:
          anyOf:
          - type: string
          - type: number
          - type: integer
        end:
          anyOf:
          - type: string
          - type: number
          - type: integer
        label:
          type: string
          description: 'The label to associate with the range.


            **Note:** Not currently leveraged.


            **Examples:**

            - `0 - 100`

            - `In 2019`'
          example: 0 - 100
        endInclusive:
          type: boolean
          description: 'Whether to include the `end` value in the range.


            **Default:** `false`'
          example: true
          default: false
    RestHierarchicalFacetResponseValue:
      required:
      - numberOfResults
      - path
      - state
      - value
      type: object
      properties:
        value:
          type: string
          description: 'The facet value name.


            **Note:** In the case of a hierarchical facet value, this represents a single path segment.'
          example: Alice Smith
        state:
          type: string
          description: 'The current facet value state in the search interface.


            **Default:** `idle`'
          enum:
          - idle
          - selected
          - excluded
        numberOfResults:
          type: integer
          description: 'The number of query results that can be expected if the facet value is selected in the search interface.


            **Note:** This property only gets populated when the facet currently has no selected or excluded values.'
          format: int64
        children:
          type: array
          description: 'The children of this hierarchical facet value.


            Each child is a full-fledged hierarchical facet value that may in turn have its own children and so forth, up to a maximum depth of 50 levels.'
          items:
            $ref: '#/components/schemas/RestHierarchicalFacetResponseValue'
        isAutoSelected:
          type: boolean
          description: Whether the facet value was automatically selected by Coveo ML.
        moreValuesAvailable:
          type: boolean
          description: Whether additional values are available for the facet.
        path:
          type: array
          items:
            type: string
        isLeafValue:
          type: boolean
          description: Whether the hierarchical value is a childless node.
    RestFacetRequestSpecificSortCriteriaExplicitAlphanumericNatural:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - alphanumericNatural
          description: 'Sort values in ascending or descending alphanumeric order using [natural sorting](https://en.wikipedia.org/wiki/Natural_sort_order).

            '
        order:
          type: string
          enum:
          - ascending
          - descending
          default: ascending
          description: '**Default:** ascending

            '
    AnalyticsRequestParameters:
      type:
      - object
      - 'null'
      properties:
        capture:
          type: boolean
          description: 'Whether the search api call should be tracked for analytics and machine learning purposes.

            When set to `true`, be sure to set the `actionCause` parameter. When not provided, it defaults to `false`.

            See [Standard actions and Usage Analytics reference](docs.coveo.com/en/1389)).'
        trackingId:
          type: string
          description: A value to identify which web property an event is related to.
        userId:
          type: string
          description: '> This property is deprecated; it should not be populated by Search API V2 searches. Instead, specify the ID of the user in the search token.'
          deprecated: true
        clientId:
          type: string
          description: 'A GUID which represents the current client.


            If your implementation uses the Atomic or Headless libraries, or newer versions of the JavaScript Search Framework, then the [client ID](https://docs.coveo.com/en/masb0234/) is generated automatically in client-side code. This GUID is held in a browser''s local storage as well as a top level domain first-party cookie (`coveo_visitorId`) that expires after 1 year. **Note:** The cookie takes precedence over the value in the browser''s local storage.


            If you have a custom Coveo implementation, you will have to generate a [UUID v4](<https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random)>)-formatted GUID. You will need to send this ID as `analytics.clientId` in every event that is sent to Coveo UA and the Search API.


            Coveo Machine Learning models may use this information to provide contextually relevant output.


            **Note** The `clientId` replaces the deprecated `visitorId`. For compatibility, the cookie and local storage values are still named `coveo_visitorId`.'
        documentLocation:
          type: string
          description: 'The URL of the current page or component.


            If not present, the referrer is obtained from the [Referer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer) header.


            **Note**: This information can be obtained from `coveo.analytics.js`.'
        documentReferrer:
          type: string
          description: 'Typically the URL of the page that linked to the search interface from which the request originates (e.g., in JavaScript, this would correspond to the `document.referrer` value).


            Coveo Machine Learning models may use this information to provide contextually relevant output.


            **Note**: This information can be obtained from `coveo.analytics.js`.'
        pageId:
          description: 'A GUID representing the page ID.


            **Note**: This information can be obtained from `coveo.analytics.js`.'
          anyOf:
          - type:
            - string
            - 'null'
          - type: integer
        userIp:
          type: string
          description: 'The user IP. If not present, the IP is obtained from the [X-Forwarded-For](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For) and [Forwarded](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded) headers.


            **Note**: This information is required when endpoints are behind a proxy.


            **Example**: `127.0. 0.1`'
        clientRequestId:
          type: string
          description: 'A GUID generated by the client representing the current request.


            This information is used to identify operations across different apis related to the same request.'
        clientTimestamp:
          type: string
          description: Client ISO 8601 timestamp with milliseconds.
        userAgent:
          type: string
          description: 'The user agent of the request. If not present, the user agent is obtained from the [User-Agent](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent) header.


            **Note**: This information is required when endpoints are behind a proxy.'
        actionCause:
          type: string
          description: 'The type of operation that triggered this event.

            See [Standard actions and Usage Analytics reference](docs.coveo.com/en/1389)).'
          example: facetSelect
        originContext:
          type: string
          example: CommunitySearch
          description: The origin of the event. Used to specify the deployment from which the user performs the action. Suggested values are Search, InternalSearch, CommunitySearch, or the originLevel1 value
        customData:
          type: object
          description: 'The user defined dimensions and their values. Keys can only contain alphanumeric or underscore characters.

            Whitespaces in keys are converted to underscores. Uppercase characters in keys are converted to lowercase characters.

            The value could be any valid JSON, but it is handled as string over Coveo usage analytics. It is highly recommended that you

            create your custom dimension before adding customData'
    RestFacetRequestSpecificSortCriteria:
      oneOf:
      - $ref: '#/components/schemas/RestFacetRequestSpecificSortCriteriaString'
      - $ref: '#/components/schemas/RestFacetRequestSpecificSortCriteriaExplicit'
    LogicalIndex:
      type:
      - string
      - 'null'
[...]
