openapi: 3.2.0
info:
  title: Usage Analytics Read Filters API - Version 15 API
  version: '1.0'
servers:
- url: https://analytics.cloud.coveo.com/rest/ua
  description: Coveo public API endpoint
security:
- v8:
  - full
tags:
- name: Filters API - Version 15
paths:
  /v15/filters/permissions:
    get:
      tags:
      - Filters API - Version 15
      summary: Get All the Permission Filters
      operationId: get__v15_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV15'
    post:
      tags:
      - Filters API - Version 15
      summary: Create a Permission Filter
      operationId: post__v15_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV15'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV15'
  /v15/filters/reporting:
    get:
      tags:
      - Filters API - Version 15
      summary: Get All the Reporting Filters
      operationId: get__v15_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV15'
    post:
      tags:
      - Filters API - Version 15
      summary: Create a Reporting Filter
      operationId: post__v15_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV15'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV15'
  /v15/filters/permissions/{filterId}:
    get:
      tags:
      - Filters API - Version 15
      summary: Get a Permission Filter
      operationId: get__v15_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV15'
    put:
      tags:
      - Filters API - Version 15
      summary: Update a Permission Filter
      operationId: put__v15_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV15'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV15'
    delete:
      tags:
      - Filters API - Version 15
      summary: Delete a Permission Filter
      operationId: delete__v15_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
  /v15/filters/reporting/{filterId}:
    get:
      tags:
      - Filters API - Version 15
      summary: Get a Reporting Filter
      operationId: get__v15_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV15'
    put:
      tags:
      - Filters API - Version 15
      summary: Update a Reporting Filter
      operationId: put__v15_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV15'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV15'
    delete:
      tags:
      - Filters API - Version 15
      summary: Delete a Reporting Filter
      operationId: delete__v15_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
  /v15/filters/permissions/{filterId}/targets:
    get:
      tags:
      - Filters API - Version 15
      summary: Get the Targets of a Permission Filter
      operationId: get__v15_filters_permissions_{filterId}_targets
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilterTargetsResponseV15'
    put:
      tags:
      - Filters API - Version 15
      summary: Set the Targets of a Permission Filter
      operationId: put__v15_filters_permissions_{filterId}_targets
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The entities to which the filter must be applied.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterTargetsModelV15'
        required: true
      responses:
        '204':
          description: No content
  /v15/filters/monitoring/health:
    get:
      tags:
      - Filters API - Version 15
      summary: Health Check for the Filter Service
      operationId: get__v15_filters_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/filters/status:
    get:
      tags:
      - Filters API - Version 15
      summary: Get the Filter Service Status
      operationId: get__v15_filters_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
  /v15/filters/permissions/{filterId}/users:
    get:
      tags:
      - Filters API - Version 15
      summary: Get the Users of a Permission Filter
      operationId: get__v15_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponseV15'
    put:
      tags:
      - Filters API - Version 15
      summary: Set the Users of a Permission Filter
      operationId: put__v15_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The users to set the permission on.
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
components:
  schemas:
    FiltersResponseV15:
      type: object
      properties:
        filters:
          type: array
          description: The filters that are applied to the user
          items:
            $ref: '#/components/schemas/FilterResponseV15'
      description: The filters that are applied to the user
    FilterResponseV15:
      type: object
      properties:
        id:
          type: string
          description: The filter id.
        displayName:
          type: string
          description: The filter display name.
        account:
          type: string
          description: The filter account.
        type:
          type: string
          description: The filter type. Can be 'permissions' or 'reporting'.
        value:
          type: string
          description: The actual filter.
      description: A filter.
    FilterModelV15:
      required:
      - displayName
      - value
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the filter.
        value:
          type: string
          description: The actual value of the filter.
      description: A filter.
    FilterTargetsResponseV15:
      type: object
      properties:
        targetedUsers:
          type: array
          description: The users targeted by the filter.
          items:
            $ref: '#/components/schemas/UserResponseV15'
        targetedGroups:
          type: array
          description: The groups targeted by the filter.
          items:
            $ref: '#/components/schemas/GroupResponseV15'
      description: Collections of users and groups targeted by the filter
    UserResponseV15:
      type: object
      properties:
        userId:
          type: string
          description: The user id.
        account:
          type: string
          description: The user account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the user
          items:
            type: string
            description: The filters that are applied to the user
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            type: string
            description: The reports the user can view.
      description: A user.
    FilterIdResponseV15:
      type: object
      properties:
        id:
          type: string
          description: A filter id.
      description: A filter id.
    GroupResponseV15:
      type: object
      properties:
        groupId:
          type: string
          description: The group id.
        account:
          type: string
          description: The group account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the users of the group.
          items:
            type: string
            description: The filters that are applied to the users of the group.
        reports:
          uniqueItems: true
          type: array
          description: The reports the users of the group can view.
          items:
            type: string
            description: The reports the users of the group can view.
      description: A group of users.
    FilterTargetsModelV15:
      type: object
      properties:
        targetedUsers:
          uniqueItems: true
          type: array
          description: The ids of the users targeted by the filter.
          items:
            type: string
            description: The ids of the users targeted by the filter.
        targetedGroups:
          uniqueItems: true
          type: array
          description: The ids of the groups targeted by the filter.
          items:
            type: string
            description: The ids of the groups targeted by the filter.
      description: The targets of a permission filter.
    StatusResponse:
      type: object
      description: Service's status information
  securitySchemes:
    v8:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          scopes:
            full: ''
