openapi: 3.2.0
info:
  title: Usage Analytics Read Filters API - Version 14 API
  version: '1.0'
servers:
- url: https://analytics.cloud.coveo.com/rest/ua
  description: Coveo public API endpoint
security:
- v8:
  - full
tags:
- name: Filters API - Version 14
paths:
  /v14/filters/permissions:
    get:
      tags:
      - Filters API - Version 14
      summary: Get All the Permission Filters
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
      deprecated: true
    post:
      tags:
      - Filters API - Version 14
      summary: Create a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_filters_permissions
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
  /v14/filters/reporting:
    get:
      tags:
      - Filters API - Version 14
      summary: Get All the Reporting Filters
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponseV14'
      deprecated: true
    post:
      tags:
      - Filters API - Version 14
      summary: Create a Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: post__v14_filters_reporting
      parameters:
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
  /v14/filters/permissions/{filterId}:
    get:
      tags:
      - Filters API - Version 14
      summary: Get a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Update a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Filters API - Version 14
      summary: Deletes the Specified Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_filters_permissions_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/filters/reporting/{filterId}:
    get:
      tags:
      - Filters API - Version 14
      summary: Gets the Specified Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Update a Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The filter configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModelV14'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterIdResponseV14'
      deprecated: true
    delete:
      tags:
      - Filters API - Version 14
      summary: Deletes the Specified Reporting Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: delete__v14_filters_reporting_{filterId}
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '204':
          description: No content
      deprecated: true
  /v14/filters/monitoring/health:
    get:
      tags:
      - Filters API - Version 14
      summary: Health Check for the Filter Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_monitoring_health
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/filters/status:
    get:
      tags:
      - Filters API - Version 14
      summary: Gets the Status of the Filter Service
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
      deprecated: true
  /v14/filters/permissions/{filterId}/users:
    get:
      tags:
      - Filters API - Version 14
      summary: Get the Users of a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: get__v14_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponseV14'
      deprecated: true
    put:
      tags:
      - Filters API - Version 14
      summary: Set the Users of a Permission Filter
      description: This endpoint is deprecated and will be removed on October 1st, 2024.
      operationId: put__v14_filters_permissions_{filterId}_users
      parameters:
      - name: filterId
        in: path
        description: The unique identifier of a filter. This id is generated by the server when creating a filter.
        required: true
        schema:
          type: string
      - name: org
        in: query
        description: The name of the organization (Coveo Cloud V2 only)
        schema:
          type: string
      requestBody:
        description: The users to set the permission on.
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        '204':
          description: No content
      deprecated: true
components:
  schemas:
    FilterResponseV14:
      type: object
      properties:
        id:
          type: string
          description: The filter id.
        displayName:
          type: string
          description: The filter display name.
        account:
          type: string
          description: The filter account.
        type:
          type: string
          description: The filter type. Can be 'permissions' or 'reporting'.
        value:
          type: string
          description: The actual filter.
      description: A filter.
    FiltersResponseV14:
      type: object
      properties:
        filters:
          type: array
          description: The filters that are applied to the user
          items:
            $ref: '#/components/schemas/FilterResponseV14'
      description: The filters that are applied to the user
    FilterModelV14:
      required:
      - displayName
      - value
      type: object
      properties:
        displayName:
          type: string
          description: The display name of the filter.
        value:
          type: string
          description: The actual value of the filter.
      description: A filter.
    UserResponseV14:
      type: object
      properties:
        userId:
          type: string
          description: The user id.
        account:
          type: string
          description: The user account.
        filters:
          uniqueItems: true
          type: array
          description: The filters that are applied to the user
          items:
            type: string
            description: The filters that are applied to the user
        reports:
          uniqueItems: true
          type: array
          description: The reports the user can view.
          items:
            type: string
            description: The reports the user can view.
      description: A user.
    FilterIdResponseV14:
      type: object
      properties:
        id:
          type: string
          description: A filter id.
      description: A filter id.
    StatusResponse:
      type: object
      description: Service's status information
  securitySchemes:
    v8:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          scopes:
            full: ''
