openapi: 3.2.0
info:
  title: Coveo Connectivity Atlassian Connect App API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
tags:
- name: Atlassian Connect App
paths:
  /rest/atlassian/connectapp/uninstalled:
    post:
      tags:
      - Atlassian Connect App
      operationId: removeConnectApp
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlassianHost'
        required: true
      responses:
        '200':
          description: OK
      x-pretty-name: removeConnectApp
      x-ui-operation-id: /rest/atlassian/connectapp/uninstalled_post
      summary: Remove connect app
      x-summary-source: derived
  /rest/atlassian/connectapp/installed:
    post:
      tags:
      - Atlassian Connect App
      operationId: addOrUpdateConnectApp
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlassianHost'
        required: true
      responses:
        '200':
          description: OK
      x-pretty-name: addOrUpdateConnectApp
      x-ui-operation-id: /rest/atlassian/connectapp/installed_post
      summary: Add or update connect app
      x-summary-source: derived
  /rest/atlassian/connectapp/atlassian-connect.json:
    get:
      tags:
      - Atlassian Connect App
      operationId: atlassianConnectAppDescriptor
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppDescriptor'
      x-pretty-name: atlassianConnectAppDescriptor
      x-ui-operation-id: /rest/atlassian/connectapp/atlassian-connect.json_get
      summary: Atlassian connect app descriptor
      x-summary-source: derived
components:
  schemas:
    AppDescriptor:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        description:
          type: string
        baseUrl:
          type: string
        authentication:
          $ref: '#/components/schemas/Authentication'
        lifecycle:
          $ref: '#/components/schemas/Lifecycle'
        scopes:
          type: array
          items:
            type: string
        apiMigrations:
          $ref: '#/components/schemas/ApiMigrations'
        vendor:
          $ref: '#/components/schemas/Vendor'
    Vendor:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
    ApiMigrations:
      type: object
      properties:
        context-qsh:
          type: boolean
        signed-install:
          type: boolean
    AtlassianHost:
      type: object
      properties:
        sharedSecret:
          type: string
        baseUrl:
          type: string
        productType:
          type: string
        appKey:
          type: string
    Authentication:
      type: object
      properties:
        type:
          type: string
    Lifecycle:
      type: object
      properties:
        installed:
          type: string
        uninstalled:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.cloud.coveo.com/oauth/authorize
          tokenUrl: https://platform.cloud.coveo.com/oauth/token
          scopes:
            full: required
