openapi: 3.0.1
info:
  title: Coveo Commerce API
  description: API for Coveo Platform
  termsOfService: https://www.coveo.com/en/support/terms-agreements
  contact:
    name: Coveo
    url: https://connect.coveo.com/s/discussions
  version: 1.0.0
servers:
- url: https://platform.cloud.coveo.com
  description: Coveo public API endpoint
security:
- oauth2:
  - full
paths:
  /rest/organizations/{organizationId}/commerce/v2/tracking-ids/{trackingId}/facet/fields/bulk-update:
    put:
      tags:
      - Facet Field Configurations
      summary: Update Multiple Facet Fields
      description: 'Updates multiple facet fields.Maximum 100 items per request.</br></br>**Required privilege:** Merchandising
        Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: bulkUpdate
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/ContinuousFacetFieldModel'
                - $ref: '#/components/schemas/HierarchicalFacetFieldModel'
                - $ref: '#/components/schemas/NumericalRangesFacetFieldModel'
                - $ref: '#/components/schemas/RegularFacetFieldModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/ContinuousFacetFieldModel'
                  - $ref: '#/components/schemas/HierarchicalFacetFieldModel'
                  - $ref: '#/components/schemas/NumericalRangesFacetFieldModel'
                  - $ref: '#/components/schemas/RegularFacetFieldModel'
      x-pretty-name: bulkUpdate
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/facet/fields/bulk-update_put
  /rest/organizations/{organizationId}/commerce/v2/tracking-ids/{trackingId}/context-mappings/{key}:
    get:
      tags:
      - Context Mapping Configurations
      summary: Get Context Mapping
      description: 'Gets a specific context mapping by key.</br></br>**Required privilege:** Merchandising Hub - View<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: get
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      - name: key
        in: path
        description: The context mapping key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContextMappingModel'
      x-pretty-name: get
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/context-mappings/paramId_get
    put:
      tags:
      - Context Mapping Configurations
      summary: Update Context Mapping
      description: 'Updates an existing context mapping by key</br></br>**Required privilege:** Merchandising Hub - Edit<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: update
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      - name: key
        in: path
        description: The context mapping key
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextMappingModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContextMappingModel'
      x-pretty-name: update
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/context-mappings/paramId_put
    delete:
      tags:
      - Context Mapping Configurations
      summary: Delete Context Mapping
      description: 'Deletes a specific context mapping by key.</br></br>**Required privilege:** Merchandising Hub - Edit<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: delete
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      - name: key
        in: path
        description: The context mapping key
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: delete
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/context-mappings/paramId_delete
  /rest/organizations/{organizationId}/commerce/v2/search/synonyms/{synonymId}:
    get:
      tags:
      - Synonym
      summary: Get a Synonym Rule.
      description: 'Retrieves a synonym rule.</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSynonym
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
        example: acmecorporation_ca
      - name: synonymId
        in: path
        description: A UUID identifying the synonym rule.
        required: true
        schema:
          type: string
          format: uuid
        example: 58bb4b98-1daa-4767-8c15-90a0ea67645c
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynonymModel'
      x-pretty-name: getSynonym
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/synonyms/paramId_get
    put:
      tags:
      - Synonym
      summary: Edit Synonym Rule
      description: 'Updates a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: editSynonym
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        example: acmecorporation_ca
      - name: synonymId
        in: path
        description: A UUID identifying the synonym rule.
        required: true
        schema:
          type: string
          format: uuid
        example: 58bb4b98-1daa-4767-8c15-90a0ea67645c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynonymModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynonymModel'
      x-pretty-name: editSynonym
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/synonyms/paramId_put
    delete:
      tags:
      - Synonym
      summary: Delete Synonym Rule.
      description: 'Deletes a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: deleteSynonym
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
        example: acmecorporation_ca
      - name: synonymId
        in: path
        description: A UUID identifying the synonym rule.
        required: true
        schema:
          type: string
          format: uuid
        example: 58bb4b98-1daa-4767-8c15-90a0ea67645c
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSynonym
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/synonyms/paramId_delete
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves a Slot Configuration
      description: 'Shows a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: getSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update a Slot Configuration
      description: 'Updates a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an
        [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: updateSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_put
    delete:
      tags:
      - Recommendations Configuration
      summary: Deletes a Slot Configuration
      description: 'Deletes a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an
        [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: deleteSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      x-pretty-name: deleteSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId_delete
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/{configurationId}/settings:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves Slot Settings
      description: 'Shows slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:**
        Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotSettingsModel'
      x-pretty-name: getSlotSettings
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update Slot Settings
      description: 'Updates slot settings in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:**
        Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateSlotSettings
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/).
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotSettingsModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotSettingsModel'
      x-pretty-name: updateSlotSettings
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/paramId/settings_put
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots/global/query-configuration:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves a Global Query Configuration
      description: 'Shows a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGlobalQueryConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
      x-pretty-name: getGlobalQueryConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_get
    put:
      tags:
      - Recommendations Configuration
      summary: Update a Global Query Configuration
      description: 'Updates a Query configuration. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: updateGlobalQueryConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Recommendation.QueryConfigurationModel'
      x-pretty-name: updateGlobalQueryConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots/global/query-configuration_put
  /rest/organizations/{organizationId}/commerce/v2/listings/pages/bulk-update:
    put:
      tags:
      - Public Listing Page API
      summary: Update Multiple Listing Pages
      description: 'Updates multiple Listing pages in a [listing](https://docs.coveo.com/en/m1sf3187/). Maximum 100 items
        per request..</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: bulkUpdate_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PublicListingPageRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicListingPageResponseModel'
      x-pretty-name: bulkUpdate
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listings/pages/bulk-update_put
  /rest/organizations/{organizationId}/commerce/v2/listing/preview/rules/{id}:
    get:
      tags:
      - Listing Rule Preview
      summary: Preview the Impact of a Listing Rule.
      description: 'Returns a preview of products.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: previewImpactOfRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier of the rule.
        required: true
        schema:
          type: string
          format: uuid
      - name: previewUrl
        in: query
        description: The URL used to retrieve the products listings.
        required: true
        schema:
          type: string
        example: http://acme.com/summersale
      - name: listingName
        in: query
        description: The name of the listing configuration.
        required: true
        schema:
          type: string
        example: My Product Listing
      - name: listingId
        in: query
        description: The unique identifier of the listing configuration.
        required: true
        schema:
          type: string
        example: 644e1dd7-2a7f-18fb-b8ed-ed78c3f92c2b
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
        example: acmecorporation_ca
      - name: language
        in: query
        description: An ISO 639-1 language code.
        required: true
        schema:
          type: string
        example: en
      - name: country
        in: query
        description: An ISO 3166-1 alpha-2 country code.
        required: true
        schema:
          type: string
        example: US
      - name: currency
        in: query
        description: An ISO 4217 currency code.
        required: true
        schema:
          type: string
        example: USD
      - name: page
        in: query
        description: The page of products to request.
        required: false
        schema:
          type: integer
          format: int32
        example: 7
      - name: perPage
        in: query
        description: The number of products per page. Note that a value greater than 100 may be rejected in the future.
        required: false
        schema:
          type: integer
          format: int32
        example: 30
      - name: isEditingGlobal
        in: query
        description: Whether the rule is for the global config.
        required: false
        schema:
          type: boolean
          default: false
      - name: debug
        in: query
        description: Whether to include the execution report on a successful response.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreviewResponseModel_V2ProductView'
      x-pretty-name: previewImpactOfRule
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listing/preview/rules/paramId_get
    put:
      tags:
      - Listing Rule Preview
      summary: Preview the Impact of an Updated Listing Rule Vs Not Having the Rule, or If compareWithPreviousState Is True,
        the Impact of a Rule Update Vs the Previous State of the Rule.
      description: 'Returns a preview of products.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: previewImpactOfUpdatingRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The unique identifier of the rule.
        required: true
        schema:
          type: string
          format: uuid
      - name: isEditingGlobal
        in: query
        description: Whether the rule is for the global config.
        required: false
        schema:
          type: boolean
          default: false
      - name: compareWithPreviousState
        in: query
        description: When previewing an update to a rule, whether to compare the preview results against those from one executed
          with the previous state of the rule, or against a one executed without that rule at all.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingRulePreviewRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreviewResponseModel_V2ProductView'
      x-pretty-name: previewImpactOfUpdatingRule
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listing/preview/rules/paramId_put
  /rest/organizations/{organizationId}/commerce/v2/configurations/search/global:
    get:
      tags:
      - Search Configurations
      summary: Retrieves the Global Search Configuration for the Organization
      description: 'Shows the global GlobalSearch configuration. Does not accept pin rules. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGlobal
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchConfigurationModel'
      x-pretty-name: getGlobal
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/search/global_get
    put:
      tags:
      - Search Configurations
      summary: Update the Global Search Configuration for the Organization
      description: 'Updates the global Search configuration to be applied for the whole organization in a [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateGlobal
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchConfigurationModel'
      x-pretty-name: updateGlobal
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/search/global_put
  /rest/organizations/{organizationId}/commerce/v2/configurations/query:
    get:
      tags:
      - Query Configurations
      summary: Get Query Configuration for a Solution
      description: 'Retrieves the query configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).
        <br/><br/><b>Note:</b> When using the Recommendation solution type, only the `perPage` and `additionalFields` parameters
        within the query configuration model are supported.</br></br>**Required privilege:** Merchandising Hub - View<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: get_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
        example: acmecorporation_ca
      - name: solutionType
        in: query
        description: The solution type for the rule. It can be either 'listing' or 'search' or 'recommendations'.
        required: true
        schema:
          type: string
          enum:
          - listing
          - search
          - recommendation
      - name: targets
        in: query
        description: List of target identifiers e.g. listing page name, slot ID
        required: false
        schema:
          maxItems: 1
          minItems: 1
          type: array
          items:
            type: string
        example:
        - Surf With Us This Year
      - name: isGlobal
        in: query
        description: Whether the query configuration is globally applied.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryConfigurationModel'
      x-pretty-name: get
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/query_get
    put:
      tags:
      - Query Configurations
      summary: Update Query Configuration for a Solution
      description: 'Updates a query configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).
        <br/><br/><b>Note:</b> When using the Recommendation solution type, only the `perPage` and `additionalFields` parameters
        within the query configuration model are supported.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: update_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryConfigurationRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryConfigurationModel'
      x-pretty-name: update
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/query_put
    post:
      tags:
      - Query Configurations
      summary: Create Query Configuration for a Solution
      description: 'Creates a query configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).
        <br/><br/><b>Note:</b> When using the Recommendation solution type, only the `perPage` and `additionalFields` parameters
        within the query configuration model are supported</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: create
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryConfigurationRequestModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryConfigurationModel'
      x-pretty-name: create
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/query_post
    delete:
      tags:
      - Query Configurations
      summary: Delete the Query Configuration of a Solution
      description: 'Deletes a query configuration for a solution (e.g. listing, search) in an [organization](https://docs.coveo.com/en/185/).
        <br/><br/><b>Note:</b> When using the Recommendation solution type, only the `perPage` and `additionalFields` parameters
        within the query configuration model are supported.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: delete_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
        example: acmecorporation_ca
      - name: solutionType
        in: query
        description: The solution type for the rule. It can be either 'listing' or 'search' or 'recommendations'.
        required: true
        schema:
          type: string
          enum:
          - listing
          - search
          - recommendation
      - name: targets
        in: query
        description: List of target identifiers e.g. listing page name, slot ID
        required: false
        schema:
          maxItems: 1
          minItems: 1
          type: array
          items:
            type: string
        example:
        - Surf With Us This Year
      - name: isGlobal
        in: query
        description: Whether the query configuration is globally applied.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: No Content
      x-pretty-name: delete
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/query_delete
  /rest/organizations/{organizationId}/commerce/v2/configurations/productSuggest:
    get:
      tags:
      - Product Suggest Configurations
      summary: Retrieves a Product Suggest Configuration
      description: 'Shows a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: get_2
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: Tracking ID of the product suggest configuration
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductSuggestConfigurationModel'
      x-pretty-name: get
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/productSuggest_get
    put:
      tags:
      - Product Suggest Configurations
      summary: Update a Product Suggest Configuration
      description: 'Updates a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: update_2
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: Tracking ID of the product suggest configuration
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSuggestConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductSuggestConfigurationModel'
      x-pretty-name: update
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/productSuggest_put
    post:
      tags:
      - Product Suggest Configurations
      summary: Create a Product Suggest Configuration
      description: 'Creates a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: create_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSuggestConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductSuggestConfigurationModel'
      x-pretty-name: create
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/productSuggest_post
    delete:
      tags:
      - Product Suggest Configurations
      summary: Deletes a Product Suggest Configuration
      description: 'Deletes a Product suggest configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: delete_2
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: Tracking ID of the product suggest configuration
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      x-pretty-name: delete
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/productSuggest_delete
  /rest/organizations/{organizationId}/commerce/v2/configurations/listings/{configurationId}:
    get:
      tags:
      - Listing Configurations
      summary: Retrieves a Listing Configuration. WILL BE DEPRECATED on 2026-08-31.
      description: '**WILL BE DEPRECATED ON 2026-08-31: See [this page](https://docs.coveo.com/en/q4dd0300/deprecations/search-and-listing-configuration-apis-deprecation)
        for more details.**</br></br>Shows a Listing configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: get_3
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the listing configuration.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingConfigurationModel'
      x-pretty-name: get
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/listings/paramId_get
    put:
      tags:
      - Listing Configurations
      summary: Update a Listing Configuration. WILL BE DEPRECATED on 2026-08-31.
      description: '**WILL BE DEPRECATED ON 2026-08-31: See [this page](https://docs.coveo.com/en/q4dd0300/deprecations/search-and-listing-configuration-apis-deprecation)
        for more details.**</br></br>Updates a Listing configuration in a [listing](https://docs.coveo.com/en/m1sf3187/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: update_3
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the listing configuration.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingConfigurationModel'
      x-pretty-name: update
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/listings/paramId_put
    delete:
      tags:
      - Listing Configurations
      summary: Deletes a Listing Configuration. WILL BE DEPRECATED on 2026-08-31.
      description: '**WILL BE DEPRECATED ON 2026-08-31: See [this page](https://docs.coveo.com/en/q4dd0300/deprecations/search-and-listing-configuration-apis-deprecation)
        for more details.**</br></br>Deletes a Listing configuration in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: delete_3
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: configurationId
        in: path
        description: The unique identifier of the listing configuration.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
      x-pretty-name: delete
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/listings/paramId_delete
  /rest/organizations/{organizationId}/commerce/v2/configurations/listings/global:
    get:
      tags:
      - Listing Configurations
      summary: Retrieves the Global Listing Configuration for the Organization
      description: 'Shows the global GlobalListing configuration. Does not accept pin rules. in an [organization](https://docs.coveo.com/en/185/).</br></br>**Required
        privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getGlobal_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingConfigurationModel'
      x-pretty-name: getGlobal
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/listings/global_get
    put:
      tags:
      - Listing Configurations
      summary: Update the Global Listing Configuration for the Organization
      description: 'Updates the global GlobalListing configuration. Does not accept pin rules. to be applied for the whole
        organization in a [listing](https://docs.coveo.com/en/m1sf3187/).</br></br>**Required privilege:** Merchandising Hub
        - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: updateGlobal_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingConfigurationModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingConfigurationModel'
      x-pretty-name: updateGlobal
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/configurations/listings/global_put
  /rest/organizations/{organizationId}/commerce/v2/tracking-ids/{trackingId}/facet/fields/bulk-create:
    post:
      tags:
      - Facet Field Configurations
      summary: Creates Multiple Facet Fields
      description: 'Creates multiple facet fields. Maximum 100 items per request.</br></br>**Required privilege:** Merchandising
        Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: bulkCreate
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                oneOf:
                - $ref: '#/components/schemas/ContinuousFacetFieldModel'
                - $ref: '#/components/schemas/HierarchicalFacetFieldModel'
                - $ref: '#/components/schemas/NumericalRangesFacetFieldModel'
                - $ref: '#/components/schemas/RegularFacetFieldModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/ContinuousFacetFieldModel'
                  - $ref: '#/components/schemas/HierarchicalFacetFieldModel'
                  - $ref: '#/components/schemas/NumericalRangesFacetFieldModel'
                  - $ref: '#/components/schemas/RegularFacetFieldModel'
      x-pretty-name: bulkCreate
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/facet/fields/bulk-create_post
  /rest/organizations/{organizationId}/commerce/v2/tracking-ids/{trackingId}/context-mappings:
    get:
      tags:
      - Context Mapping Configurations
      summary: List Context Mappings
      description: 'Lists all context mapping configurations.</br></br>**Required privilege:** Merchandising Hub - View<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: list
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContextMappingModel'
      x-pretty-name: list
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/context-mappings_get
    post:
      tags:
      - Context Mapping Configurations
      summary: Creates a Context Mapping
      description: 'Creates a context mapping for a specific key.</br></br>**Required privilege:** Merchandising Hub - Edit<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: create_2
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextMappingModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ContextMappingModel'
      x-pretty-name: create
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/context-mappings_post
  /rest/organizations/{organizationId}/commerce/v2/tracking-ids/{trackingId}/badges:
    post:
      tags:
      - Badges
      summary: Get Badges for a Set of Placement IDs
      description: 'Retrieve badges on products for a set of placements </br></br>**Required privilege:** Execute Query<br
        /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: badges
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: path
        description: The unique identifier of the tracking target.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NonPaginatedProductResponseProductBadgeViewModel'
      x-pretty-name: badges
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/tracking-ids/paramId/badges_post
  /rest/organizations/{organizationId}/commerce/v2/setup:
    post:
      tags:
      - Setup
      summary: Create CMH Scaffolding
      description: 'Creates the resources recommended to [setup](https://docs.coveo.com/en/o25a0034) Coveo for Commerce in
        a [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: setup
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetupRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SetupResponseModel'
      x-pretty-name: setup
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/setup_post
  /rest/organizations/{organizationId}/commerce/v2/search:
    post:
      tags:
      - Search
      summary: Execute a Search Query
      description: 'Returns products linked to a user query and merchandiser defined hub.</br></br>**Required privilege:**
        Execute Query<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: search
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestModel_V2SearchProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResponseModel_V2SearchProductView'
      x-pretty-name: search
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search_post
  /rest/organizations/{organizationId}/commerce/v2/search/synonyms:
    get:
      tags:
      - Synonym
      summary: List Synonym Rules
      description: 'List synonym rules.</br></br>**Required privilege:** Merchandising Hub - View<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: listSynonyms
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        example: acmecorporation_ca
      - name: language
        in: query
        description: An ISO 639-1 language code.
        required: false
        schema:
          pattern: ^[a-z]{2}$
          type: string
        example: en
      - name: country
        in: query
        description: An ISO 3166-1 alpha-2 country code.
        required: false
        schema:
          pattern: ^[A-Z]{2}$
          type: string
        example: US
      - name: currency
        in: query
        description: An ISO 4217 currency code.
        required: false
        schema:
          pattern: ^[A-Z]{3}$
          type: string
        example: USD
      - name: query
        in: query
        description: Filter on search term (query expression) when requesting rules.
        required: false
        schema:
          type: string
        example: mens shoes
      - name: action
        in: query
        description: 'The synonym rule type. Possible values are: one-way, two-way, and one-way-reverse.'
        required: false
        schema:
          type: string
        example: one-way
      - name: sort
        in: query
        description: property.direction to sort by.
        required: false
        schema:
          type: string
        example: query.asc
      - name: page
        in: query
        description: The 0-based index number of the page of rules to retrieve.</br>**Minimum:** `0`</br>**Default:** `0`
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of rules to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommercePageModelSynonymModel'
      x-pretty-name: listSynonyms
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/synonyms_get
    post:
      tags:
      - Synonym
      summary: Create a Synonym Rule
      description: 'Persists a synonym rule.</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{trackingId}"}

        ```

        </details>'
      operationId: createSynonym
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        example: acmecorporation_ca
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynonymModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynonymModel'
      x-pretty-name: createSynonym
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/synonyms_post
  /rest/organizations/{organizationId}/commerce/v2/search/redirect:
    post:
      tags:
      - Search
      summary: Execute a Search Redirect Query
      description: 'Returns a redirect linked to a user query and merchandiser defined hub.</br></br>**Required privilege:**
        Execute Query<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: redirect
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRedirectRequestModel_V2SearchProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchRedirectResponseModel_V2SearchProductView'
      x-pretty-name: redirect
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/redirect_post
  /rest/organizations/{organizationId}/commerce/v2/search/querySuggest:
    post:
      tags:
      - Search
      summary: Request Query Suggestions
      description: 'Returns query suggestions.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: querySuggest
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuerySuggestRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QuerySuggestResponseModel'
      x-pretty-name: querySuggest
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/querySuggest_post
  /rest/organizations/{organizationId}/commerce/v2/search/productSuggest:
    post:
      tags:
      - Search
      summary: Request Product Suggestions
      description: 'Returns product suggestions.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: productSuggest
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestModel_V2SearchProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResponseModel_V2SearchProductView'
      x-pretty-name: productSuggest
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/productSuggest_post
  /rest/organizations/{organizationId}/commerce/v2/search/preview/synonyms/new:
    post:
      tags:
      - Synonym Preview
      summary: Preview the Impact of a Synonym Rule
      description: 'Previews the impact of a synonym rule.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: previewSynonym
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        example: acmecorporation_ca
      - name: id
        in: query
        description: A UUID identifying the synonym rule.
        required: false
        schema:
          type: string
          format: uuid
        example: 58bb4b98-1daa-4767-8c15-90a0ea67645c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynonymPreviewRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreviewResponseModel_V2ProductView'
      x-pretty-name: previewSynonym
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/search/preview/synonyms/new_post
  /rest/organizations/{organizationId}/commerce/v2/recommendations:
    post:
      tags:
      - Recommendations
      summary: Execute a Recommendations Query
      description: 'Returns products linked to a recommendations slot.</br></br>**Required privilege:** Execute Query<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: recommendations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationsRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RecommendationsResponseModel_V2ProductView'
      x-pretty-name: recommendations
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations_post
  /rest/organizations/{organizationId}/commerce/v2/recommendations/slots:
    get:
      tags:
      - Recommendations Configuration
      summary: Retrieves All Slot Configurations of an Organization
      description: 'Lists all the [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in
        an [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - View<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: getSlotConfigurations
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: trackingId
        in: query
        description: The unique identifier of the tracking target.
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      - name: page
        in: query
        description: The 0-based index number of the page of [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/)
          to retrieve.</br>**Minimum:** `0`</br>**Default:** `0`
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: perPage
        in: query
        description: The number of [slot configurations](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/)
          to list per page.</br>**Minimum:** `1`</br>**Maximum:** `1000`</br>**Default:** `10`
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CommercePageModelSlotConfigurationModel'
      x-pretty-name: getSlotConfigurations
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots_get
    post:
      tags:
      - Recommendations Configuration
      summary: Create a Slot Configuration
      description: 'Creates a [slot configuration](https://docs.coveo.com/en/o9b80563/glossary/recommendation-slot/) in an
        [organization](https://docs.coveo.com/en/185/).</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br
        /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"EDIT","targetId":"{body.trackingId}"}

        ```

        </details>'
      operationId: createSlotConfiguration
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotConfigurationModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SlotConfigurationModel'
      x-pretty-name: createSlotConfiguration
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: EDIT
        targetId: '{body.trackingId}'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/slots_post
  /rest/organizations/{organizationId}/commerce/v2/recommendations/preview:
    post:
      tags:
      - Recommendations
      summary: Preview a Recommendations Query
      description: 'Returns a preview response of products linked to a recommendations slot.</br></br>**Required privilege:**
        Execute Query<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: recommendationsPreview
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationsPreviewRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreviewResponseModel_V2ProductView'
      x-pretty-name: recommendationsPreview
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/recommendations/preview_post
  /rest/organizations/{organizationId}/commerce/v2/listings/pages/bulk-delete:
    post:
      tags:
      - Public Listing Page API
      summary: Delete Multiple Listing Pages
      description: 'Deletes multiple Listing pages in a [listing](https://docs.coveo.com/en/m1sf3187/). Maximum 100 items
        per request..</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: bulkDelete
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
        required: true
      responses:
        '204':
          description: No Content
      x-pretty-name: bulkDelete
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listings/pages/bulk-delete_post
  /rest/organizations/{organizationId}/commerce/v2/listings/pages/bulk-create:
    post:
      tags:
      - Public Listing Page API
      summary: Create Multiple Listing Pages
      description: 'Creates multiple Listing pages in a [listing](https://docs.coveo.com/en/m1sf3187/). Maximum 100 items
        per request..</br></br>**Required privilege:** Merchandising Hub - Edit<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"COMMERCE","targetDomain":"MERCHANDISING_HUB","type":"VIEW","targetId":"*"}

        ```

        </details>'
      operationId: bulkCreate_1
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PublicListingPageRequestModel'
        required: true
      responses:
        '201':
          description: Created
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicListingPageResponseModel'
      x-pretty-name: bulkCreate
      x-required-privilege:
        owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-required-privileges:
      - owner: COMMERCE
        targetDomain: MERCHANDISING_HUB
        type: VIEW
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listings/pages/bulk-create_post
  /rest/organizations/{organizationId}/commerce/v2/listing:
    post:
      tags:
      - Listings
      summary: Get a Listing Page
      description: 'Shows products linked to a [product listing](https://docs.coveo.com/en/m1sf3187/) URL.</br></br>**Required
        privilege:** Execute Query<br /><br /><details><summary>Privilege required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: getListing
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingResponseModel_V2ProductView'
      x-pretty-name: getListing
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listing_post
  /rest/organizations/{organizationId}/commerce/v2/listing/preview/rules:
    post:
      tags:
      - Listing Rule Preview
      summary: Preview the Impact of Creating a Listing Rule on a Config.
      description: 'Returns a preview of products.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: previewImpactOfCreatingRule
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: isEditingGlobal
        in: query
        description: Whether the rule is for the global config.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingRulePreviewRequestModel_V2ProductView'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreviewResponseModel_V2ProductView'
      x-pretty-name: previewImpactOfCreatingRule
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/listing/preview/rules_post
  /rest/organizations/{organizationId}/commerce/v2/facet:
    post:
      tags:
      - Facet
      summary: Executes a Facet Search Query
      description: 'Returns facet values for a given query.</br></br>**Required privilege:** Execute Query<br /><br /><details><summary>Privilege
        required</summary>

        ```

        {"owner":"SEARCH_API","targetDomain":"EXECUTE_QUERY","targetId":"*"}

        ```

        </details>'
      operationId: facet
      parameters:
      - name: organizationId
        in: path
        description: The unique identifier of the target [organization](https://docs.coveo.com/en/185/).<br />**Example:**
          `acmecorporation8tp8wu3`
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: 'Solution type. Possible values are: LISTING, SEARCH.'
        required: false
        schema:
          type: string
          enum:
          - LISTING
          - SEARCH
        example: LISTING
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacetSearchRequestModel'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FacetSearchResponseModel'
      x-pretty-name: facet
      x-required-privilege:
        owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-required-privileges:
      - owner: SEARCH_API
        targetDomain: EXECUTE_QUERY
        targetId: '*'
      x-ui-operation-id: /rest/organizations/paramId/commerce/v2/facet_post
  /rest/organizations/{organizationId}/commerce/v2/configurations/listings:
    get:
      tags:
      - Listing Configurations
[...]
